[2015-10-19 22:35] paked commented on #300
This has been merged into master now with #366

[2015-10-19 22:35] #300 closed

[2015-10-20 16:45] hellyeah opened #373 "Get at least 3 clubs submitting feedback to Pakrat"
Meetings this week, per the club schedule calendar by @hellyeah:

Goal:

- [ ] 3:15PM PDT Thursday, San Leandro High School (Jiahao) - accidentally sent wrong link
- [x] 3:30PM PDT Thursday, Lowell High School (Jeremy)
- [ ] 11:30PM PDT Wednesday, Cherry Hill East (Bogdan)

Stretch:

- [ ] 4:00PM PDT Tuesday, USC Hybrid School (Gemma)
- [ ] 10:30PM PDT Tuesday, Glenaeon Rudolf Steiner School (Harr

[2015-10-20 16:56] zachlatta commented on #338
Was there a PR that closed this?

[2015-10-20 16:57] #319 closed

[2015-10-20 17:39] ad510 opened #374 "Create workshop guidelines"
Create guidelines for people who want to write and submit their own workshops to HackEDU.

[2015-10-20 17:54] ad510 commented on #374
Also, there's a ton of good tutorials online for people to learn anything related to programming, web development, etc. If I contribute a workshop, one thing I'd like to understand better is what the HackEDU workshops do differently that prevents us from just linking to the best existing online tutorials. Also, even though we do make the key workshops ourselves it might be a good idea to collect l

[2015-10-20 17:54] jonleung commented on #374
Hey @ad510!

The guidelines are [currently being developed here]. @Bogidon is leading the charge on this one right now! Will keep you posted when we get this document to the point where we move it to GitHub!

[2015-10-20 17:55] jonleung commented on #374
@ad510

Re:

Would love your help on that! It might be worthwhile to write a section on "What is different about hackEDU workshops"

[2015-10-20 17:59] ad510 commented on #374
Thanks for the update. I was chatting with Zach and he suggested making an issue for this. I had previously considered helping more with workshops, but I felt like my teaching style is very different from yours which made it difficult to contribute to the existing workshops. So if I do make workshops they would probably be new ones for the "contrib" folder.

[2015-10-20 18:10] jonleung commented on #291
@zachlatta poke!

[2015-10-20 18:13] jonleung commented on #232
Closing this because it seems like no action will be taken.

[2015-10-20 18:13] #232 closed

[2015-10-20 18:16] jonleung commented on #136
Closing this because this doesn't seem like it's going to happen.

[2015-10-20 18:16] #136 closed

[2015-10-20 18:17] jonleung commented on #80
@MaxWofford just did this!

[2015-10-20 18:17] #80 closed

[2015-10-20 18:37] jonleung commented on #360
@paked, I was wondering if you put this in the Todo column on Zenhub? Totally cool if you did! The expectation for many things in Todo though are that they are completed by the end of the sprint (Sunday night).

[2015-10-20 18:38] jonleung commented on #325
@paked could you link to your pull request you made for this here? Then feel free to close the issue!

[2015-10-20 19:49] paked commented on #360
@jonl yep. This looks like it was me (sorry).

On Wed, 21 Oct 2015 05:37 Jonathan Leung <notifications@github.com> wrote:

[2015-10-20 20:10] MaxWofford commented on #268
@paked @hackedu/core: What do you think about adding a table of contents similar to https://github.com/syl20bnr/spacemacs/blob/master/README.md.

[2015-10-20 20:16] MaxWofford commented on #268
Also, what if we flatten out the folder structure (ex. moving playbook/workshops/ to just workshops/)? It seems like we tried to future-proof the repo by adding a bunch of extra folders, but this may have just made it harder to navigate for our club leaders.

[2015-10-20 20:23] paked commented on #268
Yeah. The current playbook folder seems a bit extraneous. I'd be down to move workshops to the top level.

Also, re: Navigating repository... #291

[2015-10-20 20:24] paked commented on #325
PR: #330

[2015-10-20 20:24] #325 closed

[2015-10-20 20:28] MaxWofford commented on #291
Keeping gh-pages up to date with everything would be a  pain over time. The best option is putting our markdown on a website. We can probably set up a jekyll site that builds on filechange in hackedu/hackedu, but we have to fix our markdown first. Bad practices like quoted images should not be use in replacement of css fixes, and it would be prudent to fix everything while switching over (who know

[2015-10-20 20:30] MaxWofford commented on #291
If we do want to do this with a `gh-pages` branch, we'll want add frontmatter to our markdown first: https://help.github.com/articles/using-jekyll-with-pages/#frontmatter-is-required

[2015-10-20 20:33] ssun098 commented on #291
@paked @jonleung
![zachpoke](https://cloud.githubusercontent.com/assets/7741746/10620318/2ed3f958-772f-11e5-99f9-18d5de6f2650.png)

[2015-10-20 20:40] MaxWofford commented on #291
That is amazing

[2015-10-20 22:47] paked commented on #268
Thoughts @zachlatta @jonleung @Bogidon ?

[2015-10-20 22:48] paked commented on #291
@ssun098 amen.

[2015-10-21 00:37] hellyeah commented on #258
I should probably clean up this code and also make the request work from the irc/slack bots, but this works now: https://github.com/hackedu/fb-group-stats

[2015-10-21 00:38] hellyeah commented on #258
Next, I guess I should probably build this for Slack. Might want to try Go or something fun to be more clever, analyze the data on the fly, and not just store everything.

[2015-10-21 01:05] paked commented on #258
@hellyeah this is dope. If you need any help with Go, I'd be happy to help :)

[2015-10-21 01:07] jonleung opened #376 "Onboard all hackEDU leaders onto Slack"
**Especially**

- [ ] Cohort 2 Leaders
  - [ ] Add them to the `#cohort-2`
- [ ] Make sure everyone has accepted their slack invite (see https://hackedu.slack.com/admin/invites)
- [ ] Anyone else you think we should add

**Mobile App**
- [ ] Make sure everyone has
  - [ ] Downloaded the mobile app
  - [ ] Has enabled push notifications

@hellyeah @zachlatta, what are your thoughts on adding this t

[2015-10-21 01:37] zachlatta commented on #265
Going to go ahead and close this because it's not clear how to proceed.

[2015-10-21 01:37] #265 closed

[2015-10-21 01:41] zachlatta commented on #376
This issue was moved to hackedu/meta#237

[2015-10-21 01:41] #376 closed

[2015-10-21 02:57] Bogidon commented on #268
Agree with @paked that folder structure seems "extraneous". What are future plans for playbook @zachlatta @jonleung @MaxWofford?

[2015-10-21 03:08] zachlatta commented on #268
Agreed as well. Let's move `playbook/workshops to just `workshops`.

[2015-10-21 04:17] VentureCapitalist opened #378 "Test Issue, Please Ignore"

[2015-10-21 04:17] VentureCapitalist commented on #378
@jonleung what's up?

[2015-10-21 04:17] VentureCapitalist commented on #378
Nothing much you?

[2015-10-21 04:18] jonleung commented on #378
I'm closing this issue because the test is now over

[2015-10-21 04:18] #378 closed

[2015-10-21 06:45] zachlatta commented on #268
Alright! I've submitted #377 that makes that change.

[2015-10-21 06:48] MaxWofford commented on #268
@zachlatta Thanks!

Thoughts on adding a table of contents to the main README?

[2015-10-21 06:55] paked commented on #268
Yes. 100% curriculum should be in the README.

On Wed, Oct 21, 2015 at 5:48 PM Max Wofford <notifications@github.com>
wrote:

[2015-10-21 07:08] zachlatta commented on #268
@MaxWofford in #377 the README looks like this:

![tmp](https://cloud.githubusercontent.com/assets/992248/10629918/d266bc1a-7787-11e5-9c9d-a31f8b4ffaf6.png)

Do you want something in addition to that?

[2015-10-21 07:12] MaxWofford commented on #268
@zachlatta Maybe we could make workshops more visible?

Or we could add a table of contents similar to https://github.com/syl20bnr/spacemacs/blob/master/README.md.

[2015-10-21 07:15] zachlatta commented on #268
Any suggestions for making it more visible? I'm open to having a table of contents, though I'm not sure what else we'd link to.

[2015-10-21 07:22] gemmabusoni commented on #364
Keero has all the spreadsheets and information. All we have to do now is ensure that all members print their respective waivers, have them signed, and take them to the event.

[2015-10-21 07:28] #364 closed

[2015-10-21 07:47] zachlatta opened #379 "Rename case study folders to new format and delete extraneous folders"
Rename the existing case study folders per the new format agreed upon in #227 and delete any empty folders that we created, since leaders will now be creating folders when needed.

[2015-10-21 07:48] zachlatta commented on #227
I've created #379 to rename the folders to the new convention. Closing this in favor of that conclusion.

[2015-10-21 07:48] #227 closed

[2015-10-21 07:52] MaxWofford commented on #268
I don't have any suggestions for increasing visibility right now :/

[2015-10-21 15:40] jonleung commented on #364
Could you create an issue for making sure to communicate to club leaders that club members need to "print their respective waivers, have them signed, and take them to the event"?

Also, I think there are probably club members on the spreadsheet that have not submitted applications. Could you do whatever it takes to make sure they can still go?  This could take the form anywhere from messaging club

[2015-10-21 15:52] jonleung commented on #258
@paked :+1:

[2015-10-21 15:54] jonleung commented on #258
@hellyeah what are the next steps for closing this issue?

[2015-10-21 15:57] hellyeah commented on #258
@jonleung I think this issue can likely be closed but a new one should be opened up to add the functionality to irc/slack bot. And maybe another issue for quantifying slack activity too.

[2015-10-21 16:08] hellyeah commented on #272
@gemmabusoni how's this going?

[2015-10-21 16:19] hellyeah commented on #373
Maybe suggest: "when jonathan did hackcamp he would always forget to ask for feedback, so he set an alarm for 10 minutes before the end of the meeting to collect feedback."

Jon's idea: set precedent of asking for feedback from them first.

[2015-10-21 18:52] #268 closed

[2015-10-21 19:27] zachlatta commented on #258
Awesome, this looks good to go. I'll go ahead and create a new issue to track hooking this up with Steward.

[2015-10-21 19:38] #258 closed

[2015-10-22 03:56] paked commented on #379
To quote the format...

[2015-10-22 16:51] zachlatta commented on #374
I was talking with @amiruqdah on Facebook and he's looking to have workshop guidelines created as well before he creates a workshop on building https://github.com/amiruqdah/mario-party (which I think would be super awesome)

[2015-10-22 18:19] ssun098 commented on #311
Any updates? I think this would be really helpful for the club leaders community

[2015-10-22 18:41] jonleung commented on #373
# Meeting: Dave and Jonathan Chat About How To Collect Feedback

_In attendance:_

@hellyeah, @jonleung

--------------------------------------------------------------------------------

TLDR Conclusion: It is a lot easier to have people fill out a written feedback
than a online feedback form.

## Online Feedback Form

1. club leader remembers to give feedback
2. club leaders sends out URL to ever

[2015-10-22 20:11] paked commented on #374
:+1: so hard

On Fri, Oct 23, 2015 at 3:51 AM Zach Latta <notifications@github.com> wrote:

[2015-10-22 20:32] hellyeah commented on #373
When does the 1on1 first interaction happen?

[2015-10-22 22:30] zachlatta commented on #379
Thanks @paked!

I think I'm actually going to change the folder format to have the full year because it'll be a bit clearer what that first number is. Ex. `2015-09-21_portfolio_workshop_meeting`.

[2015-10-22 22:51] jonleung commented on #373
@hellyeah, when the club leader initially goes around passing out feedback forms individually and asks people to fill out the feedback as they pass it out.

[2015-10-22 23:08] jonleung commented on #360
I just submitted a pull request for this fix. @paked, can you check to see if this version of the game is easy enough to play?

[2015-10-23 05:43] paked commented on #379
@zachlatta SGTM

[2015-10-23 21:11] hellyeah commented on #373
going to fail this issue this week.

[2015-10-23 22:27] hellyeah opened #387 "Go to Lowell in person"
Lowell Notes

Walking into meeting, you introduced me to 2 people, didn’t know third person’s name (she felt uncomfortable)
Should introduce yourself and introduce the other people around:
“Hey I’m Jeremy. This is Dave, Jill, and Sally.”

Door open with door stopper
—great
After that not so good
Was completely silent

One key for making a warm atmosphere
—when people walk in they should be greeted

[2015-10-23 22:28] #387 closed

[2015-10-25 06:16] gemmabusoni commented on #272
@hellyeah Call was done on said day; he submitted to GitHub as well.

[2015-10-25 06:51] klipspringr opened #411 "Twilio Workshop: Add explanation for API"
Remote Control introduces Twilio's API as a service, but never explicitly states that we're using their API / what an API is.

[2015-10-25 07:23] paked commented on #411
@Bogidon Should this go in the "Computer Science Fundamentals" section?

[2015-10-25 12:54] MaxWofford commented on #272
@gemmabusoni Would you please link that here?

[2015-10-26 12:16] #360 closed

[2015-10-26 16:02] #379 closed

[2015-10-26 16:18] zachlatta commented on #110
Should we still plan on doing this?

[2015-10-26 16:19] hellyeah commented on #307
Looks like we're open to leaving @channel if it doesn't become a problem.

[2015-10-26 16:19] #307 closed

[2015-10-26 16:21] hellyeah commented on #108
Shifting focus to Slack. We should revisit the Facebook Group in the future.

[2015-10-26 16:21] #108 closed

[2015-10-26 16:22] hellyeah commented on #207
@zachlatta yes. We definitely should. I'm going to close this. I'll focus more on this goal next semester.

[2015-10-26 16:22] #207 closed

[2015-10-26 17:38] hellyeah commented on #312
Think of a cuter, warmer name for Steward.

Make Steward welcome everyone who joins the Slack.

[2015-10-26 17:40] hellyeah opened #419 "Get every cohort 2 labs leader to message Slack"
Last week, I asked cohort 2 labs leaders to shift their chat to Slack: #313

This week, I want them all to give their cohort chat a status update.

[2015-10-26 17:44] hellyeah opened #420 "Tool to quantify activity in Slack"

[2015-10-26 18:26] jonleung opened #421 "Prototype curriculum / general portal"
@paked let's work on a hackEDU / curriculum portal this week that lets everyone find everything they need related to hackEDU!

[2015-10-26 19:10] zachlatta commented on #349
I think this is closed by #379.

[2015-10-26 19:10] #349 closed

[2015-10-26 19:35] paked commented on #421
@jonleung lets do it!

[2015-10-26 19:54] paked commented on #110
Do we even have a public facebook group?

On Tue, Oct 27, 2015 at 3:18 AM Zach Latta <notifications@github.com> wrote:

[2015-10-27 16:26] hellyeah commented on #373
Failed this issue. Only 2 clubs submitted feedback: Lowell/Project Cipher

[2015-10-27 16:26] #373 closed

[2015-10-27 16:29] hellyeah commented on #101
Would love to pair on this on Thursday too!

We should probably turn it into a Medium post at some point.

[2015-10-28 16:13] MaxWofford commented on #230
@zachlatta Can we delete this now that the team is working from forks?

[2015-10-28 21:18] jonleung opened #426 "Migrate meetings notes from hackedu/hackedu/meta to hackedu/meta/meetings"

[2015-10-28 21:26] jonleung commented on #110
@paked we want to create one.

[2015-10-28 21:45] jonleung commented on #420
@hellyeah I believe you did this already?

[2015-10-28 21:56] jonleung commented on #411
This might be in a vocabulary section?

[2015-10-28 23:15] TheThirdOne commented on #230
@MaxWofford

There are 5 branches from the 25th. Until everyone actually follows through with it this should remain open.

Also a bunch of old branches (Early September) should be cleaned up before this is closed.

[2015-10-28 23:25] MaxWofford commented on #230
@hackedu/core I'll set the deadline that any branches not deleted by the 5th of November will be removed.

[2015-10-29 06:22] MaxWofford commented on #230
Assigning to myself to take point on this.

[2015-10-29 15:16] saescapa commented on #230
@MaxWofford I'd be a good idea to retag everyone who has branches in hackedu.

[2015-10-29 15:48] MaxWofford commented on #230
@saescapa Good point! ![](https://media2.giphy.com/media/k48soGtCrLqZq/giphy.gif)

cc/ @jonleung @zachlatta @hellyeah

[2015-10-29 16:13] hellyeah opened #430 "Schedule 4 paired calls with 8 club leaders"
@jonleung made tentative pairs here: https://docs.google.com/spreadsheets/d/1Mb-8WBjiZUOYgWqNJxaigCWZvZqnIHZ2ZhokVNCbJ4g/edit#gid=1880595778

[2015-10-29 17:42] hellyeah opened #431 "Merge Labs chat on Slack"

[2015-10-29 20:42] hellyeah commented on #430
Form for post-pairing call

[2015-10-29 23:06] hellyeah opened #432 "Schedule first two paired calls"
Ask people what time they have available for a call on Sunday.

Intro them with a calendar invite with set time.

[2015-10-30 19:08] hellyeah commented on #313
Waiting on Vene and Snehar/Mitalee

[2015-10-30 19:42] hellyeah commented on #313
Emailed Vene and his co-lead Ilisha.

Texted Vene.

@MaxWofford is helping with getting Snehar/Mitalee

[2015-11-02 17:23] hellyeah commented on #313
Still no response from Vene or Snehar/Mitalee.

Going to combine cohort 1 and 2 chats this week.

[2015-11-02 17:23] #313 closed

[2015-11-02 17:26] hellyeah commented on #432
Had both pairs yesterday. Will synthesize meeting notes.

Leila/Jevin: https://hackpad.com/Cipher-Armijo-HdhMh8xY6xn
Sam/Tejas: https://beta.etherpad.org/p/sam-tejas

Have Jeremy and Jiahao already scheduled for next Sunday. Should make pairing calls an issue this week and do more than two.

[2015-11-02 17:26] #432 closed

[2015-11-02 20:29] hellyeah commented on #430
We need to effectively track which leaders we've paired so we don't pair them too often.

[2015-11-02 20:30] hellyeah opened #447 "Grow slack messages by 10%"
@zachlatta we should discuss later today or tomorrow the exact query we want to do for stats. We should likely keep it simple to start. Maybe it doesn't even make sense to subtract out ourselves to start.

[2015-11-02 20:32] hellyeah opened #448 "Get attendance number from 6 labs clubs"
- [ ] Armijo High School
- [ ] Cherry Hill High School
- [ ] Project Cipher
- [ ] Lowell High School
- [ ] Ravenwood High School
- [ ] Elizabeth High School

[2015-11-02 20:54] jonleung commented on #230
@MaxWofford should this still be in "this week"?

[2015-11-02 20:57] MaxWofford opened #449 "@MaxWofford Get attendance number from 6 labs clubs"
- [ ] USC Hybrid High School @gemmabusoni
- [ ] San Leandro High School @xeonjake
- [ ] College Park High School @venethefifth
- [ ] South Brunswick High School @sneharamapo
- [ ] Columbia Secondary School @AbigailMed
- [ ] Glenaeon Rudolf Steiner School @paked

[2015-11-02 20:57] MaxWofford commented on #230
@jonleung [yes](https://github.com/hackedu/hackedu/issues/230#issuecomment-152028365)

[2015-11-02 21:11] zachlatta commented on #430
This issue was moved to hackedu/meta#263

[2015-11-02 21:11] #430 closed

[2015-11-02 21:12] zachlatta commented on #447
This issue was moved to hackedu/meta#264

[2015-11-02 21:12] #447 closed

[2015-11-02 21:12] zachlatta commented on #448
This issue was moved to hackedu/meta#265

[2015-11-02 21:12] #448 closed

[2015-11-02 21:52] MaxWofford commented on #449
This issue was moved to hackedu/meta#268

[2015-11-02 21:52] #449 closed

[2015-11-02 22:21] zachlatta commented on #421
Notes from the planning call this morning:

- This will be a plain Markdown file (so no website or anything like that)
- Links to each workshop
- Links to icebreakers
- Links to Packrat
- Links to Slack
- Links to Facebook group
- Other things of the above variety

[2015-11-02 22:23] jonleung opened #452 "Look through Bogdan's workshops"
@Bogidon @JevinSidhu sorry it's taking me so long to get to these!

[2015-11-02 22:26] zachlatta commented on #339
@paked agreed that Bootstrap alone is not cool enough. I know @jonleung's now planning on making a maze game workshop.

Also, @jonleung, just a quick reminder to communicate to all the leaders that this workshop exists once you've gotten it merged in!

[2015-11-02 22:46] JevinSidhu commented on #452
@jonleung Totally cool man, no worries :100:

[2015-11-03 02:01] #264 closed

[2015-11-03 02:43] paked commented on #431
:+1:

[2015-11-03 03:24] zachlatta commented on #431
:+1:

[2015-11-03 03:42] zachlatta commented on #247
Closed by #455.

[2015-11-03 03:42] #247 closed

[2015-11-03 06:46] jonleung opened #456 "Plan and Schedule future curriculum calls"
I've dropped the ball on making this happen. Let's set this up again.

Before each call, we should have a clear objective of what we want to get out of the call.
More concretely, each call should also have an agenda.

\cc @Bogidon @paked @JevinSidhu

[2015-11-03 06:46] jonleung commented on #339
Thanks @zachlatta

[2015-11-03 06:47] zachlatta commented on #456
Can you clarify what you mean by a "curriculum call"?

[2015-11-03 06:47] jonleung commented on #230
:+1:

[2015-11-03 06:48] jonleung commented on #456
Calls where we talk about curriculum in general, how to collaborate on it, what we might change, what's working and not working, etc.

[2015-11-03 06:49] zachlatta commented on #456
Could these be done during the pairing calls?

[2015-11-03 06:52] paked commented on #456
@zachlatta It has worked really well having a group of people come together to talk about *one* specific topic.

[2015-11-03 06:52] zachlatta commented on #456
Ah, gotcha. Proceed as planned that.

[2015-11-03 06:53] paked commented on #456
I'd love to be kept in the loop about this. I can do Fridays and Saturdays 3pm onwards (Thanks Australia!), although understand that that makes it difficult for everyone.

[2015-11-03 06:59] jonleung opened #457 "Weekly Call, Do We Want It"
Now that we've merged labs and are also doing pairing, @hellyeah, we should think about what the weekly call will look like. Do we still want them? If so, how might that work?

[2015-11-03 06:59] zachlatta commented on #457
When did we merge the Labs cohorts?

[2015-11-03 07:03] jonleung commented on #431
Done. @hellyeah is there anything else that we want to do to set the right tone in this channel?

[2015-11-03 07:03] #431 closed

[2015-11-03 07:36] jonleung commented on #457
Just now.

[2015-11-03 07:37] jonleung commented on #456
Fridays work best for me right now.

[2015-11-03 07:38] jonleung commented on #456
@JevinSidhu  Friday doesn't work for you though?

[2015-11-03 09:09] zachlatta commented on #311
And we're live! I've set up https://slack.hackedu.us.

_Source code: https://github.com/hackedu/slackin-off_

[2015-11-03 09:09] #311 closed

[2015-11-03 15:27] JevinSidhu commented on #456
@jonleung They are harder for me, but I can make something work!

@paked Saturdays from 3pm PT works for me :)

[2015-11-03 23:13] jonleung opened #461 "Going to slack.hackedu.us should redirect to hackedu.slack.com if I already have an account"
Right now when I go to `slack.hackedu.us` it just sits on the page.

![image](https://cloud.githubusercontent.com/assets/654941/10924693/5afac318-823d-11e5-8a7d-29747e813933.png)

It should instead redirect me to `hackedu.slack.com`

I know that @hellyeah knows a way to do this.

/cc @zachlatta

[2015-11-03 23:15] jonleung commented on #461
Moreover, if I I try to type in my email and I already have an account, it should redirect me to `hackedu.slack.com` as well and not do this:

![](https://s3.amazonaws.com/f.cl.ly/items/2l0Z031Q0x3V3G0t3o1o/Screen%20Recording%202015-11-03%20at%2003.15%20PM.gif)

[2015-11-03 23:21] zachlatta commented on #461
@hellyeah Where have you seen this done before?

[2015-11-03 23:33] MaxWofford commented on #461
@jonleung How will you type in your email if you've been redirected?

[2015-11-03 23:44] jonleung commented on #230
@MaxWofford what if I don't want a branch to be deleted (i.e. I don't want my `curriculum-spiking` branch to be deleted)?

[2015-11-03 23:44] zachlatta commented on #230
If you could fork the repo and make sure the forked `curriculum-spiking` branch is up to date, that'd be best.

[2015-11-04 19:19] zachlatta commented on #421
Alright, I've submitted #468 to address this. Couple notes about the pull request:

- I didn't link to icebreakers because I couldn't find any in this repo
- I didn't link to Packrat because we aren't necessarily using it at every meeting right now
- I didn't link to the Facebook group because it's invite-only and those already in it can get to it from the homepage of Facebook

[2015-11-04 19:20] zachlatta commented on #312
What if we just called Steward "Hubot"?

/cc @MaxWofford

[2015-11-04 19:22] MaxWofford commented on #421
I think it would be beneficial to add packrat. A few club leaders have had trouble finding it in the past, and some clubs are still using it.

[2015-11-04 19:22] zachlatta commented on #421
Where do you think would be the best place to add it?

[2015-11-04 19:23] MaxWofford commented on #312
What if we called it `yo`. It's quick to type, and won't seem like a human.

[2015-11-04 19:25] zachlatta commented on #312
I don't think there'll be too much confusion as to whether it's a human because Slack has a `bot` tag it puts next to its username and its profile picture is a robot.

Is your biggest complaint about calling it Hubot the length of the name?

[2015-11-04 19:25] MaxWofford commented on #312
Also, nothing would be more amazing than this:
[code]
 ![](https://media.giphy.com/media/w7Y4xlQZG7qGA/giphy.gif)

[2015-11-04 19:25] MaxWofford commented on #312
@zachlatta Mostly name length.

[2015-11-04 19:26] zachlatta commented on #312
What about autocompletion? You should be able to type `hu<tab>` and have it autocomplete.

[2015-11-04 19:31] MaxWofford commented on #421
@zachlatta Not sure. On second though, it might not be a huge value add.

[2015-11-04 19:32] zachlatta commented on #421
What if we proceed as is for now (unless @jonleung thinks this should be added now) and then add a link to Packrat later if it comes up again?

[2015-11-04 19:35] MaxWofford commented on #312
@zachlatta I guess so.

[2015-11-04 20:06] zachlatta commented on #312
Going to go ahead with Hubot for now. Also, @hellyeah, @ssun098 was saying that she didn't like how there was a bot that welcomed people and asked them to introduce themselves in the #hackers Slack.

[2015-11-04 20:07] zachlatta commented on #312
This issue was moved to hackedu/meta#278

[2015-11-04 20:07] #312 closed

[2015-11-05 01:44] #277 closed

[2015-11-05 02:53] MaxWofford commented on #426
Closed by #470 and hackedu/meta#281

[2015-11-05 03:08] #421 closed

[2015-11-05 17:06] MaxWofford commented on #230
I'll be cleaning out the branches tonight!

[2015-11-05 22:49] MaxWofford commented on #212
Closing this issue for now. It will be revisited when I start working on increasing club leader collaboration.

[2015-11-05 22:49] #212 closed

[2015-11-05 23:03] MaxWofford commented on #241
These images were scaled down.

[2015-11-05 23:03] #241 closed

[2015-11-05 23:09] MaxWofford commented on #457
@jonleung Should this have a `discussion` label?

[2015-11-05 23:13] MaxWofford commented on #309
GitHub notifications are in a gh-notifications channel

/cc @hellyeah @zachlatta

[2015-11-05 23:13] #309 closed

[2015-11-05 23:16] MaxWofford commented on #426
This is  a duplicate of

[2015-11-05 23:16] #426 closed

[2015-11-06 19:10] MaxWofford commented on #230
Closing because the only branches left are from PRs that will be closed soon

[2015-11-06 19:10] #230 closed

[2015-11-06 19:12] MaxWofford commented on #291
Closing this because workshops are more accessible now: https://github.com/hackedu/hackedu/commit/f051fdafaeee248fbf87055f331bce944c74b557

[2015-11-06 19:12] #291 closed

[2015-11-06 20:24] TheThirdOne commented on #291
@MaxWofford, linking the workshops in the README doesn't solve this. People have always been able to read the workshops on github; the workshop site is supposed to make that a better experience.

[2015-11-06 20:43] MaxWofford commented on #291
@TheThirdOne Thanks for pointing that  out. I'm closing this issue because it is in the `new ideas` column, and no current discussion is happening.

[2015-11-07 03:24] zachlatta commented on #260
I think I'm going to go with the Creative Commons Attribution-ShareAlike 4.0 International for content and the MIT license for code.

[2015-11-07 04:58] zachlatta commented on #374
@hackedu/core I'd like to propose prioritizing this.

[2015-11-07 04:58] #101 closed

[2015-11-07 04:58] #103 closed

[2015-11-11 21:34] paked opened #484 "Clean up /workshops directory"
Currently we have a bunch of folders which likely shouldn't be in the `workshops` folder. I'm not sure how these managed to make the cut, but they add a certain amount of unnecessary clutter to the repository.

I (personally) would like to see the moving or removal of:

- [x] [frogger](https://github.com/hackedu/hackedu/tree/master/workshops/frogger/src) (being tracked in #469)
- [ ] [img](https:/

[2015-11-11 22:52] zachlatta commented on #484
I'm totally down to clean up the workshops folder. `frogger` definitely shouldn't be there and `src` definitely shouldn't either.

`lib` contains our `twilio-basic` library that allows you to use Twilio in your browser and `img` contains images used in `workshops/README.md` and `workshops/workshop_details.md`. What if we delete `frogger` and `src` for now, then talk about cleaning up `workshop/wor

[2015-11-11 23:41] paked commented on #484
@zachlatta I'm still not a fan of having folders that *are not* workshops in the directory... Obviously we have to put the resources for `workshops/workshops_details.md` somewhere.

Maybe it would make sense to move `img` into `lib`?

Either way. What you have proposed sounds like a good start.

[2015-11-12 08:45] MaxWofford opened #485 "Capitalize unordered lists"
Based on hackedu/meta#291

[2015-11-13 00:26] #260 closed

[2015-11-13 03:50] paked opened #486 "Make all JS Bin links in Dodge workshop open in a new tab"
I ran the Dodge workshop this week and found a few of the newer club members having difficulty navigating because each JS Bin opened in the same window as the workshop.

I think it makes sense to make all of the code links open in new tabs.

cc: @jonleung

[2015-11-16 05:46] saescapa opened #491 "Workshop folder needs updates."
I'l try to send a PR myself, but the Workshop folder in general needs some fixes: Here are some I found:

1. Location: [here](https://github.com/hackedu/hackedu/blob/master/workshops/workshop_details.md#obtaining-a-twilio-account--credentials-20-minutes)
  - Error: ```Follow [the
directions here](twilio/signup.md)``` Does not work.
  - Solution: ```Follow [the
directions here](/lib/twilio-basic/si

[2015-11-16 05:47] zachlatta commented on #491
Uh oh, some of these errors should be caught by Markcop, right @MaxWofford?

Thank you @saescapa! We'll get on fixing this ASAP.

[2015-11-16 06:19] saescapa commented on #491
I'll add more in the comments to keep them organized.

3. Location: [here](http://jsbin.com/fawuda/35/edit?html,js)
  - Error: ```<script type="text/javascript" src="//bit.ly/twilio_client_js"></script>``` Does not work (error given ```ReferenceError: Twilio is not defined```
  - Solution: Replace ```<script type="text/javascript" src="//bit.ly/twilio-basic-with-prompt-v1"></script>```

[2015-11-16 06:37] paked commented on #491
Possibly related to #484

[2015-11-16 07:02] zachlatta commented on #484
Err, I'm not sure about moving `img` into `lib` because the images aren't a library. I think it's okay to have directories like `img`, `lib`, and potentially `bin` as long as they're for associated files. Perhaps we could prefix them with an underscore to indicate that they're not workshops? So `_img`, `_lib`, and `_bin`?

[2015-11-16 07:26] zachlatta commented on #491
Can you further clarify what you mean by the following? Also, I've submitted #493 to address #1. I'm working on your second comment now.

[2015-11-16 07:57] zachlatta commented on #484
Also, I submitted #492 to remove `workshops/src`.

[2015-11-16 07:57] zachlatta commented on #457
Thoughts on planning to have a weekly call?

[2015-11-16 08:00] zachlatta commented on #486
Yeaaah, let's do this. Working on this right now.

[2015-11-16 08:23] zachlatta commented on #420
This issue was moved to hackedu/meta#296

[2015-11-16 08:23] #420 closed

[2015-11-16 08:24] zachlatta commented on #411
Any updates on this?

[2015-11-16 08:24] zachlatta commented on #272
This issue was moved to hackedu/meta#297

[2015-11-16 08:24] #272 closed

[2015-11-16 08:24] zachlatta commented on #339
Any updates on this?

[2015-11-16 08:25] zachlatta commented on #110
This issue was moved to hackedu/meta#298

[2015-11-16 08:25] #110 closed

[2015-11-16 08:25] zachlatta commented on #220
This issue was moved to hackedu/meta#299

[2015-11-16 08:25] #220 closed

[2015-11-16 08:25] zachlatta commented on #231
This issue was moved to hackedu/meta#300

[2015-11-16 08:25] #231 closed

[2015-11-16 08:25] zachlatta commented on #118
This issue was moved to hackedu/meta#301

[2015-11-16 08:25] #118 closed

[2015-11-16 08:25] zachlatta commented on #109
This issue was moved to hackedu/meta#302

[2015-11-16 08:25] #109 closed

[2015-11-16 08:26] zachlatta commented on #456
This issue was moved to hackedu/meta#303

[2015-11-16 08:26] #456 closed

[2015-11-16 08:26] zachlatta commented on #457
This issue was moved to hackedu/meta#304

[2015-11-16 08:26] #457 closed

[2015-11-16 08:26] zachlatta commented on #419
This issue was moved to hackedu/meta#305

[2015-11-16 08:26] #419 closed

[2015-11-16 08:27] zachlatta commented on #461
This issue was moved to hackedu/meta#306

[2015-11-16 08:27] #461 closed

[2015-11-16 11:46] paked commented on #484
Ok. @zachlatta sounds good to me.

[2015-11-17 03:01] #485 closed

[2015-11-17 21:33] zachlatta opened #499 "Deprecate case studies"

[2015-11-17 21:42] jonleung opened #500 "Discuss with club leaders what curriculum they will run in their meeting and create any materials that are needed"

[2015-11-17 21:50] #500 closed, assigned to nobody

[2015-11-17 22:30] zachlatta opened #503 "It's unclear how to get the output URL in the Portfolio workshp"
When I was running the portfolio workshop in Estonia, about half of the people doing the workshop asked me how to get the output URL from JS Bin in https://github.com/hackedu/hackedu/tree/master/workshops/portfolio#get-a-link-that-everyone-can-see.

/cc @jonleung

[2015-11-17 23:08] jonleung commented on #503
@paked would you actually be interested in working on this at all?

[2015-11-17 23:12] paked commented on #503
@jonleung sure. I'm down.

[2015-11-17 23:54] zachlatta commented on #499
Closed by #501.

[2015-11-17 23:54] #499 closed

[2015-11-18 01:37] jonleung commented on #503
Thanks @paked, want to assign yourself to the issue?

[2015-11-20 02:14] saescapa commented on #491
@zachlatta Sorry, I didn't see your response, what I meant is that there aren't guidelines on how to run other workshops such as Dodge, Soccer or Maze (added recently).

[2015-11-20 20:47] paked opened #507 "Link back to Dodge sprite explanation in Maze"
Currently in the [maze](https://github.com/hackedu/hackedu/tree/master/workshops/maze) workshop, there is not *explanation* for the term "sprite".

Perhaps we should link back to [this section from the dodge workshop](https://github.com/hackedu/hackedu/tree/master/workshops/dodge#some-terminology).

cc: @zachlatta @hellyeah

[2015-11-20 20:53] zachlatta commented on #507
I am 100% on board with this. :thumbsup:

On Fri, Nov 20, 2015 at 12:47 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-11-21 23:53] zachlatta commented on #484
I'm going to close this issue for now because both `src` and `frogger` have been deleted. @paked please feel free to reopen if you'd like to discuss renaming `lib` and `img` to `_lib` and `_img` (or doing something else with them).

[2015-11-21 23:53] #484 closed

[2015-11-24 00:28] zachlatta opened #512 "Rewrite CONTRIBUTING.md"
Make it clear how to:

- Fork and manage the repo
- Submit a pull request

Also make sure to update GIFs to say Hack Club instead of hackEDU.

[2015-11-24 11:33] sethtrei commented on #512
This would be very helpful.

[2015-11-24 22:53] MaxWofford opened #515 "Collect attendance and curriculum @zachlatta"
- [ ] Hybrid
- [ ] Glenaeon
- [ ] Armijo

[2015-11-26 06:51] jonleung commented on #339
Closed by #482

[2015-11-26 06:51] #339 closed

[2015-11-26 06:55] jonleung opened #516 "Link curriculum and attendance spreadsheet via hackclub.io URL"
_Note that I'm deliberately not linking the attendance and curriculum spreadsheet here so that they are not publicly accessible._

What if we used `attendance.hackclub.io` to link to the curriculum and attendance spreadsheet?

\cc @zachlatta @MaxWofford

[2015-11-26 06:58] jonleung opened #517 "Standardize system on how to collect attendance"
@zachlatta and @MaxWofford, I know that last week you were fairly successful at collecting attendance data. What specific things do we should do going forward to continue to be successful at collecting attendance data?

[2015-11-26 07:39] #486 closed

[2015-11-26 09:41] MaxWofford commented on #516
@jonleung Doesn't including this link defeat the purpose of hiding the spreadsheet?

[2015-11-26 09:43] MaxWofford commented on #517
@jonleung The more club leaders using the auto sms-service, the less we will have to ping on slack. Make sure to remind people it exists.

[2015-11-30 04:02] zachlatta commented on #517
This issue was moved to hackclub/meta#333

[2015-11-30 04:02] #517 closed

[2015-11-30 04:02] zachlatta commented on #516
This issue was moved to hackclub/meta#334

[2015-11-30 04:02] #516 closed

[2015-11-30 04:02] zachlatta commented on #515
This issue was moved to hackclub/meta#335

[2015-11-30 04:02] #515 closed

[2015-12-01 06:02] zachlatta opened #520 "Add workshop feedback tables"
_From @zachlatta on December 1, 2015 6:0_

Add clickable Markdown tables for feedback to all of the existing workshops.

Example:

_Would you recommend this workshop to a friend?_

| [1](#example) | [2](#example) | [3](#example) | [4](#example) | [5](#example) | [6](#example) | [7](#example) | [8](#example) | [9](#example) | [10](#example) |
| ------------- | ------------- | ------------- | ------

[2015-12-01 06:21] zachlatta opened #521 "Create JS Bin build system"
This issue is to create a JS Bin build system so we can easily update linked JS Bins in workshops.

Here are my current thoughts on doing this:

- JS Bin has an import from GitHub gist feature (where you just go to `https://jsbin.com/<gist_id>`
- We could have a directory for each JS Bin example with files in it and a script to upload each directory as a Gist and programatically update links to `h

[2015-12-01 06:41] zachlatta commented on #491
Ah, gotcha. I'll make another issue to make sure those get created (or we do something different for workshop guidelines).

[2015-12-01 16:26] bobacadodl opened #522 "Dodge Workshop: Go into more depth"
When we ran the dodge workshop at our club, people had a lot of additional questions about how to improve their games. One of the biggest questions that people had was how to reset the game automatically without refreshing the page. Other common questions were: "How do you make a score counter?", "How do you display the score you got after you lose?", and "How do you prevent the player from going

[2015-12-01 16:40] zachlatta opened #523 "Facilitation guidelines are missing for Dodge, Soccer and Maze"
As @saescapa brought up in #491, we're currently missing facilitation guidelines in `workshops/workshop_details.md` for Dodge, Soccer, and Maze. This issue is to track the creation of those :-).

[2015-12-01 16:51] zachlatta commented on #491
Just created #523 to track the facilitation guidelines in a separate issue. Closing this one for now :-).

Thank you so much @saescapa!

[2015-12-01 16:51] #491 closed

[2015-12-01 17:25] jonleung commented on #522
@bobacadodl this is really helpful feedback! Thanks! I saw this problem at @j1lin0101's club as well!

Do you think it would be sufficient if we made examples of how to do these but not explanations?

[2015-12-01 19:37] paked commented on #522
@jonleung @bobacadodl I think it may be interesting to do this kind of thing with examples, as opposed to hand holding these steps.

[2015-12-01 21:46] zachlatta commented on #520
Submitted #524 to add this.

[2015-12-02 04:35] #520 closed

[2015-12-02 05:15] jonleung opened #526 "Create another workshop"

[2015-12-02 05:16] jonleung opened #527 "Make workshops README.md student facing (shorten it)"
- [ ] Organize workshops into playlists

[2015-12-02 22:40] jonleung opened #528 "Create MVP guidelines on how to submit a workshop:"
- workshops should teach people to build something in ~1 hour
- workshops use text and gifs to communicate concepts
- workshops go in the workshops directory
- workshops are organized into playlists

[2015-12-02 22:42] jonleung opened #529 "Add guidelines for how to make an ok workshop great!"
We started some drafts here: https://drive.google.com/folderview?id=0B8cWGPosU3rKakljT2s1dEtwZzA&usp=drive_web

/cc @JevinSidhu @paked @Bogidon @zachlatta @MaxWofford @ZucchiniZe

[2015-12-02 22:46] paked commented on #528
To quote the preliminary document that *somehow* made it into the repository.

- Showing over prefacing
- Shorter over longer
- Smaller chunks over larger chunks
- Modular over linear
  - Reduce the amount of linear time
  - Explicitly communicate and design things so that people can jump around
  - Is shippable in ~30ish minutes (all subsequent chunks must be also shippable
    in 30 minutes or l

[2015-12-02 22:48] zachlatta commented on #529
Should this issue be combined with #528?

[2015-12-02 22:58] jonleung commented on #529
@zachlatta I'm trying to differentiate the two issues where

[2015-12-02 22:58] jonleung commented on #529
@zachlatta I renamed the issue title to try to make it clearer

[2015-12-02 23:02] JevinSidhu commented on #529
I think we can convert this into Markdown and then continue to collaborate from there?

[2015-12-02 23:05] zachlatta commented on #529
Good idea. Let's do it.

[2015-12-03 00:09] MaxWofford opened #530 "Move community workshops into regular workshop folder"

[2015-12-03 00:10] zachlatta commented on #530
:+1:

[2015-12-03 00:11] MaxWofford commented on #530
On mobile so I can't assign myself, but I'm happy to do it at 6pm

[2015-12-03 00:12] MaxWofford commented on #530
Oh, found out how to assign myself.

[2015-12-03 02:25] jonleung commented on #529
@JevinSidhu, I like it!

[2015-12-03 02:26] jonleung commented on #530
:+1:

[2015-12-03 02:42] jonleung commented on #526
- try to introduce more CS fundamentals in this workshop

[2015-12-03 02:47] #530 closed

[2015-12-03 02:50] jonleung opened #533 "Decide on how to standardize the use of Cloud9 and JS Bin"
The first thing to discuss for this task is to create a conversation with club leaders around

- which they are currently using
- which they think we should go with

[2015-12-03 06:59] MaxWofford commented on #533
@jonleung Are we sure we want to support this? I remember @zachlatta mentioning we would use jsbin for the portfolio workshop and c9 for everything else.

[2015-12-03 13:00] saescapa commented on #533
I like both JS Bin and C9, but I prefer C9 since it gives more of that feel of programming (not sure if it exists) but also, it's less confusing in my opinion.

JS Bin is nice and easy too, but sometimes you go into problems when saving work, if you have a lot of copies of a file, it's hard to find others.

Now, C9 is more advanced, and can be confusing, but I think it with good organization, it d

[2015-12-03 13:52] MaxWofford opened #535 "Add developer facing documentation to twilio library"
I had to search through the library src when helping people with the twilio workshop.

https://github.com/hackclub/hackclub/blob/master/workshops/lib/twilio-basic/api_documentation.md

[2015-12-03 16:17] ZucchiniZe commented on #529
I can convert it to markdown in soon.

[2015-12-03 17:27] JevinSidhu commented on #533
One thing I didn't enjoy about Codecademy is that its environment isn't the same as you would do your own development in.

Cipher's been using C9 for all of our workshops. +1 to going for C9 solely.

[2015-12-03 17:53] jonleung commented on #528
Perhaps include resources on how to add markdown

Individual
- Dropbox Paper

Collaborative
- BeeGit

Grip and your favorite editor

[2015-12-03 19:49] jonleung commented on #533
@saescapa @JevinSidhu, that's really helpful to know, thanks!

[2015-12-03 19:51] zachlatta commented on #528
Why not keep it simple and encourage people to use Cloud9 (like how it's used in the workshops)? That's something everyone's already familiar with, it lets you edit in realtime with other people, and it's used in the workshops.

[2015-12-03 19:55] jonleung commented on #535
:+1:

[2015-12-03 19:55] MaxWofford opened #537 "Move meta folder in hackclub to meta repo"
/cc @hackclub/staff

[2015-12-03 19:56] jonleung commented on #529
:+1:

[2015-12-03 19:56] MaxWofford commented on #528
@zachlatta Let's find a way to 80 char wrap in c9. That seems like the most tedious part of writing markdown for club leaders I've worked with.

[2015-12-03 19:57] jonleung commented on #528
Hmm, the writing experience in C9 feels so jank to me...

[2015-12-03 20:08] MaxWofford commented on #528
C9 also means they can run markserv.

[2015-12-03 20:09] jonleung commented on #526
- Should have a focus on JS Basics

[2015-12-03 20:11] jonleung opened #538 "People think that Twilio workshop and Remote control workshop are different"
How do we reduce this confusion?

[2015-12-03 20:18] MaxWofford commented on #538
Rename remote control workshop to either `twilio` workshop or `sms-calling` workshop.

[2015-12-03 20:31] #527 closed

[2015-12-04 13:27] MaxWofford commented on #537
I've created https://github.com/hackclub/hackclub/pull/541 and hackclub/meta#360 to address this

[2015-12-05 00:09] zachlatta commented on #538
Yeah, I'm for renaming Remote Control to something else as well. Maybe "Introduction to Twilio"?

[2015-12-05 00:10] zachlatta commented on #535
:+1: same

[2015-12-05 06:10] MaxWofford commented on #528
@jonleung Our clubs and workshops already use c9. It might be worth it to keep everything in one place.

[2015-12-05 06:18] bobacadodl commented on #522
@paked @jonleung I agree, examples would be sufficient.  Step by step explanations wouldn't be necessary

[2015-12-05 06:29] MaxWofford commented on #238
@jonleung Was this fixed?

[2015-12-06 00:42] MaxWofford commented on #238
Closing due to inactivity. If the benefits from doing this outweigh the effort to doing it, feel free to reopen.

[2015-12-06 00:43] zachlatta commented on #238
I actually think this'll be addressed by https://github.com/hackclub/hackclub/issues/521, which I'm almost done with. Going to reopen for the sake of tracking _all the things_!

[2015-12-06 00:43] MaxWofford commented on #240
Closing this for the time being because it is inactive and the feedback has not been repeated.

[2015-12-06 00:43] #240 closed

[2015-12-06 00:51] MaxWofford commented on #239
I agree with the problem stated in this issue, but after running the remote control workshop at @ZucchiniZe's high school, believe the problem is rooted in the way the workshop is formatted. Hackers are told to work in a provided environment (a pre-built jsbin) and are given no instructions on how to use twilio in a real website.

I think fixing this is more than just stating how to define the twi

[2015-12-06 00:51] MaxWofford commented on #239
oops- didn't mean to press close!

[2015-12-06 00:51] MaxWofford commented on #239
@jonleung Did you mean to title this issue `Remote Control Workshop: Explain how the Twilio library`?

[2015-12-06 00:53] MaxWofford commented on #235
This issue seems inactive so I'll close it for now. If anyone would like to pick it up, feel free to reopen!

[2015-12-06 00:53] #235 closed

[2015-12-06 00:55] MaxWofford commented on #355
When running this workshop in @alexb's high school it seems that whenever hackers ran into a problem like this they would just  keep trying it with different mp3s. Closing this because this isn't a hard fix for hackers in our clubs. If anyone wants to add the note, feel free to reopen this issue!

[2015-12-06 00:55] #355 closed

[2015-12-06 00:59] MaxWofford commented on #238
:+1:

[2015-12-06 01:08] MaxWofford commented on #512
This might close hackclub/hackclub#242

[2015-12-06 23:14] paked commented on #507
Closed from #545

[2015-12-06 23:14] #507 closed

[2015-12-07 12:25] MaxWofford commented on #452
Just submitted https://github.com/hackclub/hackclub/pull/546 based on this.

[2015-12-07 13:13] MaxWofford commented on #452
Just submitted https://github.com/hackclub/hackclub/pull/547 for this.

[2015-12-08 05:12] #538 closed

[2015-12-08 05:13] #503 closed

[2015-12-09 06:04] MaxWofford commented on #537
@zachlatta Now that https://github.com/hackclub/meta/pull/360 has been merged, this is good to go.

[2015-12-09 23:23] paked commented on #533
How do we close this issue @jonleung?

[2015-12-10 02:40] uditdesai commented on #411
The word api in the readme file is a link that goes to a quora page explaining what an api is, I think it would be unnecessary to explain it again when you can easily click the word to find out what it means.

[2015-12-10 20:31] jonleung commented on #522
@bobacadodl awesome! Sorry about the delayed response, have been a bit sick! We'll add some examples in! @paked @sethtrei @ZucchiniZe, would any of you be interested in adding some examples?

[2015-12-10 20:42] sethtrei commented on #522
I could do the refreshing thing I did it on mine

[2015-12-10 22:55] jonleung commented on #522
@sethtrei that would be awesome! Thanks! I'd be happy to work with you closely on this pull request if you would like too! Keep me posted if you want to do it!

[2015-12-10 23:00] jonleung commented on #452
Updated the scope of this issue because I'll be looking through @JevinSidhu's workshops in #356

[2015-12-10 23:22] jonleung commented on #238
Closing because @zachlatta is doing awesome work and handling this in #521. I think tracking his work in this issue is redundant. Therefore I'm going to close this issue.

[2015-12-10 23:22] jonleung commented on #237
I'm deciding that there are so few people that don't have cell phones that it's not worth creating this feature.

[2015-12-10 23:22] #237 closed

[2015-12-10 23:23] jonleung commented on #239
@MaxWofford I have renamed the issue.

[2015-12-10 23:28] jonleung opened #554 "Hack Club Holiday Update"
I think we should put out a holiday update on our progress and plans for 2016 to our

- funders
- advisors & supports

Thoughts @zachlatta?

[2015-12-10 23:28] jonleung commented on #554
This issue was moved to hackclub/meta#368

[2015-12-10 23:28] #554 closed

[2015-12-10 23:30] jonleung opened #555 "Split up the Twilio workshop into more digestible chunks."
Right now there is way too much stuff going on in that workshop and there's a lot of good content that people don't have time to get to because there isn't enough time in one workshop.

Also consider addressing #236

[2015-12-10 23:31] bobacadodl commented on #522
I'd be willing to do the score counter and prevention from going offscreen. I'll try to do it in the proper formatting and make a PR sometime this weekend

[2015-12-10 23:32] jonleung commented on #236
Closing this issue because I'm not sure how high leverage doing this would be.

[2015-12-10 23:32] #236 closed

[2015-12-10 23:34] jonleung commented on #356
Closing this because this doesn't seem problematic enough.

[2015-12-10 23:36] jonleung commented on #242
@zachlatta do you think we should still do this?

\cc @MaxWofford

[2015-12-10 23:39] jonleung commented on #533
@paked we need to do a survey of who is using which tools. It seems that most people that I talk to have opted for using Cloud9.

Then we need to "Decide on how to standardize the use of Cloud9 and JS Bin". I just renamed this issue to reflect this.

[2015-12-10 23:52] jonleung commented on #522
@bobacadodl woooot! I'd be happy to work with you closely on this pull request if you would like too!

[2015-12-11 00:20] jonleung commented on #411
Closing this because @uditdesai believes the status quo to be sufficient. However, this may be clarified further when #239 is completed.

[2015-12-11 05:57] MaxWofford commented on #533
@jonleung Is this still the same issue? https://github.com/hackclub/hackclub/issues/533#event-488816259. it sounds like the new issue focuses on having everyone work on one platform but the original issue was for making our workshops compatible with both.

[2015-12-11 06:12] MaxWofford commented on #242
@jonleung Because this will be addressed by https://github.com/hackclub/hackclub/issues/512, I think we should still track the issue

[2015-12-11 06:13] MaxWofford commented on #356
@jonleung Just a heads up, but https should be a standard for all our materials. (there aren't markcop tests because some things have to be http, but we should default to https)

[2015-12-11 06:16] paked commented on #356
@MaxWofford what things have to be http? Would it make sense to work on a
whitelist basis as opposed to just letting everything through?

On Fri, Dec 11, 2015 at 5:13 PM Max Wofford <notifications@github.com>
wrote:

[2015-12-11 06:17] MaxWofford commented on #555
@jonleung idk if it's useful, but when running this in @ZucchiniZe's school, everyone in the class got to [this part](https://github.com/hackclub/hackclub/tree/master/workshops/twilio#outline-for-the-rest-of-this-tutorial) within the first 10 minutes, then no one in the class got a step past it for the rest of the class.

[2015-12-11 06:18] MaxWofford commented on #356
@paked I don't know of anything in our workshops that have to be http, but some sites don't run https. We can probably set  something up when we run into the issue of linking something that doesn't support http in our workshops.

[2015-12-11 06:20] MaxWofford commented on #452
@jonleung did you mean to link to that issue?

[2015-12-11 06:23] MaxWofford commented on #238
@jonleung I think @zachlatta [reopened this issue](https://github.com/hackclub/hackclub/issues/238#event-483579801) to close it when https://github.com/hackclub/hackclub/issues/521 is closed.

[2015-12-11 17:38] ZucchiniZe commented on #555
Yeah, I think just showing them that they could do that sort of captivated them. Maybe in the future we can split the remote control workshop into two parts, how to use twilio to call and text using JS and how to make it so you can get a text/call when you click a button. Also, one other theory as to why they never got past that part is it was not very clear that you would do anything else other t

[2015-12-11 20:23] jonleung commented on #411
@klipspringr I apologize for completely mishandling this. You brought up a very valid (and helpful) point and I closed the issue without addressing it.

@klipspringr, how do you think we could improve the workshop to bring clarity to the fact that:

- we're using the Twilio API
- what an API is

I'd love the thoughts of others as well.

Thanks again so much for submitting this issue @klipspringr!

[2015-12-11 20:25] MaxWofford commented on #411
Reopening because this issue is still being discussed.

[2015-12-11 20:32] jonleung commented on #411
Oops, thanks for fixing that @MaxWofford!

Also, closing #239 may help alleviate some of these issues as well.

[2015-12-11 20:34] zachlatta commented on #537
Merged both hackclub/meta#360 and #541!

[2015-12-11 20:34] #537 closed

[2015-12-11 20:41] zachlatta commented on #533
It seems like many people are using Cloud9 (I know @Bogidon is as well). I'm not sure how necessary it is to survey our existing leaders – it seems like we have enough information to make an educated decision.

I suggest the following:

- We use JS Bin for the first workshop and continue to use it for examples in our workshops
- We create an "onboarding" workshop designed to be run after the first

[2015-12-11 20:42] jonleung commented on #555
@ZucchiniZe, that's super helpful thanks!

@MaxWofford which part did they finish up to?

[2015-12-11 20:46] jonleung commented on #533
@zachlatta that sounds reasonable. I still want to do the survey first before going through with this.

[2015-12-11 20:53] jonleung commented on #533
Conducting the survey now here in Slack:

https://starthackclub.slack.com/archives/random/p1449867053010744

[2015-12-11 20:59] jonleung commented on #238
@MaxWofford ok, that makes sense.

[2015-12-11 21:00] jonleung commented on #452
@MaxWofford I fixed the link in my above comment

[2015-12-11 21:02] MaxWofford commented on #452
:+1:

[2015-12-11 21:02] jonleung commented on #356
I'm opting to leave this as is for now.

[2015-12-11 21:03] jonleung commented on #242
:+1:

[2015-12-11 22:32] klipspringr commented on #411
Hi @jonleung! Don't even worry about it :-)

I brought up this question mostly because I tend to read quickly, and I didn't see the initial link to the Quora post. Something to consider is that this may not be obvious for people to see. Also, having links, while super great for most people, may not be as accessible for people who are colorblind, visually-impaired, or just straight up don't know un

[2015-12-11 22:32] MaxWofford opened #556 "Use protocol relative URLs"
~~Standardize https in hackclub/hackclub~~

EDIT: Links should start with `//` instead of `https://` or `http://`

[2015-12-11 23:03] jonleung commented on #356
I was thinking about it again, and I think it makes sense to leave this issue open.

I initially wanted to close it because I didn't want to prioritize this issue because I don't think fixing this it's very high leverage to our curriculum at the moment. However, it may make sense to have this fixed in the future, so I'm leaving re-opening this issue.

[2015-12-11 23:41] MaxWofford commented on #356
I think this can be closed by: https://github.com/hackclub/hackclub/issues/556

[2015-12-12 00:33] ZucchiniZe commented on #555
@jonleung They had finished the first section (calling and sending text messages) and just fooled around with that for the rest of the class.

[2015-12-12 00:44] JevinSidhu commented on #556
@ZucchiniZe's mention of using `<script src='//www.google.com/script.js'></script>` I liked!

It makes you feel fancy too, so there's that :joy:

[2015-12-12 00:45] MaxWofford commented on #556
@JevinSidhu @ZucchiniZe  :+1:

Going to update the issue to reflect that

[2015-12-12 01:49] paked opened #557 "Are we using Flat Doc?"
Currently we have the flat doc license in our LICENSE file.

https://github.com/hackclub/hackclub/blob/master/LICENSE#L22-L25

I can't see any uses of it anywhere in master though

[2015-12-12 02:26] zachlatta commented on #557
https://github.com/hackclub/hackclub/blob/master/workshops/maze/readme.html and https://github.com/hackclub/hackclub/blob/master/workshops/maze/css/style.css are the two uses of it, though I'm against using flatdoc. I think we should keep everything on GitHub to lower the barrier as much as possible to contributions.

[2015-12-13 01:49] #521 closed

[2015-12-13 20:22] zachlatta opened #561 "Refactor Twilio workshop to use jsbinctl"
_From @zachlatta on December 13, 2015 20:13_

Refactor the JS Bin examples in the Twilio workshop to be stored in directories in an `examples` directory within the workshop (ex. `examples/first_call`, `examples/sending_a_text_message`) and use `jsbinctl` for management.

Don't worry if the example on JS Bin is broken, just move their source code to the repository for the time being.

_Copied from

[2015-12-13 20:22] zachlatta commented on #561
_From @paked on December 13, 2015 20:17_

@zachlatta shouldn't this be in hackclub/hackclub?

[2015-12-13 20:22] zachlatta commented on #561
Ah, you're totally right. Migrating it now.

[2015-12-13 20:23] zachlatta commented on #556
Shouldn't we bias for HTTPS when we can for the privacy of our users?

[2015-12-13 20:36] ZucchiniZe commented on #556
prefixing urls with `//` automatically resolves the correct protocol for the current page and it is easier to type. So, if all the urls are HTTPS all the scripts and styles will be HTTPS as well.

[2015-12-13 20:38] MaxWofford commented on #556
Do `//` url's get hyperlinked in github markdown?

This is a //www.test.com

[2015-12-13 21:52] paked commented on #557
@zachlatta should we delete these files? They don't seem to be doing much?

[2015-12-14 00:07] #561 closed

[2015-12-14 00:19] paked commented on #512
@zachlatta Looking at your suggestions I'm confused as to why we can't just add those sections. Is a full rewrite completely necessary?

[2015-12-14 00:20] paked commented on #512
If so, what kind of structure should we use in order to make sure we do not fall into the same trap.

[2015-12-14 00:21] MaxWofford commented on #512
@paked contributors I've worked with usually have trouble because they skip a step or 2 in the `CONTRIBUTING.md`. Perhaps it is too long?

[2015-12-14 00:35] paked commented on #512
@MaxWofford can you please permalink that, I can't see a specific step 2

[2015-12-14 00:37] MaxWofford commented on #512
@paked I edited my original comment

[2015-12-14 04:31] jonleung commented on #238
Because of ^, I am re-opening this issue.

[2015-12-14 04:32] jonleung commented on #555
:+1:

[2015-12-14 04:49] jonleung commented on #512
Just a note:

I was talking to a club leader who said he would love a workshop / tutorial on how to use GitHub, especially for using pull requests. This club leader worked with @MaxWofford to learn how to submit a pull request and @MaxWofford walked him through  step by step how to submit a pull request. However, he says that it was "super hard" and "I don't remember any of it". I've heard similar

[2015-12-14 04:52] jonleung commented on #512
Who's taking lead on this issue now? I saw the assignment change of this task to @paked but didn't see too much context. I think it would be helpful for whoever is taking lead on this issue talk to talk with above club leader with the MVP of the new guide to see what's helpful / what's confusing in it.

[2015-12-14 06:36] paked commented on #512
@jonleung Looks like I'm the one who will be taking point on this. Could you PM me the name of this leader so I can get in touch and arrange a call.

[2015-12-14 06:36] paked commented on #512
I really want to get a solid plan setup for this so we don't have to expend more energy rewriting again in the future.

[2015-12-14 19:33] jonleung opened #567 "Facilitate the Learn To Code Series"

[2015-12-14 19:33] MaxWofford opened #568 "Create how to create a pull request workshop"

[2015-12-14 20:05] metmets commented on #568
Yay!

[2015-12-14 20:18] zachlatta commented on #567
This issue was moved to hackclub/meta#400

[2015-12-14 20:18] #567 closed

[2015-12-14 20:18] zachlatta commented on #567
This issue was moved to hackclub/meta#401

[2015-12-14 23:40] jonleung commented on #512
@paked I really like the work that they've done here: https://github.com/edx/edx-platform/blob/master/CONTRIBUTING.rst

Give that a look see.

[2015-12-14 23:41] jonleung commented on #512
This is also pretty great @paked: https://github.com/atom/atom/blob/master/CONTRIBUTING.md#your-first-code-contribution

[2015-12-15 16:17] paked commented on #512
@jonleung Those seem more relevant to the `workshops/CONTRIBUTING.md` file.

[2015-12-15 16:23] paked commented on #512
OK. Here are my thoughts on what we can do with `CONTRIBUTING.md`.

Firstly, I think one change that would help tremendously would be to add a table of contents. This would increase the visibility of a *lot* of items, while making a visual pseudo checklist.

I do not think that the [naming conventions](https://github.com/hackclub/hackclub/blob/ae9e2d2aab7ae6f613a94292d6376ae9ef8dd816/CONTRIBUTING.

[2015-12-15 21:51] jonleung commented on #512
@paked, I pinged the leader in requestion to see if he's down to talk with us about! I will message you back as soon as he says he's down to talk to us about this! I will also message you their name in the mean time.

[2015-12-15 23:29] jonleung commented on #512
@paked and I discussed what changes we want to make going forward. I'm pretty psyched for this `CONTRIBUTING.md`!

[2015-12-16 03:08] #528 closed

[2015-12-16 03:30] paked commented on #557
@jonleung I'd really like to delete these files, they seem to be serving 0 purpose. Is this possible?

[2015-12-16 21:27] paked commented on #512
Closed in #574

[2015-12-16 21:27] #512 closed

[2015-12-16 21:32] paked opened #585 "Update all workshops to use jsbinctl"
Waiting on:

- [ ] [Ajar](https://github.com/hackclub/hackclub/tree/master/workshops/ajar), No PR
- [ ] [Cloud9](https://github.com/hackclub/hackclub/tree/master/workshops/cloud9), No PR
- [ ] [Cringe 101](https://github.com/hackclub/hackclub/tree/master/workshops/cringe_101), No PR
- [x] [Dodge](https://github.com/hackclub/hackclub/tree/master/workshops/dodge), #589
- [ ] [Git and GitHub](https:/

[2015-12-16 21:33] paked commented on #585
If you work on porting a workshop, please comment the PR number in which it is contained!

[2015-12-17 01:52] paked commented on #238
Closing because #521 is closed

[2015-12-17 01:52] #238 closed

[2015-12-17 01:54] paked commented on #522
@bobacadodl Did you ever get around to doing this? If not I'd be more than happy to do it for you? (Or walk you through doing it yourself if you need it)

[2015-12-17 04:05] jonleung opened #588 "Link to the Code of Conduct in the description of the Facebook Group"
Link to the Code of Conduct in the description of [the Facebook Group](https://www.facebook.com/groups/1501083703514499/)

[2015-12-17 04:06] jonleung commented on #588
This issue was moved to hackclub/meta#423

[2015-12-17 04:06] #588 closed

[2015-12-17 04:06] jonleung commented on #588
This issue was moved to hackclub/meta#424

[2015-12-17 04:09] jonleung commented on #588
Deciding to close this issue and leaving it as a subtask in https://github.com/hackclub/meta/issues/117#issuecomment-165322688

[2015-12-17 17:59] ZucchiniZe commented on #585
Finished dodge #589

[2015-12-17 20:50] paked commented on #585
@hackclub/staff All of the workshops which use JS Bin for examples have been ported over to jsbinctl. We now just need to decide what to do with the rest of them. As I see it we have a two choices.

- Port everything over to jsbinctl
- Leave it as it is

[2015-12-17 20:57] paked commented on #556
@MaxWofford what do we have to do to close this issue?

[2015-12-17 21:03] paked commented on #242
@MaxWofford @jonleung #512 has been closed, however does not really fulfil the goals of this issue.

In the meantime though we have had a [Git and Github (https://github.com/hackclub/hackclub/blob/master/git_and_github) workshop merged into master. Perhaps this closes the issue?

[2015-12-17 21:08] paked commented on #239
@MaxWofford I don't see the problem with adding a new section at the end of the workshop explaining how to integrate into a real site!

[2015-12-17 22:35] paked opened #595 "Apply new styleguides to existing code"
Since hackclub/meta#398 and hackclub/meta#399 were merged we are going to have to update a lot of our content to satisfy these new rules.

cc: @hackclub/staff

[2015-12-17 22:54] paked commented on #529
Going to take this off of @jonleung's workload <3

[2015-12-18 00:50] MaxWofford commented on #556
@paked Because some resources we link to don't support `https`, let's close this issue.

[2015-12-18 00:50] #556 closed

[2015-12-18 00:51] MaxWofford commented on #242
@paked Agreed

[2015-12-18 00:51] #242 closed

[2015-12-18 10:26] zachlatta commented on #585
What do the others currently use for code examples?

[2015-12-18 10:28] paked commented on #585
@zachlatta They just embed them into the raw markdown

Example:
https://github.com/hackclub/hackclub/blob/master/workshops/cringe_101/README.md#set-up-your-document

[2015-12-18 10:29] zachlatta commented on #585
Ah, let's leave as-is for the time being, since incorporating `jsbinctl` will just be an improvement, rather than a fix (a valuable one, at that).

[2015-12-18 10:29] #585 closed

[2015-12-18 10:29] zachlatta commented on #585
:+1: good work team!

[2015-12-18 10:30] zachlatta commented on #585
(and a special thanks to @ZucchiniZe for being involved with this :-)

[2015-12-18 12:24] zachlatta commented on #533
Any updates from the survey?

[2015-12-18 19:54] jonleung opened #601 "Decoupling the location of the `/workshops` with any code"
Let's say for example that decide to change the `/workshops` directory to `/curriculum` or something. Because we're using [rawgit](http://rawgit.com) in a lot of places to link to code inside the `/workshops` directory, namely `/workshops/lib`, a bunch of things would break.

How can we de-couple our GitHub directory structure with referencing code in the directory?

/cc @hackclub/staff

[2015-12-19 04:25] MaxWofford commented on #557
'bug' doesn't seem like an appropriate tag for this.

[2015-12-19 04:25] MaxWofford commented on #557
Labeling as 'discussion' because the issue is being discussed.

[2015-12-19 04:26] MaxWofford commented on #557
In-case we do want to go through with this though, I've created https://github.com/hackclub/hackclub/pull/603

[2015-12-21 23:09] paked commented on #601
@jonleung @MaxWofford Are we sure we have non relative links in the repository? I thought we were pretty good at avoiding that...

Examples would be good.

[2015-12-24 12:53] MaxWofford commented on #356
This seems like it can be done by a first time contributor. Adding the `first-timers-only` tag

[2015-12-24 12:55] MaxWofford commented on #601
@jonleung Referencing specific commits can help with that. It's a pain to update though.

[2015-12-31 00:07] jonleung commented on #526
Closing this because I am going to focus on getting ready for the new school year by making sure the first two workshops are great before making any more.

[2015-12-31 00:07] #526 closed

[2015-12-31 00:10] jonleung opened #617 "Create an overarching curriculum arc for Hack Club"
This should answer the questions

- "What am I going to learn if I'm going to join a club and over what time period of time?"
- "If I am already in a Hack Club that ran in the fall, what am I going to be doing in the spring?"

[2015-12-31 00:16] jonleung opened #618 "Document what a Hack Club workshop is and what its components are"
This should include things like

- they are written documents that students can use to independently follow along with to create something that they can show their friends
- what is the directory structure of the workshops
- etc.

[2015-12-31 00:19] jonleung opened #619 "Create general facilitation guidelines that can be used to facilitate meetings 1 & 2"
This will talk about things like how to be welcoming and run workshop time.

[2015-12-31 00:21] jonleung opened #620 "Document the tools that hackers will use in Hack Club"
This includes tools like Cloud9 and GitHub

[2015-12-31 00:22] jonleung opened #621 "Figure out how to prepare club leaders to run club meetings 1 & 2 effectively"

[2015-12-31 00:26] jonleung opened #622 "Create the curricular content for meetings 1 & 2"

[2015-12-31 23:48] jonleung opened #626 "Create whatever is necessary to make the first 2 meetings of a club great!"
- [ ] Ensure that the curriculum for the first two meetings is prepared
- [ ] Ensure that club leaders know how to run the first two meetings well. This may include general facilitation guidelines as well as specific facilitation guidelines for the first two meetings. We should be able to concretely answer the question "how do I run the + first two meetings" from club leaders.

This issue takes th

[2015-12-31 23:49] jonleung commented on #622
Closing this in favor of using #626 because issue #626 is clearer and provides more context than this one.

[2015-12-31 23:49] #622 closed

[2015-12-31 23:49] jonleung commented on #621
Closing this in favor of using #626 because issue #626 is clearer and provides more context than this one.

[2015-12-31 23:49] #621 closed

[2015-12-31 23:53] jonleung commented on #619
Closing this in favor of using #626 because issue #626 is clearer and provides more context than this one.

[2015-12-31 23:53] #619 closed

[2016-01-01 00:02] paked commented on #529
@jonleung After doing the PR, I'm starting to think that this is a bit redundant... I don't think we need another text on "how to make a workshop".

I'm going to leave it up to you to close this (and its respective PR).

[2016-01-06 20:20] jonleung opened #640 "Write a spring semester update to our clubs"

[2016-01-06 21:09] zachlatta commented on #626
Going to go ahead and close this issue because it's ambiguous.

[2016-01-06 21:09] #626 closed

[2016-01-06 21:15] zachlatta commented on #640
Oh whoops, didn't mean to assign myself. Sorry about this!

[2016-01-09 06:40] reicko commented on #356
https://github.com/hackclub/hackclub/pull/642

[2016-01-09 18:58] #533 closed

[2016-01-09 18:58] #617 closed

[2016-01-09 18:58] #618 closed

[2016-01-09 18:58] #620 closed

[2016-01-10 11:31] MaxWofford commented on #568
Closing this because our new contributing documentation includes references on how to do this.

[2016-01-10 11:31] #568 closed

[2016-01-10 11:39] MaxWofford commented on #557
Closing this because #603 was merged

[2016-01-10 11:39] #557 closed

[2016-01-10 11:40] MaxWofford commented on #529
Closing for lack of activity. @jonleung If you would like to reopen please feel free to!

[2016-01-10 11:40] #529 closed

[2016-01-10 12:10] MaxWofford commented on #555
Looks like the Twilio workshop just got redone by https://github.com/hackclub/hackclub/pull/641. Closing this issue for now. Feel free to reopen @jonleung if you feel it was left unaddressed.

[2016-01-10 12:10] #555 closed

[2016-01-10 12:13] MaxWofford commented on #411
@zachlatta seems to have addressed this with https://github.com/hackclub/hackclub/pull/641. Even though it has the "first-timers-only" tag, I'm going to close this issue for now. @klipspringr If you don't think this properly addresses the issue feel free to reopen!

[2016-01-10 12:13] #411 closed

[2016-01-10 12:21] MaxWofford commented on #601
This discussion doesn't seem to still be active. Closing for now. If anyone wants to bring anything up, please feel free to reopen.

[2016-01-10 12:21] #601 closed

[2016-01-11 00:24] zachlatta commented on #601
I'm on board with the decision to close this. Markcop should also catch
broken links, right? And we're linking to specific commits with rawgit, so
things shouldn't break if we move the directory in a new commit (if I
understand our usage correctly).

On Sun, Jan 10, 2016 at 4:21 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https

[2016-01-11 00:26] jonleung commented on #640
Here is my preliminary outline of this letter.

have>  curriculum that's targeted for you

club>  leaders

Going to write the actual letter now.

[2016-01-11 00:32] zachlatta commented on #555
Thanks! Yeah, #641 should close this.

On Sun, Jan 10, 2016 at 4:10 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.io

[2016-01-11 00:44] zachlatta commented on #557
Thanks for bringing this up @paked. I'm terribly sorry for not properly
responding to you earlier :-(. I'm glad we have a resolution now.

On Sun, Jan 10, 2016 at 3:39 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-11 00:45] zachlatta commented on #568
:heart:

On Sun, Jan 10, 2016 at 3:31 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.io

[2016-01-11 00:46] zachlatta commented on #356
Closed by #642. Thank you @reicko!

[2016-01-11 00:46] #356 closed

[2016-01-11 00:58] zachlatta commented on #640
:+1:

On Sun, Jan 10, 2016 at 4:26 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-11 01:26] jonleung commented on #640
This issue was moved to hackclub/meta#458

[2016-01-11 01:26] #640 closed

[2016-01-11 01:37] jonleung commented on #555
I agree with @zachlatta!

[2016-01-11 01:49] jonleung commented on #601
<3

[2016-01-11 20:03] zachlatta opened #647 "Write sections for each item in the first and second meeting schedules in clubs/README.md"
This is to clarify what to do for each line item in the suggested schedules of the first two meetings.

[2016-01-11 20:05] jonleung opened #648 "Modify Portfolio workshop to use standardized tools in hackclub/workshops/ARC.md"
- [ ] Move editor from JS Bin to Cloud9
- [ ] Move hosting from JS Bin to GitHub pages

We might consider using:
- https://github.com/hackclub/hackclub/blob/master/workshops/github_pages/README.md
- Jevin's Portfolio workshop that already uses Cloud9
- Or perhaps starting from scratch might allow us to think about things more clearly and only write what's needed

[2016-01-11 20:09] jonleung opened #649 "Modify Twilio workshop to use standardized tools in `hackclub/workshops/ARC.md`"
- [ ] Move editor from JS Bin to Cloud9
- [ ] Move hosting from JS Bin to GitHub pages

[2016-01-12 14:18] MaxWofford commented on #522
Is this still being worked on? I'm going to remove the "in progress" tag for now. If it should be here, please re-add it

[2016-01-12 14:20] MaxWofford commented on #522
derp, didn't mean to close

![](https://media.giphy.com/media/TlK63ECGCVGjzCu5WVi/giphy.gif)

[2016-01-12 20:29] zachlatta commented on #648
I'd personally suggest starting from scratch to make the edited workshop as
smooth as possible.

On Mon, Jan 11, 2016 at 12:05 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.io

[2016-01-12 23:46] jonleung commented on #648
:+1:

[2016-01-12 23:49] jonleung commented on #648
@zachlatta, I am starting from scratch in #652

Thanks for the feedback. I have a lot to learn from @hackclub/cipher's portfolio workshop. I will be slowly incorporating many of their ideas!

[2016-01-12 23:59] zachlatta commented on #648
Sweet!

On Tue, Jan 12, 2016 at 3:49 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-13 08:05] MaxWofford commented on #452
@jonleung It seems like this is stagnant. Closing for now. If you'd like to reopen, go right ahead!

[2016-01-13 08:05] #452 closed

[2016-01-14 04:51] jonleung commented on #535
This is fixed by #641

[2016-01-14 04:52] jonleung commented on #239
This is fixed by #641

[2016-01-14 04:52] #239 closed

[2016-01-14 04:59] zachlatta commented on #535
Err, the twilio-basic library itself still doesn't have documentation. Want
to submit a pull request to add it? The library's in
workshops/lib/twilio-basic and I think the documentation file is called
api_documentation.md.

On Wed, Jan 13, 2016 at 8:51 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-14 04:59] jonleung commented on #522
I think @bobacadodl might be working on some stuff for this right now?

[2016-01-14 05:00] jonleung commented on #535
@zachlatta, should it just be the same thing as in the workshop?

[2016-01-14 05:01] jonleung commented on #523
We're currently focusing on redoing the entire workshops track so as we redo them, we'll make sure the revamped workshops have facilitation guidelines! Closing this issue for now!

[2016-01-14 05:01] #523 closed

[2016-01-14 05:04] zachlatta commented on #535
Since twilio-basic is standalone and may be used in other workshops, I
think it's worth also filling out api_documentation.md.

On Wed, Jan 13, 2016 at 9:00 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-14 05:10] jonleung opened #653 "Make the twilio-basic script work for international hackers!"

[2016-01-14 07:30] paked commented on #653
please

[2016-01-14 07:40] zachlatta commented on #653
Couple notes on this (from my experience setting up twilio-basic in
Estonia):

   - I believe that our custom code for buying phone numbers only works
   with USA phone numbers (it filters for the country code +1)
   - In some countries, like Estonia, there aren't Twilio numbers that have
   both SMS and call support. You can buy two numbers though (one for SMS and
   one for making calls)

On Wed

[2016-01-14 23:46] jonleung commented on #653
@paked, is this something you'd be interested in working on?

[2016-01-15 03:47] MaxWofford commented on #653
@jonleung it seems like it you could most efficiently work on it. The script isn't well documented and can be done quicker by someone with previous experience with it.

[2016-01-15 08:08] zachlatta commented on #653
Agreed with @msw.

On Thu, Jan 14, 2016 at 7:47 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2016-01-20 22:06] #647 closed

[2016-01-20 22:10] jonleung opened #663 "Create a solid version of the curriculum arc"

[2016-01-20 22:26] MaxWofford commented on #663
What does this issue mean?

[2016-01-21 20:34] jonleung commented on #653
Sure, I won't have time to work on this until later though. I'm not currently sure when I might be able to get to it.

[2016-01-21 23:31] zachlatta commented on #663
@jonleung?

On Wed, Jan 20, 2016 at 2:26 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.io

[2016-01-22 17:30] zachlatta commented on #653
:+1: let's actually make sure this gets done though

On Thu, Jan 21, 2016 at 12:34 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-01-22 18:15] zachlatta opened #666 "Create 3rd meeting guide"
In `clubs/README.md` we currently have a guide that covers setting up a club and how to run the first two meetings.

Create a guide for the 3rd meeting. This should be generic enough to be used for future workshop meetings (assuming the club is alternating meetings between running workshops and having free-form hacking with demos).

[2016-01-22 20:27] MaxWofford commented on #653
@zachlatta This is not me https://github.com/hackclub/hackclub/issues/653#issuecomment-171897682

[2016-01-22 20:32] zachlatta commented on #653
Oh crap, sorry @msw! Meant to tag @MaxWofford.

--
Zach Latta
Hack Club | zach@hackclub.io

On Jan 22, 2016, 3:27 PM -0500, Max Wofford<notifications@github.com>, wrote:

[2016-01-26 01:38] MrCodeCollector opened #670 "Hack Club Banner"
Create an MLH inspired banner for club websites. Much like the one that MLH sponsored events get on their website, but have a Hack Club version, for Hack Club associated clubs.

[2016-01-26 01:41] ZucchiniZe commented on #670
I would love to help out with this if I have the time!

[2016-01-26 01:50] zachlatta commented on #670
:+1: I love this idea.

Here's what MLH's looks like for reference:

​

On Mon, Jan 25, 2016 at 8:41 PM, Alex B <notifications@github.com> wrote:

--
Zach Latta
Hack Club | zach@hackclub.io

[2016-01-26 01:51] zachlatta commented on #670
:+1: I love this idea.

Here's what MLH's looks like for reference:

![tmp](https://cloud.githubusercontent.com/assets/992248/12570408/5ca36afe-c3a5-11e5-90fc-3cee2e8e0fe0.png)​

[2016-01-26 01:55] MaxWofford commented on #670
I can see it already...

![hanging_dino](https://cloud.githubusercontent.com/assets/5891442/12570482/f55fc0b2-c3a5-11e5-9b61-9d0f01a76587.png)

[2016-01-26 05:42] zachlatta commented on #670
Mockup:

![tmp](https://cloud.githubusercontent.com/assets/992248/12573326/a4e73d84-c3c5-11e5-81ae-d82d1a1bc584.png)

[2016-01-26 06:14] paked commented on #670
@zachlatta #subtle

[2016-01-26 15:02] MaxWofford commented on #670
#flatdesign

[2016-01-26 15:04] MrCodeCollector commented on #670
#FutureIsNow

[2016-01-27 00:56] #666 closed

[2016-01-27 05:09] zachlatta commented on #666
:heart:

On Tue, Jan 26, 2016 at 7:56 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-01-29 06:18] zachlatta commented on #648
Closed by #677.

[2016-01-29 06:18] #648 closed

[2016-02-01 20:29] zachlatta opened #680 "Create 4th meeting guide template"
Just like #666, but for the 4th meeting.

[2016-02-01 20:30] jonleung opened #681 "Ship Workshop 3"

[2016-02-02 19:56] jonleung commented on #663
This issue means creating an outline of which computer science concepts are used in which workshops. This is done in this pull request: https://github.com/hackclub/hackclub/pull/682

[2016-02-02 20:11] jonleung commented on #649
This is fixed in #665

[2016-02-02 20:18] jonleung commented on #535
@zachlatta, would you say this task is actually about adding "developer facing documentation to twilio library" because the documentation for the library is already in the workshop?

[2016-02-02 20:52] zachlatta commented on #535
Examples for how to use the library are in the workshop. This issue is for
adding actual documentation to twilio-basic.

On Tue, Feb 2, 2016 at 12:18 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-02 20:52] zachlatta commented on #535
/cc @MaxWofford

On Tue, Feb 2, 2016 at 12:51 PM, Zach Latta <zach@zachlatta.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-02 21:29] jonleung commented on #535
adding actual documentation to twilio-basic.

This should be fixed by #684!

[2016-02-08 00:01] notsmyles opened #695 "Multiplayer Support for Agar.io"
I think it would be a cool idea if there was multiplayer support for the Agar.io website! I think if this extension was added, it would boost club unity because it would give members something to work on and play together. Even it was not Agar.io, it would be easy to translate the code into other uses and designs as well.

[2016-02-08 00:19] paked commented on #695
This sounds awesome. I did some research recently into using a BaaS for multiplayer games. Perhaps someone could try and hack together something like this using firebase.

It would be really awesome to teach everyone to use the same backend and everyone builds their own client.

[2016-02-08 07:52] #535 closed

[2016-02-09 19:59] zachlatta commented on #695
Yeah, I love this idea.

Gonna look into some backends as a service we might be able to use for
games as well. I know a bunch exist for Unity.

On Sun, Feb 7, 2016 at 4:19 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-02-10 04:13] zachlatta commented on #695
/cc @skylarbpayne :smile:

On Tue, Feb 9, 2016 at 11:59 AM, Zach Latta <zach@hackclub.com> wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-02-11 17:03] zachlatta commented on #649
Closing because #655 has been merged.

[2016-02-11 17:03] #649 closed

[2016-02-11 17:05] zachlatta commented on #595
So this issue has been vacant for a while. I suggest closing it and trying
our best to get new content to follow the new styleguides (and perhaps
revising the new styleguides to be more permissive).

Thoughts?

On Thu, Dec 17, 2015 at 2:38 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-02-11 17:05] zachlatta commented on #374
Any updates on this?

[2016-02-12 03:55] jonleung commented on #374
I'll probably make this after I have made at least 2 workshops follow the same guidelines. Right now only workshop 1 is high enough quality. I need to make workshop 2 as high quality and then I can write guidelines based off of those two workshops.

[2016-02-12 03:55] jonleung commented on #595
Down.

[2016-02-12 04:06] zachlatta commented on #595
@paked

On Thu, Feb 11, 2016 at 7:55 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-12 04:07] zachlatta commented on #374
:+1:

On Thu, Feb 11, 2016 at 7:55 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-12 04:09] jkwok91 commented on #670
![orpheusbanner](https://cloud.githubusercontent.com/assets/2666337/12998666/4ab8d032-d0fb-11e5-9dd4-0dce820160cc.png)

[2016-02-12 04:10] jkwok91 commented on #670
and this is a less fun one
![boringggggggg](https://cloud.githubusercontent.com/assets/2666337/12998686/73e6707c-d0fb-11e5-80a4-468a5c002adc.png)

with wonky angles that will be fixed in not-the-sketch

[2016-02-12 04:13] jkwok91 commented on #670
![side](https://cloud.githubusercontent.com/assets/2666337/12998714/d974803c-d0fb-11e5-9f8e-565a7908305e.png)

with less orpheus and a crappier flag
in which i also spelled hacklub incorrectly

[2016-02-12 04:18] jkwok91 commented on #670
and one that is independent of where you put it on the page
![hand and flag](https://cloud.githubusercontent.com/assets/2666337/12998782/8dff403c-d0fc-11e5-864c-66063913317e.png)

[2016-02-12 05:40] elishacoad opened #707 "Img Link in Maze Workshop"
The Current img link in the "Maze" workshop opens (on some computers) a blank img. Zach Latta sent me this alternate link which fixes the problem.
mazeImg = loadImage("https://surrogate.hackedu.us/i.imgur.com/7xDfW51.png");

[2016-02-12 05:41] zachlatta commented on #707
Seems to be because the random Imgur proxy that was used in the workshop is
no longer online (cc @jonleung).

Easy fix: use our nifty Imgur proxy instead (as suggested by Elisha).

On Thu, Feb 11, 2016 at 9:40 PM, Elisha Coad <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-02-12 06:55] #680 closed

[2016-02-12 09:52] zachlatta commented on #670
:+1: :+1: :+1: to all of the above

On Thu, Feb 11, 2016 at 8:18 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-12 14:56] MaxWofford commented on #670
SO GOOD

:+1:

[2016-02-13 01:57] jkwok91 commented on #670
ok i've made some vectors; posting here for anyone who missed the slack messages
![generic banner](https://cloud.githubusercontent.com/assets/2666337/13024933/ea24f69e-d1b1-11e5-9a5c-b2fdc27fc7fc.png)
![orpheus hand](https://cloud.githubusercontent.com/assets/2666337/13024934/ea27eae8-d1b1-11e5-9220-78bfa9eca671.png)

[2016-02-13 05:39] MaxWofford commented on #707
@zachlatta @elishacoad What needs to be done to close this? Can we give it the `first-timers-only` tag?

[2016-02-13 05:41] MaxWofford commented on #663
Closing this because #682 has been merged.

[2016-02-13 05:41] #663 closed

[2016-02-13 05:46] MaxWofford commented on #653
@jonleung Is this still going to be fixed? Someone had brought up just putting a notice that the workshop only works in the US.

[2016-02-13 07:37] #670 closed

[2016-02-13 19:29] zachlatta commented on #670
So good. I'm going to open another issue to track writing some code to
easily add this to sides.

Something along the lines of https://github.com/blog/273-github-ribbons.

On Fri, Feb 12, 2016 at 11:37 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-13 19:30] zachlatta commented on #707
The image link in Maze needs to be changed to use surrogate.

[2016-02-13 19:30] zachlatta commented on #707
I'd bias against using `first-timers-only` simply because it's an easy and somewhat urgent change.

[2016-02-13 19:36] zachlatta commented on #653
Let's just close. #703 added the notice that it only works in North America.

On Fri, Feb 12, 2016 at 9:46 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-13 19:36] #653 closed

[2016-02-13 19:42] zachlatta opened #712 "Create HTML snippets for Hack Club banner"
Expand on #670 and create HTML snippets for the Hack Club banner @jkwok91 added in hackclub/meta#492 (just like https://github.com/blog/273-github-ribbons).

[2016-02-13 19:42] zachlatta commented on #670
Just opened #712 :-).

[2016-02-13 21:22] #707 closed

[2016-02-13 21:30] MaxWofford commented on #712
Pasting these here so we have a githubusercontent.com link
![banner_plain_flag](https://cloud.githubusercontent.com/assets/5891442/13030172/f6439684-d26e-11e5-9d0e-fd2ce0dd15aa.png)
![banner_orpheus_hand](https://cloud.githubusercontent.com/assets/5891442/13030173/f64434e0-d26e-11e5-9fe2-120ff1286b49.png)

[2016-02-13 21:31] zachlatta commented on #712
Should we turn these into stickers as well?
--
Zach Latta

[2016-02-13 21:31] MaxWofford commented on #712
Here's that last one again.

![banner_orpheus_hand](https://cloud.githubusercontent.com/assets/5891442/13030188/44e773c8-d26f-11e5-9a03-f69bb8a72ada.png)

[2016-02-13 21:33] MaxWofford commented on #712
@jkwok91 Is that pointy triangle on the top of the forearm part of the picture?

[2016-02-13 21:41] MaxWofford commented on #712
`<a href="https://hackclub.com/#"><img style="position: absolute; top: 0; right: 0; border: 0; width: 230px;" src="https://cloud.githubusercontent.com/assets/5891442/13030188/44e773c8-d26f-11e5-9a03-f69bb8a72ada.png" alt="Hack Club"</a>`

![screenshot from 2016-02-13 16 39 44](https://cloud.githubusercontent.com/assets/5891442/13030219/80cd7760-d270-11e5-993f-f3e025eb7406.png)

***I did not reach

[2016-02-13 21:45] MaxWofford commented on #712
`<a href="https://hackclub.com/#"><img style="position: absolute; top: 0; left: 0; border: 0; width: 230px;" src="https://cloud.githubusercontent.com/assets/5891442/13030172/f6439684-d26e-11e5-9d0e-fd2ce0dd15aa.png" alt="Hack Club"</a>`

![screenshot from 2016-02-13 16 44 03](https://cloud.githubusercontent.com/assets/5891442/13030226/0170d222-d271-11e5-92b2-65b503a46775.png)

***I did not reach o

[2016-02-13 21:45] zachlatta commented on #712
This is the best thing I've seen all day.

/cc @mojombo
--
Zach Latta

[2016-02-13 21:55] MaxWofford commented on #712
Front page of hn

![screenshot from 2016-02-13 16 53 09](https://cloud.githubusercontent.com/assets/5891442/13030265/8c05a97a-d272-11e5-87c5-ae759c3fc9d5.png)

[2016-02-13 22:08] paked commented on #712
![selection_011](https://cloud.githubusercontent.com/assets/8407370/13030311/6aa681b8-d2fa-11e5-9b58-8ee19b428815.png)

:') I have slight concerns about what it would look like on mobile though...

[2016-02-13 22:12] zachlatta opened #713 "#studycorner is missing from Slack Field Guide"
Over at https://github.com/hackclub/hackclub/blob/master/SLACK.md#field-guide we have a quick overview of the default channels on our Slack.

`#studycorner` is a default channel, but doesn't have an entry in the Field Guide.

[2016-02-13 22:17] zachlatta commented on #712
Ah, that's a good point. Can someone post a screenshot of it on mobile?

On Sat, Feb 13, 2016 at 2:08 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-13 22:18] zachlatta commented on #712
Could we make it so it's on the side of the screen on mobile?

On Sat, Feb 13, 2016 at 2:17 PM, Zach Latta <zach@zachlatta.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-13 23:40] MaxWofford commented on #712
@zachlatta :+1: To put it on its side, we'll probably have to modify the image.

/cc @jkwok91

[2016-02-13 23:57] jkwok91 commented on #712
@MaxWofford @zachlatta HORROR OF HORRORS
WHAT'S THAT DAMN POINTY THING
I DID NOT PUT THAT THERE
IT'S NOT IN MY SVG

[2016-02-13 23:58] jkwok91 commented on #712
and maybe i'll modify it so that orpheus doesn't have a dismembered arm (remove the edge of the arm)
but uhhhh
shouldnt css take care of that?

[2016-02-14 00:05] paked commented on #712
@zachlatta Simulated mobile (featuring Google Chrome Developer Tools):
![selection_013](https://cloud.githubusercontent.com/assets/8407370/13030784/d1cdf28a-d30a-11e5-8dd1-58c8ef0a56c5.png)

[2016-02-14 00:12] jkwok91 commented on #712
@paked @zachlatta @MaxWofford is the edge of the arm not bothering y'all?? can't you {position:absolute; top: -5px;} or something

[2016-02-14 00:19] zachlatta commented on #712
Can confirm, edge of arm is bothering me
--
Zach Latta

[2016-02-14 00:24] jkwok91 commented on #712
btw y'all: rotated version of banner:
![screen shot 2016-02-13 at 4 23 52 pm](https://cloud.githubusercontent.com/assets/2666337/13030876/36434fa0-d26e-11e5-9840-ad2225363d1a.png)

still gonna need dat CSS {position:absolute; left: -5px;} or wahtev

[2016-02-14 01:13] MaxWofford commented on #712
@jkwok91 Do you have that chrome extension that changes `cloud` to `butt`?

![screenshot from 2016-02-13 20 12 48](https://cloud.githubusercontent.com/assets/5891442/13031122/2f4e6f52-d28e-11e5-982c-59d3a33c2b70.png)

![screenshot from 2016-02-13 20 12 57](https://cloud.githubusercontent.com/assets/5891442/13031123/33b88b7c-d28e-11e5-9b80-57dfd1abb0c6.png)

[2016-02-14 01:13] MaxWofford commented on #712
Love the rotated arm though!

![](https://cloud.githubusercontent.com/assets/2666337/13030876/36434fa0-d26e-11e5-9840-ad2225363d1a.png)

[2016-02-14 01:16] jkwok91 commented on #712
blame @zachlatta for cloud->butt extension

[2016-02-14 01:18] MaxWofford commented on #712
@jkwok91 Could we get png exported ones with no whitespace on the edge they should be touching? `left: -3px;` feels kinda hacky to me.

[2016-02-14 01:39] jkwok91 commented on #712
done https://github.com/hackclub/meta/pull/494

[2016-02-15 18:25] zachlatta commented on #712
Assigning @jkwok91 to handle getting these HTML snippets in. Let's just add them to a section at the bottom of `README.md` for now.

Quick requirements for the final version of these:

- Must work well on mobile (this may just mean hiding them on mobile)
- Shouldn't have the extra line on the side for Orpheus's arm (use the `-5px` thing or whatever)

[2016-02-15 18:26] zachlatta commented on #681
Closing due to @jonleung's departure.

[2016-02-15 18:26] #681 closed

[2016-02-15 18:39] jkwok91 commented on #713
which screenshot should i use
![screen shot 2016-02-15 at 10 33 29 am](https://cloud.githubusercontent.com/assets/2666337/13057352/61ecd348-d3d0-11e5-86f1-d98776c6b2d5.png)
![screen shot 2016-02-15 at 10 38 40 am](https://cloud.githubusercontent.com/assets/2666337/13057353/61ef93d0-d3d0-11e5-8a24-fa58b66cb11c.png)

[2016-02-15 18:42] zachlatta commented on #713
Let's go with #2.

On Mon, Feb 15, 2016 at 10:39 AM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-15 19:35] jkwok91 commented on #713
Excellent choice, sire. https://github.com/hackclub/hackclub/pull/717

[2016-02-15 19:42] jkwok91 commented on #712
![banner1_final](https://cloud.githubusercontent.com/assets/2666337/13058625/3cf7f8ac-d3d9-11e5-9942-437039bf87b5.png)
![banner2_final](https://cloud.githubusercontent.com/assets/2666337/13058605/1a9f4f12-d3d9-11e5-971f-171af9fe4eef.png)
![banner2_rotated](https://cloud.githubusercontent.com/assets/2666337/13058606/1aa23aec-d3d9-11e5-911f-aafcc9781794.png)

getting the githubusercontent link (as m

[2016-02-15 21:36] zachlatta commented on #712
What if we used rawgit instead of githubusercontent? Seems odd to use
githubusercontent when we could link to images that are actually in our
repos through a CDN.

On Mon, Feb 15, 2016 at 11:42 AM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-15 21:42] zachlatta commented on #713
Closed by #717.

[2016-02-15 21:42] #713 closed

[2016-02-15 22:04] paked commented on #712
I agree with @zachlatta here. Proper CDN > hacky CDN.

[2016-02-15 22:44] jkwok91 commented on #712
real CDN has been used

https://github.com/hackclub/hackclub/pull/719

[2016-02-15 22:50] jkwok91 commented on #712
live on mobile:
![screen shot 2016-02-15 at 2 49 33 pm](https://cloud.githubusercontent.com/assets/2666337/13062415/605baa22-d3f3-11e5-9c32-2f642cae82c6.png)

[2016-02-16 02:58] zachlatta commented on #712
:tada: :tada: :tada:

On Mon, Feb 15, 2016 at 2:50 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-16 05:10] #712 closed

[2016-02-16 17:54] zachlatta opened #722 "Make it clearer how to use the template slideshow presentations"
We have a few template slideshow presentations for meetings in https://drive.google.com/folderview?id=0B34YNYNQ6z3YWWxHRGdnUVVpbzA&usp=sharing&tid=0B34YNYNQ6z3YbE1JVmZfdW9Qc3c that are linked from the club guide (https://github.com/hackclub/hackclub/blob/master/clubs/README.md).

They're meant to be used as follows:

1. Club leader makes a copy of the appropriate slideshow for their meeting (`File

[2016-02-16 21:14] MrCodeCollector commented on #712
I'm digging all of this.

[2016-02-17 02:59] zachlatta opened #725 "Drastically simplify workshops/CONTRIBUTING.md"
Can you drastically simplify `workshops/CONTRIBUTING.md` to reflect your experience contributing to workshops so far? And can you also add a "checklist" to make sure your workshop is ready for merge. Example (you'd want to include more elaboration in each step though):

[code]

[2016-02-17 19:27] MattHesby commented on #374
Definitely would like to see this happen.  I think a clear guideline and example or two for what constitutes a grade A workshop would really help people feel confident and successful in writing and submitting their own workshops.

[2016-02-18 05:25] jkwok91 commented on #725
It is already pretty simple! Also, are there any simple instructions for running markcop?

[2016-02-18 05:41] jkwok91 commented on #722
I think I'll make a new section in clubs/README.md for this. It gets repeated often enough to warrant it.

[2016-02-18 06:30] zachlatta commented on #722
:+1:

On Wed, Feb 17, 2016 at 9:41 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-18 06:33] zachlatta commented on #725
If you have Docker installed, you can run the following command:

    $ docker run -it --rm -v $(pwd):/app hackclub/markcop

We don't have great instructions for running Markcop. The easiest thing to
do is probably to create a pull request and let CircleCI run the tests.
Maybe include documentation on doing that?

On Wed, Feb 17, 2016 at 9:25 PM, JESSICA <notifications@github.com> wrote:

--
Zach

[2016-02-18 06:38] jkwok91 commented on #725
Ok, I am adding a final section for what to do when the workshop is done.
"When workshop is done, make pull request. Make sure you have done x, y, z.
Then when you have made your PR, wait for circleci tests to report back,
etc."

2016-02-17 22:33 GMT-08:00 Zach Latta <notifications@github.com>:

[2016-02-18 06:42] zachlatta commented on #725
Sounds good. Make sure that someone who isn't very familiar with
contributing to open source can understand the instructions.

On Wed, Feb 17, 2016 at 10:38 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-19 07:55] ad510 commented on #374
What the heck. Now that I submitted my first workshop, maybe I'm qualified to write a first draft of this. :smile: Feel free to copy-paste this to somewhere better, and improve it.

## Why workshops?

Before getting into how to make a good workshop, let's start with a more basic question: why run workshops in the first place?

In summer 2015, we ran a series of beginner coding camps, the theory be

[2016-02-19 08:02] jkwok91 commented on #374
:clap: :clap: @ad510

[2016-02-19 08:05] ad510 commented on #374
Yeah, and I have an assignment due in 24 hours that I barely started and *really* should be working on, and I procrastinate by doing this instead. I might even have to submit it late at this point. Sigh.

[2016-02-19 23:22] zachlatta commented on #374
Woah, this is awesome. Great work @ad510 and I think it'll be an awesome
start for the document itself.

On Fri, Feb 19, 2016 at 12:05 AM, Andrew Downing <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-19 23:25] Bogidon commented on #374
WOOOOO. Good job @ad510

I think this is a good way to shipping something out fast. When @paked, @jonleung and I were trying to make the guide we we **super stuck** trying to formalize *every little thing*. :+1:

[2016-02-20 00:03] ad510 commented on #374
I took some time to revise it after writing the first draft, so it might actually be good enough now to use without additional changes. I would submit a PR except I'm super busy with homework right now, and I feel any PR should reorganize the 3 guidelines/contributing files we currently have.

[2016-02-24 05:11] MaxWofford opened #733 "Remove GIFs of HTML in personal workshop"
It seems like most GIFs of HTML code are redundant in the personal workshop because we already have our HTML in `backticks`. Additionally they make changing the workshop a much longer process.

@remixz: because this is a curriculum decision, is it cool if I assign you?

[2016-02-24 05:13] MaxWofford opened #734 "Drizzy Drake -> Prophet Orpheus"
Just read https://gist.github.com/remixz/4651245

Let's replace `Drizzy Drake` in the personal website workshop with [`Prophet Orpheus`](https://github.com/hackclub/dinosaurs/blob/master/README.md)

[2016-02-24 05:23] zachlatta commented on #734
Just to point out one of the impediments to easily doing this: we'll have
to re-record the GIFs in the workshop.

On Tue, Feb 23, 2016 at 9:13 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-02-24 05:25] zachlatta commented on #734
Though that could warrant an entirely separate discussion. Do the GIFs even
have that much of a benefit? What if we removed them entirely?

On Tue, Feb 23, 2016 at 9:23 PM, Zach Latta <zach@hackclub.com> wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-02-24 05:26] zachlatta commented on #734
Ah, I just saw #733.

On Tue, Feb 23, 2016 at 9:25 PM, Zach Latta <zach@hackclub.com> wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-02-24 17:30] remixz commented on #733
:+1: The GIFs do look flashy, but ultimately don't provide much utility.

[2016-02-24 17:33] zachlatta commented on #733
The one thing I would suggest: testing the workshop with and without the
GIFs with a total beginner. I think it's often really easy to forget about
some of the stumbling blocks that beginners run into and perhaps the GIFs
are a helpful visual aid when people are getting started.

On Wed, Feb 24, 2016 at 9:30 AM, Zach Bruggeman <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackc

[2016-02-24 17:37] MaxWofford commented on #733
@remixz @zachlatta Want to bring this to slack and see if any of our club leaders can test it for us?

[2016-02-24 17:50] zachlatta commented on #733
I think we should probably find someone who's never coded before to do the
workshop. I bet if any of us make a Facebook post, we'd get a ton of people
interested.

On Wed, Feb 24, 2016 at 9:37 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-24 18:11] MaxWofford commented on #733
@zachlatta I personally think the gifs aren't worth the effort. Updating the gifs every time we make a change to sections of code is a big burden.

[2016-02-24 18:20] MaxWofford commented on #733
^Specifically the gifs of typing in code right next to a code block in markdown. Regular gifs are fine by me.

[2016-02-24 18:24] MaxWofford commented on #733
![](http://i.imgur.com/F8quAKm.gif)

[2016-02-24 21:36] zachlatta commented on #733
I still think it's worth testing, especially this is a change that'll
affect current and all future workshops. Who knows, maybe having a visual
aid of us typing stuff in is helpful to guide new hackers.

On Wed, Feb 24, 2016 at 10:24 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-25 04:52] remixz opened #739 "Workshop Revamp"
Slide deck: https://speakerdeck.com/remixz/hack-club-workshop-proposals (Original PDF: https://slack-files.com/T0266FRGM-F0NVCK73K-30be3f5825)

Opening this issue so we can have a long-running conversation on the ideas of revamping the workshops.

Slack transcript as of this issue:

just finished giving it a read

[2016-02-25 04:53] elishacoad opened #740 "Twilio Workshop Headers"
I noticed the headers for the Twilio workshop differ. One says Part A while the other says Part II. My suggestion would be to change the first because that is how the other workshops are styled.

[2016-02-25 04:55] elishacoad opened #741 "Grammatical error in the Twilio Workshop"
Twilio workshop, right under "Running the JavaScript code", it says, "Our the code in our..."

[2016-02-25 05:04] zachlatta commented on #739
And for those that aren't in the Slack, here's a link to the same PDF uploaded to GitHub:
[Hack Club Workshop Proposals.pdf](https://github.com/hackclub/hackclub/files/145989/Hack.Club.Workshop.Proposals.pdf)

[2016-02-25 05:25] MattHesby commented on #739
The only thing that I'm not excited about is the "social change" aspect.  I think social awareness and change is a good thing.  And I agree that focusing too much on Games for the curriculum is bad.  But I think focusing too much on Social Awareness as the goal, as you said, ruffles some feathers.  There's a better way to allow hack clubs to decide what Social Awareness means for them and make it

[2016-02-25 05:49] elishacoad opened #742 "Twilio Workshop Example Links"
Example project links currently lead to jsbin which may need to be change to c9.io

[2016-02-25 07:11] zachlatta commented on #374
Sweet! This is awesome @ad510. I talked with @elishacoad about this and he
said he'd be interested in taking point on submitting a pull request for
this.

/cc @remixz

On Fri, Feb 19, 2016 at 4:03 PM, Andrew Downing <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-25 08:46] ad510 commented on #374
I'm still very busy with schoolwork, unfortunately. I might have a little time this weekend.

[2016-02-25 19:04] remixz opened #744 "Repository is large"
[code]

Just want to track this for myself, and see if we can bring down this size in the future.

[2016-02-25 19:16] #740 closed

[2016-02-25 19:16] #741 closed

[2016-02-25 19:18] zachlatta commented on #744
:+1:

/cc @thethirdone @paked

On Thu, Feb 25, 2016 at 11:04 AM, Zach Bruggeman <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-02-25 19:19] remixz commented on #742
I'm going to keep the examples in JS Bin, as C9 doesn't seem to have an easy way to link to source code snippets. C9 is more meant as a full development environment, which isn't really optimized for sharing, versus JS Bin, which is built for quick code sharing.

[2016-02-25 19:19] #742 closed

[2016-02-25 20:44] remixz commented on #739
I'll lay out a few more reasons behind the social change aspect, and why I'm drawn to it:

1. There's already a lot of curriculum out there based around making games, amongst other things. I have nothing against games, as I think they're an amazing art form, and I think we should have them in our curriculum. However, aside from what we already have, there's a plethora of game tutorials that range

[2016-02-26 02:16] TheThirdOne commented on #744
For reference #241, was about this before.

[2016-02-26 02:57] TheThirdOne commented on #744
Ok, master is 135 mb zipped (190 mb unzipped) without any history.  Almost all of this is due to the workshops folder. @zachlatta, @remixz, is that a reasonable amout?

The workshops (sorted by size): portfolio, dodge, personal_website, thugify, soccer, and swiper are about 80% of the file size issues. Presumably due to gifs.

Whatever we do the history will still have the extra size unless we do

[2016-02-26 04:49] zachlatta commented on #744
How big of an issue is this realistically? I think there are a number of
advantages to having the images directly in the repo: chiefly relative link
checking from Markcop and the ability to do things entirely offline.

On Thu, Feb 25, 2016 at 6:57 PM, Benjamin Landers <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-26 04:58] TheThirdOne commented on #744
At least for me, I have to go make myself a cup of tea while I wait for the repo to clone. I think it is a significant barrier to entry for people that want to contribute. If we could cut the total clone size down to ~100 mb I think it would be fine

However, we would have to keep files sizes from creeping up. With #241, after the issue was closed, thugify, soccer and swiper are all major offender

[2016-02-26 04:59] zachlatta commented on #744
What if we started by adding a command to shallow clone in a "Getting
Started" section in the README? Might make it easier to get people off on
the right foot.

On Thu, Feb 25, 2016 at 8:58 PM, Benjamin Landers <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-26 05:10] TheThirdOne commented on #744
That would at best get clone size down to 135 mb (probably more like 150 mb). I am also not sure about pushing shallow clones on beginners. They very easily could run into issues they won't understand how to fix.

The sizes of workshops really needs to be addressed. Shallow clones will only mask the problem for the short term. As the repo gets larger, the problem will continue, but become harder t

[2016-02-26 05:18] TheThirdOne commented on #733
Something that may be interesting is making an automated text-change => gif generator. It may help with the file size issues in #241 and #744 if we generate simple gifs.

[2016-02-26 08:26] zachlatta commented on #744
Good point that shallow clones may cause issues beginners aren't sure how
to fix.

The problem will get worse over time, but I also think that
shrinking/moving the image assets (especially moving them) will be more
trouble than it's worth. Realistically, I don't think that waiting a few
extra minutes for the repo to clone will be a complete deal breaker for new
contributors. And the current benefi

[2016-02-26 14:04] MaxWofford commented on #733
@TheThirdOne Totes agree. @hackclub/staff Anyone want to hack on a gif build system this weekend?

[2016-02-26 14:07] MaxWofford commented on #733
As for markcop checking file size, https://github.com/hackclub/markcop/issues/79

[2016-02-26 16:13] MaxWofford commented on #733
Turns out there's already a thing for converting [asciinema to gif](https://github.com/wong2/asciinema2gif):

[![](http://i.imgur.com/Cfh1gOm.gif)](https://asciinema.org/api/asciicasts/8qhs49xho1jyqpx4lit72w1aq)

_click the image_

[2016-02-26 16:29] zachlatta commented on #733
I think GIFs are most useful for showing people how to do visual things on the screen, like creating new folders for the first time in Cloud9.

Doesn't this fall into the same trap that GIFs of code being typed do? Could just as daily be a code block in Markdown.

[2016-02-26 16:30] zachlatta commented on #733
*just as easily

[2016-02-26 17:00] MaxWofford commented on #733
@zachlatta To my understanding, this discussion is about the GIFs of code being typed in:

[2016-02-26 17:02] zachlatta commented on #733
Sure, but can't the same argument be made for terminal commands? That we could just put them and their results into backticks?

[2016-02-26 17:20] MaxWofford commented on #733
@zachlatta I think we're on the same foot there, terminal commands should be replaced.

[2016-02-26 18:01] MaxWofford commented on #733
s/\./ with `backticks`/

[2016-02-26 18:11] MaxWofford commented on #733
hmmm. GitHub thought that was markdown.
I meant

[2016-02-27 00:33] remixz opened #746 "Investigate replacing Twilio workshop"
Although the Twilio workshop is fun, there are issues with its setup.

* Twilio requires a credit card, even when applying credit. Unfortunately, when we provide a credit card to use, it looks like when it's used too much, it starts to be denied.
* Our Twilio library assumes the club is in the US, and will provision a US number. This may incur long distance texting charges for people outside of th

[2016-02-27 00:34] paked commented on #733
I think one thing gifs do well with that doesn't seem to have been brought up yet is providing context about where you are writing your code.

For example, the "Insert `<a href="...">ble</a>` to the head section` means *nothing* to a beginner.

- What is a head section?
- How do I insert? Is that a right click?

A gif provides context in the sense that you can see *exactly* where you need to write

[2016-02-27 00:37] paked commented on #746
Yes. I remember a specific case when @MaxWofford and I went to a High School to pitch The Hack Series (an event we ran in December) to a group of students. We had a really neat Twilio demo set up, but none of the students were able to partake because they were not allowed to use their phones in school. I'm not quite sure what this would be like for after school clubs though.

[2016-02-28 17:41] MaxWofford commented on #733
@hackclub/staff
Anyone down for a call about this and https://github.com/hackclub/hackclub/issues/744? I'd really like to make changes to the personal_website workshop, but can't until this is resolved.

[2016-02-28 17:41] MaxWofford commented on #733
/cc @TheThirdOne ^

[2016-02-28 19:02] zachlatta commented on #733
Yeah, doing a call sounds good. Can everyone interested indicate their
availability in http://doodle.com/poll/bu7hv3u57hvyy8sr?

On Sun, Feb 28, 2016 at 9:41 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-02-29 01:23] zachlatta commented on #733
Awesome, so we're set for Thursday at 2PM Pacific in
https://partytime.hackclub.com :-). I doubt this'll work for you @paked,
but it seems to be the only time that works for the others. Would it be
okay if we just filled you in after the call? If you'd prefer to be in it,
we can find another time that'd work.

Who wants to take point on this call? Taking point would mean setting an
agenda and faci

[2016-02-29 01:28] remixz commented on #733
I can lead the call (unless someone else really wants to). This call might actually be a good one to discuss curriculum in general, as I can give some more insight into ideas I have for the curriculum in the long term (GH-739). We can also discuss specifics such as this issue.

I propose we use a Google Hangouts on Air, so that a) anyone who isn't available at that time can watch the VOD later, an

[2016-02-29 01:52] MaxWofford commented on #733
@remixz I'm fine with chatting about curriculum in general, as long as we get #733 resolved.

[2016-02-29 02:31] paked commented on #733
Gah! I wish I could make this call.

Please, please, please Hangouts on Air.

[2016-02-29 20:26] remixz commented on #733
Here's the preliminary agenda: https://docs.google.com/document/d/1oFq6VumW3gG-9j-z4xm3d1rNteSrNqrLdLsvPLGhhKY/edit?usp=sharing

As I mentioned in the document, if you'd like to be a participant in the call, let me know here or on Slack (I'm `@bruggie`). This is an open call! :smile:

[2016-03-01 04:37] TheThirdOne commented on #733
@remixz, I'd like to be a participant.

[2016-03-02 19:41] #722 closed

[2016-03-02 21:04] ad510 commented on #374
Closed by #747

[2016-03-02 21:04] #374 closed

[2016-03-02 22:13] zachlatta opened #749 "Hack Club photos"
Anyone have thoughts on putting more photos of what Hack Clubs look like online?

Here are a couple photos I've taken at a variety of things for Hack Club: https://goo.gl/photos/AKoSbyD9N2WDCMYs7

[2016-03-02 22:15] zachlatta commented on #746
Yeah, I'm totally down for this too. It's such a shame that there's no easier way to get people set up with Twilio – it's easily our most engaging workshop.

Any thoughts for an engaging second workshop that'd introduce JavaScript well?

[2016-03-02 22:28] jkwok91 opened #750 "Posters"
_From @jkwok91 on March 2, 2016 22:25_

Opening this issue to keep track of poster templates I'll be creating for anyone who needs some inspiration for their clubs. These are primarily for (hopefully) inspiration, and are all open to club use and remixing, but keep in mind that they all require customization.

Requirements for posters:
- an attention-catching hook (usually referring to what the me

[2016-03-02 22:28] jkwok91 commented on #750
Sorry for the accidental assign @JevinSidhu!

[2016-03-02 22:47] MaxWofford commented on #749
@zachlatta What if the background image changed on hackclub.com?
![screenshot from 2016-03-02 17 47 05](https://cloud.githubusercontent.com/assets/5891442/13478381/cd99e5ce-e09e-11e5-83c7-0a8737e93896.png)

[2016-03-02 23:02] zachlatta commented on #749
Not a huge fan of having it change in a carousel or anytime the page loads.
I think having a consistent header is more powerful and presents a more
uniform experience.

On Wed, Mar 2, 2016 at 2:47 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-03-02 23:15] MaxWofford commented on #749
@zrl: Maybe we can replace the rainbow on our website with background images
![screenshot from 2016-03-02 18 15 02](https://cloud.githubusercontent.com/assets/5891442/13479112/c332b45e-e0a2-11e5-9bbd-a971e1ab96bd.png)

[2016-03-02 23:16] zachlatta commented on #749
Oooo, I love that idea.

@remixz: you've done more web development than me, what are your thoughts?

On Wed, Mar 2, 2016 at 3:15 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-03-02 23:27] remixz commented on #749
As long as make sure the text above is still readable, I think it'd look good. We should probably make them all a fixed height, so we have a consistent area of picture shown in the sections.

[2016-03-03 00:32] jkwok91 commented on #750
![plain__learn_to_create_personal_site](https://cloud.githubusercontent.com/assets/2666337/13480609/bf2f8fa8-e093-11e5-8fc0-f8e62991709c.png)

Notes on this:
- states the three main things (purpose of meeting, name of club, date/time/place of meeting)
- also mentions that it's the first meeting. I wanted to include this because in my personal experience it has been easier to attend a first meeting

[2016-03-03 00:52] MaxWofford commented on #750
@jkwok91 Might be cool to get the ajar.io poster officially documented.

[2016-03-03 01:17] jkwok91 commented on #750
@MaxWofford yep, talked to @zachlatta about having a repo for all clubs to upload their posters to inspire other clubs / collaborate.

[2016-03-03 01:37] zachlatta commented on #750
What if we just put them in the `clubs` directory in this repo? Could have
a `posters` folder.

I'm thinking that directory would be a good place for everything clubs,
except curriculum.

On Wed, Mar 2, 2016 at 5:17 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-03-03 17:00] jkwok91 commented on #750
![screen shot 2016-03-02 at 11 38 37 pm](https://cloud.githubusercontent.com/assets/2666337/13501902/5512fa94-e11d-11e5-8a32-01fb224a4f84.png)
Notes:
- a somewhat more humorous take, with the poster centered around a graphic

![screen shot 2016-03-03 at 8 54 09 am](https://cloud.githubusercontent.com/assets/2666337/13501946/8b745aba-e11d-11e5-9832-1a17947dd53b.png)
Notes:
- took some inspiration f

[2016-03-03 23:12] remixz opened #751 "Create official documentation of tiered workshop system"
Discussed in call: https://www.youtube.com/watch?v=IO-vVJlB9a0

Overview of system:

* **Hack Club: Sandbox**
  * All workshops (including staff-made) start in the sandbox
  * Will have lots of workshop ideas and unfinished content
  * Encourages community to experiment with ideas and propose what they're passionate about
  * Ideas can be picked up by other people across clubs to work on

* **Hack

[2016-03-03 23:19] remixz opened #752 "Document our curricular direction"
Discussed in call: https://www.youtube.com/watch?v=IO-vVJlB9a0

Our general direction for new content going forward is to create content that engages multiple types of personalities. We want to do this by showing how computer science can be used in ways that aren't typically exposed by tutorials, especially for newcomers. Some examples might be through music, English, cryptography (CTF!), etc.

We

[2016-03-03 23:19] remixz commented on #739
Closing in favour of GH-751 and GH-752.

[2016-03-03 23:19] #739 closed

[2016-03-03 23:23] remixz commented on #733
After our discussion in the call (https://www.youtube.com/watch?v=IO-vVJlB9a0), here are our thoughts going forward:

* For future workshops, we'll be ensuring that the GIFs we add are providing value, and aren't just things like typing out a line of code. We won't be removing GIFs from current workshops, though.
* In regards to size concerns with GIFs, we're going to put that discussion on hold f

[2016-03-03 23:23] #733 closed

[2016-03-03 23:25] remixz commented on #744
After our discussion in the call (https://www.youtube.com/watch?v=IO-vVJlB9a0), here are our thoughts going forward:

* We do want to keep GIFs in the repository, since it's easier if the workshop needs to be held offline.
* We're going to put this discussion on hold for now, as our current focus is adding to our content, and encouraging community involvement. We don't want to add too many restric

[2016-03-03 23:25] #744 closed

[2016-03-03 23:28] remixz opened #753 "Add instructions on how to shallow clone this repository"
This was mentioned in our call today. (https://www.youtube.com/watch?v=IO-vVJlB9a0) Because the repository is a bit large, we want to create instructions on how to do a shallow clone of this repository, so they don't have the history of old files.

I'm going to leave this open to anyone, as it'd be an easy contribution, and a good first contribution for someone in the community who wants to start

[2016-03-03 23:31] remixz commented on #746
As discussed on the call today (https://www.youtube.com/watch?v=IO-vVJlB9a0), I'm going to work on a workshop that uses https://wit.ai, a natural language processing API to replace Twilio. I plan to have a first draft by Monday, which I'll post here.

[2016-03-04 00:01] zachlatta commented on #746
:ok_hand:

On Thu, Mar 3, 2016 at 3:31 PM, Zach Bruggeman <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-03-04 00:20] MaxWofford commented on #753
@remixz As you mentioned, this can be done as a first contribution. I just added the first-timers only tag.

[2016-03-04 00:46] kazekagegaara commented on #753
@remixz @MaxWofford are you looking for something like this - `git clone --depth 1 https://github.com/hackclub/hackclub.git` ? Where should this be added?

[2016-03-04 00:57] MaxWofford commented on #753
@kazekagegaara Yep! We want to add it somewhere new contributors will see it. Probably in `CONTRIBUTING.md` and `README.md`.

[2016-03-04 01:01] remixz commented on #746
Thoughts (will be editing this comment a lot as I have things I want to remember/document):

* The wit.ai interface is kind of confusing to add new entites and intents. However, they offer a "fork" option on projects, so I think for the workshop, we'll offer a project with a bunch of intents set up that people can fork, and then if they want to go deeper, they can add intents/entities to that proj

[2016-03-04 03:13] TheThirdOne commented on #744
For watching repo size in the future:
[code]
gets the size (with history of the repo).

The size of master can be obtained by downloading a zip.

[2016-03-04 04:54] zachlatta commented on #746
Just in case the API is significantly easier to use, it's pretty trivial to
set up Surrogate (https://github.com/hackclub/surrogate) to add CORS
headers. There are privacy worries though, since we'd be proxying their
authentication info.

On Thu, Mar 3, 2016 at 5:01 PM, Zach Bruggeman <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-03-04 05:00] zachlatta commented on #751
:+1:

On Thu, Mar 3, 2016 at 3:12 PM, Zach Bruggeman <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-03-04 05:09] MaxWofford commented on #752
@remixz Where will this and #751 be documented?

[2016-03-04 07:55] remixz commented on #753
Fixed with GH-754.

[2016-03-04 07:55] #753 closed

[2016-03-04 15:15] MaxWofford commented on #749
We could close this and https://github.com/hackclub/website/issues/206 with something like:

![screenshot from 2016-03-04 10 14 03](https://cloud.githubusercontent.com/assets/5891442/13530959/ef7f876c-e1f1-11e5-9ff6-553e96f7c54a.png)

[2016-03-04 16:33] zachlatta commented on #749
Hmm, it feels a little out of place there. What are your thoughts @remixz?

On Fri, Mar 4, 2016 at 7:15 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-03-05 02:03] ad510 commented on #746
I tried to make the Bigfoot workshop beginner friendly, and it only needs the Personal Website workshop as a prerequisite. Any reason that can't be the second workshop?

[2016-03-05 02:11] ad510 commented on #746
One problem with Bigfoot is it currently isn't obvious how club members might improve on it when the workshop is done. I think that aspect can be improved by making clicking the image link to another page instead of opening an alert. This would let people turn it into a point and click adventure game (without JS!)

[2016-03-08 20:19] zachlatta commented on #749
Actually, on second thought, I think that layout may make a ton of sense for showing a testimonial. Let's add it to the site.

I'll post a few testimonials we can use in a bit.

[2016-03-08 20:21] zachlatta commented on #725
Closed by #728.

[2016-03-08 20:21] #725 closed

[2016-03-08 20:42] zachlatta commented on #749
Here's two:

\- Anonymous

\- Raphael Kats

[2016-03-28 09:24] zachlatta commented on #752
Closed by hackclub/meta#517 (see https://github.com/hackclub/meta#curriculum-plan). Does this address your comment @MaxWofford?

[2016-03-28 09:24] #752 closed

[2016-03-28 10:14] zachlatta commented on #734
Closed by #756.

[2016-03-28 10:14] #734 closed

[2016-03-28 10:18] zachlatta commented on #595
Going to go ahead with my previous suggestion. Closing for now.

[2016-03-28 10:18] #595 closed

[2016-03-28 15:24] MaxWofford commented on #752
Yep!

[2016-03-31 16:29] jkwok91 commented on #751
Now my question is, where do I stick this?

[2016-03-31 17:02] MaxWofford commented on #751
@jkwok91 If you want to record it as notes, hackclub/meta. If you want to record it as official documentation, somewhere in hackclub/hackclub.

[2016-03-31 18:38] zachlatta commented on #751
I think this probably deserves a spot in the main CONTRIBUTING.md or in
workshops/CONTRIBUTING.md. Maybe even in workshops/README.md.

On Thu, Mar 31, 2016 at 10:02 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-02 20:44] zachlatta opened #768 "Remove part 2 of Soccer"
I don't think there's ever going to be a part 2 of Soccer built because we're starting to flesh out our new curriculum plan now.

https://github.com/hackclub/hackclub/tree/master/workshops/soccer#part-2-adding-more-functionality

/cc @JSneak @jkwok91

[2016-04-02 20:49] jkwok91 commented on #768
What kind of additional functionality was planned?

[2016-04-02 20:58] zachlatta commented on #768
Honestly, no idea. I think Jonathan had some ideas, but I got the
impression that there wasn't anything very concrete.

On Sat, Apr 2, 2016 at 1:49 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-02 22:40] #750 closed

[2016-04-03 01:34] #749 closed

[2016-04-03 08:09] #751 closed

[2016-04-04 19:59] #768 closed

[2016-04-04 21:00] zachlatta opened #778 "Implement New Curriculum Plan"
This issue is to track the implementation of our new [curriculum plan](https://github.com/hackclub/meta#curriculum-plan). We'll be regularly updating this issue with progress.

(Note: `#` represents the meeting number)

|   # | Topic                           | Status                                                                    | Link                     |
| --- | ---------------------------

[2016-04-04 22:40] zachlatta opened #779 "Create first "Coding is..." workshop"
Create a workshop that meets the criteria outlined in https://github.com/hackclub/meta#meetings-2-3---coding-is. This can either be a completely new workshop or we can modify existing content. This is for the second meeting in #778.

This'll be the club member's first introduction to "real coding". Our goal is to show them that coding is about a lot more than building apps, websites, and games. I

[2016-04-07 04:05] MaxWofford commented on #695
Is it cool if I close this because the agar.io workshop isn't in the new curriculum?

[2016-04-07 14:34] zachlatta commented on #695
Let's leave it open until we get #778 closed. Can you leave a note over in
#778 saying that we should make sure to close this when that's closed?

On Wed, Apr 6, 2016 at 9:05 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-07 16:06] MaxWofford commented on #695
@zachlatta sounds good!

[2016-04-07 16:06] MaxWofford commented on #778
Let's close #695 once this is closed

[2016-04-11 03:25] #522 closed

[2016-04-12 00:30] zachlatta commented on #778
:ok_hand:

On Thu, Apr 7, 2016 at 9:06 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-12 05:48] jkwok91 commented on #779
Text adventure using HTML & CSS is boring and repetitive and horrible. I've done it and I've written the workshop and it is horrible and uninspired.

[2016-04-12 15:27] zachlatta commented on #779
Want to submit the workshop as a sandbox workshop? May be worth just having
around in the repo, even if it's not ready for meetings.

On Mon, Apr 11, 2016 at 10:48 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-12 17:51] zachlatta commented on #779
What if we go ahead with #784 for this one?

[2016-04-12 20:44] jkwok91 commented on #779
Yea, but there are two "Coding is..." workshops

[2016-04-12 21:01] zachlatta commented on #779
Yeah, but this issue is just to track the first one.

On Tue, Apr 12, 2016 at 1:44 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-12 21:02] jkwok91 commented on #779
Aha, I thought "first" meant "first in order of curriculum." Ok, got it.

[2016-04-20 03:29] MaxWofford commented on #778
@zachlatta @jkwok91 Where can I find out more about the elective workshops? Are they created by the core team, or community?

[2016-04-21 22:29] jkwok91 opened #796 "Create clearer instructions for how to use GitHub web interface"
This will help those unfamiliar with using GH interface figure out how to 1) make PRs 2) merge PRs.

[2016-04-23 00:41] zachlatta commented on #746
We're implementing our new curriculum plan in #778, which doesn't include the Twilio workshop. As a result, going to go ahead and close this.

[2016-04-23 00:41] #746 closed

[2016-04-23 20:14] #779 closed

[2016-04-23 20:14] jkwok91 commented on #779
Closing because Soundboard workshop is in the repo

[2016-04-23 20:16] jkwok91 opened #797 "Edit Personal Website to reduce friction on setup"
After user-testing and also receiving feedback, Set-up has been recognized as the most time-consuming and confusing part of the workshop. We have resolved to replace text with images.

[2016-04-24 00:51] zachlatta opened #798 "Add GitHub's third signup step to Personal Website"
GitHub added a new screen when creating an account, shown below:

![tmp](https://cloud.githubusercontent.com/assets/992248/14764843/024e87ec-097c-11e6-8384-2f0d2d8975fe.png)

We need to clarify that they should just click "skip this step" when they get to this page.

[2016-04-24 00:52] zachlatta opened #799 "Make it clear that the user shouldn't do GitHub's tutorial in Personal Website"
We ran a workshop in Berkeley today and a ton of participants got stuck when they accidentally clicked GitHub's "Hello World" tutorial.

When you create a new GitHub account, you're shown the following page and it's very tempting to click "Let's get started!", which brings you to https://guides.github.com/activities/hello-world/.

![tmp](https://cloud.githubusercontent.com/assets/992248/14764846/1

[2016-04-25 18:56] MaxWofford commented on #799
This was closed by #803

/cc @jkwok91 @zachlatta

[2016-04-25 18:56] #799 closed

[2016-04-25 18:57] MaxWofford commented on #797
@jkwok91 Is this closed by #801?

[2016-04-26 05:44] zachlatta commented on #796
To clarify, this is to improve the CONTRIBUTING.md documents.

[2016-04-26 05:46] #797 closed

[2016-04-26 05:46] jkwok91 commented on #797
yes @MaxWofford

[2016-04-26 05:54] zachlatta opened #805 "Run through the Soundboard workshop with a guinea pig and make a round of improvements"
The workshop need some serious love before it'll be ready to be run in clubs. This issue is to track running the workshop with a guinea pig and then making a round of improvements based on what they run into after.

[2016-04-26 06:06] zachlatta opened #807 "Create Bootstrap workshop"
@jkwok91 and I were talking about creating a workshop on Bootstrap as our second workshop instead of Soundboard. It'd go Personal Website -> Bootstrap -> Soundboard -> Dodge. We're not super set on this yet, but we think it's worth experimenting with.

This issue is to track the creation of that workshop. I'll comment on here with a basic draft at some point tomorrow.

[2016-04-26 15:13] jkwok91 commented on #798
Do we need this? I have a gif ready, but since we changed the wording; it doesn't seem like a huge issue.

[2016-04-26 17:29] zachlatta commented on #798
A bunch of people got stuck on it during the Saturday workshop, but my
sister seemed fine when she ran it yesterday.

I'll leave this up to you. If you decide we don't want to do this, just go
ahead and close the issue.

On Tue, Apr 26, 2016 at 8:13 AM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-27 15:33] jkwok91 commented on #798
Let's decide after Thursday's event.

[2016-04-27 17:04] zachlatta commented on #798
:ok_hand:

On Wed, Apr 27, 2016 at 8:33 AM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-04-28 08:30] AbelRR opened #812 "Twilio - GIF Background not changing background on text."
Step by step,

1. Open https://workshops.hackclub.com/twilio
2. Scroll down to**Examples**
3. Open GIF Background (advanced)
4. Replace and input SID & TOKEN
5. Click button in output "Run with JS"
6. My Number appears in console
7. I text my twilio number : robots
then I try: "robots"
8. Nothing seems to happen after this.

Maybe I was not supposed to run it  on JSBIN: http://jsbin.com/gist/fbc17

[2016-04-29 06:24] zachlatta commented on #798
Turned out to be a complete non-issue during today's event. I think our other revisions to the sign-up process ended up solving the part where people got stuck on this.

[2016-04-29 06:24] #798 closed

[2016-05-02 19:34] zachlatta commented on #812
Awesome, thanks so much for catching this and filing the bug report. I just fixed this – all should be working now.

Turns out that an old version of [surrogate](https://github.com/hackclub/surrogate) was deployed and it didn't have the latest Giphy proxy. I've since redeployed.

[2016-05-02 19:34] #812 closed

[2016-05-02 20:12] zachlatta opened #820 "Maze uses imgur.com, which is blocked by basically every school"
@derrekchow ran into this issue when running the Maze workshop in his club. The output from the workshop doesn't appear to load because the referenced image on imgur.com fails to load.

This can be fixed by modifying the workshop to use [surrogate](https://github.com/hackclub/surrogate) to access imgur.com through the school proxy.

[2016-05-02 20:35] #820 closed

[2016-05-03 09:30] zachlatta commented on #805
Closed by #817.

[2016-05-03 09:30] #805 closed

[2016-05-03 10:01] zachlatta commented on #778
@MaxWofford sorry for not getting back to this sooner. Elective workshops = all of the above. Basically any workshops that aren't part of the core track, whether created by community or staff.

[2016-05-11 16:56] zachlatta commented on #695
I'm gonna rescind what I said earlier. Let's just go ahead and close this because we're shifting our priorities to the new curriculum plan.

[2016-05-11 16:56] #695 closed

[2016-05-12 03:23] zachlatta commented on #778
Went ahead and assigned you to this because you're basically taking point on it right now, @jkwok91. Let me know if you'd prefer me to reassign myself.

[2016-05-20 20:58] jkwok91 commented on #796
This has been closed by #819

[2016-05-20 20:58] #796 closed

[2016-05-20 21:47] MaxWofford opened #831 "Fix coding experience radio buttons on mobile"
http://peek.usertesting.com/result/14941866645557?autoplay=true

At the 2:30 mark, the radio buttons are on different lines to their labels

[2016-05-22 06:37] jkwok91 opened #833 "Improve Soundboard to inspire more exploration"
Currently, Soundboard walks the user through how to place a button on their HTML page, and then connect an event handler so that when the button is clicked, a sound will be played. Then it tells the user to repeat this 15 times.

What I'm proposing is that we replace the 15 repetitions with some styling (perhaps make the button attractive and red, like the Staples "Easy" button), and let the user

[2016-05-24 01:16] jkwok91 commented on #833
Oh I just realized that we'll have to rename this workshop.

[2016-05-24 01:28] jkwok91 commented on #833
The tentative title is `sound_button`. As you can see, I do not have a knack for appealing names.

[2016-05-24 01:49] jkwok91 commented on #833
Is it too condescending to divide up the Hacking section into "things you learned"? Example:

Sounds
- change the sound played by the button

Buttons
- create more buttons

Event Handling with Click
- write function to close tab on click
- change bg color on click

Triggering Click with code
- ...

Okay actually I'm gonna answer my own question and say that I don't want to do this because 1) it's

[2016-05-24 01:54] zachlatta commented on #833
What if we called it "The Button" or "Don't Click The Button"?

Sent from my mobile

[2016-05-24 01:57] jkwok91 commented on #833
I found [this](http://mhwalkers.freevar.com/sounds/that_was_easy.wav) and I'm going to use it until we get sued by Staples.

[2016-05-24 02:02] jkwok91 commented on #833
New tentative title is `That Was Easy`

[2016-05-24 02:32] zachlatta commented on #833
I love it.

On Mon, May 23, 2016 at 7:02 PM, JESSICA <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-05-24 15:20] #833 closed

[2016-05-30 14:30] zachlatta opened #839 "Links to banners aren't permalinks"
If we ever move the banner files around in the `meta` repo, they'll break for everyone that's using them.

Right now, on master, we're not linking to banners from a specific commit. See https://github.com/hackclub/hackclub/tree/2f03bd7a7a4bf1dc9a0f93dd1aaae79727316403#banners.

How to fix this:

1. Go to https://github.com/hackclub/meta/tree/master/logos and click on one of the banners to view it

[2016-06-02 02:17] zachlatta commented on #831
This issue was moved to hackclub/hackcamp#648

[2016-06-02 02:17] #831 closed

[2016-06-04 21:25] MaxWofford opened #845 "Rename collab_sketch -> collaborative_sketch"

[2016-06-07 17:34] MaxWofford opened #846 "keyCode is used in that_was_easy workshop"
A hack camper using firefox was getting 0 for every key's keyCode. We switched them to using charCode to get it to work.

[2016-06-10 15:55] MaxWofford opened #850 "Remove trailing slashes from workshop shortlinks"
![screenshot_2016-06-10_08 54 31](https://cloud.githubusercontent.com/assets/5891442/15970350/07ba3d9c-2ee9-11e6-83d0-5adf0ab86c92.png)

[2016-06-13 17:51] MaxWofford opened #851 "Notes to Self workshop doesn't show local storage for Firefox"
Hackers going through this workshop in Firefox were confused.

[2016-06-15 20:07] MaxWofford opened #853 "collab_sketch doesn't delete on other tabs until refreshed"
This can be fixed with something like this:

[code]

[2016-06-15 21:39] zachlatta commented on #853
What do you mean by "delete on other tabs until refreshed"?

Sent from my mobile

[2016-06-15 21:42] jkwok91 commented on #853
Probably like, no live update/syncing? upon clearing canvas?

2016-06-15 14:39 GMT-07:00 Zach Latta <notifications@github.com>:

[2016-06-15 22:52] ssun098 commented on #853
Yeah, what @jkwok91 said. Confirmed @MaxWofford's code works though

[2016-06-16 03:27] MaxWofford opened #857 "Add explanation of JS object property to collab_sketch"
While running collab_sketch I had to explain how object properties worked to each of the hackers. It'd be cool if we covered this in the workshop.

[2016-06-20 19:51] #850 closed

[2016-06-22 21:51] zachlatta opened #861 "Update examples in workshops to use stuff built in Hack Camp Session 1"
We had hackers build some pretty incredible things during Hack Camp and I think it'd totally be worth showcasing their projects. When I was at Whirlpool, I demoed some of the things built and they were blown away – they thought that the websites I was showing took two weeks to build, not one day.

I'd like us to update the following workshops to include links to what our hackers built. Let's just

[2016-06-22 22:14] jkwok91 commented on #807
This was a failure. Closing now.

[2016-06-22 22:14] #807 closed

[2016-06-30 22:22] MaxWofford opened #863 "Create images of HTML and CSS syntax for personal_website workshop"
For example:
![](https://s3.amazonaws.com/codecademy-content/courses/ltp/img/2/a.png)
![](https://s3.amazonaws.com/codecademy-content/courses/ltp/img/2/p.png)

[2016-06-30 22:58] #861 closed

[2016-06-30 23:30] jkwok91 commented on #846
This has been closed by #862

[2016-06-30 23:30] #846 closed

[2016-07-09 05:37] zachlatta commented on #857
@xizhao has volunteered to take a stab at this issue. Apologies for all the assignment back and forth.

[2016-07-09 05:59] xizhao commented on #857
PR submitted

[2016-07-09 06:09] xizhao commented on #857
updated.

[2016-07-09 06:42] zachlatta commented on #857
:raised_hands:

On Fri, Jul 8, 2016 at 11:09 PM, xizhao <notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-07-10 17:12] zachlatta commented on #778
@jkwok91 can you update this issue with where we're at today and what needs to happen next?

[2016-07-13 20:33] MaxWofford commented on #853
Closed by https://github.com/hackclub/hackclub/commit/b353becc3a261998d1232352814829caa9e6f01f

[2016-07-13 20:33] #853 closed

[2016-07-13 20:37] MaxWofford commented on #845
On second thought, let's name it collab_sketch. We're already calling it that in most locations.

[2016-07-13 20:42] zachlatta commented on #778
I'll take point on updating this and making sure it gets closed.

[2016-07-13 20:42] MaxWofford commented on #845
@zachlatta told me in person hackers were confused by "collab sketch"

[2016-07-13 20:52] zachlatta commented on #845
:+1:

[2016-07-13 20:53] MaxWofford commented on #845
Closed by https://github.com/hackclub/hackclub/pull/866

[2016-07-14 16:39] #845 closed

[2016-07-15 15:59] MaxWofford opened #870 "Address outstanding comments in #865"
The two comments left unaddressed in #865 are below:

https://github.com/hackclub/hackclub/pull/865#discussion_r70167073

https://github.com/hackclub/hackclub/pull/865#discussion_r70167087

[2016-07-15 16:21] MaxWofford commented on #870
This issue is blocking on testing the workshop in Hack Camp to see if hackers get stuck on the sections brought up in the comments on #865.

[2016-07-15 16:27] MaxWofford opened #871 "Order food for 2nd session of Hack Series"
Looks like Segment can only provide 2 meals (1st session of  Hack Series + Demo Night). We'll be ordering our own food for the 2nd session of Hack Series

[2016-07-15 16:31] MaxWofford commented on #871
This issue was moved to hackclub/meta#608

[2016-07-15 16:31] #871 closed

[2016-07-15 16:58] MaxWofford commented on #857
Closed by #869

[2016-07-15 16:58] #857 closed

[2016-07-16 19:13] MaxWofford opened #872 "Cloud 9 requires credit cards"
This issue is to track spiking out a solution to the problem of hackers blocking on needing a credit card number when going through the personal_website workshop.

[2016-07-16 20:35] zachlatta commented on #872
I'll email my contact at Cloud9 about this in a few days (they're probably flooded with emails about the acquisition right now).

[2016-07-18 17:35] zachlatta commented on #863
Unassigned because @jkwok91 is no longer taking point on curriculum.

[2016-07-18 17:35] zachlatta commented on #839
Closed by #867.

[2016-07-18 17:35] #839 closed

[2016-07-19 11:59] zachlatta commented on #872
I've gone ahead and emailed my contact at Cloud9, will modify the workshop as well.

[2016-07-19 13:00] zachlatta commented on #872
Just submitted #873 to address this.

[2016-07-19 15:58] #872 closed

[2016-07-20 00:59] ssun098 opened #874 "Find examples for Geometric Patterns"

[2016-07-20 06:35] MaxWofford commented on #874
@ssun098 what has to happen for this issue to be closed?

[2016-07-20 08:27] ssun098 commented on #874
@MaxWofford you would need to merge in #875 for me to close it

[2016-07-20 17:11] ssun098 commented on #874
Done

[2016-07-20 17:11] #874 closed

[2016-07-21 00:42] ssun098 opened #877 "Find examples for Dodge workshop"

[2016-07-21 07:54] ssun098 commented on #877
I'm honestly struggling to find more that are really hacked on and are original. Going to close because I don't see any point in continuing the search if the example ones are the only one I can find.

[2016-07-21 07:54] #877 closed

[2016-07-26 17:39] MaxWofford commented on #851
We've stopped running this workshop at Hack Camp. I'm going to deprecate this workshop. Closing this issue.

[2016-07-26 18:19] zachlatta commented on #851
Wait, err – did you mean to say that you're going to close this? You also just submitted #882.

[2016-07-26 18:19] zachlatta commented on #851
Actually, I'll just go ahead and close because I merged #882.

[2016-07-26 18:19] #851 closed

[2016-07-28 02:25] MaxWofford commented on #870
No hackers got stuck on these sections in Hack Camp. Closing.

[2016-07-28 02:25] #870 closed

[2016-08-09 20:45] MaxWofford opened #890 "Deprecate workshops that are no longer relevant"
_From @MaxWofford on August 9, 2016 20:25_

We need to decide on how to deprecate workshops that are no longer relevant:

https://docs.google.com/a/hackedu.us/spreadsheets/d/1CyzgILRlMZKDgp7oB0c9STRKQKAxxzds8Zvo8wVM1k4/edit?usp=

Do we remove them from the list on workshops/README.md?

@hackclub/staff thoughts?

_Copied from original issue: hackclub/camp#788_

[2016-08-10 20:41] MaxWofford commented on #890
The workshops in questions are:

- Portfolio
- Git and GitHub
- GitHub Pages
- Cloud9
- Notes to Self

[2016-08-10 20:44] MaxWofford commented on #890
I'm going to go forward with putting a deprecated banner in the same format of https://github.com/hackclub/shipped and remove them from the workshops/README.md tomorrow if I don't get any responses.

[2016-08-12 22:20] MaxWofford commented on #890
@zachlatta said he's down for this in person.

[2016-08-12 22:23] MaxWofford commented on #890
I'm removing the idea label and starting to implement

[2016-08-14 21:46] zachlatta opened #903 "Create workshop metadata"
Now that we're starting to build software around our workshops, like in [Lecture Hall](https://github.com/hackclub/lecture-hall), we need the ability to uniquely identify workshops.

I'd like to add a `metadata.yml` file to each workshop with the following info. The `id` field should be considered immutable and should never change.

[code]

Example for the Personal Website workshop:

[code]

[2016-08-14 21:46] zachlatta commented on #903
Think you could handle this, @ssun098?

[2016-08-14 21:50] ssun098 commented on #903
Sure! Although I don't understand where you get the id

[2016-08-14 21:50] zachlatta commented on #903
Just go ahead and generate it using a string generator.

[2016-08-14 23:18] ssun098 commented on #903
PR at https://github.com/hackclub/hackclub/pull/904

[2016-08-15 21:17] zachlatta commented on #903
Closed by #904.

[2016-08-15 21:17] #903 closed

[2016-08-15 21:18] zachlatta opened #906 "Document requirement of metadata.yml in workshops/CONTRIBUTING.md"
Now that #904 is merged, we need to document in `workshops/CONTRIBUTING.md` that every new workshop must have a `metadata.yml` file in it with the correct schema.

Can you take this @ssun098?

[2016-08-15 21:47] ssun098 commented on #906
Yep, would be happy to take it

[2016-08-15 22:51] MaxWofford opened #908 "Audit core workshops"

[2016-08-16 03:56] MaxWofford commented on #863
Closing this because it's not worth the time right now.

[2016-08-16 03:56] #863 closed

[2016-08-16 07:44] ssun098 commented on #906
Closed by https://github.com/hackclub/hackclub/pull/907

[2016-08-16 07:44] #906 closed

[2016-08-16 13:15] zachlatta opened #909 "Move iOS workshop to Core Workshops"
@jkwok91 has tested @zach-cmiel's iOS workshop successfully, I say we move it to the "Core Workshops" section in `workshops/README.md`.

[2016-08-16 17:05] #890 closed

[2016-08-16 17:40] zachlatta opened #910 "Change links to workshops in workshops/README.md"
Now that we have https://workshops.hackclub.com to render workshops, we should change the links to workshops in `workshops/README.md` to link to the workhop's directory instead of the `README.md` inside of the directory.

So, for example, change the link for the Personal Website from `personal_website/README.md` to `personal_website/`.

Current behavior:

![gif](https://cloud.githubusercontent.com

[2016-08-16 23:20] MaxWofford opened #912 "Update Chat workshop"
The chat workshop needs to be reviewed. First step is to give it a standard heading:

[code]

Next is to review the rest of the workshop and submit a PR to fix any of the bugs or bad explanations it has.

[2016-08-16 23:21] MaxWofford commented on #912
@aarohmankad: can you take this issue?

[2016-08-16 23:22] aarohmankad commented on #912
@MaxWofford for sure

[2016-08-17 00:10] #910 closed

[2016-08-17 00:23] paked commented on #909
On it!

[2016-08-17 00:41] paked opened #913 "Clarify Prophet Orpheus in personal website workshop"
[Continuing on from the discussion in #885](https://github.com/hackclub/hackclub/pull/885#discussion-diff-74934094L3)

Basically we bring up "prophet orpheus" without ever introducing him/her/them in the first place. It'd be good to have some sort of introduction of /some/ sort.

[2016-08-17 01:00] paked opened #915 "Fix em-dash on personal website workshop"
[Doing a review of the personal website workshop, it looks like this en-dash (`--`) should be an em-dash (`---`). Easy fix.](https://github.com/hackclub/hackclub/pull/885/files#diff-6438b250a154a96449ce4d3382b1d8b1R219)

[2016-08-17 03:50] zachlatta commented on #915
Is endash actually correct here? I thought it was endash – that'd just be so much more _elegant_.

[2016-08-17 07:22] paked commented on #915
[I'm pretty sure it's more correct](http://english.stackexchange.com/questions/2116/when-should-i-use-an-em-dash-an-en-dash-and-a-hyphen) to use em-dash as a longer comma, and an en-dash as a connector between numbers ie, `"the boat was active from 1972 -- 1983"`

[2016-08-17 15:48] zachlatta commented on #913
Want to take point on this? Or perhaps @CoolBeans19?

On Tue, Aug 16, 2016 at 5:41 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-08-17 22:37] MaxWofford commented on #912
This issue also entails finishing up part 5 of the workshop. Check out workshops.hackclub.com/personal_website for an example "hacking" section.

[2016-08-18 21:57] CoolBeans19 commented on #913
Will do

[2016-08-18 22:22] paked commented on #909
Closed by #914

[2016-08-18 22:22] #909 closed

[2016-08-18 22:43] CoolBeans19 commented on #913
@paked made a really simple solution, want to czech it out? https://github.com/hackclub/hackclub/pull/919

[2016-08-18 23:13] MaxWofford commented on #909
![](https://media.giphy.com/media/sWHsgcdrnCIda/giphy.gif)

[2016-08-19 16:33] aarohmankad commented on #913
This has been merged in and fixed right?

[2016-08-19 16:44] zachlatta commented on #913
Yeah, good catch. Closing because of #919.

[2016-08-19 16:45] #913 closed

[2016-08-19 17:09] CoolBeans19 opened #921 "Add example club semester plan"
See PR in https://github.com/hackclub/hackclub/pull/917

[2016-08-19 17:10] CoolBeans19 opened #922 "Plan out camera exchange program"
This issue can be closed when we merge in a pull request with a detailed document outlining details and routes of the camera, as well as a finalized instruction document for club leaders (see what I have so far at https://docs.google.com/document/d/1_BS9zRnkkd1qBXGfQvSWauR5V78A6GF989xbsFrQKEc/edit?usp=sharing)

[2016-08-19 17:40] MaxWofford commented on #922
@CoolBeans19 Could you include a success state? Like "this issue can be closed once we merge in a pull request with X Y& Z".

[2016-08-19 17:59] zachlatta commented on #922
:thumbsup:

On Fri, Aug 19, 2016 at 10:40 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com

[2016-08-19 22:15] zachlatta commented on #915
You win this one, Harrison.

On Wed, Aug 17, 2016 at 12:22 AM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2016-08-19 22:19] CoolBeans19 commented on #915
PR now in https://github.com/hackclub/hackclub/pull/923

[2016-08-23 10:15] zachlatta commented on #915
Closed by #923.

[2016-08-23 10:15] #915 closed

[2016-08-23 10:19] zachlatta commented on #912
Closed by #920.

[2016-08-23 10:19] #912 closed

[2016-08-23 10:19] zachlatta commented on #908
Seems like this has been closed by all of the recent pull requests that were merged.

[2016-08-23 10:19] #908 closed

[2016-08-23 16:21] zachlatta commented on #921
Closed by #917.

[2016-08-23 16:21] #921 closed

[2016-08-23 16:28] zachlatta commented on #922
Success state:

- Process doc for us to use to run the camera exchange program
- Document to print out and include in box that we mail out

[2016-08-29 03:26] MaxWofford opened #926 "Add markdown comments for lecture hall"
Lecture hall renders certain types of markdown comments into project ship buttons. (See https://github.com/hackclub/lecture-hall/pull/41)

We need to add a project ship comment to every workshop.

[2016-08-29 22:47] zachlatta opened #927 "Broken link in CONDUCT.md"
If you search for `[here]` in CONDUCT.md, you'll see the broken/improperly formatted link.

[2016-08-30 18:40] #927 closed

[2016-09-06 13:57] zachlatta opened #930 "Bring Cringe 101 from sandbox to core"
We currently break our workshops up into two sections: core and sandbox.

Core workshops have been tested by the staff and we're confident that they'll do well in clubs. Typically this means:

- There are no major flow issues. Given a complete beginner, they'll be able to go through the workshop and end up with the final product without getting stuck.
- There are images (typically GIFs) that give

[2016-09-06 14:00] zachlatta opened #931 "Bring Find Bigfoot from sandbox to core"
Same deal as #930, except with the Find Bigfoot workshop.

This issue will be closed by a pull request you submit that'll make it so we can move Find Bigfoot to the core workshops section. In addition to changing the workshop itself, the pull request should move the entry in `workshops/README.md` for Find Bigfoot from the sandbox to the core section.

[2016-09-06 14:03] zachlatta opened #932 "Bring Thugify from sandbox to core"
Same deal as #930 and #931, except with the Thugify workshop. Let me know if you have any questions!

[2016-09-06 14:09] zachlatta opened #933 "Deprecate Soccer"
When I said that we break up our workshops into two sections in #930, I failed to mention the third section: deprecated workshops.

Deprecated workshops are workshops that we've created in the past but no longer officially support. We can choose to not support a workshop for a variety of reasons, but typically it comes down to one of the following reasons:

- We've merged the contents of the works

[2016-09-06 14:13] zachlatta opened #934 "Add proper deprecation header to Twilio"
See #933 for background on deprecating workshops.

Twilio is currently deprecated, but doesn't have the proper deprecation header. I'd like you to submit a pull request to fix this.

Here's what the beginning of Twilio currently looks like:

<img width="1262" alt="screen shot 2016-09-06 at 7 11 35 am" src="https://cloud.githubusercontent.com/assets/992248/18276813/2ce42396-7401-11e6-85c6-ffb88e5ab

[2016-09-06 14:16] zachlatta opened #935 "Deprecate Maze"
See #933 (and possible #934) for context on deprecating workshops.

I'd like you to submit a pull request to deprecate Maze because it's built for JS Bin, which we no longer support in our clubs (replaced by Cloud9).

For the sake of clarity, this entails two things:

1. Adding the deprecated header to the top of Maze
2. Moving Maze from the sandbox section to the deprecated section in `workshops/

[2016-09-06 14:20] zachlatta opened #936 "Bring Twine from sandbox to core"
Same deal as #930, #931, and #932, except with the Twine workshop.

This workshop's already pretty fleshed out, so you may not need to make many changes (or any changes) before it can be moved to core.

This issue can by closed by a pull request that makes any necessary improvements to Twine and that moves Twine's entry in `workshops/README.md` from the sandbox to the core section.

[2016-09-06 14:28] zachlatta opened #937 "Fix extra spaces in Chat's code blocks"
At the beginning of Chat, there are some code blocks that have extra spaces in them. I'd like you to fix this.

See https://youtu.be/9Yc_AiCCJOo for the full context and for instructions on how to fix this. Let me know if you have any questions!

[2016-09-07 17:00] zachlatta commented on #930
Good job creating #939 and getting it merged :-). Changes are live at https://workshops.hackclub.com.

There's one thing you missed in #939 that needs to be done to close this issue: moving the entry for Cringe 101 in `workshops/README.md` from the sandbox to the core section.

Can you submit a pull request to do that?

[2016-09-07 17:00] zachlatta commented on #930
Moving this issue to in progress for the meantime.

[2016-09-07 19:35] zachlatta commented on #930
Closed by #939 and #940 :-). Great work @MatthewKwong!

[2016-09-07 19:35] #930 closed

[2016-09-07 21:43] zachlatta opened #942 "Making sure that required websites for Hack Club aren't blocked before the first meeting"
Over at `clubs/README.md` we have our club guide that has an overview of our recommendations for clubs (https://guide.hackclub.com sends you there).

@rsterneck just had her first meeting and it turns out her school's IT blocked one of the websites they needed for the club.

I'd like you to add something to `clubs/README.md` to make sure leaders know to check the following websites on their school

[2016-09-08 12:32] kyleemile opened #944 "Get all onboarded clubs into our call process"
After #657 is completed and clubs placed in their correct stage, the clubs that are alive and onboarded need to placed into weekly calls.

This issue can be closed when calendar invite has been sent to every leader of every club.

[2016-09-12 17:05] zachlatta commented on #778
It seems like all of the work for this has been done, but the issue simply hasn't been updated. This issue can be closed once it's updated to reflect reality.

[2016-09-12 22:32] zachlatta commented on #937
Closed by #945.

[2016-09-12 22:32] #937 closed

[2016-09-12 22:34] zachlatta commented on #933
Closed by #948 and #947.

[2016-09-12 22:34] #933 closed

[2016-09-12 22:48] zachlatta commented on #935
Closed by #949.

[2016-09-19 11:39] zachlatta opened #956 "Fix table formatting in deprecated section of workshops/README.md"
If you look at `workshops/README.md`, you'll find that the deprecated section's table isn't properly aligned or extended.

This issue is to track fixing that.

[2016-09-19 11:39] zachlatta commented on #926
Closing this because we've decided to no longer track projects shipped.

[2016-09-19 11:39] #926 closed

[2016-09-19 11:39] #935 closed

[2016-09-19 11:40] zachlatta commented on #934
Closed by #950.

[2016-09-19 11:40] #934 closed

[2016-09-19 11:40] zachlatta commented on #942
Closed by #953.

[2016-09-19 11:40] #942 closed

[2016-09-19 11:45] #931 closed

[2016-09-19 11:45] #932 closed

[2016-09-19 11:45] #936 closed

[2016-09-19 11:55] #956 closed

[2016-09-19 12:31] zachlatta commented on #778
Going to just go ahead and close this.

[2016-09-19 12:31] #778 closed

[2016-10-25 16:16] ssun098 commented on #944
Demo Night is over! Sorry, forgot to close this earlier.

[2016-10-25 16:16] #944 closed

[2016-12-19 21:08] zachlatta opened #968 "Sticker competition update"
Send out an email update to everyone for the sticker competition we announced about a month ago.

[2016-12-23 01:46] zachlatta opened #969 "Update Prophet Orpheus example of Dashboard to credit Dark Sky"

[2017-01-07 02:58] zachlatta opened #970 "Send out announcement about new Dashboard workshop"

[2017-01-10 13:07] zachlatta opened #971 "Renew SSL certificate for *.hackclub.com"
- [ ] Renew SSL certificate
- [ ] Update all Heroku apps
  - [ ] `api-hackclub`
  - [ ] `lecture-hall`
  - [ ] `website-hackclub`
- [ ] Update all Convox apps
  - _TODO: Insert list of Convos apps here_
- [ ] Update `proxy.servers.hackclub.com`

[2017-01-12 21:36] zachlatta opened #973 "Consolidate hackclub/meta and hackclub/hackclub"
I think it's worth having a discussion around merging `hackclub/meta` into this repository.

Pros:

- Less repos = simpler = better
- Consolidated GitHub issues = less confusion around creating issues

Cons:

- Larger repo size

I don't think having a larger repo size should be that much of a concern – we're not going to have too many people cloning this thing and having long-term history is defin

[2017-01-12 21:37] zachlatta opened #974 "Send welcome email"
Send a welcome email to all of our club leaders to introduce yourself :-).

Run a draft by me before sending and we'll go through the process of sending a mass email on Streak together.

[2017-01-13 04:24] paked commented on #973
I don't have much of a strong opinion here, but my gut says to continue with the current model under the name of separation of concerns.

[2017-01-13 04:31] paked commented on #974
@zachlatta before I write this, I just want to know what sort of message I should be conveying. Is it worth noting that I'm a Hack Club alumni?

[2017-01-13 21:42] zachlatta commented on #974
Yeah! You should definitely include that.

Maybe we could plan to send this out on Monday? We've sent a bunch of
emails about Hack Night and I don't want to overwhelm anyone.

General outline:

- Introduce yourself (who, what, where, include alumni)
- Say what you're doing for Hack Club
- How to reach you
- Farewell

On Thu, Jan 12, 2017 at 8:31 PM, Harrison Shoebridge <
notifications@github.com>

[2017-01-14 00:16] paked commented on #974
@zachlatta: How about this?

[code]

Some of my thoughts:

- Maybe shouldn't mention the time frame?
- I've left out the fact I'm from Australia, not sure how relevant that is

[2017-01-18 15:16] zachlatta commented on #974
Hey, apologies for the delay.

Re timeframe: I'd clarify you're doing a gap year.

I'd further clarify your role as well.

Something like this:

Hey everyone. I hope you've all had a great Winter break.

My name's Harrison, I've been involved with Hack Club for two years now –
first by starting my own club, and then spending time volunteering and
contributing through GitHub. I'm really excited to

[2017-01-20 17:59] paked commented on #974
@zachlatta: Let's send this out on Monday.

[2017-01-21 00:21] zachlatta commented on #974
Sounds great! Looking forward to it.

On Fri, Jan 20, 2017 at 12:59 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-02-07 16:04] zachlatta commented on #974
Did this get sent out?

[2017-02-07 16:15] paked commented on #974
Yes.

[2017-02-07 16:15] #974 closed

[2017-02-07 16:16] zachlatta commented on #974
Boo.

Yah.

On Tue, Feb 7, 2017 at 8:15 AM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-02-09 01:22] MaxWofford opened #978 "Update website banner year"
https://hackclub.slack.com/archives/random/p1486601221003128

[2017-02-09 01:59] paked commented on #978
Yo. I'm on mobile, so can't properly check things right now.

Just want to make sure we don't change anything people are depending on -
the 2017 banner should probably be in a different file.

On Feb 8, 2017 5:22 PM, "Max Wofford" <notifications@github.com> wrote:

[2017-02-09 20:50] MaxWofford commented on #978
@paked: The link is to a specific version of the file. https://cdn.rawgit.com/hackclub/meta/fc4c0d220426eb53a176e656ae7700d9dcd0b2c5/logos/banner_plain_flag_webVersion.svg

[2017-02-09 21:07] zachlatta commented on #978
Just to clarify Max's previous comment, the published link is to the file's
version during a specific commit.

On Thu, Feb 9, 2017 at 12:50 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com | Donate <https://hackclub.com/donate>

[2017-02-10 15:51] paked commented on #978
Hmm. In my head I still think that that "resource" was specifically Hack Clubs 2016 banner.

Is there an inherent issue with making a 2017 banner?

[2017-02-10 18:35] zachlatta commented on #978
Ah, I see what you're saying. Yeah, I'm on board with that.

@MaxWofford?

On Fri, Feb 10, 2017 at 7:51 AM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-02-10 20:11] MaxWofford commented on #978
Is there a scenario someone would use the 2016 banner?

[2017-02-12 16:38] zachlatta commented on #978
Harrison's talking about it from a data modeling point of view.

The 2017 banner is a separate banner from the 2016 one. They're separate
"objects", therefore they should be in separate files.

On Fri, Feb 10, 2017 at 3:11 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-02-17 01:42] lachlanjc opened #982 "Feedback on the personal website workshop"
Hey all! Ran my first Hack Club meeting today with the personal website workshop. Some feedback based on my experience:

1. Please, tell people to save the files. 😀 I helped 5 different people who had blank sites because they were committing without saving the files first, so nothing went live.
2. C9 seems to have some bugs with its in-app browser, duplicating elements and not applying css. Someti

[2017-02-17 16:47] Vivek2018 opened #983 "Trouble publishing a website"
So I created a prototype website for our local school hack club, however when it comes to publishing the website in the bash terminal it reads, "Everything up-to-date," however when accessing the code through github the old code is displayed (meaning nothing synced) and when trying to access the website domain through the internet it results in a 404 error.
![uptodate](https://cloud.githubusercont

[2017-02-17 17:02] paked commented on #983
I see two problems here.

1. You've named the `index.html` `Index.html`. If you rename the file `index.html` (lowercase 'i'), you should be good. Remember to commit your changes.
2. I don't think you properly committed your changes when updating your website: Remember to run `git add --all`, `git commit -m "Updating website"` before `git push`.

Let me know if this helps!

If you need some more re

[2017-02-18 02:12] Vivek2018 commented on #983
Thank You for your response, after implementing the changes you recommended it seemed that the problem that arrived was with the git commit -m command. Whilst using that command, by typing in "Updating website" after git commit -m it seemed to fix itself. Thanks again.

[2017-02-18 04:00] paked commented on #983
Awesome! Glad to have helped.

I'm going to close this issue now, but feel free to open it up (or make another one, if it's not relevant to this issue) in the future!

![https://media.giphy.com/media/897vm5ABNbgFW/giphy.gif](https://media.giphy.com/media/897vm5ABNbgFW/giphy.gif)

[2017-02-18 04:00] #983 closed

[2017-02-19 00:39] ifvictr opened #984 "Guidelines for club names"
Originally from: https://hackclub.slack.com/archives/club-help/p1487371285642120

So basically, there's been a lot of talk about schools disallowing club names (specifically, ones that contain anything related to "hacking"). We need some advice for leaders so they know how to communicate with their schools about the matter.

[2017-02-20 22:55] MaxWofford commented on #984
@kyleemile: want to take point on this? I'm happy to work with you on it.

[2017-02-20 23:56] zachlatta opened #985 "Consider adding section to club guide on handling members that only come to mess around on computers"
One issue that a few leaders have mentioned is that there are often members that come to meetings just to mess around on computers.

It might be worth adding a section to the club guide about how to handle this – @ifvictr suggested creating some sort of FAQ or "common pitfalls" section to the guide on handling edge-cases.

Curious to hear everyone's thoughts.

/cc @hackclub/staff

[2017-02-20 23:57] zachlatta commented on #985
Perhaps another thing that could be included in a FAQ: "What if my school doesn't like me calling the club 'Hack Club'?"

[2017-02-20 23:58] zachlatta commented on #985
"What if a member of my club does something inappropriate?"

[2017-02-21 00:28] zachlatta commented on #985
"What if our adviser does not want to let us meet every week?"

[2017-02-21 00:28] zachlatta commented on #985
(all of these are things that have been sent to me)

[2017-02-21 04:16] ifvictr commented on #985
I'm graduating this year. How do I transition leadership roles to another person?

[2017-02-21 08:32] ifvictr commented on #985
I've secured a teacher adviser/sponsor, but they have no computers. What do we do?

[2017-02-21 17:45] paked commented on #982
@lachlanjc: Just want to say we haven't forgotten about this issue. It's on my task list and I'm going to get around to addressing your comments super soon :)

Good luck with your next meeting, thank you so much for your feedback ❤️

[2017-02-21 22:47] paked commented on #982
Being worked on in #986

[2017-02-22 23:20] MaxWofford commented on #982
This is closed by #986

[2017-02-22 23:20] #982 closed

[2017-02-27 16:35] paked commented on #984
Hey! This is becoming more and more of a talked about topic on the Slack. I'd really like to have a page we can point people to for when they have this problem.

[2017-02-27 16:52] MaxWofford commented on #984
I'll take point on it.

[2017-03-16 19:58] MaxWofford opened #988 "Use markdown diffs in dodge workshop"
![](http://i.imgur.com/31tuTZG.jpg)

[2017-03-16 20:41] #988 closed

[2017-03-24 15:04] ifvictr opened #992 "Tutorial for getting GitHub Student Pack"
Just something I didn't seem to see anywhere. I think it'd be nice for all Hack Club members to get their student packs.

[2017-03-24 16:20] cravend commented on #992
I've actually started writing a guide for my school's club! The link is [https://github.com/Mason-Development/mason-meta/blob/master/resources/education.md](https://github.com/Mason-Development/mason-meta/blob/master/resources/education.md). I haven't done a whole lot with the resources, so my summaries are pretty basic, but it's still a start!

[2017-03-24 17:50] paked commented on #992
@cravend: would you be interested in having this guide made an official Hack Club resource?

[2017-03-24 21:58] cravend commented on #992
@paked sure! That'd get a more complete description of what GitHub Education offers. Feel free to incorporate whatever you'd like!

[2017-04-17 16:53] #971 closed

[2017-04-17 16:53] #968 closed

[2017-04-17 16:53] #922 closed

[2017-04-17 17:00] MaxWofford commented on #971
@zachlatta Could you elaborate on why this was closed?

[2017-04-17 17:13] zachlatta commented on #922
Closed due to lack of progress to simplify our issue list.

[2017-04-17 17:13] zachlatta commented on #968
Closed due to lack of progress. Simplifying our issues.

[2017-04-17 18:44] zachlatta commented on #971
Ah, thanks for catching my lack of explanation.

Closing this because the SSL certificate has been updated.

[2017-04-21 03:13] AppIns commented on #992
I tried applying and I must have just not been accepted. You should also tell people Bitbucket has private repository support.

[2017-04-21 05:31] paked commented on #992
@AppIns: I'd follow up with them. GitHub Education doesn't really reject students.

[2017-04-23 00:36] ifvictr commented on #992
@AppIns GitLab also offers free unlimited private repos.

[2017-06-19 10:12] MaxWofford opened #1007 "Update Hack Club website banner for clubs!"
_From @mj66 on May 17, 2017 22:45_

This is somehow related to [hackclub/issues/978](https://github.com/hackclub/hackclub/issues/978)

So I created a new banner called **Hack Badge** for all club websites! It'll be available in SVG and PNG, but here's a preview for the PNG version... _See if we can make this "official"!_

[code]
<img width="280" src="https://cloud.githubusercontent.com/assets/1333

[2017-06-19 10:12] MaxWofford commented on #1007
_From @zachlatta on May 17, 2017 23:34_

Yo, yes. Crazy busy right now, but will review and give proper feedback in a day or two when I have a little more time.

[2017-06-19 10:12] MaxWofford opened #1008 "Create Hack Club org on LinkedIn"
_From @zachlatta on January 27, 2017 17:53_

Create an organization on LinkedIn for Hack Club so club leaders & members can link to it on their profiles. See https://www.linkedin.com/in/bhargavy for an example of what it looks like without an official organization created.

_Copied from original issue: hackclub/meta#675_

[2017-06-19 10:12] MaxWofford commented on #1008
@mafia-007: Please don't comment on our issues and PRs with unrelated messages. If you are interested in contributing, check out our [code of conduct](https://conduct.hackclub.com).

You will be blocked if you continue to post disruptive messages.

[2017-06-19 10:13] MaxWofford opened #1009 "Send out announcement email about new Dashboard workshop"
_From @zachlatta on December 23, 2016 1:44_

Great work @samayshamdasani!

_Copied from original issue: hackclub/meta#673_

[2017-06-19 10:13] MaxWofford opened #1010 "Trademark "Hack Club""
_From @zachlatta on April 14, 2015 18:8_

Create first draft of our trademark application.

_Copied from original issue: hackclub/meta#33_

[2017-06-19 10:13] MaxWofford commented on #1010
_From @jonleung on August 18, 2015 18:46_

Any updates on this @gemmabusoni?

[2017-06-19 10:13] MaxWofford commented on #1010
_From @jonleung on August 18, 2015 18:46_

Ooops, I closed this by accident!

[2017-06-19 10:13] MaxWofford commented on #1010
_From @zachlatta on August 20, 2015 17:44_

Pinging @gemmabusoni again.

On Tue, Aug 18, 2015 at 11:46 AM, Jonathan Leung notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2017-06-19 10:13] MaxWofford commented on #1010
_From @jonleung on December 10, 2015 23:42_

@zachlatta, do you think we need to file a trademark on Hack Club? Should we just do it to be safe? We don't want another `hackEDU` namespace collision happening again lol.

[2017-06-19 10:13] MaxWofford commented on #1010
_From @jonleung on December 10, 2015 23:42_

Unassigning gemma from the issue because it seems that @zachlatta would probably be the person taking lead on this.

[2017-06-19 10:13] MaxWofford commented on #1010
_From @jonleung on December 10, 2015 23:43_

Renamed the title of this issue to update its relevance.

[2017-06-19 10:13] MaxWofford commented on #1010
@zachlatta Do you know if our application was ever submitted?

[2017-06-19 10:13] MaxWofford commented on #1010
_From @zachlatta on January 11, 2016 17:6_

It hasn't been yet.

##

Zach Latta
Hack Club | zach@hackclub.io

On Jan 11, 2016, 6:27 AM -0800, Max Woffordnotifications@github.com, wrote:

[2017-06-19 10:13] MaxWofford commented on #1010
Going to remove the discussion tag because it seems like we're going to do it.

[2017-06-19 10:13] MaxWofford commented on #1010
_From @zachlatta on December 30, 2016 21:51_

Lawyer is handling trademark application, just blocking on them now.

[2017-06-19 10:13] MaxWofford commented on #1010
@zachlatta Any updates on this?

[2017-06-19 10:13] MaxWofford commented on #1010
_From @zachlatta on March 28, 2017 3:2_

Paperwork filed, blocking on the United States Patent and Trademark Office.

On Mon, Mar 27, 2017 at 7:32 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-06-19 10:13] MaxWofford opened #1011 "Create stickers with Hack Club's logo"
_From @zachlatta on June 17, 2016 10:45_

Just the file over at https://github.com/hackclub/meta/blob/master/logos/hack_club_red_text.svg. We could make it a transfer sticker or go for the custom cutout around the letters.

Requested by @bhargav-y.

_Copied from original issue: hackclub/meta#566_

[2017-06-19 10:13] MaxWofford commented on #1011
Transfer would look fantastic on a black laptop

[2017-06-19 16:34] paked commented on #1009
@zachlatta: is this still going to be done? feels weird to announce something six months old. i'm pro closing it.

[2017-06-19 18:48] MaxWofford commented on #1009
Opting for closing this. @zachlatta, feel free to re-open if it's still something we want to do.

[2017-06-19 18:48] #1009 closed

[2017-06-19 19:23] MaxWofford commented on #1011
Closing this because @zachlatta printed some with our "h" logo.

[2017-06-19 19:23] #1011 closed

[2017-06-19 19:23] MaxWofford commented on #973
Looks like this is completed.

[2017-06-19 19:23] #973 closed

[2017-06-19 19:24] MaxWofford commented on #970
https://github.com/hackclub/hackclub/issues/1009#issuecomment-309495182

[2017-06-19 19:24] #970 closed

[2017-06-19 19:40] zachlatta commented on #1010
Trademark application has been submitted. Going to change this issue to just be "Submit trademark application" and close it so we don't have this as an open issue for the next year while we wait for the trademark office to get back to us.

[2017-06-19 19:40] #1010 closed

[2017-06-19 19:58] zachlatta commented on #1008
Not planning on doing this, closing for the time being.

[2017-06-19 19:58] #1008 closed

[2017-06-20 00:33] zachlatta commented on #1009
On board with closing.
ᐧ

On Mon, Jun 19, 2017 at 11:48 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-06-26 14:55] JSneak opened #1021 "Styleguides links don't work in Contributing.md"
Would it be a good idea to remove the section? Or would it be better to reword?

[2017-06-26 23:10] MaxWofford commented on #1021
Nice catch! I'm removing it right now

[2017-06-26 23:20] MaxWofford commented on #1021
https://github.com/hackclub/hackclub/commit/0bae786c6871cf70499dbb63fcf19a1679c4fd41

[2017-06-26 23:20] #1021 closed

[2017-07-04 03:36] MaxWofford commented on #992
Closing this because GitHub's flow for getting the pack as a high school student is much easier now.

![githubpack](https://user-images.githubusercontent.com/5891442/27814104-2902e616-602f-11e7-8b2a-e462a7125c46.PNG)

[2017-07-04 03:36] #992 closed

[2017-07-05 16:05] JSneak commented on #984
With the addition of the common questions section, I think we can close this issue. The only improvement I can think of is potentially adding a list of alternatives names.

https://github.com/hackclub/hackclub/tree/master/clubs#what-if-i-cant-call-my-club-hack-club

[2017-07-05 22:57] #984 closed

[2017-07-23 14:02] JSneak commented on #985
With the inclusion of #1027 , I believe that we can close this issue.

[2017-07-23 19:23] paked commented on #985
I don't think we can:

This issue is more about people who come to a Hack Club and play Agar.io (wow so 2015 harrison) instead of learning to program and going through Hack Club's resources.

#1027 addresses what to do if a club member breaks our Code of Conduct, as far as I'm aware not participating is not an infraction on the CoC (and nor should it be, imo).

[2017-07-23 23:21] JSneak commented on #985
My bad, totally agree with you. I'll make a new PR to address that aspect.

[2017-07-28 00:37] JSneak commented on #985
#1034 Address the final issue.

[2017-07-28 00:37] #985 closed

[2017-07-28 19:03] retiform opened #1035 "Create a link for "our resources" to show reasources"
This was confusing when i started a club
![capture](https://user-images.githubusercontent.com/8158323/28732436-dec54d20-73a5-11e7-81d4-9aa89bf4ea01.PNG)

[2017-08-14 22:35] Bush1do opened #1036 "Front Page Links"
Not sure it's just an issue on my browser but these buttons the Hack Club front page aren't functional on Firefox.

![capture](https://user-images.githubusercontent.com/12645067/29294818-45fe73be-811f-11e7-8551-e8ecdc6aa686.PNG)

[2017-08-14 22:51] paked commented on #1036
Thanks for pointing this out @Bush1do!

I'm going to move this issue over to it's relevant repository, namely [monolith](https://github.com/hackclub/monolith).

[2017-08-14 22:51] paked commented on #1036
This issue was moved to hackclub/monolith#108

[2017-08-14 22:51] #1036 closed

[2017-09-05 04:02] zachlatta commented on #1007
Closing this due to inactivity.

[2017-09-05 04:02] #1007 closed

[2017-09-05 04:02] zachlatta commented on #978
Closing this due to inactivity.

[2017-09-05 04:02] #978 closed

[2017-09-05 04:04] zachlatta commented on #969
Closed in https://github.com/prophetorpheus/prophetorpheus.github.io/commit/dae0c2bea1005eecf73739df3b4ac449951de470.

[2017-09-05 04:04] #969 closed

[2017-09-05 04:45] zachlatta opened #1040 ""Increase leader happiness" query in OKR Grades dashboard is broken"
If you go to https://modeanalytics.com/editor/hackclub/reports/8df443e7b437, you'll see that the "Increase leader happiness" query is throwing the following error:

![tmp](https://user-images.githubusercontent.com/992248/30045594-2268d8a8-91ba-11e7-9f1d-35ebfed860ee.png)

And when you looked at the full report, the values around leader happiness all end up blank as a result:

![tmp](https://user-i

[2017-09-05 06:41] zachlatta opened #1041 "Update branding of example slideshow presentations in club guide"
We currently have two example presentations linked at https://github.com/hackclub/hackclub/tree/master/clubs#slideshow-presentations ([1](https://docs.google.com/presentation/d/1QhErlJS6rnqu78guPBWuJ1SUyPJKLbxzLNuSN9qVw0c/edit#slide=id.p) and [2](https://docs.google.com/presentation/d/1WCerU9JhJY6L5kM7SrIlYcABwxpqcjmxmSRXilvWAaY/edit#slide=id.g833fec56d_2_45)).

If you look at them, you'll see tha

[2017-09-05 07:07] zachlatta opened #1042 "Redirect https://blog.hackclub.com to https://hackclub.com"
Right now, if you go to https://blog.hackclub.com, you're greeted by a nice browser error.

<img width="1552" alt="screen shot 2017-09-05 at 00 06 13" src="https://user-images.githubusercontent.com/992248/30049098-10246d10-91ce-11e7-9c29-2c5ffe2c2183.png">

For the sake of the sanity of users clicking legacy links, let's redirect them to our homepage at https://hackclub.com. This issue can be clos

[2017-09-05 07:21] paked opened #1043 "Create resources one pager"
One of the problems we had last semester was leaders not using Hack Club's resources, often times it was because they did not actually know what they were. Essentially we need a one pager which leaders can put underneath their pillow and use to reference **exactly** what we offer them.

[I wrote a draft](https://gist.github.com/paked/0f0f69e43c1881123f1ebdd916e2b9ad) of a document, [which Max fork

[2017-09-05 07:36] #1042 closed

[2017-09-05 07:41] zachlatta opened #1044 "Redirect all requests to hackedu.us or *.hackedu.us to their equivalent on hackclub.com"
Right now, if you go to blog.hackedu.us, you get a browser error.

<img width="1553" alt="screen shot 2017-09-05 at 00 37 25" src="https://user-images.githubusercontent.com/992248/30050206-6d2fc064-91d2-11e7-99a5-304d9fe541d7.png">

This and all other crazy subdomains at hackedu.us should be redirected properly to their equivalent on hackclub.com. For this issue to be closed, the following criteri

[2017-09-05 08:31] zachlatta commented on #1044
Unfortunately it's in a private repo, but this has been closed by 99f459791f510bcc9af23efd075f13c75dcd1ae5, 13157f42f21b2da1277c12358037933193058dc8, and 12796012983d29d0727c7d640fc49baf346197f1 in https://github.com/hackclub/proxy.

[2017-09-05 08:31] #1044 closed

[2017-09-05 23:55] mj66 opened #1045 "Hack.af shortlinking on invalid certificate"
Hack.af shortlinking is running on invalid certificate.

For example, the one I created today: http://hack.af/KVxQTY is identified as "invalid certificate" by Chrome. I think it ran on the `hackclub.com` certificate. Please check it ASAP.

[2017-09-06 00:02] #1045 closed

[2017-09-06 01:37] ifvictr opened #1046 "Add Glitch as a resource"
I discovered [Glitch](https://glitch.com) awhile back, and I think it'd be quite helpful to club members. Is there anywhere we can add this?

[2017-09-07 04:41] ifvictr commented on #1046
@zrl ^

[2017-09-07 20:09] MaxWofford commented on #1046
Great idea! Would a workshop work for this?

[2017-09-07 20:38] MaxWofford commented on #1046
Just looked further into glitch -- I thought it was a hosting platform like https://zeit.co/now when I posted that last comment, but now I see it's an editor. What would club members get out of using Glitch?

[2017-09-08 00:19] paked opened #1047 "deals.hackclub.com"
`deals.hackclub.com` should take you to github.com/hackclub/deals

[2017-09-08 03:09] ifvictr commented on #1046
@MaxWofford Glitch takes care of all the hard stuff and lets you focus on the code. It's not just an editor -- all projects are automatically deployed. Think of it like Cloud9, but with a simpler interface for beginners and projects you could directly clone from other people.

[2017-09-08 04:05] MaxWofford commented on #1046
Thoughts @hackclub/staff?

[2017-09-08 07:16] zachlatta commented on #1046
Let's add this to `hackclub/deals` in a new section called "suggested
resources" or something similar. Also move GitHub student pack there.
ᐧ

On Thu, Sep 7, 2017 at 9:05 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-09-08 07:17] zachlatta commented on #1046
We can figure out a better place in the future, but right now that's the
place where we link to other services.
ᐧ

On Fri, Sep 8, 2017 at 12:16 AM, Zach Latta <zach@zachlatta.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-09-08 07:32] ifvictr commented on #1046
I'm proposing this: Create a new repository called `resources`. This repo will be filled with links to sites/tools. `hackclub/deals` would be reserved specifically for offers and deals.

[2017-09-08 07:42] zachlatta commented on #1046
Think people would view it? Happy to go forward if you think so and are
down to maintain it, but worried about it becoming just another
unmaintained repo.
ᐧ

On Fri, Sep 8, 2017 at 12:32 AM, Victor Truong <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-09-08 19:58] paked commented on #1046
I don't think it makes much sense to further split up Hack Club's resources.

Instead of creating another repository, I'm pro putting it into a new
section on the deals repository (as Zach suggested).

On Fri, Sep 8, 2017 at 12:42 AM, Zach Latta <notifications@github.com>
wrote:

--
Harrison Shoebridge
https://harrison.tech

[2017-09-09 01:11] ifvictr commented on #1046
I think there's room for a compromise -- we can rename `hackclub/deals` to `hackclub/resources`, and break the README into two files: one for the the site resources and one for the deals.

[2017-09-09 01:11] paked opened #1048 "Send old task post-its to new leaders"
Hack Club needs to do some spring cleaning! :wastebasket:.

![img_20170908_180816](https://user-images.githubusercontent.com/8407370/30235734-d64af186-94c0-11e7-988a-b1587ce2b196.jpg)

As you can see, we have a fair bit of random old task post-its hanging around our door.

I think it'd be cool if we sent one to each new leader we onboard.

Task: Build a step into the new leader letter sending proc

[2017-09-10 01:38] ifvictr commented on #1046
@hackclub/staff How does the above sound?

[2017-09-10 01:40] zachlatta commented on #1046
Good idea and like the compromise. Let's do it.
Adding to our to-do board now.

On Sat, Sep 9, 2017 at 6:38 PM -0700, "Victor Truong" <notifications@github.com> wrote:

@hackclub/staff How does the above sound?

—
You are receiving this because you are on a team that was mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-09-10 19:02] retiform opened #1053 "Add more to "Linux On a Stick""
-Add pictures for formating steps, and the boot sequence
-Add stuff about Puppy Linux

[2017-09-11 04:47] MaxWofford commented on #1041
They're both using the new color scheme.

![screenshot_2017-09-10_21 43 07](https://user-images.githubusercontent.com/5891442/30258819-8a68e9f0-9671-11e7-8437-365e43d89fb3.png)

[2017-09-11 04:47] #1041 closed

[2017-09-11 18:53] MaxWofford commented on #1047
Fixed by https://github.com/hackclub/proxy/commit/a3f06263025731327018ddfcc7e362289002f893

[2017-09-11 18:53] #1047 closed

[2017-09-11 23:32] MaxWofford opened #1054 "Add instructions in case Cloud9 asks for a credit card"
If I'm a club member and I'm going through the [personal website workshop](https://workshops.hackclub.com/personal_website/), I would be confused if I was asked for my credit card while signing up for Cloud9 when the workshop instructions don't mention anything about it.

To fix this, the workshop should have steps to follow in case Cloud9 asks for a credit card.

[2017-09-12 19:42] zachlatta commented on #1054
Just for further clarification in case someone reading this issue isn't
familiar with what's happening here, occasionally the following happens:

1. User goes to https://hackclub.com/cloud9_setup after being directed from
https://hackclub.com/workshops/personal_website/
2. User gets a Cloud9 invite sent to their email
3. User clicks the invite, tries to sign-up for Cloud9, and is asked for
their c

[2017-09-14 12:48] zachlatta opened #1055 "Create alternative domain to access all Hack Club content"
Congrats! We've done it.

https://hackclub.com is now starting to be blocked by school filters. I've registered bulckcah.com as a proxy domain (hackclub spelled backwards).

Here's what I want us to do:

1. Have an exact copy of https://hackclub.com available on https://bulckcah.com only accessible over HTTPS
2. The word "hack" must *never* be sent in plaintext when doing anything at bulckcah.com

[2017-09-18 13:25] zachlatta commented on #1055
Completed. Everything is live at https://bulckcah.com/.

Completed in commits hackclub/proxy@4644d4a141e0c2841ceeefaf92e98fc8c8268f62, hackclub/proxy@8369effce7e8abaf03b096b8b3310dd893621c6e, hackclub/proxy@2821c9ceae7ba1acfffa46aaa0b99eee21642f62, and hackclub/proxy@d3df8b13ef07661342e195c7375b2ae4a118f98a.

[2017-09-18 13:25] #1055 closed

[2017-09-19 14:16] MatejMecka opened #1056 "Update The Slack Workshop"
There have been updates to the Slack Workshops around the channels mostly and need to be updated.

[2017-09-19 17:12] MatejMecka commented on #1056
I started working on fixing it. It'll be done soon

[2017-09-26 12:33] MaxWofford opened #1057 "bulckcah.com loads slow and requests timeout"
@cravend found this issue:
https://hackclub.slack.com/archives/C0J7C6YET/p1506428723000264

Right now if I load https://bulckcah.com, the page loads slowly and will timeout before all it's assets are loaded:

![screenshot_2017-09-26_05 29 44](https://user-images.githubusercontent.com/5891442/30860393-d491bf78-a27b-11e7-9da5-0e905cfa3048.png)

This page needs to load fully for people on locked down

[2017-09-26 19:25] zachlatta commented on #1057
Closed by hackclub/proxy@70782725cbb972adf1c991f378e9f39dd21c4993. I believe this was a result of the server double compressing proxied responses and overwhelming itself.

[2017-09-26 19:25] #1057 closed

[2017-09-27 04:31] MaxWofford opened #1058 "Create a check-in attendance dashboard"
It'd be useful to have a Mode Analytics dashboard with all the check-in attendance data so we can keep track of a club's health over time.

Here's a rough sketch from an in-person meeting with @zachlatta and @paked:

![img_20170926_171150](https://user-images.githubusercontent.com/5891442/30895879-f41b7c40-a301-11e7-8363-c88a138c41d7.jpg)

[2017-09-27 04:32] MaxWofford commented on #1058
https://modeanalytics.com/hackclub/reports/ef2742373cb6

[2017-09-27 04:32] #1058 closed

[2017-09-27 17:51] zachlatta commented on #1058
![](http://img.guggy.com/media/rkeo52Qt6G/animated/0/h/9rJKhiSHEAHd5sqFpyVrGJb5RLk6ZRwZTeRLQcSmpbZna5rPYPUuMiLQhmptogLs1RT3PfLuXsfHnxsY4y2LJQvvfppkt4meSVGESZ3BN9-AHVTWvDO136r6pZy7whB-0/guggy.gif)

[2017-09-27 22:56] MaxWofford opened #1059 "Handle clubs which haven't met in many (>5 months)"
_From @paked on September 27, 2017 17:53_

There are a bunch of clubs which are currently marked as dormant that have never had their first meetings in the first place.

We'll need to reach out to their leaders, figure out if they're still interested in running a club and then act accordingly.

_Copied from original issue: hackclub/monolith#209_

[2017-09-29 00:34] MaxWofford opened #1060 "Move GitHub account creation step of personal_website to after first website preview"
Just had a call with @AppIns where we talked about how people going through the personal_website workshop felt the account creation step took too long.

[2017-10-02 15:55] Bush1do commented on #1060
So just clone the repo and shorten that part right?

[2017-10-02 18:27] MaxWofford commented on #1060
You'll have to change the order of the workshop by moving GitHub account creation to after the first website preview.