[2015-04-11 15:59] jonleung opened #1 "Study efficacy of other guides and boxes"
1) Review the content of the boxes
2) Do user interviews on users of said boxes
- [ ] Coding Related
  - [ ] **Girls who Code**
    - [ ] [Details](https://github.com/jonleung/hackedu-private/issues/2)

- [ ] Other Reproducible Models
  - [ ] **CodeNow**
    - [ ] Read contents
    - [ ] Talk to at least 10 years
  - [ ] **CoderDojo**
    - [ ] Read contents
    - [ ] Talk to at least 10 years
  -

[2015-04-11 19:36] zachlatta commented on #1
Is there a deliverable for this task? Perhaps putting together some doc
that's an overview of the different offerings or something.

[2015-04-11 19:50] zachlatta commented on #1
One of the things you can do is link to other tasks simply by saying jonleung/hackedu-private#2.

[2015-04-12 16:14] zachlatta opened #2 "Rebranding"
In IRC, @JacobEdelman said:

This is the thread for discussing that.

[2015-04-12 16:31] MaxWofford commented on #2
:+1: for a collaborative wiki. That's seems like a great format for this.

[2015-04-12 19:56] zachlatta commented on #2
Just to be explicit, I'm thinking that people would create/edit files in
the main repo through PRs, not necessarily using GitHub wikis. What are
your thoughts?

[2015-04-12 20:02] JacobEdelman commented on #2
Same here, although the repo might end up being treated like a collaborative wiki I imagine.

[2015-04-12 20:09] zachlatta commented on #2
Yeah, agreed. ^

[2015-04-12 21:32] jonleung commented on #2
Agreed to everything

[2015-04-12 21:35] jonleung opened #3 "Make it really easy to join our hackEDU channel"
Perhaps the channel is already open in the tab of our website where you can see all of the chat happening and you can just join in by typing your name

[2015-04-12 22:45] MaxWofford commented on #3
There's a link to our channel on freenode in https://github.com/hackedu/hackedu/pull/67.

@zachlatta Could  get a code review and merge on this?

[2015-04-13 16:42] zachlatta commented on #3
Yup! Looks good—just waiting on squash.

[2015-04-13 16:43] zachlatta commented on #2
Great, once hackedu/docs#27 is closed we can close this as well and move forward.

[2015-04-14 06:08] zachlatta opened #5 "Timeline"
Create a timeline from now, April 2015, to August 2015 (initial iteration) for the club in a box.

* [ ] Find out what effective timelines for projects look like
* [ ] ???
* [ ] Profit (Orpheus)

[2015-04-14 18:11] zachlatta opened #6 "Plan Lowell club meeting"
Perhaps this should go into https://github.com/hackedu/docs.

* [x] Create meeting agenda
* [ ] Create post-meeting survey

@jonleung, @MaxWofford

[2015-04-14 18:32] zachlatta opened #7 "Plan Lincoln club meeting"
Perhaps this should go into https://github.com/hackedu/docs.

* [x] Create meeting agenda
* [ ] Create post-meeting survey

@jonleung, @MaxWofford

[2015-04-15 04:04] jonleung commented on #7
Forgot to create a post-meeting survey

[2015-04-15 04:04] #7 closed

[2015-04-17 10:09] zachlatta opened #8 "Visiting clubs on the East coast."
@jonleung what if we did a trip to the East coast and visited as many schools as we can before the school year ends?

We'd want to do this before finals as well, because they'll be super busy then.

[2015-04-17 19:03] MaxWofford commented on #6
I will create a single form that we can use for all meetings, and have a subdomain (ex. feedback.hackedu.us) route to it.

[2015-04-17 19:03] #6 closed

[2015-04-17 19:04] MaxWofford commented on #6
Forgot to pass out post-meeting survey.

[2015-04-18 06:49] jonleung commented on #5
Preliminary Work hackedu/club-in-a-box/issues#31c51cc9

[2015-04-18 18:47] jonleung opened #9 "Week 1: Data Collection"
Get out of the building
  - OBJECTIVES
    - Find out
      - [ ] all the clubs that we have access to
      - [ ] when and for how much longer we can visit each club
      - [ ] biggest reasons for starting and joining clubs
      - [ ] biggest problems for starting, running and being part of a club
      - [ ] biggest wins for starting and joining a club

  - METHODOLOGY
    - [ ] Flush this out

[2015-04-18 19:16] jonleung commented on #5
Added preliminary timeline for club in a box, next steps
(1) Peer Review
(2) Identify Riskiest Assumptions

https://github.com/hackedu/club-in-a-box/blob/master/timeline/timeline.md

[2015-04-18 19:16] #5 closed

[2015-04-21 16:38] jonleung opened #10 "Week 1 Club Lessons!"
This week I made a Twilio calling challenge in python that focuses on learning how to Google to say something out loud to deactivate a bomb. Will keep you guys posted on how it goes!

https://github.com/jonleung/Twilio-Calling-Challenge-part-2-of-twilio-sms-challenege-/blob/master/README.md

[2015-04-21 19:08] zachlatta commented on #10
Awesome! :shipit:

Perhaps put it in a PR?

[2015-04-22 01:14] jonleung opened #11 "Can you add these guys to HS Hackers?"
5/6 of them joined the HS Hackers FB Group:

Sean Fronteras
Eric Hon
Dawson Wu
Michelangelo Barbic
Miguel Hernandez
Justin Yee

[2015-04-24 20:30] jonleung opened #12 "You should have all physical and digital materials open and layed out."
- There is very limited time in a club meeting.
- Moreover, the more time it takes to do something in the club, members get distracted and the moment of the club meeting can be lost
- Therefore, if you can either do something X either in the club meeting or before the club meeting, opt to do it before the club meeting
- Example, if you have a demo app you want to show someone, opt for opening this

[2015-04-24 20:33] jonleung opened #13 "500 - TODO - You need to make an issue for this discussion!"

[2015-04-24 20:35] zachlatta commented on #12
Can you give this issue a more descriptive/specific title? I'm not quite sure what this means just from the title.

[2015-04-24 20:37] zachlatta commented on #13
What does this issue mean?

[2015-04-27 06:25] zachlatta commented on #5
FYI:

1. You can link to specific commits (so the link is immutable, file paths can change) directly by putting the commit SHA like `8a99234f7296cce90e4e5990ace3e5156bcf8095` 8a99234f7296cce90e4e5990ace3e5156bcf8095
2. If LibreOffice files are saved in their flat XML format (`.fods` for Calc) then git can version control the file itself, instead of just store binary copies. I'm going to go ahead a

[2015-04-27 06:31] zachlatta commented on #11
Added the following, anyone not added has already been accepted or hasn't requested to be added to the group yet:

* Eric Hon
* Miguel Hernandez
* Justin Yee

[2015-04-27 06:31] #11 closed

[2015-04-27 06:34] #2 closed

[2015-04-27 06:34] zachlatta commented on #2
Renamed!

[2015-04-27 07:04] zachlatta opened #14 "Clean up migrated club playbook materials"
I went ahead and moved the club playbook materials from https://github.com/hackedu/meta to here in 22c6cfbc201b7a93da3f5505e8e15564240b21b9.

Can you go through these and reorganize/remove things as needed?

[2015-04-27 07:23] zachlatta commented on #12
Ah, now that I'm looking at the web interface, I see.

Perhaps this would be better suited for a file in the repo? Issues may not be the best place for content.

[2015-04-27 07:23] zachlatta commented on #13
Closing due to lack of response.

[2015-04-27 07:23] #13 closed

[2015-04-27 07:31] zachlatta opened #15 "Example club constitution"
Formerly hackedu/meta#23.

---

As mentioned by @MaxWofford in the old issue, it'd be great if we had an example club constitution. We could start with @raphaelrk's (https://docs.google.com/document/d/1jvuNDaJASLbuxoc2Q6NepYHOKejy0Az-Z6ikAhpYxlM/edit).

[2015-04-29 02:01] jonleung commented on #12
@zachlatta, I opened an issue instead of a file because you can't comment on a file, only a file *change*

Any suggestions on how to do this would be helpful!

[2015-04-29 02:03] jonleung commented on #14
Cool, will do @zachlatta. Closing issue even though I didn't do it yet because it will eventually new done.

[2015-04-29 04:52] jonleung opened #16 "Finish at least 1 Github tutorial"
It would also be great if you could leave a review of which git tutorials you found helpful and not helpful!

[2015-04-29 04:55] jonleung opened #17 "Come up with 3 projects that her club can work on and will write up a 3 sentence description."
Just paste in the descriptions into this issue!

@jonleung would be more than happy to talk through this with you!

[2015-04-29 04:57] jonleung opened #18 "Figure out how to use cloud9 by sending a text message with Twilio through it"
Let @jonleung or @Cydrobolt know if you have any questions!

Paste a link to a read only version of the c9.io app here!

[2015-04-29 05:03] jonleung opened #19 "Will ship a medium blogpost on how he got an internship offer"
So excited for this!

[2015-04-29 05:16] jonleung opened #20 "Finish a draft of the club budget by April 30th"
And just paste a readonly link to your budget here @xeonjake!

[2015-04-29 12:01] zachlatta commented on #19
Perhaps we could also have this in a Markdown file in the repo?

[2015-04-29 12:03] zachlatta commented on #17
What if @amysorto submitted a PR for this? Is the lack of a good getting started with pull requests blocking?

[2015-04-29 12:03] zachlatta commented on #16
What constitutes a GitHub tutorial? "GitHub" can mean a lot of things.

[2015-04-29 12:16] zachlatta commented on #14
What's the point of closing this if it's not resolved and part of the sprint?

[2015-04-29 12:17] zachlatta commented on #12
This is true, but is this something that warrants discussion? If someone wants to change something, they can open an issue or a PR.

Is GitHub issues the best place to store information/data?

[2015-04-29 16:14] xeonjake commented on #20
https://docs.google.com/document/d/1ODgYQFGjAOYxFdAulO_xP1HgSU2o98m0PAwnVX6eL20/edit?usp=sharing

[2015-04-29 17:44] jonleung commented on #20
@xeonjake, don't forget to tag Amy!

[2015-04-29 19:19] xeonjake commented on #20
@amysorto, you already saw this, but I am tagging you anyways

[2015-04-29 20:55] jonleung commented on #20
@xeonjake kwel! Also, don't forget to checkoff the issue in the main sprint issue when you complete a task!

https://github.com/hackedu/pm/issues/16

[2015-04-29 22:12] Bogidon commented on #19
I'm in! I will publish to Medium, but can add a markdown version to the repo as well.

[2015-04-30 02:21] jonleung commented on #17
@zachlatta, I agree, @amysorto, do you want to make a pull request into the repo somewhere?

[2015-04-30 02:22] jonleung commented on #12
Yeah, not sure how to do this better though.

[2015-04-30 13:40] zachlatta commented on #19
Perfect. Let's plan on both.

[2015-04-30 13:41] zachlatta commented on #20
Awesome! Perhaps we could add this as a markdown file to this repo as an example club budget?

[2015-05-01 02:43] jonleung commented on #20
I don't know if it is the most efficient use of time  to reproduce work for
the sake of having it in markdown if people are just going to use it in
Google sheet anyway @zachlatta?
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Thu, Apr 30, 2015 at 6:41 AM, Zach Latta <notifications@github.com>
wrote:

[2015-05-01 02:43] jonleung commented on #19
@ZachLatta, not sure if it makes sense to duplicate efforts here because
wouldn't it be great if the conversations took place in one place, i.e.
medium?
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Thu, Apr 30, 2015 at 6:40 AM, Zach Latta <notifications@github.com>
wrote:

[2015-05-03 06:36] MaxWofford commented on #16
@jonleung If you are looking for a git tutorial, I'd highly recommend [git for ages 4 and up](https://www.youtube.com/watch?v=1ffBJ4sVUb4)

[2015-05-03 19:07] zachlatta commented on #16
Git for Ages 4 and Up is a great intro to how git works. @MaxWofford, do
you think it's a good introduction to practically using git?

--
Zach Latta Executive Director of hackEDU[1] http://zachlatta.com
https://github.com/zachlatta https://twitter.com/zachlatta

On Sat, May 2, 2015, at 11:36 PM, Max Wofford wrote:

Links:

  1. https://hackedu.us/
  2. https://github.com/jonleung
  3. https://www.

[2015-05-03 20:05] zachlatta commented on #19
Will there be conversation associated with every post? It'd be nice to
link to as few external things as possible because links die over time.

[2015-05-04 01:45] MaxWofford commented on #16
I learned git basics (push, pull, add, commit, checkout) through using it for personal projects, and then got an understanding of how git works by watching Git for Ages 4 and Up. Once I had that understanding learning things like how to properly rebase, reset, etc. was pretty quick.

[2015-05-04 14:08] zachlatta commented on #20
I think it'd be nice to have as few external links as possible because links die. Maybe this worry isn't necessary though.

For now let's just have a file that links to @xeonjake's Google Doc in the repo and then we can close this issue.

[2015-05-04 15:28] xeonjake commented on #20
I need to move all my google docs to a markdown document in the next few
weeks anyways. So I get it can be done if you like.
Also I realize that I need some revision on the club budget.

On Mon, May 4, 2015, 07:08 Zach Latta <notifications@github.com> wrote:

[2015-05-04 16:06] zachlatta commented on #20
Ah, awesome! Are your markdown documents going to be public in something like a GitHub repo?

[2015-05-04 22:53] xeonjake commented on #20
yup, here is the document repo: https://github.com/HackClub-SLHS/club-document/tree/master i still need convert it to markdown, but for now it will work

[2015-05-05 02:11] zachlatta commented on #12
Just following-up on this.

[2015-05-05 02:17] zachlatta opened #21 "Collect data from leaders and make sure club leaders have successors"
Reach out to all of our club leaders and collect the following data:

* Is there a successor?
* Do we know them?
* Where are you going to college?
* Testimonial for hackEDU
* NPS for hackEDU
* Biggest problems they've faced as a club leader
  * Validate the assumption that the biggest thing is curriculum

Additionally, have all of the club leaders make a PR to add themselves to a club leaders CSV

[2015-05-05 02:19] zachlatta opened #22 "Improve and reformat Twilio workshops to make them accessible to club leaders"

[2015-05-05 02:22] zachlatta commented on #3
Closing because hackedu/hackedu#67 has been merged.

[2015-05-05 02:22] #3 closed

[2015-05-05 02:22] zachlatta commented on #8
We decided against this offline.

[2015-05-05 02:22] #8 closed

[2015-05-05 02:24] zachlatta opened #23 "Attendance sheet template"
Create an attendance sheet template.

[2015-05-05 02:25] zachlatta opened #24 "Lesson structure document"
Create a document that outlines how to format a given club meeting.

[2015-05-05 02:27] zachlatta opened #25 "FizzBuzz workshop"
Put together a markdown lesson plan for the FizzBuzz workshop you're putting together. Would be great if you could resolve this with a PR.

[2015-05-06 03:41] jonleung commented on #12
Close
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Mon, May 4, 2015 at 7:11 PM, Zach Latta <notifications@github.com> wrote:

[2015-05-06 03:46] zachlatta commented on #12
What?

[2015-05-06 03:47] jonleung commented on #12
Closed, trying to close the issue. A.k.a Skip
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Tue, May 5, 2015 at 8:46 PM, Zach Latta <notifications@github.com> wrote:

[2015-05-06 03:50] jonleung commented on #16
@amandadoan, any updates on this : )
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Sun, May 3, 2015 at 6:45 PM, Max Wofford <notifications@github.com>
wrote:

[2015-05-06 03:57] zachlatta commented on #12
So do you agree that "Perhaps this would be better suited for a file in the repo?" and we should close this issue? I'm confused.

[2015-05-06 04:29] jonleung commented on #12
I don't know
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Tue, May 5, 2015 at 8:57 PM, Zach Latta <notifications@github.com> wrote:

[2015-05-06 04:29] zachlatta commented on #12
What? Why are you trying to close the issue if you don't know whether it's resolved or not?

[2015-05-06 04:31] jonleung commented on #12
I don't think it's worth spending time discussing this right now. What do I do with those kinds of issues?

[2015-05-06 14:35] zachlatta commented on #12
Let's close it for now.

[2015-05-06 14:35] #12 closed

[2015-05-06 20:51] jonleung commented on #14
I don't remember committing to this for this week, I want to table this and focus on the more important things

[2015-05-07 00:02] zachlatta commented on #14
Alright, sounds good. Adding to backlog.

[2015-05-07 00:51] MaxWofford commented on #8
@zachlatta Could the reasons for this be brought up in IRC? We might have a hackEDU leader in the area who could help us do this.

[2015-05-07 06:12] zachlatta commented on #8
Our reasons for considering a trip to the East coast were twofold:

1) More effectively build club-in-a-box
2) Create fundraising materials (pretty photos, that sort of thing)

We decided that the best way to iterate on the club-in-a-box would be to put together a staggered summer program with multiple concurrent "cohorts". It'd look something like the following, where the numbers are the current

[2015-05-08 04:42] amandadoan commented on #16
Hey guys! So the course that I used was "How to Use Git and Github" on Udacity linked here:
https://www.udacity.com/course/how-to-use-git-and-github--ud775
It offered "prerequisites" on how to navigate Bash, which was incredibly helpful since I forgot everything after not using it for a while! Also linked here:
http://linuxsurvival.com/wp/?page_id=5&id=0
Nice for a refresher or if you're a beginne

[2015-05-08 15:20] zachlatta commented on #16
Awesome! So glad it was helpful @amandadoan :-).

Checked off the corresponding checkbox on hackedu/pm#16.

[2015-05-08 15:20] #16 closed

[2015-05-12 17:58] zachlatta commented on #15
Are we holding off on this for now?

[2015-05-12 17:59] zachlatta commented on #20
Are we holding off on this for now?

[2015-05-12 17:59] zachlatta commented on #23
Are we holding off on this for now?

[2015-05-12 18:01] zachlatta commented on #21
Revising this task...

Instead of collecting all of that data, just make sure that everyone, if needed, has a successor (I'll leave anything else to your discretion, just make note of the work you're doing in this issue).

[2015-05-13 00:54] xeonjake commented on #20
yes i am holding it off

[2015-05-13 06:02] MaxWofford opened #26 "Create venue spreadsheet"
Create a spreadsheet to track potential venues for hackEDU's summer program.

[2015-05-13 06:13] MaxWofford commented on #26
This is in the dropbox under `summer_program/`

[2015-05-13 06:13] #26 closed

[2015-05-13 06:22] MaxWofford commented on #21
I'm not getting a ton of responses through fb. Do you have the contact info of many of these leaders?

[2015-05-14 19:21] MaxWofford opened #27 "Summer students fill out survey to be part of Founder class"
Summer students fill out survey to be part of Founder class.

[2015-05-16 15:52] MaxWofford commented on #21
@jonleung @zachlatta I'll be sending you two a list of everyone who hasn't responded. Could you try getting in contact with them?

[2015-05-17 17:52] zachlatta commented on #21
Have you tried pinging them to follow-up?

[2015-06-12 18:52] MaxWofford commented on #15
@zachlatta @jonleung What is an actionable way to proceed with this?

[2015-06-12 18:52] MaxWofford commented on #23
@jonleung @zachlatta Do we have any insight into this from Hack Camp, or is this still not actionable?

[2015-06-12 21:48] MaxWofford commented on #27
@jonleung finished this at the beginning of the first class

[2015-06-12 21:48] #27 closed

[2015-06-12 21:49] MaxWofford commented on #19
@jonleung Is this still a high leverage activity?

[2015-06-12 21:50] zachlatta commented on #19
I vote for closing for now.

[2015-06-12 21:51] MaxWofford commented on #10
@jonleung Is there an actionable goal that you plan on finishing to this issue?

[2015-06-12 21:52] MaxWofford commented on #9
@jonleung Is this still relevant?

[2015-06-12 21:54] MaxWofford commented on #1
@jonleung Let's close this issue if there isn't a well-defined deliverable.

[2015-06-12 21:55] MaxWofford commented on #19
@zachlatta Ok, I'll bring this up to @jonleung irl, and close the issue within 3 hours if there are no updates.

[2015-06-12 21:55] zachlatta commented on #19
Your GitHub issues skills are on point.

[2015-06-13 02:30] jonleung commented on #19
@zachlatta, feel free to close
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Fri, Jun 12, 2015 at 2:55 PM, Zach Latta <notifications@github.com>
wrote:

[2015-06-13 02:32] #19 closed

[2015-06-14 18:05] #1 closed

[2015-06-14 18:09] zachlatta commented on #9
Closing for now due to lack of response.

[2015-06-14 18:09] #9 closed

[2015-06-14 18:09] zachlatta commented on #10
Closing for now due to lack of response.

[2015-06-14 18:09] #10 closed

[2015-06-16 18:15] jonleung opened #28 "Work with Max and Andrea to come up with how to break down work for the upcoming cohort."

[2015-06-16 18:18] jonleung opened #29 "Prepare for call with Ashley + Alt School Person"

[2015-06-16 18:23] MaxWofford commented on #28
@jonleung Does this overlap with https://github.com/hackedu/hack-camp/issues/57?

[2015-06-16 18:28] jonleung commented on #28
oops, wrong repo

[2015-06-16 18:28] #28 closed

[2015-06-16 18:29] zachlatta commented on #29
Should this be in this repo?

[2015-06-16 18:29] zachlatta commented on #29
Should this go into this repo?

[2015-06-16 20:11] MaxWofford commented on #21
Closing this because no longer relevant.
Status: all updated club leaders are in the airtable. Empty columns are clubs that I couldn't reach multiple times.

[2015-06-16 20:11] #21 closed

[2015-06-16 20:12] MaxWofford commented on #20
@xeonjake @jonleung @zachlatta Is this issue still relevant?

[2015-06-16 20:12] MaxWofford commented on #18
@amysorto @jonleung Is this issue still relevant?

[2015-06-16 20:20] MaxWofford commented on #17
@amysorto @jonleung @zachlatta Does this issue still have a relevant take-away?

@amysorto If you'd like a quick intro to pull requests and using github for collaboration I'd be happy to help. Feel free to ping me here, on IRC, or at max@hackedu.us

[2015-06-16 20:42] MaxWofford commented on #25
Hey, @Cydrobolt! Is this issue still relevant?

[2015-06-16 20:43] Cydrobolt commented on #25
I think we can close this. I tried to do something like this in my club, it might have been a bit too simple to do as an activity with a lesson plan.

[2015-06-16 20:45] MaxWofford commented on #25
@Cydrobolt Ok :-)

[2015-06-16 20:45] #25 closed

[2015-06-16 21:25] zachlatta commented on #17
I'd lead on closing this.

[2015-06-16 21:34] zachlatta commented on #20
I'd lean on closing.

[2015-06-17 16:12] MaxWofford commented on #29
Moved from hack-camp/#70

- read q
- read thorough own notes
- Look through GWC
- funcs
- you have lots if project time
- testing knowledge
- training how?
- idea of tutting everything
- lack of motivation in beginning

[2015-06-18 16:16] #29 closed

[2015-07-07 00:32] zachlatta commented on #17
Closing due to lack of activity and being questionably relevant. If anyone thinks we should reopen this, just let me know!

[2015-07-07 00:32] #17 closed

[2015-07-07 00:34] zachlatta commented on #18
Closing due to lack of activity and being questionably relevant. If anyone thinks we should reopen this, just let me know!

[2015-07-07 00:34] #18 closed

[2015-07-07 00:35] zachlatta commented on #23
I've scheduled a session with club leaders to brainstorm things we need to do to account for the "meta" things involved in running a club. If an attendance sheet comes up again during that call, will either reopen this issue or create a new one.

For now closing due to lack of activity and being questionably relevant. If anyone thinks we should keep this open, just let me know!

[2015-07-07 00:35] #23 closed

[2015-07-07 00:35] zachlatta commented on #20
Closing due to lack of activity and being questionably relevant. If anyone thinks we should reopen this, just let me know!

[2015-07-07 00:35] #20 closed

[2015-07-07 00:36] zachlatta commented on #24
Closing due to lack of activity and being questionably relevant. If anyone thinks we should reopen this, just let me know!

[2015-07-07 00:36] #24 closed

[2015-07-07 00:37] zachlatta commented on #22
Closing due to lack of activity and being questionably relevant. If anyone thinks we should reopen this, just let me know!

[2015-07-07 00:37] #22 closed

[2015-07-14 06:44] zachlatta opened #30 "Make list of clubs/leaders to interview."
One of the things not mentioned in our https://github.com/hackedu/hackedu/blob/71508adc8c092b2c1059cfa88b04537197a54635/meta/labs_program/meetings/15-07-13_initial_brainstorm.md discussion, but that we'll need to do is actually selecting the 12 clubs to partake in our labs program going into next semester. Any thoughts on selection criteria?

Also, for those who aren't familiar with our labs progr

[2015-07-14 06:49] zachlatta opened #31 "Schedule calls with the club leaders for each of our labs clubs"
As mentioned in our https://github.com/hackedu/hackedu/blob/71508adc8c092b2c1059cfa88b04537197a54635/meta/labs_program/meetings/15-07-13_initial_brainstorm.md discussion, before diving too deep into the specifics of each semester, we'll want to schedule a discussion with all of the club leaders from each of the clubs in our labs program to learn as much as possible about how their club functioned

[2015-07-27 17:48] jonleung opened #32 "Ask Github for private repos"
Jonathan has a connection to someone who works at Github and will email that person.

[2015-07-27 17:53] zachlatta commented on #32
Closing in favor of hackedu/meta#92.

[2015-07-27 17:53] #32 closed

[2015-07-27 22:43] #14 closed

[2015-07-27 22:43] jonleung commented on #14
Closed because it is no longer relevant

[2015-08-04 20:43] jonleung commented on #30
@zachlatta thoughts on "If you deviate from any of our curriculum, we want you to write up what you did so that others can reproduce it. Think a scientist who records his findings so that other people can reproduce it".

[2015-08-04 20:49] zachlatta commented on #30
What if we just push for not deviating from curriculum? At least for this
cohort.

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Tue, Aug 4, 2015 at 1:43 PM, Jonathan Leung <notifications@github.com>
wrote:

[2015-08-04 20:49] zachlatta commented on #30
I feel like that'll help us better diagnose issues and work with the
leaders.

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Tue, Aug 4, 2015 at 1:49 PM, Zach Latta <zach@zachlatta.com> wrote:

[2015-08-05 03:27] MaxWofford commented on #30
@zachlatta Is there a reason your comments are cut off like that?

[2015-08-05 03:45] zachlatta commented on #30
I think it's just because I'm replying from my email and GitHub is hiding
my signature.

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Tue, Aug 4, 2015 at 8:27 PM, Max Wofford <notifications@github.com>
wrote:

[2015-08-05 04:59] MaxWofford commented on #30
Do you have an 80 character word-wrap on your emails?

[2015-08-05 05:06] zachlatta commented on #30
Most email clients wrap at 72 characters. See 3.0 in
http://www.ietf.org/rfc/rfc2646.txt.

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Tue, Aug 4, 2015 at 9:59 PM, Max Wofford <notifications@github.com>
wrote:

[2015-08-05 05:07] zachlatta commented on #30
I should clarify: most email clients I know of wrap at 72 characters.

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Tue, Aug 4, 2015 at 10:06 PM, Zach Latta <zach@zachlatta.com> wrote:

[2015-08-05 05:32] MaxWofford commented on #30
Did you recently change something? I don't recall your old email comments doing this on github.

[2015-08-05 06:14] zachlatta commented on #30
Not that I know of. I believe my old ones did it too.

Hmm... odd.

--
Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Tue, Aug 4, 2015 at 10:32 PM, Max Wofford <notifications@github.com>
wrote:

[2015-08-07 10:49] jonleung commented on #30
@zachlatta, what are your planned steps for this?

[2015-08-07 10:52] zachlatta commented on #30
Yeah, so I've started talking to a couple clubs when onboarding mentioning
that we will be doing this labs program and letting them know we'll get
back to them about whether we accept them.

My current plan is to have a personal planning document for putting this
together, at least until I have a better understanding of what the labs
program will look like.

On Fri, Aug 7, 2015 at 3:49 AM, Jonatha

[2015-08-10 15:46] zachlatta opened #34 "It's not clear how to use GitHub issues in CONTRIBUTING.md"
Perhaps link https://guides.github.com/features/issues/?

[2015-08-10 17:52] jonleung commented on #30
@zachlatta, I just wanted to follow up on the email that you were going to draft to invite clubs to the labs program with the specific languaging of something like "We want you to come experiment and discover what works" as opposed to "We will help you".

[2015-08-10 19:47] zachlatta commented on #34
Perhaps also include using kanban with ZenHub?

[2015-08-10 22:10] #34 closed

[2015-08-12 06:36] jonleung opened #37 "Create a list of people that we are going to invite to the labs Program"
As discussed, @zachlatta will add the first 12 names of clubs that he already came up with.

@zachlatta should ping me after he adds this list.

Every applicant in this list needs to have an associated "code name" that is like a heroku server generated name.

See this letter for potential phrasing: https://gist.github.com/jonleung/f5760ba7876adb07fd35

[2015-08-12 06:37] jonleung opened #38 "Calls first applicant"
Invites them to an interview with @jonleung

@jonleung will also be on the call

[2015-08-12 06:37] jonleung opened #39 "Create contract for Labs Program"

[2015-08-12 06:37] jonleung opened #40 "Create title for Labs Program club organizer"
EDIT:

For context, I think it could feel awesome to have an official title if you are in the labs program.

@zachlatta @MaxWofford @hellyeah

[2015-08-12 15:24] jonleung opened #41 "Email Jonathan the progress update that you communicated to Sooz"
I am going to have a call with Sue's sometime this week and it would be good to be on the same page. It would be great if we can get this done end of day today.

EDIT BY @maxwofford: Changed to 1st person

[2015-08-12 17:39] zachlatta commented on #41
You have it – I BCCed emails@hackedu.us on all my emails with her. Just
search for emails from me to her in your inbox.

On Wed, Aug 12, 2015 at 8:24 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-12 17:39] #41 closed

[2015-08-12 17:39] zachlatta commented on #41
Also, I think hackedu/meta may be a better place for issues like these in
the future.

On Wed, Aug 12, 2015 at 10:39 AM, Zach Latta <zach@hackedu.us> wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-12 20:42] zachlatta commented on #37
Duplicate of #30.

[2015-08-12 20:42] #37 closed

[2015-08-12 21:59] zachlatta opened #42 "Improve contribution guidelines"
Our current contribution guidelines (in `CONTRIBUTING.md`) don't have everything in them.

Things to add:

- What a good pull request looks like
  - Perhaps include when to rebase?
- How to create discussions
- Ideas board
- Jonathan's ideas
  - what a good commit message is
  - squashing commits
  - using rebase vs merge
  - I wrote ^ those 3 bullet points because I've been critiqued on the fact

[2015-08-12 23:23] jonleung commented on #30
As discussed, @zachlatta will add the first 12 names of clubs that he already came up with.

@zachlatta should ping me after he adds this list.

Every applicant in this list needs to have an associated "code name" that is like a heroku server generated name.

See this letter for potential phrasing: https://gist.github.com/jonleung/f5760ba7876adb07fd35

[2015-08-16 15:31] jonleung opened #45 "Reach out to Abraham Lincoln high school"
We have decided to run clubs in SF. We already have a relationship with Abraham Lincoln high school so it will be easier to reach out to them to resume our club.

I would personally recommend co-leading the club with one of their students.

EDIT by @maxwofford: I've removed the names

[2015-08-16 16:19] MaxWofford commented on #45
@jonleung I've removed the full names of individuals at this high school for privacy reasons.

[2015-08-17 17:59] MaxWofford opened #46 "Write out objective for labs program and clubs we're running in SF"
Moved from https://github.com/hackedu/hack-camp/issues/501

[2015-08-17 18:00] MaxWofford opened #47 "Create task list for prepping for first club meetings"
Moved from https://github.com/hackedu/hack-camp/issues/500

Create bullet-point list of what needs to happen from now until first meeting for the following:

- @saescapa
- @xeonjake
- Lowell's club
- @amysorto

Put notes from each call (containing bullet points) in https://github.com/hackedu/hackedu/tree/master/meta/labs_program/meetings.
Track progress of this task (like saying when a call with o

[2015-08-17 18:00] MaxWofford commented on #47
@jonleung Has volunteered to take point on reaching out to @amysorto and Lowell's club.

[2015-08-17 19:09] MaxWofford commented on #40
Lab leader?

[2015-08-17 19:11] MaxWofford opened #48 "Send out contracts and rejections"
Send out all contracts and rejections by Tuesday (08/25)

[2015-08-17 19:13] MaxWofford commented on #48
This is blocking on #39 & #31.

[2015-08-17 19:14] MaxWofford commented on #31
Adding blocking tag because this is waiting for #30

[2015-08-17 19:19] MaxWofford commented on #45
@jonleung Closing this issue because it is covered in https://github.com/hackedu/hackedu/issues/47

[2015-08-17 19:19] #45 closed

[2015-08-17 19:23] MaxWofford commented on #38
@jonleung This seems to be within the scope of https://github.com/hackedu/hackedu/issues/31. Please reopen this if they are different.

[2015-08-17 19:23] #38 closed

[2015-08-17 19:23] MaxWofford commented on #15
@zachlatta Do we need this for our Labs clubs?

[2015-08-17 20:20] hellyeah opened #49 "Create bullet point outline of what to cover in labs interview calls"

[2015-08-17 20:22] hellyeah opened #50 "Convince club leaders that diverse leadership gives them an advantage"

[2015-08-17 22:21] MaxWofford commented on #49
@hellyeah What does this issue entail?

[2015-08-18 00:00] jonleung commented on #15
@MaxWofford we might need it for some of our labs programs. Perhaps close this until we need one?

[2015-08-18 00:04] jonleung commented on #31
@zachlatta I think we should outline the specific workflow that we're using to get a club from on the spreadsheet to a call scheduled. I think having a clear deliverable will help the entire team reach it's goal. Would you like to create an issue / issues to outline that process?

[2015-08-18 00:05] jonleung commented on #40
@MaxWofford, eh not feeling `Lab leader`...

[2015-08-18 00:21] MaxWofford commented on #31
@jonleung Not sure if this is needed. I've already called 4/5 students just using the spreadsheet.

[2015-08-18 00:22] MaxWofford commented on #15
@jonleung Sounds good

[2015-08-18 00:22] #15 closed

[2015-08-18 00:40] zachlatta commented on #31
I'd be partial to just tracking this in the spreadsheet, as long as
everyone keeps it updated.

On Mon, Aug 17, 2015 at 5:21 PM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-18 00:50] jonleung commented on #31
@MaxWofford @zachlatta, perhaps we make an issue to make sure that the spreadsheet is updated and with what?

[2015-08-18 01:32] MaxWofford opened #51 "Create guidelines to handle wait-listed non-labs clubs"

[2015-08-18 02:30] jonleung opened #52 "Create plan for non-labs program clubs"
For the clubs that are not in the labs program:

- what will our interaction with them be?
- if they reach out for help, what will happen?

I scheduled a lunch meeting to discuss this tomorrow (Tuesday August 17th)

[cc @hellyeah, @zachlatta, @MaxWofford, @andreadeng]

[2015-08-18 02:42] MaxWofford commented on #52
This is a duplicate of #51

[2015-08-18 17:38] zachlatta commented on #30
Alright, we're tracking this over in https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=0.

[2015-08-18 17:50] zachlatta commented on #50
Any thoughts on what the deliverable for this would be?

[2015-08-18 18:13] MaxWofford commented on #51
Closing this because #52 was created.

[2015-08-18 18:19] MaxWofford commented on #30
Closing this because @zachlatta posted the deliverable.

[2015-08-18 18:25] zachlatta opened #54 "Introduce all club leaders to Dave for interviews"
Spreadsheet linked in https://github.com/hackedu/hackedu/tree/master/meta/labs_program.

/cc @jonleung @hellyeah

[2015-08-18 18:26] zachlatta commented on #31
On Monday we changed the way we were going to do the labs program a bit. The original purpose of this interview, to find out what happened in clubs last year, will now be addressed during the interview process. I'm going to track progress on getting interviews set up in #54 instead.

[2015-08-18 18:26] #31 closed

[2015-08-18 18:28] zachlatta commented on #30
Reopening because I'd like the deliverable to be in the GitHub repo. Creating a PR now...

[2015-08-18 18:30] zachlatta opened #55 "Get all contracts signed"

[2015-08-18 18:51] jonleung commented on #51
@MaxWofford, i"m closing this issue because it seems like you meant for it to be closed.

[2015-08-18 18:51] #51 closed

[2015-08-18 18:59] jonleung commented on #40
@hellyeah any suggestions for this?

[2015-08-18 19:13] zachlatta commented on #30
This is blocking on #49.

[2015-08-18 19:38] #50 closed

[2015-08-18 19:38] hellyeah commented on #50
wasnt actually done

[2015-08-18 19:38] hellyeah commented on #50
decided it didnt warrant an issue

[2015-08-18 19:57] zachlatta commented on #30
Alright, so as discussed in today's standups we'll be proceeding with our existing pipeline + 3 clubs that @jonleung is going to add to the spreadsheet. Currently blocking on him doing that.

[2015-08-18 19:58] zachlatta commented on #40
Going to discuss this as well during today's lunch.

[2015-08-18 21:30] hellyeah opened #58 "Build an autonomous community for non-labs clubs."

[2015-08-18 21:34] hellyeah opened #59 "Create Medium Publication for hackEDU"

[2015-08-18 21:59] zachlatta commented on #40
Alright, we decided on "Lab Director". I created #60 to create a deliverable for this.

[2015-08-18 22:48] #40 closed

[2015-08-18 22:48] MaxWofford commented on #59
@hellyeah What does this issue title mean?

[2015-08-18 22:50] MaxWofford commented on #58
@hellyeah This seems like a very large issue that incorporates many smaller tasks. Do we know those other tasks?
If so, let's break it up into those smaller tasks.
If not, perhaps the actionable issue here is to schedule a planning meeting to figure out those tasks.

[2015-08-19 00:09] zachlatta commented on #54
Messaged all the people in the sheet assigned to me, waiting on their responses...

[2015-08-19 02:38] MaxWofford commented on #47
I don't think this issue is relevant. Each of the clubs we listed may become Labs, in which case we'll be working with them through this list anyways. It would be better to handle everything in one batch. Thoughts @jonleung?

[2015-08-19 03:09] MaxWofford commented on #49
What is the deliverable for this issue? (When do we close this issue?)

[2015-08-19 03:11] MaxWofford commented on #52
@jonleung What were the outcomes of the meeting?

[2015-08-19 16:16] zachlatta commented on #54
Time to message a couple more people!

[2015-08-19 16:42] jonleung commented on #49
bullet points of everything we need to mention in call -@hellyeah

[2015-08-19 17:00] MaxWofford commented on #49
@hellyeah, I noticed your comment:

is different than the title of the issue:
`Talk to every labs director about gender diversity in labs club leadership`.
So I'm on the same page. What do we have to do to close this issue?

[2015-08-19 17:10] hellyeah opened #62 "Write follow up email for Labs interviews"

[2015-08-19 17:48] zachlatta commented on #49
@MaxWofford I believe @jonleung's comment was to mention the deliverable for the task.

So, to my understanding, the deliverable is a markdown file with bullet points of everything needed to be mentioned in the call. One of those bullet points would be mentioning gender diversity.

[2015-08-19 17:52] MaxWofford commented on #49
What if we changed the title of the issue to the deliverable?

[2015-08-19 17:59] MaxWofford commented on #47
@jonleung What is this blocking on?

[2015-08-19 18:11] hellyeah commented on #49
Bullet points to cover in labs interviews (feel free to append): https://gist.github.com/hellyeah/6ab8c870348804d10e3f

[2015-08-19 18:15] zachlatta commented on #49
I pinged you on IRC asking you to submit a PR for this :-).

On Wed, Aug 19, 2015 at 11:11 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-19 18:20] zachlatta commented on #62
:thumbsup:

Can you submit a PR to close this, when you do it?

On Wed, Aug 19, 2015 at 10:10 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-19 18:29] zachlatta opened #63 "Include club fair and first meeting dates in the lab director candidates spreadsheet"
Link to spreadsheet: https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=0

[2015-08-19 18:30] zachlatta commented on #63
Alright, columns added!

[2015-08-19 18:30] #63 closed

[2015-08-19 18:34] hellyeah commented on #49
How do I get the PR to automagically show up here?

[2015-08-19 18:41] zachlatta commented on #49
If you mention this issue's number (`#49`) in the description of the PR, it gets automatically linked.

[2015-08-19 18:45] hellyeah commented on #59
https://medium.com/hack-edu

[2015-08-19 18:47] hellyeah commented on #54
I need to update this spreadsheet: https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=0

[2015-08-19 18:47] zachlatta commented on #59
Any chance we could get https://medium.com/hackedu?

One more quick thing: we generally stylize our name as hackEDU (even when
at the beginning of sentences). This isn't clear anywhere though – I'll add
an issue to make sure that we outline how we stylize our name somewhere.

On Wed, Aug 19, 2015 at 11:45 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-19 19:10] hellyeah commented on #49
So whats the point of mentioning it in the commit if youre going to mention it in the PR also?

[2015-08-19 19:42] hellyeah commented on #52
Something like this:
1. We want to focus almost solely on labs clubs so we can deliver a tested and true club-in-a-box by the start of 2016. Devoting time to non-labs clubs takes away from time we could spend w/ labs clubs.
2. Non-labs are important bc we want to continue to grow.
3. We should accept clubs that apply and add them to the hackEDU community.
4. We should keep close contact with top n

[2015-08-19 19:43] hellyeah commented on #62
Yes. I'll write the email after my next interview, turn it into a template, and submit a PR.

[2015-08-19 19:44] hellyeah commented on #59
I tried hackEDU first but it doesn't satisfy their naming guidelines: https://www.dropbox.com/s/vnyv2cyd9q2atn6/Screenshot%202015-08-19%2011.59.35.png

[2015-08-19 19:44] hellyeah commented on #59
Open to a name change.

[2015-08-19 20:51] MaxWofford commented on #59
@hellyeah If you drag files onto the comment box with ZenHub running, it will automatically upload them to imgur and add a link.

[2015-08-19 20:57] MaxWofford commented on #52
@hellyeah Thanks for posting that!

[2015-08-19 22:26] jonleung commented on #52
@hellyeah, completely agree! Also, I believe we discussed the following during the meeting:

Two ideas for how we could make the Labs clubs feel special are:

1. Giving them a lot of personal attention and help
2. Highlighting the clubs on social media as well as the media consumed by the general public

The more desirable being a hackEDU Lab Director is in the fall, the more desirable it will be

[2015-08-19 22:39] zachlatta commented on #54
@jonleung is there anyone else you want to add to the spreadsheet?

[2015-08-19 22:42] jonleung commented on #47
@MaxWofford I accidently added the `blocking` tag. I just removed it from this issue.

[2015-08-19 22:48] jonleung commented on #47
In our current schedule, Lab Directors sign their contracts by Friday, August 28th. ([Here is a link](https://gist.github.com/zachlatta/a50609d72e96957d6b04) to the deadlines for the Labs program)

This means we won't have Lab Directors to talk to before August 28th.

Our entire team is also gone starting on the 30th of August. This means that we won't actually be able to chat with Lab Directors u

[2015-08-19 22:51] jonleung commented on #49
@zachlatta, your thoughts may be useful here.

[2015-08-19 22:55] zachlatta commented on #49
Thanks @jonleung!

If you say something along the lines of "closes #134" in the commit message, when the commit is merged to master #134 will be closed automatically. See https://help.github.com/articles/closing-issues-via-commit-messages/.

The duplication is a bit annoying.

[2015-08-19 23:04] zachlatta commented on #54
@jonleung can you make sure the club on row 22 gets in our pipeline?

[2015-08-19 23:09] jonleung commented on #54
@zachlatta

Yes. I am currently working to add more female club organizers to the spreadsheet.

Yes, I will make sure to take care of it.

/cc @hellyeah

[2015-08-20 00:50] MaxWofford commented on #47
@jonleung Not sure I understood:

[2015-08-20 02:18] jonleung commented on #47
@MaxWofford, let me try to rephrase:

There's stuff that happens for a club between August 19th and September 8th. I want to know what those things are and document how to do them in the club playbook. The only way to do that is to interface with club leaders before they are officially Labs club leaders.

[2015-08-20 02:28] zachlatta commented on #54
Went ahead and removed the blocking tag for now, since people I'm messaging respond in variable intervals.

I've introduced everyone except for two. Just waiting on their responses.

[2015-08-20 02:58] jonleung commented on #30
@zachlatta @hellyeah, I've added students listed below to the spreadsheet.

_Note that I've used abbreviations for their names_

- L.F
- G.Z.
- E.S.'s successor, J.R

[2015-08-20 03:07] jonleung commented on #31
@zachlatta, @hellyeah, to my understanding, we are _**not**_ currently asking people how their club went last year are we? If we are not asking, I think we should.

[2015-08-20 03:09] zachlatta commented on #31
Deferring to @hellyeah.

I know he has #65 open that outlines what's happening in calls.

[2015-08-20 04:50] #46 closed

[2015-08-20 06:07] zachlatta opened #66 "Interview all potential lab directors"
Spreadsheet linked in https://github.com/hackedu/hackedu/tree/master/meta/labs_program.

/cc @jonleung @MaxWofford

[2015-08-20 06:09] zachlatta commented on #30
Awesome! Thanks.

This is just waiting on #57 to be merged now.

[2015-08-20 16:07] jonleung commented on #47
@MaxWofford, are you reaching out to @saescapa and @xeonjake?

[2015-08-20 16:33] #42 closed

[2015-08-20 16:52] hellyeah commented on #31
I'll add this in. It ends up coming out implicitly almost every time bc I have them start me off with their story of entering HS but it should likely be more explicit.

[2015-08-20 16:56] jonleung commented on #31
:+1:

[2015-08-20 17:04] hellyeah commented on #31
Added this to #65 as question 0

[2015-08-20 18:08] zachlatta commented on #31
:+1:

On Thu, Aug 20, 2015 at 10:04 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 22:38] #30 closed

[2015-08-21 01:40] hellyeah opened #68 "Write script to use when calling accepted labs leaders"

[2015-08-21 01:50] jonleung opened #69 "Write script for call to tell club leaders they are chosen for the labs program"
As discussed by @hellyeah and I in the `hackedu` IRC channel on August 20th at around 6:40pm:

- We will select all Lab Directors by Tuesday the 25th
- We will call them all by Wednesday the 26th

The task at hand is to put together a call script. As discussed, it will look something like this:

/cc @zachlatta @gemmabusoni @MaxWofford

[2015-08-21 01:51] #68 closed

[2015-08-21 01:51] hellyeah commented on #68
See #69

[2015-08-21 01:52] hellyeah commented on #69
Talk to mentors/parents/clubmates.

[2015-08-21 01:52] jonleung commented on #69
@zachlatta, do we need to revise the timeline somewhere? I ask this because in our old timeline, we said we'd have decisions out to accepted Lab Directors by Tuesday.

[2015-08-21 01:53] hellyeah commented on #69
We can do it by Tuesday.

[2015-08-21 01:58] hellyeah commented on #49
What's stopping us from closing this issue?

[2015-08-21 01:59] hellyeah commented on #59
Are there any decisions left to be made here? If not, can we close the issue?

[2015-08-21 02:18] zachlatta commented on #59
I'd like to find a title for the publication that'd work well. Thoughts on
"hackEDU Hackers"? I'm not a very big fan of it, but I figure it's better
than nothing.

On Thu, Aug 20, 2015 at 6:59 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-21 02:19] zachlatta commented on #49
I left a couple comments in #65 that I'm waiting on you to get back to :-).

On Thu, Aug 20, 2015 at 6:58 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-21 02:45] zachlatta opened #71 "Schedule interview for South Pasedena High School"
As discussed in the meeting in #70, we'd like to add South Pasedena High School to the pipeline for our Labs program.

@gemmabusoni can you get in touch with the leader, share what the Labs program is, and then schedule an interview with them that both you and @hellyeah would run?

/cc @jonleung

[2015-08-21 02:48] zachlatta opened #72 "Create Messenger group chat for Labs leaders"
Thoughts on also buying IRCCloud accounts for all of the Labs leaders so they can also be in our main team chat? They're only $5/month.

#48 and #55 need to be done before this can be.

[2015-08-21 02:52] zachlatta opened #73 "Add Raphael and Shriyash's successors to pipeline"
As discussed in #70.

/cc @hellyeah @gemmabusoni @jonleung

[2015-08-21 02:53] zachlatta opened #74 "Add meeting notes in regards to schedule to talk about setting broader goal for clubs"
As discussed in #70, schedule a time to talk about setting a broader goal for our clubs (like an event or competition).

/cc @hellyeah @gemmabusoni @jonleung

[2015-08-21 15:54] zachlatta commented on #54
Alright, still waiting on their responses. I move for us to move forward with this. I'll submit a PR for moving forward.

[2015-08-21 15:56] zachlatta commented on #54
Alright, PR submitted. #75.

[2015-08-21 17:31] jonleung commented on #73
@zachlatta, I think I'm already in touch with Raphael's club leaders. I'll take lead on adding them to the pipeline.

@zachlatta, can you take lead on adding Shriyash's successors to the pipeline?

[2015-08-21 17:31] jonleung commented on #71
@gemmabusoni, I know that you talked to them already. Do you have any updates on this?

[2015-08-21 17:33] jonleung commented on #69
:+1:

[2015-08-21 20:52] gemmabusoni commented on #71
Got in touch with Mr. Schorr; he's finding leaders. From there, I'll schedule an interview.

[2015-08-21 21:09] zachlatta commented on #73
Sounds good!

--
Zach Latta
hackEDU| zach@hackedu.us

On Aug 21, 2015, 10:31 AM -0700, Jonathan Leung<notifications@github.com>, wrote:

[2015-08-21 21:11] jonleung commented on #73
@zachlatta I'm actually in a chat with Shriyash already, I'll just reach out to him about this directly!

[2015-08-21 21:12] zachlatta commented on #73
Awesome, thanks!

--
Zach Latta
hackEDU| zach@hackedu.us

On Aug 21, 2015, 2:11 PM -0700, Jonathan Leung<notifications@github.com>, wrote:

[2015-08-21 21:28] hellyeah commented on #49
Awesome. Just added the lines before lists. Now I have to figure out how to get this rebase working. I may need your help bc it seems like I did something wrong.

[2015-08-21 21:30] zachlatta commented on #49
@hellyeah feel free to grab me in person or ping me on IRC for this.

On Fri, Aug 21, 2015 at 2:28 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-21 21:57] jonleung opened #76 "Write acceptance email for Labs Clubs Organizers"
This email should outline the objectives of the Labs Program to club leaders accepted into the Labs program. The contract will accompany this email. Languaging may be reused between the email and the contract.

Also, before sending this email to the accepted Lab, we may want to call them first to accept them.
For example the call might go something like the following:

- Hey, you're accepted congr

[2015-08-21 22:13] zachlatta commented on #62
Awesome! Sounds good.

On Wed, Aug 19, 2015 at 12:43 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-22 01:11] hellyeah commented on #71
Intro me via Messenger if possible. If you use email (dave@hackedu.us), make sure to ping me to let me know the intro was made.

[2015-08-22 01:12] hellyeah commented on #74
I won't be in-office next Wednesday. How's next Thursday or Friday for this?

[2015-08-22 01:17] hellyeah commented on #49
See #77

[2015-08-22 01:19] hellyeah commented on #76
I think the biggest thing to stress is that hackEDU isn't running Labs.

The Labs Directors (12 high school club leaders we select) run labs together.

Another thing to stress is that an important part of their role will be helping the other labs leaders work through problems their club faces.

[2015-08-22 01:28] hellyeah opened #78 "Fill out labs applications spreadsheet with club fair date and first club meeting date from interviews"
I've been a bit lazy with taking all the information from my interviews (recording in gists) and putting it into the labs spreadsheet: https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=0

I want to make sure the spreadsheet is complete before we make decisions on which teams we accept.

[2015-08-22 01:29] hellyeah opened #79 "Select clubs for hackEDU labs"
https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=0

cc @zachlatta @jonleung @gemmabusoni @MaxWofford

[2015-08-22 01:35] hellyeah commented on #59
I think hackEDU looks really strange in the title but I'm open to it.

https://photos-4.dropbox.com/t/2/AAA8Kxk_k9KwxYJV3OrcfVHhuIYvLqq_cb42-4WC6x-0Ow/12/68038202/png/32x32/1/1440212400/0/2/Screenshot%202015-08-21%2018.35.19.png/CLrcuCAgASACIAMgBCAFIAYgBygCKAc/TIXimNQhTUWxTsAL7BtXqHp8WHE3Vyby7UL4ayyUGYg?size=800x600&size_mode=2

[2015-08-22 01:37] hellyeah commented on #59
I think the hackEDU blog could be the definitive blog for running HS clubs though and that we could take a more general title that lets us own more content.

I imagine even non-coding clubs submitting posts to the publication about how they successfully ran their HS clubs. Let me know what you think.

[2015-08-22 01:37] hellyeah commented on #59
I just worry that "hackEDU Hackers" is restrictive and makes it seem like the content is only for people within the community who already know what hackEDU is whereas the point of the blog could be primarily to reach people outside of our community.

[2015-08-22 04:01] jonleung commented on #69
Also paraphrasing @hellyeah from https://github.com/hackedu/hackedu/issues/76#issuecomment-133623056:

Additionally, we may want to include something like:

[2015-08-22 17:32] jonleung opened #80 "Add feedback form in every workshop"
This issue was transferred from https://github.com/hackedu/hack-camp/issues/493

[2015-08-22 18:05] jonleung commented on #47
Just an update, I've decided not to reach out to @amysorto for now because she seems to be extremely busy! Enjoy the rest of your summer @amysorto before school starts!

[2015-08-22 20:07] jonleung commented on #73
Raphael and Shriyash's successors have been added to [the pipeline](https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=0).
The statuses of these two clubs are noted in the spreadsheet linked above.

[2015-08-22 20:07] #73 closed

[2015-08-22 20:13] jonleung commented on #76
@hellyeah, I completely agree!

[2015-08-22 20:14] jonleung commented on #76
I also completely updated this task:

- I completely changed the task name
- I completely changed the task description

[2015-08-22 20:59] zachlatta commented on #71
@gemmabusoni can you make sure the update the status of this in https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=0?

[2015-08-22 21:10] zachlatta commented on #47
@jonleung can you submit a pull request with what you know needs to happen for Lowell?

[2015-08-22 22:17] jonleung commented on #47
@zachlatta, yes! I will submit a pull request by the end of the day today.

[2015-08-22 22:19] jonleung commented on #74
@hellyeah, that works for me! Lunch on the roof again perhaps?

[2015-08-22 23:48] jonleung commented on #47
@MaxWofford, is it ok if I just link [my personal notes](https://gist.github.com/jonleung/a287d2f8b20134f11ce2) in this issue here? It is not the most human readable, but I think it is good enough for now.

[2015-08-24 05:52] hellyeah commented on #69
I don't think it's too intense at all -- it's the truth.

[2015-08-24 07:45] MaxWofford commented on #47
I'm confused what that question is for. You just linked your person notes.

[2015-08-24 08:31] MaxWofford commented on #59
@hellyeah: I agree that it seems exclusive to just hack clubs. Also, *hack*EDU *Hack*ers seems kinda repetitive. Any ideas what we want to call the hackEDU blog to make it more inclusive?

[2015-08-24 15:20] zachlatta commented on #59
Yeah, I'm also on board with calling it something without "hackEDU" in the
name. Let's try to move on this ASAP.

Any ideas @hellyeah? We also also schedule a quick call between us to hash
out a new name sometime today.

On Mon, Aug 24, 2015 at 1:31 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-24 15:23] zachlatta commented on #47
I'm with @MaxWofford on this one.

On Mon, Aug 24, 2015 at 12:45 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-24 15:41] zachlatta commented on #69
I'm hesitant to include the wording "People don't believe that you and
other high schoolers can do what
they can" because it feels patronizing to me, and exactly what we're
against – telling high schools students what is and isn't.

@jonleung: question about #76. Which comment of @hellyeah's are you
referring to?

On Sun, Aug 23, 2015 at 10:52 PM, David Fontenot <notifications@github.com>
wrote:

[2015-08-24 15:56] hellyeah commented on #62
When I was in high school, my entire world was just the beach in Hollywood,
Florida -- I didn't do shit. Talking to you about the community you're
building at your high school left me feeling inspired for the future of the
world.

As a student who's running a coding club at your high school, you are
paving the way for thousands of students around the world who will start
coding clubs after you. Yo

[2015-08-24 17:47] MaxWofford commented on #62
@hellyeah What is a `"Hello, World!" draft for your club`?

[2015-08-24 20:29] zachlatta opened #82 "List all club fair and first meeting dates in applicant spreadsheet"
If they're not sure when the club fair or their first meeting will be, put "unknown".

Spreadsheet: https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc

/cc @jonleung @MaxWofford

[2015-08-24 20:31] zachlatta opened #83 "Accept first cohort of clubs"
We decided to accept a few clubs into the labs program today so we can start building the playbook for the club fair and first meeting now.

/cc @jonleung @MaxWofford

[2015-08-24 20:34] zachlatta opened #84 "Figure out what needs to happen to get club going at Abraham Lincoln High School"
@MaxWofford can you reach out to Lincoln and see what needs to happen to get a club going there? The deliverable for this issue is creating issues for what to do next to get the club going.

/cc @jonleung @hellyeah

[2015-08-24 20:36] zachlatta opened #85 "Create playbook outline"
Create an outline for the playbook (the equivalent of `README.md`, `ACTIVITIES.md`, and `SCHEDULE.md` in Hack Camp).

Some notes from our planning session this morning (tracked in hackedu/meta#112):

- One centralized playbook
  - Encourage people to write blog posts after every meeting
  - Have a section at the bottom of the playbook with a list of all blog posts
    - If a blog post is on Medium

[2015-08-24 20:44] zachlatta opened #86 "Cover club fair in playbook"
Add sections to the playbook on how to run the club fair. This issue is dependent on #85.

Some notes from our meeting this morning (tracked in hackedu/meta#112):

- Perhaps chat with Aaroh and Abenezer
- Keep Zach in the loop

/cc @MaxWofford @hellyeah

[2015-08-24 20:45] zachlatta opened #87 "Cover first club meeting in playbook"
Create guidelines and associated content for running the first meeting.

This issue may warrant conversion to a milestone with a bunch of issues for each individual part of the preparation.

Some notes from our planning session this morning (tracked in hackedu/meta#112):

- Everyone needs laptops
- Keep Zach in the loop

/cc @MaxWofford @jonleung

[2015-08-25 05:05] zachlatta commented on #76
@hellyeah, I know we worked on this tonight. Any updates on this?

On Fri, Aug 21, 2015 at 6:19 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-25 05:07] #49 closed

[2015-08-25 15:24] zachlatta commented on #83
Alright, I called the first few last night. I'm going to call the remaining clubs today.

(sorry for being late on this!)

[2015-08-25 16:08] jonleung commented on #71
@gemmabusoni, any updates on this?

[2015-08-25 16:47] hellyeah commented on #62
It's something I encouraged club leaders to write after our interview calls.

It's a blog post that says "Hello, World! Our club exists."

[2015-08-25 16:48] hellyeah commented on #59
https://photos-1.dropbox.com/t/2/AACUHmhQYvApc5prQYzPUXXfDV3DEXSLNw0w1qa_zcpnAQ/12/68038202/png/32x32/1/1440525600/0/2/Screenshot%202015-08-25%2009.47.53.png/CLrcuCAgASACIAMgBCAFIAYgBygCKAc/W1fKUFHbna66wCpFgVDqNhTKJeLKM1fZ47dUzorsI3E?size=800x600&size_mode=2

[2015-08-25 16:54] hellyeah commented on #59
I also Facebook messaged the person who owns medium.com/hack-education

[2015-08-25 18:16] jonleung commented on #84
@MaxWofford I know you are super busy. Do you have the bandwidth to do this? I'm happy to take this task if it is helpful. Thanks!

[2015-08-25 18:20] jonleung commented on #47
@zachlatta and @MaxWofford, the objective of this task is to make sure that we know everything that needs to be done up until the first club meeting. If I finish https://github.com/hackedu/hackedu/issues/87, I will have met the aforementioned objective. Therefore I am closing this task.

[2015-08-25 18:20] #47 closed

[2015-08-25 19:55] hellyeah commented on #66
I'm done interviewing. Can I close this?

[2015-08-25 19:57] hellyeah commented on #39
Do we want to create a contract or just send the email?

[2015-08-25 20:01] hellyeah commented on #69
@zachlatta how did you do the calls so far? Do we need something formalized here? I trust your judgement and don't think we actually need a script.

The most important thing is leaving them excited to get Labs started.

[2015-08-25 20:02] hellyeah commented on #69
I like this copy from our acceptance email:

"We won't be running hackEDU Labs. You will. As part of the first hackEDU Labs
team, you will lay the foundation for coding communities that will spread
across the globe."

[2015-08-25 20:04] hellyeah commented on #48
I'll be sending acceptance emails to people after Zach calls them.

He's italicizing the names of club leaders in the spreadsheet that he's jumped on a call with so that I know which leaders to email.

[2015-08-25 20:05] hellyeah commented on #62
Sent this to everyone I interviewed last week. Can we close this issue?

[2015-08-25 20:06] hellyeah opened #90 "Get dates of club fairs and first meetings and write in spreadsheet"

[2015-08-25 20:07] #54 closed

[2015-08-25 20:09] hellyeah commented on #83
Can we change this issue to more generically be calling accepted club leaders and make calling a few on Monday a sub-task.

[2015-08-25 20:10] hellyeah commented on #90
duplicate of #82

[2015-08-25 20:10] #90 closed

[2015-08-25 20:11] hellyeah commented on #76
https://gist.github.com/hellyeah/dac65c733e11237f3f59

[2015-08-25 21:57] hellyeah opened #91 "Finalize list of Lab Directors"
I've finalized my list of Labs Directors: https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=652345821

If we don't need to go over it again, let's close this.

[2015-08-25 21:58] #66 closed

[2015-08-25 22:33] #79 closed

[2015-08-25 22:37] hellyeah commented on #82
Can someone review this and close the issue if they think it's finished.

[2015-08-25 22:42] jonleung opened #92 "Send books to confirmed Lab Directors"

[2015-08-25 22:52] MaxWofford commented on #84
Thank you @jonleung ! I'll assign you.

[2015-08-25 22:53] jonleung commented on #66
Yup!

[2015-08-25 22:54] jonleung commented on #39
@hellyeah, let's just do the email and forget the contract! Closing this issue.

[2015-08-25 22:54] #39 closed

[2015-08-25 22:54] jonleung commented on #84
:+1:

@MaxWofford can you PM me the teacher's email?

[2015-08-25 22:57] jonleung commented on #82
@hellyeah, for every accepted Lab Director, can we make sure we have the correct dates for the first club meeting and the club fair? Also can you make a distinction between whether they don't know when their first club meeting / club fair is vs we don't know when it is. Right now there are a bunch of cells that say `unknown` in the dates for the club fair and first club meeting.

[2015-08-25 23:10] hellyeah commented on #82
Yeah. I'm afraid to reach out to them before Zach calls, but we should probably leave this open until then, or make a new spreadsheet with the accepted directors and the information we want to have on them.

I would be in favor of closing this issue and making a fresh spreadsheet that keeps track of our accepted Labs Directors.

[2015-08-25 23:11] MaxWofford commented on #84
Sent this info through IRC.

[2015-08-26 00:19] hellyeah commented on #69
@zachlatta if this is worth discussing, just ping me on IRC so we can have a brief discussion and I'll write something up.

Otherwise, can you close this issue if you don't need a script for your calls.

I'm under the impression that you'll be doing all the acceptance calls, but let me know if that changes.

[2015-08-26 01:13] hellyeah commented on #48
acceptance email (draft): https://gist.github.com/hellyeah/60b5322e9ec9f054f341

rejection email (draft): https://gist.github.com/hellyeah/d397f84d0e42e6472982

[2015-08-26 02:38] jonleung opened #93 "Find a system to organize the information of all of the clubs"
**EDITED** _on 08-25-15 7:40pm_:

I feel like we need a place to

- leave notes that we have about calls that we have with organizers
- shows important dates for each club
- who chatted with the club last
- what the things a club currently needs
- what problems a club is currently running into
- what problems a given club is facing

I'm feeling like we need a Salesforce or Basecamp but those sound

[2015-08-26 03:12] MaxWofford commented on #93
I think Hack-Camp was a demonstration of how not to do this with GitHub issues. Perhaps Google Apps calendar?

[2015-08-26 03:23] jonleung commented on #84
:+1:

[2015-08-26 03:24] tylermenezes commented on #93
What about a folder in Google Drive with a doc for each club? Store important dates in your calendar.

Since this is central to your business operations, if you can't find an off-the-shelf solution that works for you, it might be worth building something custom, as long as you can do it quickly. This is how we came up with Clear, and overall it saves us dramatically more time than it took to devel

[2015-08-26 03:28] jonleung commented on #93
@MaxWofford, Google Apps Calendar seems like a decent strategy. Now we need a place to put the notes.

@tylermenezes, Google Drive could work. @zachlatta, I particularly liked the way that we kept the notes in WorkFlowy but I know you're probably going to push for a private GitHub repo aren't you XD. I'd really like to do something that has live syncing collaboration so the barrier of writing some

[2015-08-26 03:28] jonleung commented on #82
@hellyeah I'm down for something like that. Also see https://github.com/hackedu/hackedu/issues/93

[2015-08-26 03:35] tylermenezes commented on #93
Oh, you know, I think Confluence might be what you're looking for. In addition to working well as a general wiki, it has templates for taking notes on a meeting (it can also kick-off to-dos in JIRA), and a shared team calendar.

[2015-08-26 03:37] MaxWofford commented on #93
@tylermenezes

Would love to hear about that system^

[2015-08-26 03:44] tylermenezes commented on #93
It does everything related to managing CodeDay events, and has a partial API (built-out as needed) that lets other apps (mostly the web frontend, but people have made a few other apps) get access to the data. Mostly, it's useful because it can do things like show a HUD of all event status, give event-by-event financial info, and send automated emails to venues/event staff/etc.

I think Zach probab

[2015-08-26 05:26] zachlatta commented on #69
Yeah, on second thought I don't think we need something formalized here. I'll just be taking lead on the calls and do my best to leave people excited.

Results seem to be good so far!

[2015-08-26 05:26] #69 closed

[2015-08-26 05:59] zachlatta commented on #83
Let's split it up into separate tasks for each cohort. Creating an issue to track accepting cohort 2 now.

[2015-08-26 05:59] zachlatta opened #94 "Accept cohort 2 of labs"
Accept the leaders for the second cohort of the Labs Team.

[2015-08-26 06:00] zachlatta commented on #83
Alright, cohort 2 acceptance is tracked in #94.

[2015-08-26 06:00] zachlatta commented on #62
Can you submit a PR with it so we have it in the repo?

[2015-08-26 14:16] zachlatta commented on #48
All acceptances for the first cohort called and emailed.

[2015-08-26 14:17] zachlatta commented on #48
Let's wait on sending out rejections until tomorrow (Thursday), so we can make sure everyone we invited accepts first.

[2015-08-26 14:19] zachlatta commented on #91
I'm cool with this. Thoughts @MaxWofford, @jonleung?

[2015-08-26 14:25] zachlatta commented on #59
Hmm, I'm not the biggest fan of "Hack Education" because I'm worried that people will assume that hackEDU is short for Hack Education if they see the blog.

Perhaps we could set aside 15 minutes to chat synchronously as a team today, like we did when trying to come up with the Lab Director title?

[2015-08-26 14:32] zachlatta commented on #78
Awesome. I see that you've filled in all of the club fair dates and first meeting dates.

Let's go ahead and close this for now with that. We'll have to assemble a bit more of a formal database when working with the clubs we selected.

[2015-08-26 14:32] #78 closed

[2015-08-26 14:33] zachlatta commented on #82
Is this a duplicate of #78?

[2015-08-26 14:34] #83 closed

[2015-08-26 15:20] MaxWofford commented on #91
:+1:

[2015-08-26 15:36] jonleung commented on #91
:+1:

[2015-08-26 16:05] #85 closed

[2015-08-26 16:07] zachlatta commented on #71
@gemmabusoni ping

[2015-08-26 16:07] hellyeah commented on #92
How to Win Friends and Influence People

[2015-08-26 16:08] #91 closed

[2015-08-26 16:09] hellyeah commented on #62
See #81

[2015-08-26 16:12] #82 closed

[2015-08-26 16:12] zachlatta commented on #48
To clarify, I'll be sending the acceptance and rejection emails.

[2015-08-26 16:13] hellyeah opened #95 "Make new spreadsheet with Labs teams"

[2015-08-26 16:30] zachlatta opened #96 "Send email to applicants saying we're pushing admissions back until Friday"

[2015-08-26 16:33] hellyeah commented on #82
@zachlatta I think so. In the future, how should I handle duplicates.

I'm worried closing duplicates may add to the number of issues it looked like we've accomplished any given week and would have a negative impact on our ability to assess our momentum as a team.

[2015-08-26 17:16] zachlatta commented on #82
If we add the `duplicate` label to any duplicate issues before closing
them, we can always just filter it out in any metrics we have for the team.

On Wed, Aug 26, 2015 at 9:33 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-26 17:50] hellyeah commented on #59
Going to set up a meeting to discuss
Medium Publication: #59
Non-labs club: #52
Community:  #58

[2015-08-26 20:01] hellyeah commented on #55
Where are we keeping track of contracts being signed?

[2015-08-26 20:03] hellyeah commented on #72
@zachlatta I want to do anything that increases the bandwidth for communication between Labs Directors. If you think IRC could do so, I think it's a no-brainer to do this.

Additionally, it may be worth considering Slack instead of Messenger, but my intuition tells me that a Messenger Group Chat is the most likely way we can get these leaders actively communicating.

Lastly, we may want to have La

[2015-08-26 20:05] hellyeah commented on #58
Scheduled a lunch meeting for tomorrow at noon with @zachlatta and @jonleung

@MaxWofford I think you're right. This leads directly to the broader question of what we want the hackEDU community to look like.

[2015-08-26 23:59] zachlatta commented on #76
Submitted #98 to address this.

[2015-08-27 02:06] zachlatta commented on #48
I opened #98 to add the acceptance email I sent the first cohort.

[2015-08-27 02:22] zachlatta opened #99 "Schedule group call for everyone accepted to Labs"
Possible agenda:

- Brief Labs overview
- Everyone meets each other

[2015-08-27 02:23] zachlatta opened #100 "Get headshots and 1 sentence bio from each accepted Lab Director"
This'll be to add them to the team list on our website.

[2015-08-27 02:24] zachlatta opened #101 "Write up summary of Labs"
- What it is
- What it consists of

[2015-08-27 02:24] zachlatta opened #102 "Rename labs_program directory to labs"

[2015-08-27 02:25] zachlatta opened #103 "Formalize Labs terminology"
I want to make sure we're all communicating with the Labs Team using consistent terminology.

One preliminary term:

- Labs Director :: Primary leadership of a Hack Club that is part of Labs

[2015-08-27 15:21] hellyeah commented on #72
We should definitely figure out how we want to do this so we can get these group chats going by end of day today at least for the first cohort.

[2015-08-27 15:34] jonleung commented on #96
I sent this email: https://gist.github.com/jonleung/2f782e9bca6a7219f1c3

[2015-08-27 15:34] #96 closed

[2015-08-27 15:39] zachlatta commented on #71
@gemmabusoni ping

[2015-08-27 15:58] hellyeah commented on #94
Just finished accepting all of cohort 2: https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=652345821

Note: Accepted Amy via Messenger bc she's out of the country.

[2015-08-27 16:36] zachlatta commented on #55
I think we can actually probably close this issue outright, since we're not
sending them contracts. They're just confirming over email.

On Wed, Aug 26, 2015 at 1:01 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-27 16:36] zachlatta commented on #55
Going to go ahead and do that. Let me know if anyone thinks we should
reopen it!

On Thu, Aug 27, 2015 at 9:36 AM, Zach Latta <zach@hackedu.us> wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-27 17:36] zachlatta opened #105 "Add filename conventions to CONTRIBUTING.md"
For filenames do:

- All lowercase
- Instead of spaces use:
  - `-` as space separator for branch names.
  - `_` as space separator for file names.

[2015-08-27 17:46] zachlatta commented on #94
Awesome! Closing this.

[2015-08-27 17:46] #94 closed

[2015-08-27 18:03] #76 closed

[2015-08-27 18:03] hellyeah commented on #94
confused why this didnt get the red closed thingymabob on the zenhub board

[2015-08-27 18:04] zachlatta commented on #72
Agreed. We'll have an opportunity to chat about this during lunch.

I've also opened #99 to track setting up an initial call between all of the
Labs Team. Thoughts on how to go about coordinating that (or how to get
them to coordinate it amongst themselves)? Can you actually add discussing
this to today's lunch agenda?

On Thu, Aug 27, 2015 at 8:21 AM, David Fontenot <notifications@github.com>
wro

[2015-08-27 18:08] hellyeah commented on #48
Awesome. Cohort 1 and Cohort 2 Labs Directors have been accepted.

See #94 #83

Awaiting responses.

[2015-08-27 18:09] MaxWofford commented on #94
@hellyeah Sometimes ZenHub derps and takes time to update. The important part is that the issue says it is closed, because ZenHub will straighten itself in a few hours.

![screenshot 2015-08-27 at 11 08 26 am](https://cloud.githubusercontent.com/assets/5891442/9528888/f65e5670-4cab-11e5-8376-bea205dca162.png)

[2015-08-27 21:09] jonleung commented on #84
Updates:

TLDR: Abraham Lincoln wants to do their own stuff.

My thoughts are the we treat Abraham Lincoln like an "advanced" club that is trying different things than us. We can watch what they're doing and see what comes out of it but we won't be active in it.

This means that we still need to find 1-2 schools in SF to start.

/cc @zachlatta @MaxWofford

SF to start our own clubs in...

[2015-08-27 21:27] zachlatta commented on #84
Mmm, spending more time with Abraham Lincoln sounds like a distraction.

Let's start new clubs in SF elsewhere. @MaxWofford can you take point on
this? Or at least get the framework for getting this done set up before you
head off to BM?

On Thu, Aug 27, 2015 at 2:09 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-27 21:27] zachlatta commented on #84
@hellyeah – would you be interested in being involved in starting new SF
clubs as well?

On Thu, Aug 27, 2015 at 2:26 PM, Zach Latta <zach@hackedu.us> wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-27 21:39] jonleung commented on #93
Thanks @tylermenezes!

Also, some of my other friends also seem to like Basecamp.

It would be great to have a solution that allows all the other Labs Club to see all the other clubs information. That they can all work together to help each other meet their goals. I really like the idea of having a Google Calendar for this.

[2015-08-27 22:09] hellyeah opened #107 "Write Labs Rejection Email"
Let them know that even though they won't be part of the Labs program, we would like to invite them to be a hackEDU club (what does that mean?).

Include call-to-action to join the Facebook Leaders Group: https://www.facebook.com/groups/1501083703514499/

We want them all to introduce themselves but that will get boring after awhile. What structure can we provide for their intro post that would en

[2015-08-27 22:11] hellyeah opened #108 "Add all club leaders to hackEDU Leaders Facebook Group"

[2015-08-27 22:13] hellyeah opened #109 "Create new public Facebook Group for all hackEDU leaders and those clubs' members"
Leaders should be heavily encouraged to add their members to this group once we get it going. Will be cool for them to be part of a broader community.

Think HS Hackers but we emphasize core values, specifically inclusion and mentorship, from the start.

We should adopt a Code of Conduct before we launch this group. Here's the one we're developing openly for HH: http://hh.gd/conduct

[2015-08-27 22:15] hellyeah opened #110 "Encourage club leaders to add their club members to the public Facebook Group"
We should give them copy that emphasizes our values from before their members even enter the Facebook Group.

This blocks on #109

[2015-08-27 22:17] hellyeah opened #111 "Start Messenger Group Chat for Labs cohort 1"

[2015-08-27 22:17] hellyeah opened #112 "Schedule initial call with Labs cohort 1"

[2015-08-27 22:17] hellyeah opened #113 "Start Messenger Group Chat with Labs Cohort 2"

[2015-08-27 22:18] hellyeah opened #114 "Schedule initial call with Labs cohort 2"

[2015-08-27 22:19] hellyeah opened #115 "Plan initial Labs cohort calls"
Need to set expectations and, most importantly, get them talking.

@zachlatta mentioned that everyone should do a PR while on the call, so that everyone is on even ground from the start and we set a precedent of contributing upstream.

Additionally, everyone should be heavily encouraged to do the same PR walkthrough with the rest of the leadership team. Would be cool if this was somehow tied to ad

[2015-08-27 22:20] hellyeah commented on #59
Punted this specific issue from the previously mentioned meeting. Setting up a meeting tomorrow to discuss this specifically. May be blocking on "Hack Club."

[2015-08-28 00:49] zachlatta commented on #59
Sounds good! Looking forward to discussion tomorrow.

On Thu, Aug 27, 2015 at 3:20 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-28 00:57] zachlatta commented on #115
I'm thinking that we could have a list of everyone who's in Labs in the
repository and they could each submit a pull request to add themselves to
the list. We'd need to be _super_ diligent when merging their pull requests
to avoid merge conflicts.

Perhaps they could also link their personal sites in this as well?

On Thu, Aug 27, 2015 at 3:19 PM, David Fontenot <notifications@github.com>
wrote:

[2015-08-28 00:58] zachlatta commented on #110
@jonleung perhaps this may be a good opportunity to start clarifying our
organizational values as well?

On Thu, Aug 27, 2015 at 3:15 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-28 08:24] gemmabusoni commented on #71
@zachlatta @hellyeah @jonleung

He's checking call availability.

[2015-08-28 13:56] #105 closed

[2015-08-28 13:57] zachlatta commented on #93
I like the idea of having a shared Google Calendar between all the Lab
Directors that has meeting dates for all of the clubs (perhaps we could
have two calendars, one for each cohort?).

I'm hesitant about using a CRM system that gives the Lab Directors
transparency into our communications with them – there's probably a fair
bit of personal information that will be kept track of.

On Thu, Aug 27,

[2015-08-28 15:57] jonleung opened #116 "Get club fair and first meeting dates from Labs Clubs"
I'm updating these dates in the [Temporary hackEDU Summer 2015 Clubs Spreadsheet](https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=165578603).

[2015-08-28 16:01] #62 closed

[2015-08-28 16:09] zachlatta commented on #72
#111 and #113 replace this.

[2015-08-28 16:09] #72 closed

[2015-08-28 16:16] jonleung commented on #109
Dependent on #117, which tracks the code of conduct.

[2015-08-28 16:18] jonleung commented on #108
We'll need to create a guideline on how new hackers introduce themselves on the group first. @hellyeah will create an issue for this.

[2015-08-28 16:33] hellyeah opened #117 "Create brief outline for how club leaders should introduce themselves in FB Group"
Blocking #108

@jonleung lets chat about this at some point today

[2015-08-28 16:40] jonleung commented on #107
@hellyeah sounds good! Just ping me in IRC when you want to discuss. Note that I have a big deadline to meet at the end of the day today so I may not be able to commit that much time.

[2015-08-28 16:41] jonleung commented on #110
@zachlatta, I agree. Any specific actionable steps that you think we can take on this @zachlatta?

[2015-08-28 16:41] jonleung commented on #71
:+1:

[2015-08-28 16:43] hellyeah commented on #107
Totally cool. I think the main thing for me is that this is blocking on figuring out the guidelines for introducing yourself in the Leaders FB Group. See #117

[2015-08-28 16:44] jonleung commented on #117
@hellyeah, there's some stuff I need to finish beforehand. Ping me on IRC when you want to chat about it.

[2015-08-28 16:49] hellyeah commented on #117
The main goal is to immediately lift up something about that person or their club that sparks discussion. I'm trying to think of a single question that would do this effectively.

Other things we might want to have people mention:
--school
--location
--link to club site, manifesto, or medium "hello, world" post

[2015-08-28 16:55] hellyeah commented on #113
Amy is out of the country for another few days. Would anyone be opposed to starting the Group Chat for Cohort 2 next week when she gets back?

That would make the call referenced in #114 happen next weekend probably. Given how much more time cohort 2 has before their first meetings. I'm not overly concerned that this would be a problem. We can focus on cohort 1 for the time being.

[2015-08-28 16:58] zachlatta commented on #59
@hellyeah can you add the conclusion from the meeting we had this morning about what to name the publication?

[2015-08-28 17:09] zachlatta commented on #113
Sounds good to me.

On Fri, Aug 28, 2015 at 9:55 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-28 18:41] jonleung commented on #55
Closing this issue because it seems like it should be closed.

[2015-08-28 18:41] #55 closed

[2015-08-28 18:44] jonleung commented on #74
Closing this because we thought of something. Our idea is to create a competition between clubs to help people at their school ship the most amount of personal websites. We still need to clarify how we're going to do this though.

[2015-08-28 18:50] jonleung commented on #116
I'm currently blocking on getting the dates for the club fair and first club meeting from

- Tejas
- Harrison
- Jevin

because I don't know them.

FYI I'm recording them [here](https://docs.google.com/spreadsheets/d/1Q6E36NK7N_mKp_LJwMW-P3KUZXPsHQTJWyoyKvrneuc/edit#gid=165578603):

/cc @zachlatta @hellyeah

[2015-08-28 22:22] hellyeah commented on #59
Title: "Hack Club"
Description: "The worldwide movement of student-led hacker communities"

<img width="1223" alt="screenshot 2015-08-28 15 21 36" src="https://cloud.githubusercontent.com/assets/1475361/9558278/8860c3d6-4d98-11e5-85a0-efa91af7636b.png">

[2015-08-28 22:22] #59 closed

[2015-08-28 22:47] hellyeah commented on #116
Harrison is on IRC. Just messaged Jevin. @zachlatta can you get dates from Tejas?

[2015-08-28 22:54] hellyeah commented on #52
Submitting this as a PR shortly: https://gist.github.com/hellyeah/cf744f491cff2c88c2ff

[2015-08-28 22:54] hellyeah commented on #58
Submitting this as a PR shortly: https://gist.github.com/hellyeah/cf744f491cff2c88c2ff

[2015-08-28 23:22] hellyeah commented on #48
New draft: https://gist.github.com/hellyeah/d397f84d0e42e6472982

[2015-08-28 23:26] hellyeah commented on #107
https://gist.github.com/hellyeah/d397f84d0e42e6472982

[2015-08-28 23:29] zachlatta commented on #111
Done!

https://www.messenger.com/t/1001585273242203

[2015-08-28 23:29] #111 closed

[2015-08-29 00:14] hellyeah opened #118 "Revamp the description on hackEDU Leaders Facebook Group"
https://www.facebook.com/groups/1501083703514499

[2015-08-29 03:15] zachlatta commented on #112
I created a Doodle link to poll everyone for times and sent it to the Messenger group. Waiting on all of their responses.

[2015-08-29 04:49] zachlatta commented on #112
Alright, so everyone has responded and it's now pretty late. Going to confirm 2PM on Sunday with everyone in the morning.

[2015-08-29 05:10] zachlatta commented on #92
I'm down with How to Win Friends and Influence People. Let's plan on sending them that.

[2015-08-29 05:30] zachlatta commented on #109
Created https://www.facebook.com/groups/1647912265454317/ and added @jonleung, @MaxWofford, and @hellyeah as admins.

Still need to adopt a code of conduct. @hellyeah can you take point on that?

[2015-08-29 23:05] jonleung opened #119 "Make sure that shipit.hackedu.us includes a dropdown with every high school we have"
**EDIT**: Currently, this list is not comprehensive:

![image](https://cloud.githubusercontent.com/assets/654941/9564835/d2524b48-4e67-11e5-8d55-2ff004d171fd.png)

/cc @zachlatta

[2015-08-30 01:19] zachlatta commented on #112
Alright, there's a bit of a snag. 2PM on Sunday doesn't work for two of the leaders.

Trying to figure out a new time.

[2015-08-30 01:30] zachlatta commented on #58
Has it been submitted as a PR?

On Fri, Aug 28, 2015 at 3:54 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-30 01:30] zachlatta commented on #52
Has this been submitted as a PR?

On Fri, Aug 28, 2015 at 3:54 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-30 01:33] zachlatta commented on #116
Done. His school doesn't have a club fair and his first meeting will
probably be the week of September 7th.

On Fri, Aug 28, 2015 at 3:47 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-30 01:33] zachlatta commented on #59
:+1:

On Fri, Aug 28, 2015 at 3:22 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-30 01:34] zachlatta commented on #74
Is this recorded in meeting notes anywhere?

On Fri, Aug 28, 2015 at 11:44 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-30 01:34] zachlatta commented on #55
Good catch, I had forgotten to close it. My bad!

On Fri, Aug 28, 2015 at 11:41 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-30 02:56] zachlatta commented on #118
Thoughts on:

The community of people leading Hack Clubs around the world.

Code of conduct: https://example.com

New members comment on this post: https://facebook.com/examplepost

On Fri, Aug 28, 2015 at 5:14 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-30 03:02] zachlatta commented on #117
What about something that the leader has built recently?

On Fri, Aug 28, 2015 at 9:49 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-30 03:31] jonleung commented on #86
I finished an initial version of this in #120. It is not ready for merge yet because there are still grammar and structural issues.

[2015-08-30 03:31] jonleung commented on #87
I finished an initial version of this in #121 and #122. It is not ready for merge yet because there are still grammar and structural issues.

[2015-08-30 03:35] zachlatta commented on #92
Alright, I've started sending books with a gift note to the leaders. Do note: I need the phone number of each leader to ship it to them (Amazon requires it). I've sent it to the three people we have the phone number down for.

[2015-08-30 03:44] zachlatta commented on #92
Just sent it to two more people from the first cohort.

[2015-08-30 20:56] #102 closed

[2015-08-31 17:53] hellyeah commented on #87
Toastmasters Guide/Checklist: http://www.toastmasters.org/~/media/E51A693193F749AE91FD79F6DB839534.ashx

[2015-08-31 18:06] hellyeah commented on #48
I sent rejection emails.

[2015-08-31 18:06] #48 closed

[2015-08-31 18:15] hellyeah commented on #117
I like that. It makes it really personal. Have all of our leaders built something?

[2015-08-31 18:17] hellyeah commented on #117
What if everyone just shared their personal website? If we're making personal websites a requirement for members, then it should probably be something the leaders do beforehand.

@jonleung "What if they don't have a personal website?"

I agree with John. I don't want to add a barrier to entry but I think we could find a way to make this low enough.

[2015-08-31 18:17] hellyeah commented on #107
Sending PR

[2015-08-31 18:21] jonleung commented on #86
@hellyeah and I chatted and he's going to take lead on this today (Monday, Aug 30th) with a focus on focusing on making people feel welcome. He's going to make a new branch off of my branch and then submit a pull request to my branch.

[2015-08-31 18:22] jonleung commented on #87
@hellyeah and I chatted and he's going to take lead on this today (Monday, Aug 30th) with a focus on focusing on making people feel welcome. He's going to make a new branch off of my branch and then submit a pull request to my branch. Assign me to review that pull request.

[2015-08-31 18:24] jonleung opened #135 "Finish the portfolio workshop and link it properly from the playbook."

[2015-08-31 18:26] jonleung opened #136 "Start our own clubs in San Francisco"
I'm moving the discussion from #84 to here.

[2015-08-31 18:27] jonleung commented on #84
Let's move this discussion to https://github.com/hackedu/hackedu/issues/136

[2015-08-31 18:27] #84 closed

[2015-08-31 18:28] hellyeah commented on #58
None of the leaders we emailed to post in the Facebook Group did so.

I need to revisit our messaging there.

[2015-08-31 18:32] hellyeah commented on #116
Jevin: "18th/19th and 25th/26th are dates in September we are thinking about, just had a chat today actually!"

[2015-08-31 18:33] hellyeah commented on #112
How did this go?

[2015-08-31 18:35] hellyeah commented on #109
Blocking on hackedu/meta#117

[2015-08-31 18:35] hellyeah commented on #92
Who are we missing numbers from?

[2015-08-31 18:37] hellyeah commented on #113
Amy is on vacation til Tuesday. Starting this after she gets back.

[2015-08-31 18:39] hellyeah commented on #115
We should change this issue to duplicate since we created separate issues for cohort 1 and 2.

[2015-08-31 18:40] hellyeah commented on #71
Did this happen?

[2015-08-31 18:41] hellyeah commented on #113
@zachlatta do you want to take cohort 2 also?

[2015-08-31 18:43] hellyeah commented on #101
I can write something up on my flight tomorrow.

[2015-08-31 18:44] hellyeah commented on #86
Will spend a lot of time thinking about this and #87 on my flight tomorrow.

[2015-08-31 18:47] hellyeah opened #138 "Drive traffic to facebook leaders group by asking for feedback there"
- [ ] #86
- [ ] #87
- [ ] #135

[2015-08-31 19:17] gemmabusoni commented on #71
"Shorr passed on info to students (had to go through school to make sure that it was okay that we were contacting them); feel that this will happen sometime this week. Follow-up sent last night."

[2015-08-31 20:57] jonleung commented on #71
I think it might be too late for South Pasedena to join the labs program.

Thoughts @zachlatta and @hellyeah?

[2015-08-31 21:05] jonleung commented on #116
@hellyeah, are they doing any kind of club fair?

[2015-08-31 21:08] #107 closed

[2015-08-31 21:11] jonleung commented on #74
@zachlatta it hasn't, I'll take lead on that.

[2015-08-31 22:06] jonleung commented on #117
From IRC:

3:01:54 PM <•jonl> dfont, thoughts on making and communicating the intro post guidelines to the labs clubs top priority?
3:02:23 PM <•jonl> Jeremy & Teagan are asking about designing posters, I want to be able to redirect them to the Facebook group.
3:02:37 PM <•jonl> Can you take lead on onboarding the labs club leaders into the facebook group asap?

/cc @hellyeah

[2015-09-01 00:35] hellyeah commented on #59
Stories of Hack Clubs across the country.
Stories from club leaders to start a computer programming clubs.
Stories
Stories from Hack Clubs across the country.
Stories about creating what you see missing in the world.
Slice of life from programming clubs across.
Creating communities worldwide.
Hack Club editorials
Cross-sections of Hack Clubs
Creating coding communities worldwide.
The student-led m

[2015-09-01 16:04] hellyeah opened #141 "Create issue for every Labs team in secret repo"

[2015-09-01 16:14] hellyeah opened #142 "Create issues for every Labs Leader"

[2015-09-01 16:57] zachlatta commented on #115
Closing in favor of #112 and #114.

[2015-09-01 16:57] #115 closed

[2015-09-01 17:04] jonleung commented on #142
@hellyeah, should this issue be in the private Labs repo (https://github.com/hackedu/labs-private)

[2015-09-01 17:05] jonleung commented on #142
Wait, @hellyeah, are these duplicates (https://github.com/hackedu/hackedu/issues/141)?

[2015-09-01 17:05] zachlatta commented on #112
It happened! It went alright.

[2015-09-01 17:05] #112 closed

[2015-09-01 17:18] zachlatta commented on #93
@jonleung had an idea this morning to create a private GitHub Issue for each school and track any interactions with them in the issue. I think we'll go ahead with that.

Tracking progress on that in #141.

[2015-09-01 17:18] #93 closed

[2015-09-01 20:56] zachlatta commented on #59
Hmm?

On Mon, Aug 31, 2015 at 5:35 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-02 00:03] zachlatta commented on #71
Yeah, it's too late to consider them for Labs.

Perhaps we could get them on the waitlist for next semester?

On Mon, Aug 31, 2015 at 1:57 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-02 00:06] zachlatta commented on #113
Yeah, I'm happy to take this.

On Mon, Aug 31, 2015 at 11:41 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-02 00:06] zachlatta commented on #92
From the first cohort:

- Jeremy and Teagan from Lowell

From the second cohort:

- Everyone except for Vene

[2015-09-02 01:15] zachlatta commented on #58
Has it been pretty effective when messaging people individually to post? If
so, perhaps we should just do that moving forward.

On Mon, Aug 31, 2015 at 11:28 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-02 19:05] zachlatta commented on #109
Moved to the ideas column because we've decided to prioritize getting the main leaders Facebook group going before starting this group as well.

[2015-09-02 19:14] hellyeah commented on #117
https://www.facebook.com/groups/1501083703514499/permalink/1626147637674771/

[2015-09-02 19:14] #117 closed

[2015-09-02 19:26] hellyeah opened #144 "How do we launch playbook to the community?"
Figure out messaging for announcing playbook.

1 idea: have lab leaders post PRs and ask for comments

[2015-09-02 20:17] paked commented on #117
Just for future reference, at **some** point. Maybe when all of the current conversation dies down a "What have your recently been working on?" post might be beneficial to jump start interaction again.

[2015-09-02 21:09] jonleung commented on #58
^ @hellyeah

[2015-09-02 21:10] jonleung commented on #92
@zachlatta, are you going to message them for phone numbers?

[2015-09-03 04:02] zachlatta commented on #92
Alright, I've shipped books to everyone in the first cohort.

@jonleung, I don't currently have plans on cohort 2 for phone numbers. Could someone else take point on that?

[2015-09-03 04:03] zachlatta commented on #71
Going to go ahead and close this issue because it seems like the original intent, scheduling a Labs interview with them, wasn't satisfied.

[2015-09-03 04:03] #71 closed

[2015-09-03 04:04] zachlatta commented on #92
Also, @jonleung, can you take point on sending them handwritten letters? I'm not sure if I have the bandwidth to do that as well.

[2015-09-03 15:12] jonleung commented on #92
@zachlatta, godit!

[2015-09-03 15:20] jonleung commented on #92
@zachlatta, were you planning to order the books for cohort 2?

[2015-09-03 15:21] jonleung commented on #92
So to be clear, would you like me to order the books for cohort 2 and write the hand written letters for everyone or just the letters?

[2015-09-03 15:23] zachlatta commented on #92
I can order the books for cohort 2. I'd appreciate if someone else could write the letters.

Ordering the books takes an absurd amount of time though, probably 1-2 hours.

[2015-09-03 15:24] jonleung commented on #142
@hellyeah, poke ^

[2015-09-03 15:28] jonleung commented on #92
@zachlatta, sounds good!

[2015-09-03 15:28] jonleung opened #148 "Send hand-written letter to confirmed hackEDU lab directors"
/cc @zachlatta

[2015-09-03 15:31] jonleung commented on #92
I've split this task into two issues:

- send books (covered by this issue)
- send letters (covered by #148)

[2015-09-03 15:38] zachlatta commented on #142
Duplicate of #141.

[2015-09-03 15:38] #142 closed

[2015-09-03 16:09] zachlatta opened #149 "Collect phone numbers and addresses from all club leaders"
I've sent out http://goo.gl/forms/WhGVza2W4G to all of the Lab Directors taking point on communication in cohort 2. I asked them to fill it out by the end of the day.

Waiting on their responses.

[2015-09-03 16:10] zachlatta commented on #92
I created #149 to track getting the addresses and phone numbers from all of the leaders. This is currently blocking on that.

[2015-09-03 16:10] zachlatta commented on #148
I created #149 to track getting the addresses and phone numbers from all of the leaders. This is currently blocking on that.

[2015-09-03 16:13] hellyeah opened #150 "Create section headers for first club meeting and club fair guides"

[2015-09-03 16:51] jonleung commented on #150
@hellyeah and I had a conversation about how we might revise how Lab Directors will initially contribut to the playbook. We realized that we didn't like the precedent that we set by us writing up a detailed guide for the first club meeting. We came to the conclusion that it may make more sense to create two empty sections (one for the first club meeting and one for the club fair) that lab director

[2015-09-03 17:17] jonleung commented on #135
#122

[2015-09-03 17:46] jonleung commented on #116
I'm waiting on https://github.com/hackedu/labs-private/issues/5#issue-104747752

@zachlatta, can you find out when Tejass' club fair is?

[2015-09-03 17:56] jonleung commented on #113
Waiting on:

- https://github.com/hackedu/labs-private/issues/6#issue-104748563
- https://github.com/hackedu/labs-private/issues/7#issue-104749228

[2015-09-03 19:21] paked commented on #119
Glenaeon Rudolf Steiner School is not there, as well as Armijo High School, Lowell High School and USC Hybrid High School. Those are the ones from the labs list, I could probably pull more from the Facebook group.

But really, I don't think that it makes much sense currently to have this at all? It seems kind of contradictory to the "Use our playbook anywhere" model which we (you guys? us?) are go

[2015-09-03 19:24] paked commented on #144
This sounds like a good way to check if people can still use `git` after the first meeting :+1:.

[2015-09-03 21:59] jonleung commented on #119
^ @paked, hmmmm, good point! Zrl. Thoughts on making other a default?

[2015-09-03 22:07] hellyeah commented on #52
Waiting on review+merge.

[2015-09-03 22:08] hellyeah commented on #58
Messaging people individually to post worked effectively.

This PR should be ready for review+merge: #137

[2015-09-03 22:20] hellyeah commented on #87
Made it more concise. I think we should probably make a separate file for "Greeting people at the door" and "Conversation topics"

[2015-09-03 22:22] hellyeah commented on #87
Similarly, "Experiencing success on the first day" probably deserves its own file where we describe why its so important that people ship something on day one.

[2015-09-03 22:23] #86 closed

[2015-09-04 00:46] jonleung opened #151 "Write the language that communicates what lab directors need to do before and after each club meeting"
**Task**: Write the language that communicates what lab directors need to do before and after each club meeting

**Here are the expectations for Lab Directors that we discussed during the meeting:**

_^ exerpted from [the meeting notes](https://github.com/hackedu/hackedu/blob/be402c47456d74ffcec238910b207d3705213a85/meta/labs/meetings/15-09-03_who_writes_the_initial_playbook.md#conclusion)_

**Als

[2015-09-04 00:51] jonleung commented on #114
Assigning this back to @zachlatta as discussed in [this meeting](https://github.com/hackedu/hackedu/blob/be402c47456d74ffcec238910b207d3705213a85/meta/labs/meetings/15-09-03_who_writes_the_initial_playbook.md#conclusion)

[2015-09-04 00:51] jonleung commented on #113
Assigning back to @zachlatta as discussed in [this meeting](https://github.com/hackedu/hackedu/blob/be402c47456d74ffcec238910b207d3705213a85/meta/labs/meetings/15-09-03_who_writes_the_initial_playbook.md#conclusion)

[2015-09-04 00:52] jonleung opened #152 "Design and setup new Lab Director GitHub workflow"
Design and setup new Lab Director GitHub workflow that accommodates the new expectations explained in #151.

As a brief reminder, this includes creating an easy way for Lab Directors to submit their

- weekly plan for their club meeting in a pull request
- weekly post mortem of their club meeting in a pull request

Further details were discussed in [this meeting](https://github.com/hackedu/hackedu

[2015-09-04 00:55] jonleung opened #153 "Clearly communicate new expectations to Lab Directors"
As discussed in [this meeting](https://github.com/hackedu/hackedu/blob/be402c47456d74ffcec238910b207d3705213a85/meta/labs/meetings/15-09-03_who_writes_the_initial_playbook.md#conclusion).

Take the language that Dave writes in #151 and the new workflow you setup in #152 and communicate it with club leaders.

Please see #151 and #152 for details.

[2015-09-04 01:09] zachlatta commented on #113
Done! https://www.messenger.com/t/1134475229901413

[2015-09-04 01:09] #113 closed

[2015-09-04 02:46] jonleung commented on #113
:+1:

[2015-09-04 02:56] #52 closed

[2015-09-04 02:57] jonleung commented on #58
Merged!

[2015-09-04 02:57] #58 closed

[2015-09-04 03:14] jonleung commented on #74
I added the meeting notes in pull request #155

[2015-09-04 03:15] jonleung commented on #144
This is no longer relevant because of #153

[2015-09-04 03:15] #144 closed

[2015-09-04 03:16] jonleung commented on #138
This is no longer relevant because of what we decided decided in [this meeting](https://github.com/hackedu/hackedu/blob/15-09-03_meeting_notes/meta/labs/meetings/15-09-03_who_writes_the_initial_playbook.md)

[2015-09-04 03:16] #138 closed

[2015-09-04 03:18] jonleung commented on #141
Let's create these as needed (i.e. whenever you interact with a club organizer and you think it's worthwhile that the rest of the team know, update / create an issue for it).

That's what I've been doing for now.

See:
https://github.com/hackedu/labs-private/issues

Thoughts @hellyeah and @zachlatta?

[2015-09-04 03:19] jonleung commented on #150
Closing because this is now addressed by #151

[2015-09-04 03:19] #150 closed

[2015-09-04 15:25] jonleung commented on #149
@zachlatta, do we need to remind people who have not filled this out to fill it out?

[2015-09-04 15:46] zachlatta commented on #87
#152 will replace this, when completed.

[2015-09-04 16:01] jonleung commented on #87
Wait, before we close this issue, don't we need to merge https://github.com/hackedu/hackedu/pull/147

[2015-09-04 16:37] jonleung commented on #151
@hellyeah, also because some people have seen the playbook for club fair already (I sent it to them because they asked for it) and also to be transparent, do you think we should provide context explaining *why* we are moving away from a top down approach of the playbook? I.e. should we explain why we chose to move away from **us** writing everything to **them** writing weekly posts and giving each

[2015-09-04 16:51] zachlatta commented on #114
Sent out a Doodle link to them in the chat, waiting on it to be filled out by everyone.

[2015-09-04 17:34] zachlatta commented on #149
Got responses from everyone I sent it to. Just reminded the people that I only got one response from to also ping their co-leads again.

[2015-09-04 17:36] hellyeah commented on #87
@jonleung I think #147 is ready to merge. I made the commit that cut 100 lines.

[2015-09-04 17:53] jonleung commented on #116
Oops, I just realized that [Tejas doesn't have a club fair](https://github.com/hackedu/hackedu/issues/116#issuecomment-136070164)

Closing this issue now that it is complete.

[2015-09-04 17:53] #116 closed

[2015-09-04 18:06] hellyeah commented on #151
"Most high school clubs just wing it. Creating a plan for your meetings not only makes your team seem organized but also provides a much better experience for your club members.

As a Labs Director, you should leverage your entire cohort to plan the best club meetings. We created a planning file for you. Feel free to structure your plan any way you'd like: [link]

Send a PR with the plan for your

[2015-09-04 18:19] hellyeah commented on #151
"When we threw the first MHacks, we gave hundreds of students a great experience. This is how we were able to do that..."

[2015-09-04 18:19] hellyeah commented on #151
"We thought about the hacker's experience from the moment they stepped off the bus every step of the way..."

[2015-09-04 19:24] hellyeah commented on #141
Create bullet point in the description for every Leader

[2015-09-04 20:24] jonleung commented on #141
As discussed on Friday, September 4th, this issue has been reassigned to @hellyeah .

In order for this issue to be resolve:

- [ ] every Labs club has an associated issue
  - [ ] with the name of their school listed
  - [ ] with all the names of every lab director in the description of the issue

[2015-09-04 20:41] hellyeah commented on #151
"When we threw the first MHacks, we give 500 students the experience of their lives.

What separated us from every other hackathon is that we planned the hacker experience every step of the way. You can do this with your clubs too.

As a Labs Director, you should leverage your entire cohort to plan the best club meetings. Feel free to structure your plan any way you'd like. Here's a basic template

[2015-09-04 20:43] hellyeah commented on #151
@zachlatta did you want me to take lead on this? If so, what do you think is the best course of action? Messaging the group chat?

[2015-09-05 02:27] zachlatta commented on #151
My apologies for the delay.

@hellyeah: it'd be great if you could message the group chat about this, I'd encourage you to make the new expectations clearer though. Right now it reads closer to a "general suggestion" than "this is what you're going to be doing from now on", at least to me.

[2015-09-05 03:47] jonleung commented on #151
@hellyeah, I was envisioning something in addition to this, I don't think I clearly articulated it though. I'm happy to take the next stab at this, let's correspond over IRC?

[2015-09-05 03:48] jonleung commented on #151
I won't get to it until tomorrow though : /

[2015-09-05 17:32] jonleung commented on #151
@hellyeah, just an FYI that I'm about to start collaborating on this issue with you!

[2015-09-05 17:37] jonleung commented on #114
It seems that only one person has filled out the Doodle. Perhaps individually messaging people might help?

[2015-09-05 17:37] jonleung commented on #114
Also adding more times for Monday and Tuesday may be helpful as well.

[2015-09-05 17:38] jonleung commented on #153
@hellyeah, see my comments in #151

[2015-09-05 22:00] jonleung commented on #151
@hellyeah @zachlatta: this is my first draft:
https://gist.github.com/jonleung/a4732532015847ef9405

[2015-09-05 22:39] zachlatta commented on #151
I think that's too long.

Any way we can shoot for half of the length, or less?

[2015-09-05 22:40] zachlatta commented on #151
Assigning @jonleung because @hellyeah is MIA at PennApps.

[2015-09-06 20:20] jonleung commented on #151
@zachlatta, this is an updated version:
https://gist.github.com/jonleung/a4732532015847ef9405

[2015-09-06 20:21] #152 closed

[2015-09-06 21:18] zachlatta opened #161 "Add case studies workflow to CONTRIBUTING.md"

[2015-09-07 16:13] prophetorpheus commented on #151
@jonleung: can you post the version we came up with together last night?

On Sun, Sep 6, 2015 at 1:20 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-07 16:19] zachlatta commented on #151
Uhh, not sure how that became from @prophetorpheus. This is Zach.

On Mon, Sep 7, 2015 at 9:13 AM, Prophet Orpheus <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-07 18:37] jonleung commented on #151
https://gist.github.com/jonleung/2b024e09264d8de25521

[2015-09-07 18:43] jonleung commented on #153
Since I've taken #151, I can take this one as well.

[2015-09-07 18:43] jonleung commented on #153
Blocking on #151

[2015-09-07 18:46] jonleung commented on #149
I removed the `blocking` because it seems like this task is no longer blocking. Is that accurate?

[2015-09-07 20:30] zachlatta commented on #149
Done!

[2015-09-07 20:30] #149 closed

[2015-09-07 20:30] zachlatta commented on #92
Alright, #149 has been closed. We're good to proceed with this.

[2015-09-08 00:14] #161 closed

[2015-09-08 03:52] jonleung commented on #153
Although this task is no longer blocking on #161,
It is blocking on #114 because we can't message the group until people respond to the Doodle poll.

Also, the new languaging is conveyed in #151

[2015-09-08 03:56] jonleung commented on #92
I finished this and documented my work in clubs.hackedu.us

[2015-09-08 03:56] #92 closed

[2015-09-08 03:59] jonleung commented on #148
All the letters are written, here are the remaining tasks:

- [ ] Seal the envelopes with water and wax
- [ ] Buy appropriate stamps
- [ ] Mail them

[2015-09-08 16:52] hellyeah opened #169 "Labs Leaders planning/post-mortem PR if they had first meeting last week"
Identify which leaders have a meeting this week.

[2015-09-08 16:53] hellyeah opened #170 "Labs Leaders who do planning PR share it with group chat and facebook group"

[2015-09-08 16:55] jonleung opened #171 "Ship Twilio workshop"
- [ ] get it on master
- [ ] add facilitation guidelines

[2015-09-08 16:55] hellyeah opened #172 "Make fontebot for #hackEDU irc"
Talk to hardmath and max

[2015-09-08 17:00] hellyeah opened #173 "Check in with every Labs Leader"

[2015-09-08 17:08] hellyeah opened #174 "hackEDU Meetup at MHacks"
What club leaders will be at MHacks?

[2015-09-08 22:50] zachlatta commented on #135
Did we decide against doing this?

[2015-09-08 22:54] paked commented on #135
I believe so. The portfolio workshop was just not interesting enough to be a _hook_ as @jonleung and I discussed.

[2015-09-08 22:58] zachlatta commented on #119
I agree with you @paked that it's certainly not the most inclusive choice
to have a dropdown of clubs. I'd love to add an option later so anyone can
create clubs (do note: the name of the school they choose is translated
into the directory name generated by their pull request).

I think it makes the most sense to just update this list to our existing
clubs for now and then defer making it possible

[2015-09-08 23:03] zachlatta commented on #87
I believe we're just waiting on a style change in #146 @hellyeah :-).

On Fri, Sep 4, 2015 at 10:36 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-08 23:04] zachlatta commented on #114
Yup, I started PMing people individually and set some times for tomorrow
and Thursday. Going to pester them to no end until everyone fills it out.

On Sat, Sep 5, 2015 at 10:37 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-08 23:13] zachlatta commented on #151
Sounds good! Want to submit a pull request to add this to the Labs folder?

On Mon, Sep 7, 2015 at 11:37 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-09 00:02] Bogidon opened #176 "Isn't "post-mortem" a bit macabre?"
The term `post-mortem` used to indicate post-event reflections for the [case_studies](https://github.com/hackedu/hackedu/tree/master/case_studies) seems a bit macabre, it's most popular definition being "happening after death." For me at least, being a Romanian speaker (which is close to latin), I flinch when I read it :confused:

Maybe `post-event` or `after-event` would be more appropriate.

[2015-09-09 00:07] paked commented on #176
:+1:. I would suggest maybe `pre-event` and `post-event?

[2015-09-09 16:26] jonleung commented on #151
@zachlatta, perhaps later, don't feel this is too high leverage right now.

[2015-09-09 16:35] #151 closed

[2015-09-09 17:09] hellyeah opened #177 "Build chrome extension for moving github issues"
https://github.com/google/github-issue-mover/issues/110

[2015-09-09 17:09] hellyeah commented on #176
Macabre?

[2015-09-09 17:10] hellyeah commented on #176
Just looked it up.

@jonleung I agree with them. How about "planning" and "recap"

[2015-09-09 17:34] jonleung commented on #176
@Bogidon Thanks for making the issue!

Thoughts on @hellyeah's `recap`

/cc @zachlatta

[2015-09-09 17:35] zachlatta commented on #176
Recap sounds good.

On Wed, Sep 9, 2015 at 10:34 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-09 17:37] Bogidon commented on #176
I like 'recap'!

Also, I believe the terms 'pre-mortem' and 'post-mortem' are used somewhere in the hack-camp repo. I can raise an issue there in a little bit if you'd like.

On Wed, Sep 9, 2015 at 10:34 AM -0700, "Jonathan Leung" <notifications@github.com> wrote:

@Bogidon Thanks for making the issue!

Thoughts on @hellyeah's recap

/cc @zachlatta

—
Reply to this email directly or view it on Git

[2015-09-09 17:59] jonleung commented on #176
@Bogidon, would you be interested in submitting a pull request for this change?

[2015-09-09 18:20] jonleung commented on #87
@hellyeah I left a comment in the pull request

[2015-09-09 18:46] zachlatta commented on #135
Closed by #156.

[2015-09-09 18:46] #135 closed

[2015-09-09 18:57] zachlatta commented on #177
`hackedu/meta` or personal notes may be a better place for this issue because this doesn't have to do with the playbook's creation.

[2015-09-09 18:58] zachlatta commented on #177
This issue was moved to hackedu/meta#132

[2015-09-09 18:58] #177 closed

[2015-09-09 18:58] jonleung commented on #74
Reassigning this to @MaxWofford

[2015-09-09 18:59] jonleung commented on #74
Oops, this is not the pull request, assigning myself back.

[2015-09-09 19:00] jonleung commented on #153
@zachlatta is going to bring this up in the cohort 2 call today and so I'm closing this issue.

[2015-09-09 19:00] #153 closed

[2015-09-09 19:04] zachlatta commented on #114
Everyone filled out the form and I've confirmed a time. Going to ping them each individually to let them know about the time.

[2015-09-09 19:10] zachlatta commented on #114
Just confirmed it with everyone.

[2015-09-09 19:11] #114 closed

[2015-09-09 19:26] hellyeah commented on #141
Moved to hackedu/clubs/issues

hackedu/clubs/issues#1
hackedu/clubs/issues#2
hackedu/clubs/issues#3
hackedu/clubs/issues#4
hackedu/clubs/issues#5
hackedu/clubs/issues#6
hackedu/clubs/issues#7
hackedu/clubs/issues#8
hackedu/clubs/issues#9
hackedu/clubs/issues#10
hackedu/clubs/issues#11
hackedu/clubs/issues#12

[2015-09-09 21:54] MaxWofford commented on #172
@hellyeah What does this issue mean?

[2015-09-09 22:25] zachlatta commented on #172
Going to move this to `hackedu/meta` because it doesn't have to do with our existing clubs.

I'd bias towards having this be a personal note, rather than an organization issue.

[2015-09-09 22:25] zachlatta commented on #172
This issue was moved to hackedu/meta#133

[2015-09-09 22:25] #172 closed

[2015-09-09 23:17] zachlatta commented on #174
This issue was moved to hackedu/meta#134

[2015-09-09 23:17] #174 closed

[2015-09-09 23:17] zachlatta commented on #174
Going to move this to `hackedu/meta` because it's not directly applicable
to the playbook.

On Tue, Sep 8, 2015 at 10:08 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-09 23:18] zachlatta commented on #173
Going to move this to `hackedu/meta` because it's not directly applicable to the playbook.

[2015-09-09 23:18] zachlatta commented on #173
This issue was moved to hackedu/meta#135

[2015-09-09 23:18] #173 closed

[2015-09-09 23:19] zachlatta commented on #119
Closing in favor of hackedu/shipit#40.

[2015-09-09 23:19] #119 closed

[2015-09-09 23:20] zachlatta commented on #170
Going to move to `hackedu/meta` because it doesn't directly have to do with the playbook (I'd argue it's more of an internal, indirect thing).

[2015-09-09 23:20] jonleung opened #184 "Create feedback forms for every labs leader for every meeting"
Here is an [example feedback form](https://docs.google.com/forms/d/1duF1KhZML87ri-HrDwwZeWOnPWoVWgl9Kt-idlnmKCI/viewform).

Here are the [awesome responses](https://docs.google.com/spreadsheets/d/1bdWkKmBfaYiPBOMjkkG7Gpz3oq6mYxepAatN6HMnTJI/edit#gid=50885854) that we got!

/cc @zachlatta @hellyeah

[2015-09-09 23:21] zachlatta commented on #170
This issue was moved to hackedu/meta#136

[2015-09-09 23:21] #170 closed

[2015-09-09 23:30] zachlatta commented on #74
Closed by #155.

[2015-09-09 23:30] #74 closed

[2015-09-09 23:31] zachlatta commented on #141
Can we close this?

[2015-09-09 23:50] zachlatta commented on #184
I created a folder for Cherry Hill East in
https://drive.google.com/drive/u/0/folders/0B34YNYNQ6z3YfjgwcXNjaTVQb2Z0cUFuWjBDTDN3SGU4SlJXeWwxRV9MWW14ZTBFbklUVDg.
Let's create other folders in that same directory.

On Wed, Sep 9, 2015 at 4:20 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-10 00:34] Bogidon commented on #176
I'll do it.

[2015-09-10 00:54] Bogidon commented on #176
Um so I messed up a little. I renamed `post-mortem` to `recap` (everywhere), but I accidentally included my commit adding _my_ recap.md in the `rename-post-mortem-to-recap` branch. Also, there's a merge conflict somewhere but it shouldn't be too bad... although I can't see where it is.

[2015-09-10 00:57] Bogidon commented on #176
Here's the link to the pull request: https://github.com/hackedu/hackedu/pull/187

[2015-09-10 01:08] zachlatta opened #188 "Scaffold San Mateo High School case studies"
San Mateo High School would like to start submitting case studies. https://github.com/hackedu/hackedu/tree/master/case_studies is the directory where we store all of our case studies and the README in it outlines what they are and what the directory structure for them looks like.

Create a `san_mateo_high_school` directory in `case_studies` that includes the directories and files that the other sc

[2015-09-10 14:16] #141 closed

[2015-09-10 14:17] hellyeah commented on #87
@zachlatta did you end up taking care of the rebase error? Would love to move this out of the queue.

[2015-09-10 14:43] hellyeah commented on #169
- [ ] Gemma
  - [ ] Planning:
  - [ ] Recap:
- [ ] Bogdan:
  - [ ] Planning:
  - [ ] Recap: https://github.com/CHE-CS/hackedu/blob/master/case_studies/cherry_hill_high_school_east/02_first_meeting/recap.md

[2015-09-10 14:44] hellyeah commented on #108
[ ] add 10 leaders and have them make intros

[2015-09-10 15:29] jonleung commented on #176
Hell yeah @Bogidon! @zachlatta will work with you to merge this pull request in!

[2015-09-10 17:55] jonleung opened #196 "Add non-labs contribution guidelines to CONTRIBUTING.md"
Thanks for the suggestion @ssun098!

[2015-09-10 21:08] zachlatta commented on #153
Done!

[2015-09-10 22:38] jonleung commented on #148
Done.

[2015-09-10 22:38] #148 closed

[2015-09-10 22:40] jonleung opened #200 "Syncing up with Labs Leaders"
I'm syncing up with some of Labs Leaders to figure out things like:

- what's happening
- when their next meeting is
- what they're thinking about doing in that meeting
- noting when their club meetings and such are in working columns

All of my notes will be documented in the issues in hackedu/clubs

[2015-09-10 23:00] zachlatta commented on #200
Isn't @hellyeah already doing this?

[2015-09-10 23:23] jonleung commented on #200
@zachlatta didn't we decide that it was ok if we both did this? Currently the data for club leaders dates are not created yet and I chatted with @hellyeah to and I'm going to transfer the dates from the old spreadsheet to the new spreadsheet. I'm moving forward with the assumption that any communication with labs leaders is documented [in here](https://github.com/hackedu/clubs/issues)

[2015-09-11 02:29] jonleung opened #201 "Communicate curriculum plan of workshop day and project day"

[2015-09-11 15:45] MaxWofford commented on #99
Clicked the wrong button.

[2015-09-11 15:45] zachlatta commented on #95
Done. At https://clubs.hackedu.us.

[2015-09-11 15:45] #95 closed

[2015-09-11 15:46] zachlatta commented on #176
Closed by #187.

[2015-09-11 15:46] #176 closed

[2015-09-11 17:51] MaxWofford commented on #184
These have all been put into https://drive.google.com/drive/u/0/folders/0B34YNYNQ6z3YfjgwcXNjaTVQb2Z0cUFuWjBDTDN3SGU4SlJXeWwxRV9MWW14ZTBFbklUVDg

[2015-09-11 18:09] zachlatta commented on #184
Can you make sure the form responses are going to the `Feedback` spreadsheet in the same directory?

![recorded](https://cloud.githubusercontent.com/assets/992248/9822476/8e3fec18-5875-11e5-8b2e-9e3895251087.gif)

Seems like responses are currently turned off.

[2015-09-11 18:31] MaxWofford commented on #196
@jonleung How does this differ from labs contribution guidelines?

[2015-09-11 19:04] MaxWofford commented on #184
@zachlatta All the form responses are going into `Feedback` in the same directory. I just went through all the forms and turned on responses for everyone except Cherry Hill East.

[2015-09-11 19:04] #184 closed

[2015-09-14 22:06] #87 closed

[2015-09-14 23:00] hellyeah opened #207 "Get more high schoolers into college hackathons"

[2015-09-14 23:10] paked commented on #207
:+1:. Keep me in the loop.

[2015-09-15 01:21] zachlatta opened #208 "Create GitHub Issues for problems with 2nd workshop"
You mentioned that there were some problems with the second workshop you wanted to create GitHub Issues for.

[2015-09-15 01:21] zachlatta opened #209 "Create draft of the 3rd workshop"

[2015-09-15 01:22] zachlatta opened #210 "Message club leaders to ask them for feedback on pull request"
Keep it brief and below 50 lines

[2015-09-15 02:18] paked commented on #208
@jonleung @zachlatta. I thought we were not doing the sequential workshop model? Or have things changed again?

[2015-09-15 16:06] jonleung commented on #200
Closing because @hellyeah is doing it this week.

[2015-09-15 16:06] #200 closed

[2015-09-15 16:07] jonleung commented on #207
Moved this into "Ideas"

[2015-09-16 00:58] zachlatta commented on #188
Closed by #211.

[2015-09-16 00:58] #188 closed

[2015-09-16 01:08] paked opened #212 "Document the expectations of Labs Directors regarding their Github privileges"
Currently the Labs Directors have been given contributing status. It is unclear as to what we should be using our status for.

For example:

* If a PR comes up which looks merge-able, what happens? Should the Labs Director merge it?
* There are unassigned issues, should someone claim them?

[2015-09-16 02:47] MaxWofford commented on #212
/cc @hellyeah @jonleung @zachlatta

[2015-09-17 07:52] MaxWofford opened #215 "put more kevin in hackedu"
so sexy.

[2015-09-17 15:57] hellyeah opened #217 "Hack The North Meetup"
I'm making a last-minute trip to Hack The North at Waterloo after getting my passport yesterday.

@paked and @JevinSidhu will be there?

I should talk to them about heading it and have @jonleung @ssun098 and @LabLayers share notes.

[2015-09-17 15:59] hellyeah commented on #217
hackEDU/HS Hackers Meetups should eventually happen with no impetus from us.

HS Hackers Meetup Playbook?

[2015-09-17 16:09] hellyeah opened #218 "Recap MHacks with a Medium post"
An MHacks meetup was organized in issue #174.

This is the issue to document that meetup with a Medium post.

[2015-09-17 16:23] hellyeah opened #219 "Discuss how to share notes on clubs as we talk to them."
cc @jonleung

[2015-09-17 16:26] #215 closed

[2015-09-17 16:27] hellyeah commented on #215
Kevin is funny. He used @MaxWofford's laptop to create this issue.

[2015-09-17 16:28] hellyeah commented on #219
Set up time with @jonleung on Monday or Tuesday to discuss how we share notes on our communication with Labs.

[2015-09-17 17:09] hellyeah opened #220 "Add all Labs Leaders to Medium publication"

[2015-09-17 17:44] ssun098 commented on #218
@hellyeah will try to get this done asap

[2015-09-17 18:00] ssun098 commented on #217
@hellyeah this would be really, really helpful.  Do you want @LabLayers and me to help out with this?

[2015-09-17 20:21] hellyeah opened #222 "Launch Medium posts on hackEDU page"

[2015-09-17 20:22] hellyeah commented on #220
Added a Medium column to http://clubs.hackedu.us

[2015-09-18 13:21] JevinSidhu commented on #217
@hellyeah I'll be there!

[2015-09-18 13:42] paked commented on #217
I will be there :)

On Fri, 18 Sep 2015 9:21 am Jevin Sidhu <notifications@github.com> wrote:

[2015-09-18 16:18] hellyeah commented on #217
@paked and @JevinSidhu do yall want to coordinate this meetup?

Just got the ok from Kartik Talwar at HTN to do an impromptu meetup.

What do yall think of doing early in the day on Saturday?

[2015-09-18 16:20] jonleung opened #226 "Actively message and respond to club leaders"
The goal of this task is to build a relationship with club leaders.

[2015-09-18 16:23] LabLayers commented on #217
Hey everyone! Let's make a HS Hackers meetup happen! :dancer: Would love to chat on Fb in ~3 hours.

[2015-09-18 16:48] paked commented on #217
@dfont I'm cool to help coordinate if needed...

@lablayers keep me in the loop.

On Fri, 18 Sep 2015 12:23 pm Victor Lourng <notifications@github.com> wrote:

[2015-09-18 17:48] JevinSidhu commented on #217
@hellyeah I'd definitely be down to help out

@LabLayers Add me up: https://www.facebook.com/jevin.sidhu :smile:

[2015-09-18 22:58] jonleung opened #227 "Create more folders inside of clubs' case study folder"
Every club only has two folders inside their case study folder:

We need folders for the 2nd, 3rd, 4th, club meeting.

Thoughts on making the folders for club meetings 2 through 12 now so we don't run into this problem again?

/cc @zachlatta @MaxWofford @hellyeah @paked

[2015-09-18 23:03] jonleung opened #228 "Is there anything we should do with this article"
Hell yeah @xeonjake!

See http://www.hackreactor.com/blog/san-leandro-high-school-launches-hack-club-with-hack-reactors-help

Should we cross-publish this anywhere?

/cc @xeonjake @zachlatta @hellyeah

[2015-09-18 23:06] jonleung commented on #228
Should we post this in hackEDU leaderss?

[2015-09-19 00:43] paked commented on #228
:+1:

On Fri, 18 Sep 2015 7:07 pm Jonathan Leung <notifications@github.com> wrote:

[2015-09-19 00:46] paked commented on #227
I don't think creating a bunch of folders is a good idea... Perhaps have a
template folder people can clone?

I also don't like the naming scheme... But not quite sure what to do about
it.

On Fri, 18 Sep 2015 6:58 pm Jonathan Leung <notifications@github.com> wrote:

[2015-09-19 03:23] MaxWofford commented on #227
@jonleung Is there a reason the club leaders can't create new folders as they have meetings?

@paked On a chat with @gemmabusoni, she voiced her concerns that it was weird having `02_first_meeting`. It this along the lines of what you don't like about it?

[2015-09-19 03:35] MaxWofford commented on #226
@jonleung What do we have to do to close this issue?

[2015-09-19 04:10] paked commented on #227
Yes that sounds about right.

On Fri, Sep 18, 2015 at 11:23 PM Max Wofford <notifications@github.com>
wrote:

[2015-09-19 06:41] paked commented on #217
@LabLayers @JevinSidhu @hellyeah is this happening?

[2015-09-19 13:42] paked commented on #217
OK. So for future reference, this is happening in https://www.facebook.com/events/996095017114040/996105970446278/

So far the link has been spread by

* HtN Slack
* Twitter (Shared using #hackthenorth, although I don't have a cult twitter following)
* Various facebook groups
  * HS Hackers (unconfirmed, perhaps not updated /cc: @JevinSidhu)
  * Hack the North (I made the event as part of that gro

[2015-09-19 21:40] LabLayers commented on #217
Sounds awesome! :+1:

[2015-09-19 22:49] paked commented on #217
Closing because this is finished. Good job @JevinSidhu @hellyeah <3

[2015-09-19 22:49] #217 closed

[2015-09-20 02:07] jonleung opened #230 "There are currently too many branches and it's confusing our club leaders"
Specifically @TheThirdOne and @Bogidon have brought up that our branch situation is not in a good condition. I agree with them. I think we should make an active effort to purge all branches that are not active. Thoughts @zachlatta @MaxWofford?

[2015-09-20 02:12] jonleung commented on #210
I still need to make Max's fixes.

[2015-09-20 02:23] jonleung opened #231 "Do we want to set the precedent that every Lab Director will respond to GitHub mentions?"
This means that we need to set the precedent that Lab Directors will check GitHub notifications regularly.

I think that this will make it a lot easier to:

- get pull requests merged in (because discussion can happen much more quickly)
- allow Lab Directors to have discussions in comments on pull requests for case studies
- celebrate when people submit a pull request in the pull request itself

T

[2015-09-20 02:26] jonleung opened #232 "Adding Lab Directors' GitHub handles to https://clubs.hackedu.us and the Labs Team"
I think we should gather all Lab Director's GitHub handle in https://clubs.hackedu.us. This will let us lookup people's GitHub handle from that spreadsheet when we want to ping them about something on GitHub (such as pull requests, discussions like this one, etc.)

Also, do we also want to add all the Lab Directors to the [Labs team](https://github.com/orgs/hackedu/teams/labs)? Right now it's just

[2015-09-20 02:33] jonleung commented on #201
Closing this issue because we decided that the [portfolio workshop](https://github.com/hackedu/hackedu/tree/master/playbook/workshops/portfolio) can be used for this.

[2015-09-20 02:33] #201 closed

[2015-09-20 03:43] jonleung commented on #227
@MaxWofford I think that club leaders can totally make their own folders on their own. I believe that @zachlatta wanted to make sure that their naming scheme was consistent so that he could do batch changes to all of the notes. I personally think that being able to batch changes are not super helpful right now.

Having pre-populated folders currently leads to the issue that it's hard to tell which

[2015-09-20 03:43] jonleung commented on #227
@AbigailMed @amysorto @Bogidon @gemmabusoni @JevinSidhu @paked @sneharamapo @ssun @tejasmanohar @temucher @venethefifth @xeonjake, what are your guy's thoughts on:

1) What a good naming convention for the folders might be
2) Creating your own folders (we'll all need to be really careful about following the same folder naming convention) vs us creating them for you guys?

[2015-09-20 03:46] jonleung commented on #226
@MaxWofford, I believe that we may want to treat this as a weekly open issue.

Thoughts @hellyeah?

[2015-09-20 03:48] jonleung commented on #228
@gemmabusoni posted it! Thanks!

[2015-09-20 03:48] #228 closed

[2015-09-20 04:01] jonleung commented on #219
@hellyeah one idea that I had was to just discuss the status of ever lab leader right after standups. We could go through name by name and either one of us could bring up things that we think is relevant to bring up for a given club leader.

Thoughts?

/cc @zachlatta

[2015-09-20 04:10] jonleung commented on #196
@ssun098, I believe that you were taking lead on this issue?

Could you respond to @MaxWofford's comment?

Thanks!

[2015-09-20 04:12] ssun098 commented on #196
@MaxWofford Since everything is more "involved" for labs, I think it would be a good idea to keep labs separate from nonlabs, for the purpose of organization.  It'll only get annoying to search for a lab school vs a nonlab school if they're all compiled in the same case study folder.

Also, it's not very clear on what nonlabs programs should be doing - writing up a guideline can never hurt.

@jonl

[2015-09-20 04:20] jonleung commented on #196
@ssun098, no worries! I can't think of anything better than doing the same thing as labs right now (e.g. writing case studies). Totally up for ideas though!

[2015-09-20 04:21] ssun098 commented on #196
@jonleung After the contribution guidelines are written up, we really need to stress contributing though.  I feel like the interactions with nonlabs group is not good at the moment, and even though it's way more hands off than labs, there still should be some sort of communication going.

[2015-09-20 05:19] jonleung commented on #196
@ssun098 in your opinion, what kind of interactions do you would be ideal?

[2015-09-20 05:22] ssun098 commented on #196
@jonleung Weekly checkups would be sufficient, honestly. It's pretty important to maintain some communication between hackEDU+nonlabs clubs, otherwise people will feel uncomfortable if they're getting "ignored."

Personally I don't really notice it because I'm cool with asking you guys for help if necessary, but for those who may not know the administrative team as well, it's weird/awkward if they

[2015-09-20 05:30] jonleung commented on #196
@ssun098 yeah! Got it thanks! @saescapa any feedback from your end?

[2015-09-20 06:27] ssun098 commented on #196
@jonleung are there nonlabs club leaders who haven't interacted too much with you or @hellyeah who would be willing to give some insight onto this issue?

[2015-09-20 08:53] venethefifth commented on #227
I think a good name convention would be (High School) - (What folder is) like College Park - Code for Instagram or CPHS - Code, or have the high school name with a date instead. And I think you guys creating folders would be best in the beginning and I’m sure it will soon catch on and we’d do it ourselves.

[2015-09-20 09:32] ssun098 commented on #218
@hellyeah Submitted a Medium draft.  It's preeetty bad at the moment, but could you give it a look when you're back from HtN and give feedback? Thanks!

[2015-09-20 09:41] ssun098 commented on #227
If we're doing separate folders for each meeting, I think we should base it on date/content:
`(Date)_(Purpose)_(Meeting/Event)`.

I'm not too sure how y'all format your dates, but an example would be:
`09-20-15_WebdevIntro_Meeting`
or
`09-20-15_ClubFaire_Event`

I understand it may get a little chaotic though, but it'll be easier to reference if we were to search for content. Thoughts?

[2015-09-20 09:52] ssun098 commented on #196
Also @MaxWofford totally forgot to mention this after seeing your edit, but `any others that choose to participate` is a bad precedent, in my opinion. It's like, "You guys don't really have to contribute if you don't want to!" However, contribution is VERY helpful especially from different perspectives and although it isn't required, it should be stressed/recommended.  Is that enough clarification

[2015-09-20 13:28] paked commented on #230
:+1:

[2015-09-20 13:30] paked commented on #231
GitHub's notification UI does not make this task very easy IMO. What is the stance on using external software?

[2015-09-20 16:47] MaxWofford commented on #230
:+1:

[2015-09-20 17:06] Bogidon commented on #230
👍

On Sun, Sep 20, 2015 at 9:47 AM -0700, "Max Wofford" <notifications@github.com> wrote:

—
Reply to this email directly or view it on GitHub.

[2015-09-20 17:12] TheThirdOne commented on #230
:+1:

[2015-09-20 17:30] TheThirdOne commented on #230
I would suggest for the future that everyone  contributing to a hackedu repo make feature branches in their own repo rather than hackedu's.

[2015-09-20 18:32] Bogidon commented on #230
^ I agree with @TheThirdOne. When a club builds a new workshop they should do it in their own fork. After the workshop is built, they can submit it to hackedu through a PR. Maybe all the new workshops being added to the hackedu repo through PRs can go to a special branch (e.g. `workshop-testing`) if you still want to maintain some separation until the workshops are verified to work... but maybe th

[2015-09-20 18:36] Bogidon commented on #231
Recently I've been getting most GitHub notifications over email and they don't even show up at https://github.com/notifications (like the one for this issue). Other than having issues receiving the notifications, I like the GitHub issue/PR system and think it would benefit the Labs program to encourage it more.

[2015-09-20 18:42] Bogidon commented on #227
I'm fine with @ssun098's naming conventions. I also think that club leaders should make their own folders.

[2015-09-20 19:02] xeonjake commented on #231
Github on Android crashes alot for me, and also email doesn't always give me the full conversation. Any suggestions?

[2015-09-20 21:28] paked commented on #231
Pinging @zachlatta because he mentioned he had a good workflow set out.

[2015-09-20 21:32] paked commented on #227
I see no legitimate reason to automatically create folders. Especially if we are using a system like @ssun098 describes which includes metadata in the name.

[2015-09-20 21:33] tejasmanohar commented on #227
Makes sense to me too

[2015-09-21 00:40] jonleung commented on #169
@hellyeah, I'm closing this issue because it seems that according to the above comment, @gemmabusoni and @Bogidon have both submitted a case study.

[2015-09-21 03:58] jonleung opened #235 "Remote Control Workshop: Add a tutorial for finding an mp3"
Add a tutorial to find already hosted mp3 files online. Many people from the MHacks workshop asked us how to do this.

I've found the that the website https://mp3skull.is/ is a pretty decent place to get hosted mp3 files, however, the easiest way to get it is not intuitive:

- Search for a song
- Play the song in mp3 skull
- Inspect element on the player
- Extract the source URL of the mp3 file

S

[2015-09-21 04:20] jonleung opened #236 "Remote Control Workshop: Create wave wand for sound tutorial"
Many people want to trigger a sound when the wand is waved. On iOS there's some trickiness to this because sounds can only be played in javascript after they have been played once with a mouse click. See [Apple's documentation](https://developer.apple.com/library/safari/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/Device-SpecificConsiderations/Device-SpecificConsiderations.html).

H

[2015-09-21 04:22] jonleung commented on #236
\cc @paked

[2015-09-21 04:22] jonleung commented on #235
\cc @paked @Bogidon

[2015-09-21 04:23] Bogidon commented on #236
Coincidently this was a problem with a hack I made at PennApps VIII (webn.es). I can look into it.

[2015-09-21 04:24] jonleung opened #237 "Remote Control Workshop: Add Google Voice Setup if no phone"
If the person doing the tutorial doesn't have a cell phone or doesn't have cell service, they will not be able to do this tutorial.

However, if they have a Google Voice account, they can get around this limitation.

We may want to add directions for adding how to setup Google Voice in this tutorial (perhaps a link to an existing resource would work).

[2015-09-21 04:25] Bogidon commented on #235
Lol, get them to use http://chehacks.com/music. I made it for my CS Club because mp3skull is blocked on our school network – and I'm sure it's blocked in other places too. CHE Hacks isn't the best solution though. Maybe we can make a git repo with some copyright-free tones?

[2015-09-21 04:27] Bogidon commented on #169
recap... 😬

[2015-09-21 04:34] jonleung opened #238 "Remote Control Workshop: Find a better place to host the JS"
Right now the JS files in the JS Bin

- link from bit.ly
- to rawgit
- to a github commit

Totally not ideal.

It really should be `//apis.hackedu.us/twilio/v1/twilio.js` or something like that

/cc @zachlatta @paked

[2015-09-21 04:44] jonleung opened #239 "Twilio Workshop: Explain how the Twilio library is included in the HTML code."
In response to the question: "What is a problem you had with this workshop?" someone said "Understanding how Twilio was actually integrated into the app (as in, where it was defined)."

We should the following:

- What the Twilio library is
- Where it is "defined"
- How they can "define" it on their own website

[2015-09-21 04:46] jonleung opened #240 "Remote Control Workshop: More clearly link to JS Bin"
Here was some feedback we got: "I wish the link to jsbin was more obvious."

Some of the links to JS Bin are not obvious. Perhaps we should turn them into links that look like buttons using images.

[2015-09-21 04:52] jonleung commented on #208
@paked, we ideally wouldn't be doing a sequential workshop model but at least for now, it's probably going to look that way because I'm only creating one workshop per week. However @Bogidon is creating some cool workshops that others would be able  to use as well!

[2015-09-21 04:55] jonleung commented on #208
I created the following issues:

#235
#236
#237
#238
#239
#240

I also made the [`workshop` label](https://github.com/hackedu/hackedu/labels/workshop)

And the [`Remote Control Workshop` Milestone](https://github.com/hackedu/hackedu/milestones/Remote%20Control%20Workshop)

Thoughts @zachlatta @paked?

[2015-09-21 05:24] saescapa commented on #196
So some stuff:

For the guidelines, your guidelines mentions to use c9 workspace which I supposed all the club-labs were supposed to create, but nonlabs clubs don't have it. Some small guidelines for the nonlabs would be very helpful just to make sure we don't miss anything important that labs are currently doing for case studies.

About having labs and nonlabs separated, I don't think it's a big

[2015-09-21 06:10] ssun098 commented on #196
Thanks @saescapa!
@jonleung, was the c9 workspace created the one in the actual workshops, or something else requested?

[2015-09-21 06:30] #208 closed

[2015-09-21 06:31] jonleung commented on #210
Fixed all of @MaxWofford's comments.

Waiting for Lab directors to look at #224

[2015-09-21 14:34] zachlatta commented on #240
Can you give an example of one of the links that isn't obvious? I'd be
really hesitant to use image buttons as links, for the sake of keeping
things simple.

On Sun, Sep 20, 2015 at 9:46 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 14:35] zachlatta commented on #169
Reopening due to needing @Bogidon's recap.

[2015-09-21 14:42] zachlatta commented on #227
Yeah, I like @ssun098's suggested name format as well.

What are everyone's thoughts on the following convention for names?

YY-MM-DD_meeting_title_{event|meeting}

Examples:

- `15-09-21_portfolio_workshop_meeting`
- `15-09-15_club_fair_event`
- `15-09-02_school_fundraiser_event`

The reason I'm thinking YY-MM-DD instead of MM-DD-YY is because sorting
YY-MM-DD alphabetically will cause it to show

[2015-09-21 15:04] Bogidon commented on #169
😖 I'll write it

[2015-09-21 15:58] zachlatta commented on #226
This issue doesn't sound actionable. Can you clarify @jonleung?

On Sat, Sep 19, 2015 at 8:46 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 16:03] zachlatta commented on #232
Yeah, I'm down with both collecting GitHubs and adding them to
@hackedu/labs. We currently have a "GitHub" column in the "Club Leaders"
sheet, we can put it there.

On Sat, Sep 19, 2015 at 7:26 PM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 16:09] zachlatta commented on #217
Any pictures from this meetup?

On Sat, Sep 19, 2015 at 3:49 PM, Harrison Shoebridge <
notifications@github.com> wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 16:44] MaxWofford commented on #227
:+1: to `YY-MM-DD_meeting_title_{event|meeting}`

[2015-09-21 16:49] MaxWofford commented on #230
@Bogidon @TheThirdOne The current format for club leaders is to fork and submit a PR from their fork. Their pr commits are then cherry picked onto master. With this workflow, I don't think we'll have the need for a `testing` branch

[2015-09-21 17:18] zachlatta commented on #220
Can you make sure to include an owner and expiration date, per the README
@hellyeah?

On Thu, Sep 17, 2015 at 1:22 PM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 17:19] jonleung opened #241 "Remote Control Workshop: The file sizes of the gifs are too large"
The file sizes of the gifs are currently too large. We may want to consider making them smaller.

/cc @TheThirdOne @zachlatta @ZucchiniZe

[2015-09-21 17:29] jonleung commented on #230
@MaxWofford, do you want to can take lead on removing as many unnecessary branches in our repo as possible?

[2015-09-21 17:30] jonleung commented on #227
:+1:

[2015-09-21 17:36] jonleung commented on #232
Update:

I checked in with the Lab Directors this weekend to see if they were down for keeping updated on GitHub notifications. All of them said that they would be down. Many of them are familiar with how to check GitHub notifications. For those that are less familiar with checking GitHub notifications, I'm working with them closely to make sure that they are familiar with the flow and making sure

[2015-09-21 17:37] jonleung commented on #226
@hellyeah, we initially were not thinking of tracking this in an issue because it didn't seem actionable. However, we decided that even though it wasn't really actionable, this was an active piece of work that you were doing and so we wanted to track it on the board. @hellyeah, do you want to clarify what this work was?

[2015-09-21 17:39] zachlatta commented on #207
Can we turn this into something a bit more actionable?

On Tue, Sep 15, 2015 at 9:07 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 17:57] zachlatta commented on #232
They also should get emails with GitHub notifications.

On Mon, Sep 21, 2015 at 10:36 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-21 18:14] ssun098 commented on #227
:+1:

[2015-09-21 18:20] TheThirdOne commented on #241
This also applies to the portfolio workshop.

[2015-09-21 18:42] zachlatta commented on #148
![](https://media.giphy.com/media/143vPc6b08locw/giphy.gif)

[2015-09-21 21:28] zachlatta commented on #231
Yeah, so couple things about GitHub notifications:

- If you view a notification in your email, it's removed from the
notification center on GitHub's website
- If you view a notification in the web interface before they send you an
email notification (there's a tiny delay), they don't send the email
notification.

I personally manage my GitHub notifications from email and use a slightly
modified v

[2015-09-21 21:46] MaxWofford commented on #230
@jonleung The current precedent is for the submitter of the PR is to delete their branch after they are done with it. I would be happy to gently remind people about it, but I'm uncomfortable deleting other people's branches.

[2015-09-21 21:58] MaxWofford commented on #241
@TheThirdOne @zachlatta @ZucchiniZe
Git large file storage?

[2015-09-21 22:02] zachlatta opened #242 "Write guide for setting up a Cloud9 workspace for contribution"
During the introductory Labs calls we set everyone up with Cloud9 workspaces for making contributions to this repository and refer to the workspaces in `CONTRIBUTING.md`.

As mentioned in #196, create a written guide on setting up a Cloud9 workspace for contribution so non-labs clubs can create that workspace as well.

[2015-09-21 22:06] zachlatta commented on #196
I created #242 to track creating a guide on setting up Cloud9 workspaces for contribution.

I like changing our contribution wording to something along the lines of what @ssun098 wrote. @ssun098: want to submit a pull request to make those?

Let's hold off on putting non-labs case studies into their own directories. It's pretty easy to distinguish the difference between labs and non-labs clubs on

[2015-09-21 22:06] #196 closed

[2015-09-21 23:02] TheThirdOne commented on #230
@MaxWofford That is why feature branches should only be in forks. Any branch then can only be deleted by its owner, but it doesn't clutter the main repo.

Any branches that have been merged into master should be safe to delete (after a list of branches to be deleted is posted in irc perhaps), and people should be messaged to move active branches to forked repos.

[2015-09-22 02:17] TheThirdOne commented on #241
I think converting to mp4 then back to gif is probably the best choice. I might be able to improved the quality on the converted version.

Original (3.3 mb):
![original](https://raw.githubusercontent.com/hackedu/hackedu/9a9874787c66a0f052b79f5ab0a9de9225837e02/playbook/workshops/portfolio/img/img.gif)
Converted (700 kb):
![compressed](https://cloud.githubusercontent.com/assets/2322200/10009652/314

[2015-09-22 02:37] TheThirdOne commented on #241
Simply converting the gifs to gifs through cloudconvert.com provides 33% reduction in file size with perfect quality.

[2015-09-22 04:35] saescapa opened #247 "workshop: Portfolio"
Moving signing up to the top to avoid loosing work and confusion with Github and JSBin. @jonleung

[2015-09-22 04:36] saescapa commented on #247
@jonleung I can't assign myself :/.
I'll be working on it this week soon.

[2015-09-22 16:21] #226 closed

[2015-09-22 18:21] ssun098 commented on #217
We should really establish that pictures need to be taken at meetups.

[2015-09-22 22:06] zachlatta commented on #210
Status on this?

[2015-09-22 22:30] #169 closed

[2015-09-22 22:31] hellyeah commented on #169
Failed to get planning and still waiting on recap to be merged in from gemma. Going to close this bc its stale now so we can focus on contributions moving forward.

[2015-09-22 23:04] MaxWofford commented on #196
@ssun098 Thanks!

[2015-09-23 02:14] jonleung commented on #219
@hellyeah can you post the notes you took on what we decided in today's meeting?

[2015-09-23 03:17] zachlatta commented on #108
Any updates on this?

On Thu, Sep 10, 2015 at 7:44 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-23 15:38] jonleung commented on #210
Will be messaging club leaders to get their feedback on this to see if we can start a discussion in the pull request.

[2015-09-23 15:51] jonleung opened #252 "Sync with club leaders on curriculum"
Checkin with club leaders to see what they're planning to do for their club meeting.

[2015-09-23 15:53] jonleung opened #253 "Check in with all club leaders meeting this week."
@hellyeah, thoughts on taking this? We kinda discussed it a bit but I don't think we came to a conclusion.

[2015-09-23 16:01] hellyeah commented on #218
Reviewed draft.

[2015-09-23 16:07] hellyeah commented on #218
@ssun098 is going to iterate on the post and I'll edit and publish.

[2015-09-23 16:19] ssun098 commented on #218
@hellyeah im done I think

[2015-09-24 04:05] ZucchiniZe commented on #241
@MaxWofford I don't think we should use Git LFS, since that adds another unnecesary step of complication which I think you guys are trying to keep to a minimum.

[2015-09-24 04:11] MaxWofford commented on #241
@ZucchiniZe Just looked at Git LFS page, completely agree with you.

[2015-09-24 16:06] #252 closed

[2015-09-24 16:15] hellyeah commented on #219
We agreed to share individual clubs notes on the issues in the clubs repo as we saw fit. We need to actually do this and keep them updated.

After standup, at 930am, @jonleung and I will be having a brief, 30 minute, meeting to discuss clubs. The expectation is that these notes are added to the clubs issues before that meeting.

On Mondays, that meeting will be 1 hour long and we will message club

[2015-09-24 16:15] #219 closed

[2015-09-24 22:23] hellyeah opened #258 "Create script to quantify hackEDU Leaders Group Activity"

[2015-09-24 23:03] paked commented on #258
This sounds fun. :+1:

On Fri, 25 Sep 2015 8:23 am David Fontenot <notifications@github.com> wrote:

[2015-09-25 04:56] TheThirdOne opened #260 "Add an open source license"
Currently this is under full default copyright.

Creative Commons is probably the most applicable.

[2015-09-25 05:13] saescapa opened #261 "Pull Requesting to hackedu issue"
When pulling a Pull Request, commits show a range of previous commits that were already requested in previous PRs. Here is a test PR example: #259
"Merge remote-tracking branch 'hackedu/master' " was not commited by me and it includes 42 changes from previous PRs I made and some other people.
'Test commit please ignore' was done by me.

@MaxWofford

[2015-09-25 07:01] MaxWofford commented on #261
@saescapa I just cloned your fork down and tested everything out. It was caused by a step we forgot to document.

Here's the fix for future reference:

These instructions assume you've  set up `git add remote upstream https://github.com/hackedu/hackedu`

When you are on a branch and you want to submit a PR to `origin/master`, make sure to
1. checkout your local `master` with `git checkout master`

[2015-09-25 13:45] Bogidon opened #262 "Determine location for storing workshops"
@zachlatta this relates to PR #245. In my PR I had the workshops Ajar.io & Cloud9 located in the `playbook/workshops` folder. I realize that the reason for not pulling them into that folder was because they were not tested. However this creates two problems:

- **limited visibility** - workshops are not easily found by others. The only way to see them (realistically) is if the person receives a li

[2015-09-25 13:54] Bogidon opened #263 "How to cap lines at 80 characters in C9?"
How do I cap the length of my markdown rows to 80 characters as required by the markdown conventions guide? Do I have to do this manually?

[2015-09-25 16:04] jonleung opened #264 "Add missing clubs in the Airtable to https://clubs.hackedu.us"
Here is the [link to the Airtable](https://airtable.com/tblogRm7k8uC9ocU5/viw4nbNKwk4f1sIM0).

[2015-09-25 16:08] jonleung commented on #247
Sounds good @saescapa!

[2015-09-25 16:13] hellyeah commented on #253
Jumped on calls w/ Teagan, Tejas, and Jiahao.

Need to make sure all notes get to clubs.hackedu.us

[2015-09-25 16:17] hellyeah commented on #108
Blocking on #264

[2015-09-25 16:17] hellyeah commented on #218
@ssun098 publishing later today!

[2015-09-25 16:34] MaxWofford commented on #263
@Bogidon Are you familiar with vim?

/cc @zachlatta

[2015-09-25 17:33] saescapa commented on #261
When doing Step 2 I get `error: unknown option `rebase'`

[2015-09-25 17:47] ssun098 commented on #262
@Bogidon Perhaps we can have a separate workshops folder inside our individual case studies folder, so there's a centralised place where we can put them.

@jonleung @MaxWofford @zachlatta thought?

[2015-09-25 17:56] Bogidon commented on #263
Hm true. I'm very basic at using Vim and need to get better. I'll probably use the Ace editor in C9 for now and break lines manually.

[2015-09-25 18:00] Bogidon commented on #262
@ssun098 that would solve the centralization issue. Visibility would be slightly better but still not great. Maybe there could be a table of contents at least for all the workshops. ¯\_(ツ)_/¯

[2015-09-25 18:01] ssun098 commented on #262
You could make a ToC in the README.md for that folder, if that would work?

[2015-09-25 18:02] Bogidon commented on #262
That sounds like a pretty good approach. Curious to hear what others think.

[2015-09-25 19:39] MaxWofford commented on #263
@Bogidon Okay. If you ever do want to try vim, it's pretty quick to wrap at 80 chars. all you need to do to is:

1. `g g` jump to top of page
1. `shift+v` start selection buffer
1. `G` jump to bottom of page
1. `g q` word-wrap at 80 chars

[2015-09-25 19:45] MaxWofford commented on #261
@saescapa Sorry that didn't work! Would you please paste the following line into the terminal: `git status && git remote -v && git pull upstream master --rebase`, then paste it here?

[2015-09-25 23:28] saescapa commented on #261
Here is what I get:

[code]

[2015-09-25 23:29] MaxWofford commented on #261
@saescapa Try `git add remote upstream https://github.com/hackedu/hackedu` before the other commands

[2015-09-25 23:30] saescapa commented on #261
Error: `fatal: pathspec 'remote' did not match any files`

[2015-09-25 23:35] MaxWofford opened #265 "Improving community contribution via calls with leaders"
Created by @gemmabusoni on @MaxWofford's computer
Call with Teagan

[2015-09-26 00:50] saescapa commented on #247
@jonleung Since I'm having PR conflicts, here is the file: https://github.com/saescapa/ap-comp-sci/blob/master/README.md

[2015-09-26 01:00] MaxWofford commented on #261
@saescapa Sorry, I screwed up: `git remote add upstream https://github.com/hackedu/hackedu`

[2015-09-26 01:32] hellyeah commented on #218
Launched: https://www.facebook.com/permalink.php?story_fbid=1040798692637819&id=741805665870458

@ssun098 link your post too!

[2015-09-26 01:32] #218 closed

[2015-09-26 01:48] ssun098 commented on #218
https://medium.com/hack-edu/hs-hackers-meetup-at-mhacks-65a7088cf84b :smiley:

[2015-09-26 04:10] saescapa commented on #261
Thank you @MaxWofford, all Fixed! Closed.

[2015-09-26 04:10] #261 closed

[2015-09-26 04:22] zachlatta commented on #253
Status on this?

On Fri, Sep 25, 2015 at 9:13 AM, David Fontenot <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-26 04:22] zachlatta commented on #264
:thumbsup: :thumbsup: :thumbsup:

On Fri, Sep 25, 2015 at 9:04 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-26 04:24] zachlatta commented on #262
How about we create a folder called `contrib` in `playbook/workshops`? That's a common folder name for contributions.

[2015-09-26 04:28] ssun098 commented on #262
@zachlatta I like the idea but how would you separate it out by school? Folder per school? It seems a bit hard to find your workshop is everyone else's workshop is there.

[2015-09-26 04:40] MaxWofford commented on #261
Sure thing!

[2015-09-26 04:44] zachlatta commented on #262
Collaboration! What if we didn't separate it by school? We could always
modify the file layout once it becomes a burden.

On Fri, Sep 25, 2015 at 9:28 PM, Selynna Sun <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-09-26 04:47] ssun098 commented on #262
:+1:

On Fri, Sep 25, 2015 at 9:44 PM, Zach Latta <notifications@github.com>
wrote:

[2015-09-26 04:47] ssun098 commented on #262
I think that would be very effective, especially if leaders contributed to
each other's workshops, and improved theirs at the same time

On Fri, Sep 25, 2015 at 9:46 PM, Selynna Sun <ssun098@gmail.com> wrote:

[2015-09-26 15:42] Bogidon commented on #262
Perfect. That was what I was trying to say in my original comment.

[2015-09-27 05:45] paked commented on #262
This sounds great to me... However, have we thought about making workshops entirely different repositories? Just a thought. It would allow for less issue clutter on this repository, and a neater history all up.

[2015-09-27 05:48] paked commented on #260
I agree. :+1: for CC or a derivative.

note: for anyone not used to licensing, I always point people towards __this__ website http://choosealicense.com/, it has very good descriptions on all the licensing things

[2015-09-27 05:49] paked commented on #261
Should a note on this be added somewhere in the repository?

[2015-09-27 05:51] paked commented on #218
:+1: good job!

[2015-09-27 05:51] paked commented on #265
Thoughts on a 24/7 hangout?

[2015-09-27 05:56] ssun098 commented on #218
Thanks @paked!
On Sat, Sep 26, 2015 at 10:51 PM Harrison Shoebridge <
notifications@github.com> wrote:

[2015-09-27 23:18] paked opened #268 "Page we can send people when they ask for the curriculum"
A common occurrence on IRC is for an outsider to pop by and ask:

At the moment whoever is online at the time will usually reply with a link to http://github.com/hackedu/hackedu/blob/master/playbook/workshops... And then, upon realising that there is only one workshop begin linking to hackedu/hack-camp and various PRs lying around the place. It would be much more effective to have all these resour

[2015-09-27 23:19] paked commented on #268
cc: @hackedu/core

[2015-09-28 01:30] Bogidon commented on #263
Thanks @MaxWofford !

[2015-09-28 01:30] #263 closed

[2015-09-28 01:33] paked commented on #263
@MaxWofford, should this be put somewhere formal?

[2015-09-28 01:36] Bogidon commented on #262
@paked interesting. However if we separate workshops into a different repository `hackedu/hackedu` might develop some existential angst. It would then only be used for
1. case studies
2. internal labs stuff

Maybe the purpose of the `hackedu` repo can be clarified? Idk but for now I'll make that folder.

[2015-09-28 01:43] paked commented on #262
@Bogidon The purpose could be to house the actual _playbook_. So things like the following:

* How to start a club
* Club organisation
* Running the club
* Day to day operations
* Contributing to workshops
* How to run workshops
* Running the club fair booth
* Recruitment

[2015-09-28 02:15] Bogidon commented on #262
@paked yeah... the repo will need a facelift eventually then.

[2015-09-28 14:36] jonleung commented on #209
Closing because this issue is no longer relevant

[2015-09-28 14:36] #209 closed

[2015-09-28 14:37] jonleung opened #271 "Ship 3rd Workshop to master: p5.js"
My plan is to write a workshop where you build a simple game like frogger with the p5.js and p5.play.js library.

[Here is some code I wrote](http://jsbin.com/yumape/9/edit?js) as a draft for what the final code might look like

In Part 1, you will build frogger by following a linear set of directions.
Part 2 will be buffet styles where I show you how you can add stuff like music, coins, and other

[2015-09-28 14:38] jonleung commented on #209
This issue has been replaced by hackedu/hackedu#271

[2015-09-28 15:51] MaxWofford commented on #263
@paked Are the instructions clear for a beginner? I'd be happy to put them somewhere, but I'm hesitant to have everyone use this method.

[2015-09-28 16:29] jonleung commented on #171
I'm finished a draft of the Twilio signup process:

https://github.com/hackedu/hackedu/blob/jon-remote-control/playbook/workshops/remote_control/twilio_signup_instructions.md

[2015-09-28 16:33] hellyeah commented on #222
https://www.facebook.com/permalink.php?story_fbid=1040798692637819&id=741805665870458

[2015-09-28 16:33] #222 closed

[2015-09-28 16:40] hellyeah opened #272 "Club Leader Pairing"

[2015-09-28 16:43] hellyeah commented on #253
Hopped on calls with Teagan, Tejas, and Jiahao. Jiahao ended up not having a meeting bc of change in their schedule. Tejas is now meeting every other week so they didn't have a meeting either.

[2015-09-28 16:43] #253 closed

[2015-09-28 18:23] zachlatta commented on #272
As discussed, @gemmabusoni will be reaching out to @Bogidon to pair on `planning.md` and `recap.md`.

[2015-09-28 18:58] zachlatta commented on #265
How'd this go? And @paked, do you mean something like https://partytime.hackedu.us?

[2015-09-28 21:32] paked commented on #263
Mmm I agree. @Bogidon did you find a way to do this in the Ace editor?

[2015-09-28 21:39] paked commented on #265
@zachlatta On some subreddits (namely [/r/gamedev](http://reddit.com/r/gamedev)) a hangouts is set up each weekend where anyone can drop by and work on their project surrounded by others, as well as ask for feedback and help from an engaged group of people. I'm not quite sure how this could logistically work within our community, but I believe it would drastically increase the bonds between indivi

[2015-09-28 21:46] paked commented on #271
Woah p5 looks awesome!

[2015-09-28 23:18] zachlatta commented on #99
Closing due to not getting to this.

[2015-09-28 23:18] #99 closed

[2015-09-30 00:18] MaxWofford commented on #212
Thoughts @hellyeah @jonleung @zachlatta ?

I can cover this in the meeting about PRs on Thursday, but it might be slightly out of scope.

[2015-09-30 03:54] Bogidon commented on #263
There's a little character count indicator for each line. Using that for now.

[2015-09-30 04:04] paked commented on #263
Ugh. There has to be a better solution

On Wed, 30 Sep 2015 1:54 pm Bogdan Vitoc <notifications@github.com> wrote:

[2015-09-30 05:35] gemmabusoni commented on #272
@jonleung mentioned that Bogdan is rather swamped this week. Haven't received feedback as to who I should potentially be partnering with instead.

[2015-09-30 05:38] gemmabusoni commented on #265
How to do PR's, our guide specifically, doesn't seem to be very clear. Perhaps a call open to all clubs where pull requests and markdown are explained in detail?

[2015-09-30 05:43] MaxWofford commented on #265
@gemmabusoni Some of this is because our PR workflow can be improved. We're having a discussion tomorrow at noon to look into alternatives.

[2015-09-30 08:14] paked commented on #263
[OK. I have tweeted at `@c9support`](https://twitter.com/hshoebridge/status/649134744261627904) because apparently that is a thing... Awaiting a reply!

[2015-09-30 08:34] jonleung opened #277 "Finding clubs' recaps & feedback"
Many times I want to show the case study of one club to another club if they are going to run the same workshop. I want to be able to make the search query "show me the recaps that have done the portfolio workshop". I can't easily do that now and resort to opening ever club's case studies folder, then open every meeting folder, and then reading the recap to see if it covers the workshop or not...

[2015-09-30 08:36] paked commented on #277
:+1:. This information should be available to club leaders too, on demand!

[2015-09-30 09:44] MaxWofford opened #278 "Markdown styleguide en-dashes should be hyphens"

[2015-09-30 10:30] paked commented on #271
I was working on something kind of like this in #276

[2015-09-30 13:02] Bogidon commented on #263
good idea @paked! And good discovery about the twitter handle.

[2015-09-30 17:24] hellyeah opened #280 "Cloud9 in-kind donation"

[2015-09-30 17:47] MaxWofford commented on #280
Cloud9 premium workstations won't hibernate.

[2015-09-30 18:48] MaxWofford commented on #260
Thoughts on Attribution-NonCommercial 4.0 International vs Attribution 4.0 International?

/cc @zachlatta @jonleung

[2015-09-30 21:02] TheThirdOne commented on #260
I would think ShareAlike should be in there.

[2015-09-30 23:29] paked commented on #263
This is the response I got: https://twitter.com/C9Support/status/649240109271924737

I guess we should convert it into text form somewhere @Bogidon

cc: @zachlatta @jonleung @MaxWofford

[2015-10-01 01:08] jonleung commented on #171
Submitted #234 and assigned @paked to review!

[2015-10-01 01:08] paked commented on #171
@jonleung :heart:

[2015-10-01 03:10] MaxWofford commented on #262
Closing because @Bogidon fixed this in https://github.com/hackedu/hackedu/pull/283!

[2015-10-01 03:10] #262 closed

[2015-10-01 03:23] Bogidon commented on #263
Cool! Can you do that @paked? I could do it later probably

[2015-10-01 03:44] paked commented on #263
I'll try and get around to it... If it isn't a PR in the next few hours you should take it.

[2015-10-04 19:46] TheThirdOne commented on #241
I made a simple script to convert using imagemagick. If this is is run on all current workshops (probably using rebasing) and all future workshops, this issue can be closed.

[code]

[2015-10-05 14:19] #171 closed

[2015-10-05 20:51] paked commented on #171
![https://33.media.tumblr.com/65a067e10ac1568850bc4ca82651ace5/tumblr_no11miAcTm1u4zzcpo1_500.gif] :+1:

[2015-10-05 23:09] paked commented on #212
@MaxWofford @jonleung How is this coming along?

[2015-10-06 00:44] TheThirdOne commented on #241
Why was #234 merged before this was fixed in it?

[2015-10-06 00:54] TheThirdOne commented on #230
@paked, @jonleung, @saescapa, @MaxWofford, is there any specific reason yall created branches in this repo without cleaning up the branches in the past 6 days.

If you feel the need to keep a branch around to make revisions after its merged in, it should be in a fork.

Otherwise, please clean up your dead branches and be more careful in the future.

[2015-10-06 00:59] Bogidon commented on #230
I haven't submitted a PR in over a week (I think). Right now I've gotten my fork in a bit of a muddle which is why I haven't submited any PRs. I think I'm going to clear the whole thing so I should be back to making PRs the right way in a few days.

[2015-10-06 01:13] paked commented on #230
Whoops. I'll delete my outstanding branches now. Sorry @thethirdone.

On Tue, Oct 6, 2015 at 11:59 AM Bogdan Vitoc <notifications@github.com>
wrote:

[2015-10-06 01:59] saescapa commented on #230
@TheThirdOne My 1 branch created 2 days ago has been deleted.

[2015-10-06 03:37] TheThirdOne opened #290 "Twillio workshop README.md does not link properly"
Github shows a 404 if you click any link.

This is because the links look like `[signup instructions for Twilio](/signup.md)` instead of `[signup instructions for Twilio](signup.md)`.

This is a easy fix, I can submit a PR.

@jonleung

[2015-10-06 04:51] ZucchiniZe opened #291 "Workshop site"
Discussion for making a site that renders the workshops and easily allows people to comment on the content.

/cc @jonleung @TheThirdOne @ssun098

[2015-10-06 05:32] TheThirdOne commented on #291
It might be possible to make this using Jekyll and github.

However, this will probably require a backend (possibly only for rendering). I would think it would be written in either Ruby, Python, Node, or maybe shell (using pandoc); I would be partial to shell or Node.

The commenting feature could use frontend JS using dweet (won't actually work because it is not permanent) or something similar. O

[2015-10-06 11:35] MaxWofford commented on #290
@TheThirdOne A PR for this would be great! If you start submitting one, just make sure to assign yourself this issue.

[2015-10-06 11:43] MaxWofford commented on #212
@paked Everyone on the contributing team can assign themselves to unassigned issues.

PRs will still be merged in by the core team until [markcop](https://github.com/hackedu/markcop)'s test coverage is higher.

[2015-10-06 11:58] MaxWofford commented on #241
@TheThirdOne This needs to be fixed. Cloning the hackedu/hackedu repo takes +5 minutes for me. Would you please run through and rebase the converted images and put them in a PR?

[2015-10-06 12:11] MaxWofford commented on #241
@TheThirdOne Another version of the script:

[code]

[2015-10-06 13:56] zachlatta commented on #290
@MaxWofford we need to fix Markcop to catch this. Perhaps we should add some tests to Markcop?

[2015-10-06 15:41] zachlatta commented on #262
@paked I quite like the idea of eventually separating workshops into separate repos (perhaps we could use submodules or subtrees?). I'm partial towards keeping everything in this repo until things start to seriously break to keep the contribution barrier as low as possible (one repo is less to learn than many repos).

I'm going to go ahead and create a README in the `contrib` directory to better e

[2015-10-06 15:45] zachlatta commented on #291
What's the advantage to doing this now over using GitHub directly?

[2015-10-06 15:46] zachlatta commented on #280
This issue was moved to hackedu/meta#180

[2015-10-06 15:46] #280 closed

[2015-10-06 15:47] zachlatta commented on #80
Any updates on this?

[2015-10-06 15:48] zachlatta commented on #100
Going to go ahead and close this since it seems like we won't be moving forward with it.

[2015-10-06 15:48] #100 closed

[2015-10-06 15:49] TheThirdOne commented on #291
@zachlatta, It allows more flexibility (ex: using webm over gifs ), is potentially much better looking, and easier to find (workshops.hackedu.us).

[2015-10-06 15:53] TheThirdOne commented on #241
@MaxWofford, have you tested that? I am not sure `convert` will be ok with a `.bak` file. Also if you don't need to keep the backup `convert "$f" "$f"` works fine.

[2015-10-06 16:02] TheThirdOne commented on #241
@MaxWofford, I am fairly confident I don't have permissions to rebase. Do you mean make a commit after 74b607c to fix the images which you will rebase in?

[2015-10-06 16:20] paked commented on #262
:+1: for that

On Wed, 7 Oct 2015 02:41 Zach Latta <notifications@github.com> wrote:

[2015-10-06 16:27] zachlatta commented on #262
Just submitted #298 to describe what the `contrib` directory is for and assigned @paked to it.

[2015-10-06 16:28] MaxWofford commented on #241
@TheThirdOne you can rebase a fork. @zachlatta would probably dislike changing history on master

[2015-10-06 16:32] TheThirdOne commented on #241
@MaxWofford, how would rebasing a fork help?

[2015-10-06 16:39] paked commented on #80
@zachlatta this sounds like something packrat could do?

[2015-10-06 16:39] MaxWofford commented on #290
@zachlatta On mobile right now. Would you please add an issue for this?

[2015-10-06 16:41] paked commented on #212
Sounds good to me.

On Tue, 6 Oct 2015 22:43 Max Wofford <notifications@github.com> wrote:

[2015-10-06 20:09] jonleung opened #299 "Ship 4th workshop on master"
- This will likely be a p5.js workshop
- This might be a mobile game like scary maze

[2015-10-06 20:34] MaxWofford commented on #212
This issue can be closed when this is documented in our `CONTRIBUTING.md`

[2015-10-06 20:34] MaxWofford commented on #80
@paked That sounds like a great idea!

[2015-10-06 20:36] paked commented on #80
@MaxWofford  ![http://media.tumblr.com/tumblr_m93oneRpCZ1r4h8q9.gif](http://media.tumblr.com/tumblr_m93oneRpCZ1r4h8q9.gif)

[2015-10-06 20:46] paked opened #300 "Add repository management guidelines into CONTRIBUTING.md"
@zachlatta tasked me with adding some contribution guidelines into the repository. He initially only specified the first item, although I believe the others should be considered.

1. Commits should be one logical unit of change
2. Commits should be written in the imperative mood, start with a capitol letter and not end with a full stop
3. Commits should explain the change, but not be longer than 5

[2015-10-06 21:31] MaxWofford commented on #300
:+1:

[2015-10-06 21:51] hellyeah opened #302 "Launch Slack"

[2015-10-06 21:52] hellyeah opened #303 "Build system for automating community metrics"

[2015-10-06 21:52] hellyeah opened #304 "Add meetings from this week and last week to clubs.hackedu.us"

[2015-10-06 21:52] hellyeah opened #305 "Get 5 clubs to submit feedback on Packrat this week"

[2015-10-06 21:54] hellyeah opened #306 "Move cohort 1 chat to Slack"

[2015-10-06 21:54] hellyeah opened #307 "Change Slack Settings"
* [ ] @everyone @channel @group @here admin only
* [x] display real first and last names by default
* [x] allow IRC gateways

[2015-10-06 21:55] hellyeah opened #308 "Rename #general to #hackedu"

[2015-10-06 21:55] hellyeah opened #309 "Add Slack github integration"

[2015-10-06 21:55] zachlatta commented on #302
This issue was moved to hackedu/meta#193

[2015-10-06 21:55] #302 closed

[2015-10-06 21:56] zachlatta commented on #303
This issue was moved to hackedu/meta#194

[2015-10-06 21:56] #303 closed

[2015-10-06 21:56] hellyeah opened #310 "Add Slack IRC integration"
https://slack.zendesk.com/hc/en-us/articles/201727913-Connecting-to-Slack-over-IRC-and-XMPP

https://ekmartin.com/2015/slack-irc/

Issues:
—you won’t be able to see who’s in irc and who’s in slack
—make it clear who’s first class users:
—one channel called #irc where irc is first class users

[2015-10-06 21:56] zachlatta commented on #304
This issue was moved to hackedu/meta#195

[2015-10-06 21:56] #304 closed

[2015-10-06 21:56] zachlatta commented on #305
This issue was moved to hackedu/meta#196

[2015-10-06 21:56] #305 closed

[2015-10-06 21:56] hellyeah opened #311 "Add slackin integration so we dont have to create @hackedu.us emails for club leaders"
http://rauchg.com/slackin/

[2015-10-06 21:58] hellyeah opened #312 "Set up Steward on Slack"

[2015-10-06 21:59] hellyeah opened #313 "Move cohort 2 chat to Slack"

[2015-10-07 01:07] paked commented on #307
:+1:

[2015-10-07 02:13] paked commented on #291
I wrote up a proposal for something along these lines at: hackedu/packrat#56

[2015-10-07 16:04] hellyeah commented on #272
Gemma and Jeremy (Lowell)

[2015-10-07 16:18] hellyeah opened #319 "Transition from Teagan to Jeremy (Lowell)"

[2015-10-07 16:41] ad510 opened #320 "credit card number in Twilio tutorial"
Is the credit card number in the Twilio tutorial @jonleung's actual credit card number? If so, wouldn't that mean that people could charge to it?

I saw a couple people mention this on IRC on Monday but no one replied to it.

[2015-10-07 17:15] ad510 commented on #260
Be careful with the noncommercial licenses because they might disallow uses you probably want to allow, such as people posting workshop content on their ad-supported blogs. Also Creative Commons [doesn't recommend](https://wiki.creativecommons.org/wiki/Frequently_Asked_Questions#Can_I_use_a_Creative_Commons_license_for_software.3F) using their licenses for software for various reasons, so if you w

[2015-10-07 17:24] TheThirdOne commented on #260
@ad510

I don't think there will ever be any code in this repo.

I would also support non NonCommercial.

[2015-10-07 17:28] ad510 commented on #260
@TheThirdOne What about the code snippets in the workshops?

[2015-10-07 18:03] zachlatta commented on #212
Going to move this to our backlog in ZenHub.

[2015-10-07 21:13] zachlatta commented on #320
It's a prepaid card we bought at a store that doesn't have any cash on it, despite being a valid number. Would you be interested in submitting a pull request to clarify that?

[2015-10-07 22:20] paked commented on #320
:+1: for adding that clarification note. Totally gave me a heart attack lol.

On Thu, Oct 8, 2015 at 8:13 AM Zach Latta <notifications@github.com> wrote:

[2015-10-07 23:21] jonleung opened #321 "Add Twilio's MIT LICENSE to Twilio Workshop"
**Background**

The library that I wrote to wrap Twilio ([twilio-basic](https://github.com/hackedu/hackedu/tree/master/playbook/workshops/twilio/twilio-basic.js)) uses the [twilio-node library](https://github.com/twilio/twilio-node).

The twilio-node library is under the MIT license, specifically [this license](https://github.com/twilio/twilio-node/blob/master/LICENSE).

**The Task**

We need to a

[2015-10-07 23:39] bobacadodl opened #322 "Create a Twilio proxy"
Unfortunately, my school's network seems to be blocking access to twilio.com (and maybe also twimlets.com ? never had time to check). Essentially, the script at bit.ly/twilio-basic-v1 fails when calling Twilio.callAndSay

We are currently working around this by using a mobile hotspot, and it works fine - but we would rather not use up data. If a proxy was setup so that we could access the APIs, it

[2015-10-07 23:40] paked commented on #322
:+1:

On Thu, Oct 8, 2015 at 10:39 AM Ankur Sundara <notifications@github.com>
wrote:

[2015-10-08 05:15] jonleung opened #325 "Dodge Workshop: alert("Game Over") => text(0,0, "Game Over"); player.remove();"
The alert was really annoying in the Dodge workshop.

Instead:

[code]

[2015-10-08 15:54] jonleung commented on #271
Fixed by #323. @paked is currently helping me review and is submitting a new pull request to fix any issues he sees.

Thanks @paked!!!

[2015-10-08 15:57] jonleung commented on #299
I decided on making a maze game like this:

http://matthesby.github.io/showMaze/

Thank you @matthesby for the code and all the help!

[2015-10-09 04:05] paked commented on #290
Fixed in #328

[2015-10-09 04:05] #290 closed

[2015-10-09 09:09] paked commented on #325
After some inspection into this I don't think it is as simple as was initially thought by @jonleung.

The `text` function actually only renders the text for one frame. And currently, there is no way to check if a `sprite` is `dead` without setting an external variable. I am going to submit a PR/feature request to p5.play... In the meantime our `alert` solution will have to do.

[2015-10-09 14:43] jonleung commented on #325
:+1:

[2015-10-09 14:44] jonleung commented on #325
Wait @paked, what if we just removed the sprite instead?

[2015-10-09 15:50] jonleung commented on #271
@paked made a pull request! I will be reviewing most likely tomorrow, possibly later tonight!

[2015-10-09 16:12] MaxWofford commented on #227
@zachlatta Can we  close this issue? It seems like club leaders can create their own folders.

[2015-10-09 16:15] gemmabusoni commented on #272
Call with Jeremy scheduled for 3pm Saturday. I'll be taking it from CalHacks, in case anyone else wanted to be involved.

[2015-10-09 21:59] paked commented on #325
@jonleung that was the solution I settled for :)

[2015-10-09 22:12] paked commented on #271
:smile:

[2015-10-10 22:38] j1lin0101 opened #333 "New members"
If new members were to come in and not understand the workshop have a reference, a short summary, or a link to the old lesson that explains it.

[2015-10-10 22:55] paked commented on #333
@j1lin0101 our workshops are designed to not have linear order (at least so far), thus most people should be able to jump in and get started without a hitch. If this is a real problem that has popped up, would you mind telling us which workshop (and section) it was related to?

[2015-10-10 22:58] j1lin0101 commented on #333
Specifically the Twilio workshop. Some of new members came to my club last meeting while the rest of the group was working on the Twilio workshop and did not actually understand HTML and CSS. I eventually had to explain the concepts to them directly.

[2015-10-10 23:05] paked commented on #333
@j1lin0101 that is interesting. @jonleung was the Twilio workshop designed be subsequent to the portfolio workshop? I know it has become almost tradition to run the Portfolio workshop as the first workshop, maybe that is why we haven't encountered this situation...

[2015-10-11 00:41] zachlatta commented on #333
Oh, this is super interesting. What if we had "prerequisite concepts" or something listed, where "HTML & CSS" would be a prerequisite for the Twilio workshop and each prerequisite would have a link to a workshop that teaches the concept?

[2015-10-11 02:04] paked commented on #291
OK. We just had the second "Curriculum Call". It was recognised that hackedu/packrat#56 that the technical debt would be too high to initially warrant building the initially proposed platform. Like all good engineers, we wrote up [some notes](https://beta.etherpad.org/p/curriculum-squad) and came up with a list of largest problems.

It was decided that we would like to continue with the idea, but

[2015-10-11 02:29] ZucchiniZe commented on #291
So, the markdown rendering API looks great, no more need for a backend.

I agree, some cli utility to render the markdown files to html sounds awesome and then putting them in the gh-pages branch with a automated ci buildstep sounds awesome, I would love to help to make the script/site.

[2015-10-11 03:25] paked commented on #291
[I've written a basic bash script to compile all of the html](https://gist.github.com/paked/15833015ba1d6bb71b51)
[code]

However, we have another few issues... Currently all the Markdown files link to other markdown files, as opposed to the HTML files.

Go has a really great and simple HTML AST package which could be used for the rewriting the URLs here. It'd work on the following rules:

- Any l

[2015-10-11 03:30] TheThirdOne commented on #291
I would be hesitant to have the site hosted through gh-pages on hackedu/hackedu. I think it would be likely that it will be used for something else. Hosting using gh-pages on a separate repo like hackedu/workshops(-site)? would be better.

The site generator should be more complex than simply rendering the markdown (though that would be a great mvp). I would think a templating system (to wrap mark

[2015-10-11 03:41] paked commented on #291
@TheThirdOne hmmm. Any particular reason for not wanting it on hackedu/hackedu?

Of course @TheThirdOne. The current goal is to get it to an MVP stage, where we can tell if it could work. I don't actually think we would need a home page... The current `workshops` directory README would work initially.

Are you sure? Sounds like some regex magic too me... And you know what they say about HTML and r

[2015-10-11 03:59] TheThirdOne commented on #291
@paked

The repo is already plenty large as it is, something else may want to use hackedu/hackedu:gh-pages at some point, and just general separations of concerns.

I think the homepage is the least important of the features I mentioned. Markdown has a limit to prettyness though so I think in the long run having a custom html homepage would be nice.

I never mentioned regex. Templating would eithe

[2015-10-11 04:30] paked commented on #291
@TheThirdOne Hmmm. Thoughts @zachlatta?

OK sure. But initially a markdown file is fine.

Are there bash HTML templating frameworks for this?

That regex looks fine to me.

[2015-10-11 04:41] TheThirdOne commented on #291
Yeah, for MVP the markdown file is fine.

I was thinking `cat header.html file.html footer.html > file.tmp.html; mv file.tmp.html file.html` if we were using bash. Otherwise a non-bash templating framework would be better.

[2015-10-11 15:26] jonleung commented on #333
@j1lin0101 @paked, I tried to make the Twilio Workshop not dependant on anything else. However, it does use 1 HTML tag. If the hacker had never written HTML before, they would have benefitted from doing the portfolio workshop before the Twilio workshop but I don't think by much. @j1lin0101, do you think it would have been very beneficial?

[2015-10-11 15:37] jonleung commented on #291
@paked @zachlatta @TheThirdOne, thoughts on just using the `gh-pages` branch on `hackedu/hackedu` for now? When we decide to use the `gh-pages` branch for something else, I think then we could move this curriculum stuff somewhere else.

Moreover, I think it makes sense that if the curriculum lives in `hackedu/hackedu`, if we use a `gh-pages` branch, it should should live in the same repo.

Moreove

[2015-10-11 16:21] j1lin0101 commented on #333
@jonleung, I believe that if they know and understand what the tags are first then they would benefit greatly from it and easily understand where they are placing they're code and why

[2015-10-12 16:36] hellyeah commented on #306
@paked took lead on this and created the channel. it's currently public but maybe it makes more sense to be private if the cohort wants it to be.

[2015-10-12 16:36] #306 closed

[2015-10-12 18:01] #271 closed

[2015-10-12 18:04] MaxWofford opened #338 "Link workshop-specific feedback forms at the end of every workshop"

[2015-10-12 18:10] jonleung opened #339 "Ship Maze Workshop"
This will likely be another p5.js workshop

[2015-10-12 18:15] MaxWofford opened #340 "Check in on pairing a club leader w/ gemma"
This issue can be closed once we have documentation from @gemmabusoni and the leader she paired with.

[2015-10-12 20:10] paked commented on #339
Should we look at doing another web development workshop now? I wouldn't
want to oversaturate with games...

On Tue, Oct 13, 2015 at 5:10 AM Jonathan Leung <notifications@github.com>
wrote:

[2015-10-12 23:45] zachlatta opened #346 "Create proxy to bypass school networks in workshop API calls"
Also modify the Twilio workshop to proxy requests using this.

[2015-10-12 23:54] zachlatta commented on #307
IRC gateways are already enabled!

[2015-10-12 23:55] zachlatta commented on #308
We decided to keep the Slack `#general` channel and make a new channel called `#hackedu` that maps to `#hackedu` on freenode.

[2015-10-12 23:55] #308 closed

[2015-10-13 06:30] jonleung commented on #338
Perhaps we could ask something like

- what was something that you thought was confusing?
- what was something you liked?

Let's also ask the peeps in the curriculum slack channel?

[2015-10-13 06:31] MaxWofford commented on #277
@jonleung

Addressed in https://github.com/hackedu/hackedu/issues/338

[2015-10-13 15:58] zachlatta commented on #310
Closing in favor of hackedu/meta#209.

[2015-10-13 15:58] #310 closed

[2015-10-14 07:08] #321 closed

[2015-10-14 07:36] MaxWofford opened #349 "Rename Lowell club folder structure"
![screenshot from 2015-10-14 00 36 06](https://cloud.githubusercontent.com/assets/5891442/10477517/a1227814-720b-11e5-9333-5f7185133593.png)

[2015-10-14 07:38] MaxWofford commented on #340
Update: @gemmabusoni paired with @j1lin0101

[2015-10-15 19:11] MaxWofford commented on #340
@gemmabusoni said she will follow up with @j1lin0101.

[2015-10-15 19:11] #340 closed

[2015-10-15 20:13] jonleung opened #355 "Remote Control Workshop: Add a note that playing some mp3 files works and others don't..."
`Twilio.callAndPlay` works for playing some mp3s but not others. I havn't been able to figure out which ones work and which ones don't.

We should just leave a note in the workshop that includes:

- Twilio doesn't like playing some mp3
- Here is a list of links to mp3s that we know work

[2015-10-15 20:56] jonleung opened #356 "Links to p5.js from Dodge & Soccer need to be https"
Change the script tags in the JS Bin and the Readme to be:

[code]

These use

- `https://`
- Are the most up to date p5 libraries

[2015-10-15 21:37] paked commented on #291
ping @zachlatta

[2015-10-15 21:39] paked commented on #333
@j1lin0101 What do we have to do we have to do to close this issue?

[2015-10-15 21:40] paked commented on #320
I think we can close this now. @zachlatta clarified it was not a real credit card.

[2015-10-15 21:40] #320 closed

[2015-10-15 21:40] paked commented on #319
@hellyeah what is this issue waiting on?

[2015-10-15 21:41] paked commented on #311
Are we still doing this? Or just inviting people manually

[2015-10-15 21:42] hellyeah commented on #319
Me verifying they've been swapped in our spreadsheets

[2015-10-15 21:43] paked commented on #307
@hellyeah I brought up the first point in slack. Wasn't able to get a discussion going though.

[2015-10-15 21:45] paked commented on #278
@MaxWofford isn't the markdown style guide in hackedu/meta

[2015-10-15 21:51] MaxWofford commented on #278
@paked Nice catch! Moving it over.

[2015-10-15 21:52] MaxWofford commented on #278
Actually, I'll just move this to hackedu/markcop

[2015-10-15 21:53] #278 closed

[2015-10-16 00:32] j1lin0101 commented on #333
@paked I would say on the future projects we should have short explanations or references that explain the topics mentioned.

[2015-10-16 00:32] #333 closed

[2015-10-16 01:38] paked commented on #333
@bogidon lets get this into the workshop guidelines

On Fri, Oct 16, 2015 at 11:32 AM j1lin0101 <notifications@github.com> wrote:

[2015-10-16 02:26] MaxWofford commented on #333
I like how `New members` is an issue

[2015-10-16 02:37] Bogidon commented on #333
@paked let's do itttttttt!

[2015-10-16 15:17] jonleung commented on #299
@paked I fixed the Markdown errors that were blocking progress pull request!

[2015-10-16 15:25] jonleung commented on #339
@paked that sounds like a good idea but am not currently sure. Any ideas that you have?

[2015-10-16 15:27] jonleung commented on #210
Decided not to do this.

[2015-10-16 15:27] #210 closed

[2015-10-16 18:52] zachlatta commented on #339
I think another web development workshop would be a good call. Perhaps
doing more stuff with CSS (maybe like introducing Bootstrap/Foundation)?

On Fri, Oct 16, 2015 at 8:25 AM, Jonathan Leung <notifications@github.com>
wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-10-16 18:55] zachlatta commented on #346
Done! Closed by #350.

[2015-10-16 18:55] #346 closed

[2015-10-16 20:54] paked commented on #339
Sure. Bootstrap could be interesting...

Anyway we could introduce firebase? Or would that be too complicated.

On Sat, Oct 17, 2015 at 5:52 AM Zach Latta <notifications@github.com> wrote:

[2015-10-16 22:11] MaxWofford commented on #339
@paked Firebase workshop could be cool! There are a few examples in hackedu/hack-camp

[2015-10-16 22:15] paked commented on #339
Awesome. You see, I'm not convinced people will be engaged with just
bootstrap...

On Sat, Oct 17, 2015 at 9:11 AM Max Wofford <notifications@github.com>
wrote:

[2015-10-16 23:22] jonleung opened #360 "Dodge Workshop is Currently Too Hard To Play"
Make the bullet slower. It's too hard to ~~win~~ stay alive right now.

[2015-10-16 23:22] paked commented on #360
:+1:

[2015-10-16 23:22] Bogidon commented on #360
Agreed

[2015-10-18 16:34] jonleung commented on #299
Currently @MaxWofford has been assigned to the pull request. He says that he should be able to make a pull request to fix any changes by Sunday. I will just end up merging that pull request into my own branch and asking him to merge my branch in. Thanks so much @MaxWofford!

[2015-10-19 00:06] jonleung opened #364 "Let HackingEDU know which hackEDUers to expect to be at the hackathon"
@gemmabusoni @zachlatta, I pm-ed you a spreadsheet with the emails of hackEDU-ers who we are expecting to be at the HackingEDU Hackathon. This spreadsheet contains the hackers:

- name
- school
- email address they signed up with.

The task is to make sure that HackingEDU accepts all of them.

I'm not sure who is going to take lead on this task, @gemmabusoni or @zachlatta.

[2015-10-19 04:33] gemmabusoni commented on #364
@jonleung I'll take lead. Will send to Keero asap.

[2015-10-19 05:12] jonleung commented on #338
@MaxWofford, could you change the question in the Google Form:

https://docs.google.com/forms/d/1IxbiDtyP-UOx3hRGu3o2I-iVll95xQ6I_pW8JS3TZ2k/viewform

From a textarea tag

![image](https://cloud.githubusercontent.com/assets/654941/10570184/172f0e00-75e5-11e5-8872-559bd7261718.png)

to an input field

![image](https://cloud.githubusercontent.com/assets/654941/10570190/22d340aa-75e5-11e5-9d65-163e0b

[2015-10-19 08:05] MaxWofford commented on #338
![screenshot from 2015-10-19 01 05 32](https://cloud.githubusercontent.com/assets/5891442/10572463/85f0f12e-75fd-11e5-89cb-f3079d0472c3.png)

Updated

[2015-10-19 08:05] #338 closed

[2015-10-19 08:06] #299 closed

[2015-10-19 15:36] jonleung commented on #364
@gemmabusoni sounds good! I just assigned you to the issue!

[2015-10-19 20:52] zachlatta commented on #322
Closed by #350. Thanks!

[2015-10-19 20:52] #322 closed