[2017-10-02 18:57] Bush1do commented on #1060
First website preview? Can you screenshot?

[2017-10-02 19:06] paked commented on #1060
Essentially, this (https://hackclub.com/workshops/personal_website/#part-i-setup) needs to be moved to to somewhere here (https://hackclub.com/workshops/personal_website/#part-iv-publishing).

The goal is to get people intro programming super quickly, instead of spending the first 30 minutes signing up to websites they've never heard of.

[2017-10-03 18:24] MaxWofford opened #1061 "Create individual partytime links"
Right now I'm using my own personal Hangouts link to run Hack Club calls because sometimes meetings will overlap between 2 staff members and we can't use the same Hangouts link. It'd be cool if we could all have official links for our calls (ex. https://max.partytime.hackclub.com or https://max.hackclub.com) so we can all be in separate calls at the same time, while still using official-looking li

[2017-10-03 18:29] MaxWofford commented on #1048
Any updates on this?

[2017-10-04 01:55] Bush1do commented on #1060
Seems easy enough, are the html files in the repo?

[2017-10-04 02:36] MaxWofford commented on #1060
It's a markdown file you can find right here https://github.com/hackclub/hackclub/blob/master/workshops/personal_website/README.md

[2017-10-05 15:44] cravend commented on #1046
If y'all want I can work on refreshing the deals repository.

Current plan would make resources only visible to club leaders, is that fine?

[2017-10-06 13:45] MaxWofford commented on #1053
@retiform: any updates on this?

[2017-10-06 13:48] MaxWofford commented on #1046
@cravend: It'd be awesome if you can take point on splitting up the README into a file for resources and a file for deals. Once you submit a PR, ping me so I can rename `hackclub/deals` to `hackclub/resources`.

[2017-10-06 22:57] MaxWofford opened #1069 "Markcop won't catch errors"

[2017-10-06 23:44] MaxWofford commented on #1069
Right now Markcop isn't running tests on all but the latest commit in https://github.com/hackclub/hackclub/pull/1065

[2017-10-07 18:59] zachlatta commented on #1069
Fixed by https://github.com/hackclub/hackclub/commit/714386ae6ce01d84749f0ab7c3b8921be2460667. Markcop is having trouble running running when files to check are manually passed as arguments.

For the time being, I'm removing parallelization and having it run on the entire repo (so not manually passing files to check).

[2017-10-07 18:59] #1069 closed

[2017-10-09 03:59] retiform opened #1073 "Fix broken GIF in Linux on a Stick"
Awesome gif is broken and is not a gif.

[2017-10-09 04:03] #1053 closed

[2017-10-10 01:04] zachlatta opened #1075 "Create dashboard for showing check-in response rate"
Per @hackclub/staff's discussion this morning, we'll be working to bring our check-in response rate to 90% by 11/06. As part of this, it's important that we're able to see how we're doing towards this goal.

The actual implementation of this dashboard is up to you, but a few suggestions:

- (Big number) Overall response rate from last check-in cycle
- (Line chart / bar chart) Overall response rate

[2017-10-10 01:09] zachlatta commented on #1048
Threw away the post-it notes due to lack of progress on this issue. Closing.

[2017-10-10 15:19] zachlatta commented on #1061
These should also be using Google Hangouts instead of appear.in, as talked
about in retrospectives on 2017-09-22.
ᐧ

On Tue, Oct 3, 2017 at 11:25 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com | Donate <https://hackclub.com/donate>

[2017-10-15 15:50] mj66 opened #1077 "Change focus of Workshop "Linux_on_a_stick""
I've been very busy for the past month, so I just had time to review @retiform's workshop. Overall, I like the idea of live USB, but there's something that I would like to point out.

So this is not a bug, but a conceptional suggestion.

In this workshop, I see that you created the USB drive with a specialized software. This brings three problems:

1. There are people using non-Windows operating s

[2017-10-17 04:03] amitsin6h commented on #1054
@zachlatta Thanks for the above information. I have created my cloud9 account  visiting https://hackclub.com/cloud9_setup . I'll soon send the PR for Back-end development using express and node :+1:

[2017-10-18 20:01] zachlatta commented on #1054
Wonderful! Can't wait.
ᐧ

On Mon, Oct 16, 2017 at 9:03 PM, Amit singh <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2017-10-19 04:02] MaxWofford commented on #1075
Going to make a funnel on dashboard with stages along these lines:
![2017-10-18 20 55 31](https://user-images.githubusercontent.com/5891442/31753658-d9c2291a-b446-11e7-81fc-73e700ce271c.png)

[2017-10-20 02:40] MaxWofford commented on #1075
Just created https://modeanalytics.com/hackclub/reports/bc845377caa2/runs/f07a10f5b97b for this

[2017-10-30 02:30] #1075 closed

[2017-10-31 02:16] retiform commented on #1077
There going to be any followup on this?

[2017-10-31 02:17] TheMoreYouKnow1 commented on #1077
can you remove me?

On Mon, Oct 30, 2017 at 10:16 PM retiform <notifications@github.com> wrote:

[2017-10-31 15:23] retiform commented on #1077
@TheMoreYouKnow1 I dont think I can. Hit unsubscirbe on the right.

[2017-10-31 15:24] retiform commented on #1077
@mj66 Im not sure if it makes sense to invest more time in an unpopular workshop, that I dont think anyone is using.

[2017-12-01 20:34] junocodes commented on #1043
Clarifying question regarding deliverables. Are you looking for both: (1) a page on your website and (2) a pdf that can be downloaded/given to leaders?

Thanks in advance for your time and Happy Friday.

[2017-12-01 21:00] zachlatta commented on #1043
Yes, ideally a page on the website that can be printed / exported as an 8.5
x 11 PDF. This is primarily for ease of editing.
ᐧ

On Fri, Dec 1, 2017 at 12:34 PM, Justin Juno <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com | Donate <https://hackclub.com/donate>

[2017-12-06 23:24] ayip001 opened #1079 "Update Workshop links and guides regarding c9.io"
c9.io will redirect users to AWS.
c9.io/login will allow existing users to log in.
some workshops are no longer followable with this change.

[2017-12-07 21:56] ayip001 commented on #1079
Create pull request (#1080)

[2017-12-07 22:45] ayip001 commented on #1079
Merge pull request (#1080)

[2017-12-07 22:45] #1079 closed

[2018-01-12 22:35] retiform commented on #1073
This has been fixed for months.  I forgot to close this.

[2018-01-12 22:35] #1073 closed

[2018-01-20 10:54] margobra8 commented on #1077
@retiform If you are willing to keep updating this workshop I can try doing a rewrite by using OSS and targeting other OSes

[2018-02-26 18:20] MatejMecka opened #1098 "Update HackClub's banner year"
In The README there are a few banners we can attach for ourselves. One of them is 2 years behind.
Link: https://camo.githubusercontent.com/c1d7e0c559c5ba63c8d04ba1a1af2ae6f9575d40/68747470733a2f2f63646e2e7261776769742e636f6d2f6861636b636c75622f6d6574612f666334633064323230343236656235336131373665363536616537373030643964636430623263352f6c6f676f732f62616e6e65725f706c61696e5f666c61675f7765625665727369

[2018-03-04 16:18] mj66 commented on #1098
Duplicate #1007, #978

[2018-03-04 19:14] lachlanjc commented on #1098
I can’t do this at the moment, I don’t have Illustrator/other tools. Hoping to get it soon though.

Why do we need years on banners?

[2018-03-04 19:20] zachlatta commented on #1098
I'm cool removing years if necessary - I do think it's cool to have new banners each year because it gives us a call to action to reach out to everyone to remind them to update their banners for the new year.

[2018-03-05 17:06] lachlanjc commented on #1098
I see. Where are these used?

[2018-03-05 18:33] zachlatta commented on #1098
Club websites. Don't have an example off hand, but we've previously sent out emails encouraging people to include the banners on their club sites.

On Mon, Mar 5, 2018 at 9:06 AM -0800, "Lachlan Campbell" <notifications@github.com> wrote:

I see. Where are these used?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-04-05 19:59] retiform commented on #1077
@margobra8 what is OSS?

[2018-04-05 20:04] margobra8 commented on #1077
OSS stands for Open Source Software. Therefore, instead of using LiveUSB or other commercial/closed source tools, use an alternative such as [Rufus](https://rufus.akeo.ie)

[2018-04-10 00:29] retiform commented on #1077
@margobra8 I think uNetbootin is probably the way to go, given that it is cross platform

[2018-04-18 15:25] Bush1do opened #1120 "Hackathon Tab"
Hackathon tab directs to a 404 page.

[2018-04-18 15:28] zachlatta commented on #1120
@MaxWofford is on it.

On Wed, Apr 18, 2018 at 10:25 AM, Charles Isaac <notifications@github.com>
wrote:

--
Zach Latta
Hack Club | zach@hackclub.com | Donate <https://hackclub.com/donate>

[2018-04-18 15:32] MaxWofford commented on #1120
Fixed by https://github.com/hackclub/site/commit/3be95c4a489a0394af7ae4485858c0d3dcb3f708. Will close once it's in master

[2018-04-18 15:32] MaxWofford commented on #1120
Misclicked

[2018-04-18 15:34] zachlatta commented on #1098
Yeah, still want to get this done.

On Wed, Apr 18, 2018 at 10:10 AM, Charles Isaac <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2018-04-18 15:34] zachlatta commented on #1098
@lachlanjc, think you could maybe take point? Or maybe @anniewang?

On Wed, Apr 18, 2018 at 10:34 AM, Zach Latta <zach@zachlatta.com> wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2018-04-18 15:35] Bush1do commented on #1098
Do we have a template for the banner?

[2018-04-18 15:36] zachlatta commented on #1098
We have the SVG linked at the top of this, not a template per-say.

[2018-04-18 15:38] Bush1do commented on #1098
Do we still want this or something to match the site's new aesthetic?

[2018-04-18 15:45] MaxWofford commented on #1098
Thoughts on using the banner @wangannie made? Originally made for hackathons, but it'd work fine on club sites. Here are a couple screenshots:

![image-2](https://user-images.githubusercontent.com/5891442/38942841-819f044a-42f5-11e8-9e26-f11344539a19.png)
![image](https://user-images.githubusercontent.com/5891442/38942842-81bf3e4a-42f5-11e8-9610-3ca085921df8.png)

[2018-04-18 15:49] zachlatta commented on #1098
Honestly I kind of prefer the existing flag w/ year.

On Wed, Apr 18, 2018 at 10:45 AM, Max Wofford <notifications@github.com>
wrote:

--
Zach Latta
https://zachlatta.com <http://zachlatta.com>

[2018-04-18 16:55] MaxWofford commented on #1120
Fixed!

[2018-04-18 16:55] #1120 closed

[2018-04-18 17:06] lachlanjc commented on #1098
I like it! I might put the arm on the other side though. And it’s rather wide for mobile.

[2018-04-24 18:25] lstjohnta opened #1121 "That was easy confusion"
The jquery library was confusing to figure out how to get working. Maybe put src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> as an option if the first one does not work

[2018-04-24 21:56] mj66 commented on #1121
Hi! Thanks for the issue report!

Just to make sure, are you referring to the code given in this workshop? https://hackclub.com/workshops/dashboard#part-ii-the-markup

[2018-04-24 23:17] lachlanjc commented on #1121
@mj66 Based on the title I think this is about [That was easy](https://hackclub.com/workshops/that_was_easy): https://hackclub.com/workshops/that_was_easy#adding-the-button

[2018-08-12 22:05] #1040 closed

[2018-08-30 18:20] #1060 closed

[2018-10-06 20:11] retiform commented on #1098
Might it not make since just to do what social media buttons do and have the text be generated by some html/css so the year just auto updates? Im not sure if there is an actual font for that flag though.

[2018-10-10 15:52] zachlatta commented on #1098
Yeah, agree. @lachlanjc, can you please take point on this?

[2018-10-15 20:04] MaxWofford commented on #1059
Closing this as outdated

[2018-10-15 20:04] #1059 closed

[2018-10-15 20:04] MaxWofford commented on #1046
Closing as inactive. Comment if you think it should be reopened

[2018-10-15 20:04] #1046 closed

[2018-10-17 16:04] retiform opened #1151 "Replace Pico8 workshop with open source software"
Reasons:
* Clubs probably do not want to spend money on something as trivial as pico8.
* Pico8 source code can not be modified, discourages hacking

Fortunately there are two Pico8 style machines (with one being a clone) that are open source.

The [TIC-80](https://tic.computer/) a pico8 clone that both runs offline and in a browser.  It can also be run on android.  The browser feature would also b

[2018-10-17 16:35] zachlatta commented on #1151
Thoughts @jajoosam?

[2018-10-17 16:50] retiform commented on #1151
Im happy to do the work on getting the Pico8 workshop to work on TIC-80

[2018-10-17 16:51] jajoosam commented on #1151
I tried TIC-80 a while ago, but preferred pico8 because it was much easier to start of with, all the editors existed - sound, map, and music.

Also, the pico8 community is super active - there's an established ecosystem for sharing hugs and solutions.

I'm pretty sure we'll be able to work something out that lets us licensed pico8 for free - I wrote an email to zero (the maker), and he gave me fre

[2018-10-17 17:35] zachlatta commented on #1151
Can you see if they could give licenses to all of Hack Club?

--
Zach Latta

https://zachlatta.com ( http://zachlatta.com )
@zachlatta ( https://twitter.com/zachlatta ) / fb ( https://www.facebook.com/crynix ) / github ( https://github.com/zachlatta )

On Wed, Oct 17 2018 at 19:51, < notifications@github.com > wrote:

[2018-10-18 02:47] retiform commented on #1151
@jajoosam what do you mean by that?  TIC-80 comes with support for that by default.  Was this not the case when you tried it?

[2018-10-18 09:42] jajoosam commented on #1151
@retiform - TIC-80 didn't have all the editors when I tried it, as far as I remember. I'll try to give it another try soon :)

[2018-10-18 15:39] jajoosam commented on #746
@zachlatta @MaxWofford what do you guys think about creating another twilio workshop - except with WhatsApp bots?

The trial now does not require a credit card, and WhatsApp bots would be accessible globally 😄

I've written a workshop already on this, let me know if you'd be interested in having this as an official workshop 👉  https://dsh.re/8c48f6

[2018-10-19 06:18] lachlanjc commented on #746
@jajoosam +1 on everything @MaxWofford said^

[2018-10-19 06:46] jajoosam commented on #746
And created!

https://github.com/hackclub/hackclub/pull/1152

@MaxWofford @zachlatta @lachlanjc

[2018-10-19 19:53] lachlanjc opened #1153 "Move styled-weather to React section"

[2018-10-19 19:55] lachlanjc opened #1154 "Decide future of Slack workshop"
As Mingjie pointed out, our Slack workshop is desperately out of date. I'm fine with entirely axing it & adding a redirect to our new Slack page, which I think explains our Slack pretty well. We could also rewrite it with new content. Thoughts on this @MaxWofford?

[2018-10-19 19:58] MaxWofford commented on #1154
I think the current Slack flow is pretty good. Let's remove the workshop. If people are confused we can make a new one

[2018-10-19 20:28] MaxWofford commented on #1154
Why not move it to the retired workshop section?

[2018-10-19 20:32] lachlanjc commented on #1154
I’d rather have Retired be “we’re not updating this anymore” vs “this is actively wrong”. Is there a scenario where the old workshop is helpful? Our Git history is public (with commit search).

[2018-10-19 20:36] MaxWofford commented on #1154
Yeah, I agree with that. I'll delete the Slack workshop & update the index numbers

[2018-10-19 20:39] #1154 closed

[2018-10-19 20:50] lachlanjc commented on #1154
Awesome, appreciated!

[2018-10-21 00:10] zachlatta commented on #1154
👍 to all

--
Zach Latta
Hack Club | zach@hackclub.com | Donate ( https://hackclub.com/donate )
@zachlatta ( https://twitter.com/zachlatta ) / fb ( https://facebook.com/crynix ) / web ( https://zachlatta.com ) / github ( https://github.com/zachlatta )

On Fri, Oct 19 2018 at 13:50, < notifications@github.com > wrote:

[2018-10-21 00:10] zachlatta commented on #1153
+1

--
Zach Latta
Hack Club | zach@hackclub.com | Donate ( https://hackclub.com/donate )
@zachlatta ( https://twitter.com/zachlatta ) / fb ( https://facebook.com/crynix ) / web ( https://zachlatta.com ) / github ( https://github.com/zachlatta )

On Fri, Oct 19 2018 at 12:53, < notifications@github.com > wrote:

[2018-10-22 20:56] lachlanjc opened #1158 "Platformer workshop missing link to p5.play.js"
4 separate people have been unable to run Platformer today before I discovered it no longer has the necessary p5.play.js link.

[2018-10-26 12:20] lachlanjc opened #1159 "Add note to ignore most editor errors"
This one is hard. But everyone at my club who has done Dodge, Platformer, or the other workshops involving linking JS via a script tag ask why there’s an error next to most of their lines in replit/Glitch (saying p5 objects, etc are undefined, because p5 is linked from HTML). I hesitate to say “ignore all the errors” because it feels wrong, but that’s what they need to do. Adding some kind of note

[2018-10-26 14:07] zachlatta commented on #1159
👍👍👍

--
Zach Latta
Hack Club | zach@hackclub.com | Donate ( https://hackclub.com/donate )
@zachlatta ( https://twitter.com/zachlatta ) / fb ( https://facebook.com/crynix ) / web ( https://zachlatta.com ) / github ( https://github.com/zachlatta )

On Fri, Oct 26 2018 at 05:20, < notifications@github.com > wrote:

[2018-10-27 19:00] #1158 closed

[2018-10-28 15:55] zachlatta commented on #1158
👏👏👏

--
Zach Latta

https://zachlatta.com ( http://zachlatta.com )
@zachlatta ( https://twitter.com/zachlatta ) / fb ( https://www.facebook.com/crynix ) / github ( https://github.com/zachlatta )

On Sat, Oct 27 2018 at 18:20, < notifications@github.com > wrote:

[2018-11-05 14:21] retiform commented on #1151
Status on this?

[2018-11-05 16:39] jajoosam commented on #1151
Oops, forgot about this.

I'll try it out this week and send an update

[2018-11-12 21:00] MaxWofford opened #1163 "Workshops use index.css, repl.it uses style.css"
The starter workshops assume this:
![index_css-8b65e5a052a2256ab295dfb7883ca00d-b9b2f](https://user-images.githubusercontent.com/5891442/48374826-d3e1f680-e67a-11e8-9d81-99be13e66021.png)
but repl.it's default file names are:
![screenshot 2018-11-12 13 00 35](https://user-images.githubusercontent.com/5891442/48374893-f6740f80-e67a-11e8-93af-56d89bf27ed1.png)

[2018-11-12 21:00] MaxWofford commented on #1163
cc @yevbar

[2018-11-13 03:22] retiform commented on #1151
Note: there is the nico 8 console + a workshop on https://codingworkshops.org/

[2018-11-16 03:07] dinaelhanan commented on #1163
Tried fixing this #1164!

[2018-11-19 19:10] MaxWofford commented on #1163
Reopening because outdated filenames are still used in some workshops (context: https://github.com/hackclub/hackclub/pull/1164#issuecomment-439942303)

[2018-11-20 02:42] MaxWofford commented on #1163
@dinaelhanan: The instances to fix are in the starter track:

<img width="1155" alt="screenshot 2018-11-19 18 38 47" src="https://user-images.githubusercontent.com/5891442/48748064-63af1400-ec2a-11e8-9460-1ac2e1199182.png">

You can search for `index.css` in those workshops and still find them:

<img width="1117" alt="screenshot 2018-11-19 18 39 29" src="https://user-images.githubusercontent.com/5

[2018-11-20 13:44] dinaelhanan commented on #1163
ok I'll work on those 👍

[2018-11-20 19:32] #1163 closed

[2018-12-04 13:18] lachlanjc opened #1170 "Create “best coding tools” workshop"
According to Moz, this is a popular query. Could make an interesting “workshop”:

- Editors/IDEs (VSCode, Atom, Xcode, etc)
- Frameworks (Gatsby, Next, Express, Rails)
- Browser console
- Terminal apps (Hyper, iTerm 2)

[2018-12-04 16:34] zachlatta commented on #1170
Great! Want to take point on writing this?

--
Zach Latta
Hack Club | zach@hackclub.com | Donate ( https://hackclub.com/donate )
@zachlatta ( https://twitter.com/zachlatta ) / fb ( https://facebook.com/crynix ) / web ( https://zachlatta.com ) / github ( https://github.com/zachlatta )

On Tue, Dec 4 2018 at 05:18, < notifications@github.com > wrote:

[2018-12-07 13:40] retiform commented on #1151
Tried out TIC-80 with my club yesterday.  They loved it.

[2018-12-07 17:09] jajoosam commented on #1151
@retiform that's super cool! did you write a workshop on tic-80 for your club?

[2018-12-12 23:04] retiform commented on #1151
@jajoosam I have not written one for my club, though I probably could. We were kind of just testing it out.

[2018-12-27 01:43] #1153 closed

[2019-01-03 23:51] itsmingjie opened #1181 "Adding information about Netlify to Workshops (blog?)"
I was recently asked by members where they can host their own blogs. Although for static websites and some static generators, GitHub pages already have most of the functionalities that one needs, I still think that Netlify is such an awesome tool that's also quite beginner friendly. Also, the current [GitHub Pages](https://hackclub.com/workshops/github_pages) workshop is outdated with information

[2019-01-04 04:09] MaxWofford commented on #1181
cc @polytroper

[2019-01-04 17:31] polytroper commented on #1181
Hmm. I agree that a netlify workshop would be cool, but TBH I think the best course of action is just to update the GitHub Pages workshop. If the goal is just to get people up and running with a simple site, it's really hard to beat the simplicity of Pages. But maybe I am just showing my bias because I use pages for everything ^_^

[2019-01-04 17:47] polytroper commented on #1181
Looking at the pages workshop and comparing to https://pages.github.com/

This is where we run into a fundamental tension with Hack Club workshops: ideally we want people to have a friendly, approachable experience with our workshops. However, github has already built something much better than we built or will build.

I kinda want to say that the "Host a blog on GitHub pages" workshop should be a

[2019-01-05 04:55] itsmingjie commented on #1181
@polytroper The blogging part also needs to be explained in a more detailed way - we currently don't have anything like that, and we should definitely get things like Jekyll & Hugo & all these static site generators out there before people start writing blogs with vanilla JavaScript showing and hiding elements on the same `index.html` page 😅 (seen it).

[2019-01-05 05:10] itsmingjie commented on #1098
Oh god we're in 2019 now lul

[2019-01-05 17:58] zachlatta commented on #1098
Let’s knock this out. Can someone step up and take point on this? cc @polytroper

--
Zach Latta

https://zachlatta.com ( http://zachlatta.com )
@zachlatta ( https://twitter.com/zachlatta ) / fb ( https://www.facebook.com/crynix ) / github ( https://github.com/zachlatta )

On Fri, Jan 4 2019 at 9:10 PM, Nikolas Huebecker < notifications@github.com > wrote:

[2019-01-07 00:47] itsmingjie commented on #1098
This has been a long-fought battle. But in the end, thanks to @polytroper & @lachlanjc's contributions of art, we won.

It's time to enjoy peace (until 2021).

[2019-01-07 02:41] MaxWofford commented on #1098
Looks like this is handled so I'm closing

[2019-01-07 02:41] #1098 closed

[2019-01-07 05:50] lachlanjc commented on #1098
Adding this here as relevant for the future: http://npmjs.com/package/@hackclub/banner

https://hackclub.com/banner

[2019-01-31 02:12] lachlanjc opened #1188 "Deprecate Cloud9 workshops"
We're deprecating our Cloud9 integration, but a number of non-retired workshops still mention it.

- find_bigfoot
- notes_to_self
- rails_notes
- ajar
- todo_app_using_meanjs
- chat
- I probably missed some

We need to decide what we're going to do with these—update them? deprecate them? etc.

[2019-01-31 13:46] polytroper commented on #1188
Deprecate for now. In a perfect world I'd find a community member to update. If anyone has ideas for who may be appropriate for that, plz recommend

[2019-01-31 20:31] lachlanjc opened #1190 "Add individual authors to all workshops"
I'm rolling out authors on the /workshops page soon. @polytroper, could you find out who created the starter workshops & put in the usernames?

[2019-01-31 21:04] MaxWofford commented on #1188
@polytroper can you take point on deprecating them?

[2019-01-31 22:32] lachlanjc commented on #1181
@polytroper Let's make this issue clearly actionable with whatever next steps are here

[2019-01-31 23:15] polytroper commented on #1188
on it

[2019-02-01 06:51] alfphaderp opened #1191 "Fix workshop table of contents link scroll when rehacks gallery is open"
In workshop pages like https://hackclub.com/workshops/personal_website, if the rehacks gallery is fully expanded after clicking "Show All" when links in the table of contents are clicked, the page does not scroll all the way to the desired section.

[2019-02-01 18:02] lachlanjc commented on #1191
I’m not able to replicate this issue on iOS Safari. What browser are you using?

[2019-02-01 18:41] MaxWofford commented on #1191
Able to replicate w/ macOS Safari

[2019-02-01 20:17] alfphaderp commented on #1191
I was using Chrome on Windows 10. I was also able to replicate it on iOS Safari however.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-01 22:54] lachlanjc commented on #1191
@polytroper They’re just using regular HTML ID permalinks on headings. Which is why this bug is so confusing—that’s standard browser functionality. The one thing I can think of is if the carousel projects have IDs in the DOM that are overriding the headings later on the page.

[2019-02-03 14:39] polytroper commented on #1191
If that were the case it would likely be more consistent across browsers,
no?

On Fri, Feb 1, 2019, 5:54 PM Lachlan Campbell <notifications@github.com
wrote:

[2019-02-03 21:50] lachlanjc commented on #1191
Yep. This issue is happening on Personal Website, not on some other workshops though (?)

[2019-02-03 22:00] alfphaderp commented on #1191
I observed this issue on Synth.js as well. The amount of scroll needed to actually reach the target seems to be proportional with how many rows the gallery has.

[2019-02-05 01:32] lachlanjc opened #1195 "Document workshop process"
* Editing conventions
	* Headings (for TOC)
	* Use Prettier
	* Syntax-highlight code blocks
	* Lives in `slug/README.md`
* Metadata
	* name
	* description
	* author
	* group
	* order
	* begin

[2019-02-05 16:16] polytroper commented on #1159
Opened the final code for dodge in repl.it. I don't see any errors; think they fixed this?

[2019-02-12 02:52] #1188 closed

[2019-05-01 02:09] lachlanjc commented on #1191
Closing since rehacks has been removed entirely

[2019-05-01 02:09] #1191 closed

[2019-05-16 07:01] tho-cograph opened #1226 "Twilio coupon code "HackClubRocks" has expired"
Dear HackClub,
Twilio coupon code "HackClubRocks" has expired. Would anyone have the new one?
Thank you so much.

[2019-05-16 19:03] MaxWofford commented on #1226
I regret to say we've stopped maintaining the Twilio workshop to focus on other workshops that didn't require signup codes. It was a bunch of effort maintaining the codes and keeping our workshop up to date.

cc @polytroper (anything to add?)

[2019-05-16 19:03] #1226 closed

[2019-05-20 01:57] lachlanjc commented on #1151
Closing for now. Would still love to do this in the future :)

[2019-05-20 01:57] #1151 closed

[2019-05-20 01:58] lachlanjc commented on #1159
Yep, that's awesome!

[2019-05-20 01:58] #1159 closed

[2020-01-15 23:07] #1170 closed

[2020-01-25 21:05] MatthewStanciu commented on #1190
Closing this if it's okay. Every workshop appears to have an author.

[2020-01-25 21:05] #1190 closed

[2020-01-26 03:22] #1195 closed

[2020-01-26 03:52] lachlanjc commented on #1190
Kind of. If we know who originally wrote the ones we stubbed with “Hack Club staff,” would be great to fill in, otherwise I’ll add support to the new site for when there’s no usernames.

[2020-01-26 03:58] MatthewStanciu commented on #1190
Which ones were written by “Hack Club Staff” other than the one about starting your club?

[2020-01-26 19:28] lachlanjc commented on #1190
You’re right, looks like this is mostly fixed.

[2020-01-27 17:18] MatthewStanciu commented on #1190
(The workshop about starting your own Hack Club will probably be removed anyway, so)

[2020-01-28 00:45] lachlanjc commented on #1190
Please do!!

[2020-02-01 06:32] lachlanjc opened #1254 "Consistent-ize #ship instructions"
A [small, random assortment](https://github.com/hackclub/hackclub/search?l=Markdown&q=ship) of workshops end in some kind of call to put creations in #ship. Should probably be on every workshop in the Start category, always have a link to sign up for Slack, & make sure instructions are clear for newcomers.

[2020-02-01 06:35] #1181 closed

[2020-02-02 03:32] MatthewStanciu commented on #1254
Sounds great. I’ll make sure to include this in the upcoming rewrite.

[2020-03-07 20:39] lachlanjc opened #1263 "Add alt text to images on all workshops"
Hack Club’s curriculum should be accessible, no exceptions. The new workshops are missing alt text for screenreader users on all images:

- [ ] Colorful Grammar
- [ ] Rickroll
  - [ ] Rickroll Leader
- [ ] Sound Galaxy
- [ ] Splatter Paint
- [ ] Teachable Machine

From the archive, an incomplete list (search `![](` to find them all) of workshops with uncaptioned images included:

- [ ] Collaborati

[2020-04-29 03:32] hkatzdev opened #1267 "Help Center requires account"
The Help Center is currently requiring an account for some reason. An account is free to make, but I believe that an account didn't use to be necessary. The information is not sensitive, and I am not sure when this change was made or if it was intentional.

![Locked Image](https://user-images.githubusercontent.com/44281159/80558459-4fc72000-898f-11ea-9fa0-61e061c83db2.png)

[2020-04-29 04:23] tmb commented on #1267
yeah—we’re going to move all of our content off of there at some point. sorry for the issues :(

[2020-06-21 19:08] caelinsutch opened #1270 "Add a Web Scraping Workshop"
I got this covered

[2020-06-25 18:39] TheOnlyGhostwolf opened #1273 "Switch Next.js Dashboard to use alternative weather API"
Hello!

[In this workshop, called "React - Dashboard with Next.js"](https://workshops.hackclub.com/nextjs_dashboard/), Dark Sky API, which is used here, doesn't accept new registrations anymore.

![A very cool screenshot](https://user-images.githubusercontent.com/31188082/85778683-7e613d00-b72b-11ea-9a98-3a6cb0ad575e.png)

In another workshop ([Web Development - Dashboard](https://workshops.hackcl

[2020-06-26 19:00] lachlanjc commented on #1273
Absolutely, this needs to happen, thanks. We’d love a PR if you’re interested!

[2020-06-26 22:09] jegfish opened #1274 "Minor code typo in Splatter Paint workshop"
In the [Getting Started section](https://workshops.hackclub.com/splatter_paint/#getting-started) of the Splatter Paint workshop, there is a small typo where the large code block says `src="/script.js"`, while the specific code block in the numbered list explaining the code says `src="script.js"`. The only difference is the `/`. Both the path with the slash and the path without it work because on t

[2020-06-26 22:17] jegfish opened #1275 ""Edit this page on GitHub" button broken in workshops"
Clicking the "Edit this page on GitHub" button at the bottom of a workshop (I did not test all of them, but I tested a few) gives a 404 page not found error.

Current link for the button on the Personal Website workshop (404):
https://github.com//hackclub/hackclub/edit/master/workshops/personal_website/README.md
Actual link from GitHub's edit button:
https://github.com/hackclub/hackclub/edit/main/

[2020-06-27 12:51] TheOnlyGhostwolf commented on #1273
Hello @lachlanjc!

Will everything be ok if I removed [line 168](https://github.com/hackclub/hackclub/blob/main/workshops/nextjs_dashboard/README.md#L168) from the workshop as the API doesn't provide any short summary for the upcoming days?

[2020-06-27 16:00] MatthewStanciu commented on #1273
This was also an issue on https://workshops.hackclub.com/dashboard/, but @garrett-lane opened a PR (#1269) a few weeks back to change the API to OpenWeather instead of Dark Sky. It would be super cool if we could use OpenWeather for this workshop too 🙌

[2020-06-27 16:05] MatthewStanciu commented on #1274
Thanks so much for flagging! I just fixed this ✨ https://github.com/hackclub/hackclub/commit/36c9382f9ef3df38b8b1616dfbb9f8d9be10ad42

[2020-06-27 16:05] #1274 closed

[2020-06-27 16:21] MatthewStanciu commented on #1254
Closing for now because I don't really know how to proceed and don't feel it's super necessary now that #ship has a new problem (too many people shipping, most are low quality, don't get a lot of engagement). But feel free to reopen if you want it to happen

[2020-06-27 16:21] #1254 closed

[2020-06-27 16:22] MatthewStanciu commented on #1267
Any updates here @tmb? I completely forgot about this

[2020-06-28 05:29] lachlanjc commented on #1267
I did half of this project a few weeks ago, exporting the clubs content, writing a web scraper to convert to MDX, & making a new site with Gatsby Themes. Once Scrapbook stuff is paused, will finish importing content & polishing site, then @itsmingjie is going to do some reorganization on content. Consider it in-progress.

[2020-07-17 04:36] memidhun opened #1278 "Hack Club"

[2020-07-17 13:44] #1278 closed

[2020-07-17 23:22] itsmingjie commented on #1267
@lachlanjc tagging myself in so I know this issue still exists. let me know what you need my help with

[2020-07-18 01:29] lachlanjc commented on #1267
Yup, it's on the schedule for sometime in the next month. I have a pretty clear plan, but needs a solid day or two of technical work, & even just the import is fairly involved. Definitely happening, most likely pre-school, but not super sure when.

[2020-08-28 19:44] lachlanjc opened #1289 "Update contributing guide for workshops"

[2020-09-10 23:24] MatthewStanciu commented on #1289
Closing since we now have https://hack.af/workshop-bounty

[2020-09-10 23:24] #1289 closed

[2020-09-11 20:05] alchzh commented on #1273
the NewsAPI part of the workshop is borked as well because newsapi won't let CORS request with origin other than localhost. Could fix by using a custom CORS anywhere proxy to strip/edit headers, but newsapi probably wouldn't be happy with us publicizing that.

[2020-09-11 20:06] alchzh commented on #1270
Close this

[2020-09-11 20:21] #1270 closed

[2020-09-19 18:00] Matt-Gleich opened #1318 "Switch to GitHub actions from circle CI"
hack club should move all CI operations over to GitHub actions. Refactoring this repo is part of that.

[2020-09-19 19:20] Matt-Gleich opened #1319 "Switch to prettier for formatting from markcop"

[2020-09-19 21:37] #1318 closed

[2020-09-19 21:37] #1319 closed

[2020-12-15 12:58] quackduck opened #1518 "Error in GitHub actions workflow"
For example, in https://github.com/hackclub/hackclub/runs/1557030909
[code]

I dug around in the specified file ([workshops/popup_chrome_extension/index.html](https://github.com/hackclub/hackclub/blob/main/workshops/popup_chrome_extension/index.html)) but couldn't find anything wrong.

[2020-12-16 07:53] alestor123 opened #1519 "Unauthorized (401)"
im getting an http error while req for

GET https://api.hackclub.com/v1/users/24554/new_club_applications 401 (Unauthorized)

at [Apply](https://apply.hackclub.com/)

[2020-12-25 11:30] quackduck commented on #1518
Still an error (this time from `diff`):
[code]

Maybe this is because `diff` took too long? It certainly has a lot of output.

[2020-12-26 01:42] sampoder commented on #1518
AHHHH I’m going to leave it for now, and just hope it’s the diff

[2020-12-26 14:33] shivesh01 opened #1548 "#1535"
#1550
Hey @sampoder,
Could you please review it.
Club meeting link: https://hackclub.slack.com/files/U01D88PUZ7Y/F01HETBKCN9/heatmap.mov

_Originally posted by @shivesh01 in https://github.com/hackclub/hackclub/issues/1531#issuecomment-751361006_

[2020-12-28 16:00] #1548 closed

[2020-12-31 08:26] sampoder commented on #1518
https://github.com/hackclub/hackclub/commit/2eb39c4ebe973b4b3e73a06084586f07d7ca58bb -> Made a temporary fix in this commit

@Matt-Gleich could you please help out with this?

[2020-12-31 08:28] quackduck commented on #1518
A green tick after so long lol

[2020-12-31 10:24] chance-delice opened #1587 "hello-world"

[2020-12-31 10:25] sampoder commented on #1587
Hello!

[2020-12-31 10:25] #1587 closed

[2020-12-31 14:29] chance-delice commented on #1587
Hi

[2021-01-01 03:59] sampoder opened #1597 "Workshop Bounty Program: Completing the Mission"
The Workshop Bounty program has ended. The ending set up is as follows:

**If at midnight on December 31st you have an open PR:** your workshop will be reviewed until it is (in most cases) merged or there is an issue identified that means it simply can’t be merged (very rare).

**If in the timeframe from December 21st to the 31st you’ve had a PR closed:** You are required to make a resubmission of

[2021-01-01 04:04] faisalsayed10 commented on #1597
Rock paper scissors in python was closed because there is already a workshop on that ^

[2021-01-01 04:26] sampoder commented on #1597
Noted, removed.

[2021-01-01 16:08] Matt-Gleich commented on #1518
hmm this is weird. Taking a look now.

[2021-01-01 16:24] sampoder commented on #1518
thanks Matt!

[2021-01-01 16:26] Matt-Gleich commented on #1518
np! I am working on a fix right now where we just have prettier ignore that folder.

[2021-01-01 16:26] Matt-Gleich commented on #1518
I'll make a PR soon and link it to this issue

[2021-01-01 16:45] #1518 closed

[2021-01-04 08:52] sampoder commented on #1597
**Important update:** Once your PR has been reviewed, we ask that you submit a revision with 10 days. If you don't we can't guarantee that the PR will still be eligible. We're willing to providing extensions, just let us know in advance :D

[2021-01-04 15:59] KhushrajRathod opened #1610 "Slack is down."
Slack is down.
Backup:
https://discord.gg/6kA9J2tq

[2021-01-04 17:22] sampoder commented on #1610
Slack is now up!

[2021-01-04 17:22] #1610 closed

[2021-01-06 16:28] cfanoulis commented on #1597
rust game workshop has been re-submitted as #1617

[2021-01-11 11:37] KhushrajRathod commented on #1597
Kuizzy workshop was re-submitted yesterday as https://github.com/hackclub/hackclub/pull/1626

[2021-01-20 05:20] faisalsayed10 commented on #1597
Just updated this

[2021-01-20 05:49] iamsid47 commented on #1597
Hey! Can you please remove

1. Comp interest calc
2. Random and a strong password generator using Python
3. Contactless Temperature Meter

Won't be submitting these workshops.

[2021-01-22 19:36] panos opened #1670 "Workshops: Social media thumbnails for more than one author bug out"
![image](https://user-images.githubusercontent.com/30193966/105536922-08d14580-5ce9-11eb-9644-b6cc65c8b2b8.png)

TL;DR:
- Alignment is weird.
- The profile picture of the second author straight up doesn't show up.

[2021-01-23 05:58] sampoder commented on #1670
Thanks @panos! Moving this over to https://github.com/hackclub/workshop-cards

[2021-02-01 17:19] anirudhb opened #1692 "Documenting Hack Club's Open Source Projects [Meta]"
Tracking issue for Hack Club docs (across all repositories.)

Repositories that need CONTRIBUTING.md:
- [ ] [hackclub/hackathons](https://github.com/hackclub/hackathons)
- [x] [hackclub/v3](https://github.com/hackclub/v3)
- [x] [hackclub/design-system](https://github.com/hackclub/design-system)
- [x] [hackclub/workshops](https://github.com/hackclub/workshops)
- [ ] [hackclub/cow](https://github.co

[2021-02-01 17:36] eilla1 commented on #1692
I completed the CONTRIBUTING.md for hackclub/webring!

[2021-02-01 23:18] sampoder commented on #1692
Some of these are no longer maintained, is it alright if I trim the list?

[2021-02-02 00:15] sampoder commented on #1692
Also, DS has contributing docs already so marking that off

[2021-02-02 01:14] anirudhb commented on #1692
@sampoder even though DS has contributing docs already it doesn't have a toplevel CONTRIBUTING.md (which could just be a link to the one in docs/). Having one at the toplevel is a normal standard for open source projects to follow.

[2021-02-02 02:00] sampoder commented on #1692
Ok, I'll fix it

[2021-02-02 04:29] sampoder commented on #1692
I think a good thing would be to create a standard set for the Next.js projects

[2021-02-04 08:07] alestor123 opened #1697 "Hack Club Cli"
Well i was thinking of making a cli tool for getting swag sticker from hackclub webpage.

[2021-02-06 07:34] eilla1 commented on #1692
[hackclub/hackclub#1701](https://github.com/hackclub/hackclub/pull/1701) I made a pr to update the contributing GIFs to reflect the new GitHub interface.

[2021-02-08 01:43] sampoder commented on #1597
We did it team! Our job is now so I'm closing.

Thank you all <3

[2021-02-08 01:43] #1597 closed

[2021-02-11 08:37] alestor123 commented on #1697
And more

[2021-02-28 15:53] Kushal997-das opened #1712 "Joining Request"
How to join this `hackclub` this organization?

[2021-02-28 15:54] sampoder commented on #1712
hey! check the readme for instructions :)

[2021-02-28 15:54] #1712 closed

[2021-02-28 16:10] Kushal997-das commented on #1712
@sampoder could you please tell me how may i join join i checked the `readme.md` file but unable to understand this that is why i created a issue here. I hope you understand .

[2021-02-28 16:24] sampoder commented on #1712
![Uploading Screenshot 2021-03-01 at 12.23.55 AM.png…]()

[2021-02-28 16:24] sampoder commented on #1712
<img width="619" alt="Screenshot 2021-03-01 at 12 24 06 AM" src="https://user-images.githubusercontent.com/39828164/109425690-70835a80-7a24-11eb-967e-04a5d87a0000.png">

[2021-03-03 13:19] maxwofford commented on #1267
Think this was closed by #1646

[2021-03-03 13:19] #1267 closed

[2021-06-05 11:46] prsmahajan commented on #1697
Hi, I would like to know more about this issue?

[2021-06-05 13:56] sampoder commented on #1697
Given we no longer have an open stickers form, closing.

[2021-06-05 13:56] #1697 closed

[2021-06-05 14:47] prsmahajan commented on #1263
Hi, i would like to work on this issue, if this is open can you suggest me ways to get started?

[2021-06-07 01:24] #1263 closed

[2021-08-22 18:09] me-sachin commented on #1692
I think a good thing would be to create a standard set for the Next.js projects

[2021-08-22 18:10] me-sachin commented on #1692
create a standard set for the Next.js projects👾

[2021-08-22 18:10] me-sachin commented on #1273
🎉

[2021-08-24 09:15] ItsTobez opened #1728 "Am I able to join?"
I am in school, but my school doesn't have a hack club and I don't think I'd be able to open one. I have got an invite to hack club via github, but I'm not sure whether I can join. If someone could help me that would be great

[2021-08-24 12:38] sampoder commented on #1728
Yes, 100% I'd highly recommend joining Slack: https://hackclub.com/slack!

Give me a shout if you've got any questions :D

On Tue, Aug 24, 2021 at 5:15 PM Toby ***@***.***> wrote:

[2021-08-25 08:12] #1728 closed

[2021-11-07 06:53] pxsty0 opened #1738 "Hello"

[2021-11-07 07:06] sampoder commented on #1738
hello!

[2021-11-07 07:06] #1738 closed

[2021-11-21 02:03] thuongtruong1009 opened #1745 "Let me join into organization"
Hi guys!
My name is Tran Nguyen Thuong Truong - thuongtruong1009
I come from VietNam with open-source code love.
My Github link: https://github.com/thuongtruong1009
I would like to join your organization to learn more and more.
Thank you very much!

[2021-11-21 03:14] sampoder commented on #1745
Cowabunga! A wild hacker I see 👁️ 👁️

Let me guide you in the direction of https://hack.af/draw-dino....

Safe travels!

[2021-11-21 03:14] #1745 closed

[2021-12-02 08:45] Jyoti-prakash-rout opened #1746 "Please invite me to the GitHub Organization"
I'm a Web Dev enthusiast & a junior pursuing my Bachelors in Computer Science & Engineering. I'm interested in Web Devlopment, Machine Learning & DevOps & I enjoy learning new things & stuff as well as I'm a Frontend Devloper with experience building Dynamic & Static Web pages. I am always interested in learning the answers to how, why, and what relates to the Technologies around me.

I would like

[2021-12-02 08:46] eilla1 commented on #1746
@Jyoti-prakash-rout Draw a dino! https://hack.af/draw-dino

[2021-12-02 13:29] #1746 closed

[2022-01-02 01:16] wollygfx opened #1755 "Workshop locales"
Doesn't it make more sense for this to be at the beginning of a workshop than at the end?
![img](https://cloud-gqryg6sgl-hack-club-bot.vercel.app/0screen_shot_2022-01-01_at_7.35.33_pm.png)

In a possible scenario where we have a workshop translated to multiple languages, wouldn't it look messy? - I think it would be better if we had a dropdown with the available languages or something like that. I

[2022-02-04 05:07] aman34503 opened #1765 "Want to join the Hackclub"
Hi guys!
My name is Aman Shrivastava - aman34503
I come from India with open-source code love.
My Github link: https://github.com/aman34503
I would like to join your organization to learn more and Grow.
Thank you very much!

[2022-02-04 05:16] sampoder commented on #1765
Check out https://hack.af/draw-dino!

[2022-02-04 05:16] #1765 closed

[2022-02-27 22:05] Ash-KODES commented on #1692
Can I work on this?

[2022-04-18 03:56] Supsource opened #1766 "Want to join"
Hi guys!
My name is Supriyo
I come from India with open-source code love.
My Github link: https://github.com/Supsource
I would like to join your organization to learn more and Grow.
Thank you very much!

[2022-04-18 04:32] exu3 commented on #1766
Hi @Supsource 👋

Draw a dino: https://hack.af/draw-dino!

[2022-04-18 04:33] #1766 closed

[2022-05-05 15:46] maxwofford opened #1767 "Heroku breach security tasks [Meta]"
Context: https://status.heroku.com/incidents/2413?updated

**If you know a repo should be added, please include it to the list!** Hack Club is a big place with a lot of deployed stuff, so extra hands on this helps.

This ticket is a meta issue to track what we need to do across all our repos that were deployed to Heroku. The following is a list of repos that should have a ticket for this incident

[2022-05-07 01:11] maxwofford commented on #1767
There isn't a good way to link to a specific update on https://status.heroku.com/incidents/2413?updated, but they just posted their May 7, 2022 00:29 UTC update that mentions the db holding env variables was accessed, the decryption for that db wasn't accessed.

[2022-05-07 05:23] exu3 opened #1768 "hackclub/mfa"

[2022-05-23 17:58] davidballezaa opened #1778 "Switch Next.js Dashboard to use alternative news API"
the NewsAPI part of the workshop is borked as well because newsapi won't let CORS request with origin other than localhost. Could fix by using a custom CORS anywhere proxy to strip/edit headers, but newsapi probably wouldn't be happy with us publicizing that.

_Originally posted by @alchzh in https://github.com/hackclub/hackclub/issues/1273#issuecomment-691288760_

[2022-05-24 14:27] #1692 closed

[2022-05-25 00:06] #1273 closed

[2022-05-25 19:40] YodaLightsabr opened #1781 "kahoot.js-updated is no longer maintained"
While I was doing the Hacking Kahoot I ran into some errors with kahoot.js-updated, and I found out that it's deprecated on NPM with the message `kahoot.js-updated is no longer maintained`.

I've been exploring different Kahoot APIs and I haven't yet found any working alternatives.

[2022-05-25 23:37] sampoder commented on #1781
What errors are you getting?

[2022-05-27 16:00] sampoder commented on #1781
interesting, could you send me through the code and the package.json your using? I've still managed to get it working

[2022-05-27 16:22] YodaLightsabr commented on #1781
Oh I see. Replit kept bumping the version of kahoot.js-updated up to `^3.404.1`. I wonder if there's a way around the packager doing that.

[2022-05-27 16:30] YodaLightsabr commented on #1781
Now I'm getting a different error that I don't understand. https://replit.com/@YodaCode/kahoot.js-updated-test

[2022-05-28 16:28] sampoder commented on #1781
<img width="1046" alt="Screenshot 2022-05-29 at 12 28 13 AM" src="https://user-images.githubusercontent.com/39828164/170834174-962ab006-2fa5-46b6-a3e8-7547f2669697.png">

[2022-05-28 18:24] YodaLightsabr commented on #1781
Oops. https://replit.com/@YodaCode/kahootjs-updated-test

[2022-05-29 01:33] sampoder commented on #1781
The error is caused by an invalid Kahoot Challenge code, I used a valid one and it worked

[2022-05-29 08:49] YodaLightsabr commented on #1781
Odd. I guess I'll close this. Maybe we could consider forking it and releasing 1 package version in case people wanted to replicate it without the template?

[2022-05-29 08:49] #1781 closed

[2022-06-07 22:40] ClaireBookworm opened #1788 "test #tag"

[2022-06-08 01:27] karamassie opened #1789 "here's a work item to do!"

[2022-06-08 01:29] karamassie commented on #1788
we should be able to create new tags and milestones.

[2022-06-09 05:48] me-sachin commented on #1692
yess

[2022-06-30 14:00] abbyfischler opened #1795 "Change colors on link-tree repo to Hack Club Colors"
Change the CSS on the link tree website and of the buttons to make the website more Hack Club looking.

Link to link-tree repo: https://github.com/hackclub/link-tree

Hack Club's branding guide can be found here: [hackclub.com/brand](https://hackclub.com/brand/)

[2022-06-30 14:04] sampoder commented on #1795
Let's transfer this to the link-tree repo. Or transfer the base link-tree repo into the Hack Club account. Happy to help with this through Slack.

[2022-06-30 14:04] #1795 closed

[2022-07-14 14:21] SuperStar323 opened #1796 "I`d like to join in here"

[2022-07-14 14:22] cjdenio commented on #1796
Hello! You can join the online Hack Club community at https://hackclub.com/slack!

[2022-07-15 13:35] #1796 closed

[2022-07-22 23:50] ParadoxElder opened #1797 "Want to join the HackClub"
Hi guys!
My name is David Gavilanez - ParadoxElder
I come from Ecuador with open-source code love.
My Github link: https://github.com/HarmonySkull
I would like to join your organization to learn more and Grow.
Thank you very much!

[2022-07-23 01:40] exu3 commented on #1797
Hi David,

You can join the Hack Club GitHub org by drawing a dinosaur: hack.af/draw-dino. Have fun!

[2022-07-23 11:27] wollygfx commented on #1797
Hola David,

¡Me da gusto ver a otro hack clubber de Sur América!, espero podamos tener una conversación algún día en el Slack de Hack Club. Te espero ahi, encuentrame como @carlosdafarmer ;)

[2022-07-24 11:46] 0xHir0 opened #1798 "I want to join the hackclub."
As a full stack developer, I'd like to contribute to your organization.

[2022-07-24 17:19] #1797 closed

[2022-07-25 13:39] exu3 commented on #1798
Hi @0xHir0, you can check out open GitHub issues to contribute to at https://contribute.hackclub.com/. To join the GitHub organization, you should draw a dino https://hack.af/draw-dino.

[2022-07-25 13:39] #1798 closed

[2022-08-10 16:03] imhunterand opened #1801 "."

[2022-08-10 16:04] #1801 closed

[2022-10-27 20:58] cjdenio opened #1809 "Rename document without re-uploading"
Right now the document edit form forces you to upload a new document

[2022-10-27 20:59] cjdenio commented on #1809
oops, this isn't hackclub/bank

[2022-10-27 20:59] cjdenio commented on #1809
![image](https://user-images.githubusercontent.com/34525547/198396794-ceca57b3-0a33-4245-8487-21a6cb8cb6c0.png)

[2022-10-27 20:59] #1809 closed